In [29]:
import pandas as pd
import numpy as np

In [30]:
from tqdm import tqdm

In [31]:
import collections

# Pre-processing BI data

In [32]:
path = './data/MosIndex_All.csv'
data = pd.read_csv(path, low_memory = False)

In [162]:
data.head()

,Date,County,Town,Village,VillageID,VillageLon,VillageLat,AreaType,HouseHold,InspectType,...,HIAeg,HILv,HILvAeg,CI,CILv,LI,LILv,Pupa,AI,Con100HH
0,2010/01/01,台北市,中正區,三愛里,6300500-031,121.530593083676,25.0358286563398,住宅,50,衛生所,...,0.000,0,0,0.000,0,0.000,0,0,0.0000,0.00
1,2010/01/01,嘉義市,西區,保安里,1002002-011,120.431350323348,23.4910599871089,住宅,156,衛生局,...,0.000,0,0,0.000,0,0.000,0,0,0.0000,0.00
2,2010/01/02,高雄市,鳳山區,生明里,6401200-045,120.36306711902,22.6176350677023,住宅,60,監測,...,3.333,1,1,5.714,3,0.000,0,0,0.0333,3.33
3,2010/01/02,台中市,大里區,塗城里,6602800-016,120.717131600963,24.0852343263972,住宅,50,衛生所,...,0.000,0,0,0.000,0,0.000,0,0,0.0000,0.00
4,2010/01/03,宜蘭縣,蘇澳鎮,存仁里,1000203-004,121.845912904116,24.6259386590972,住宅,60,衛生所,...,0.000,0,0,0.000,0,0.000,0,0,0.0000,0.00

In [509]:
data.describe()

,HouseHold,PosHH,PosHHAeg,ConIn,ConOut,ConAll,PosConIn,PosConOut,PosConAll,FAegIn,FAegOut,FAlbIn,FAlbOut,LarvaAeg,LarvaAlb,LarvaNEC,Pupa,AI,Con100HH
count,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000,444878.000000
mean,65.109315,1.326669,0.507595,5.638148,20.452254,26.172171,0.184651,1.488954,1.674230,0.049535,0.067731,0.004089,0.115299,6.854693,9.266107,3.959998,0.421498,0.002989,2.326221
std,123.080350,3.145880,2.321932,14.792145,28.104680,36.568270,1.111730,4.106503,4.642644,0.829089,0.911957,0.190068,1.485530,41.033189,62.603743,36.446042,6.376623,0.028172,4.587215
min,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50.000000,0.000000,0.000000,0.000000,7.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,50.000000,0.000000,0.000000,0.000000,13.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,55.000000,2.000000,0.000000,6.000000,24.000000,31.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,74006.000000,161.000000,200.000000,1162.000000,2068.000000,2068.000000,132.000000,284.000000,284.000000,153.000000,200.000000,64.000000,200.000000,10095.000000,7890.000000,5493.000000,999.000000,4.000000,248.330000

In [354]:
county = data['County'].unique().tolist()
len(county)

22

In [355]:
county.remove('新竹市')
county.remove('嘉義市')
county.remove('連江縣')
county.remove('金門縣')

In [356]:
print(county)

['台北市', '高雄市', '台中市', '宜蘭縣', '台南市', '新北市', '彰化縣', '花蓮縣', '雲林縣', '新竹縣', '嘉義縣', '桃園市', '澎湖縣', '南投縣', '屏東縣', '台東縣', '基隆市', '苗栗縣']

In [357]:
use_cols = ['Date', 'County', 'BI', 'HI', 'CI']
bi_hi_ci = ['Date', 'BI', 'HI', 'CI']

In [358]:
data_distill = data[use_cols]

In [365]:
data_distill.head()

         Date County     BI     HI     CI
0  2010/01/01    台北市  0.000  0.000  0.000
1  2010/01/01    嘉義市  0.000  0.000  0.000
2  2010/01/02    高雄市  3.333  3.333  5.714
3  2010/01/02    台中市  0.000  0.000  0.000
4  2010/01/03    宜蘭縣  0.000  0.000  0.000

In [510]:
data_distill.describe()

              Date  County      BI      HI      CI
count       444878  444878  444878  444878  444878
unique        3448      22    5386    4570    4765
top     2018/08/01     台南市   0.000   0.000   0.000
freq          1036  134594  237545  239781  227009

In [362]:
# split data for 20 county

cnty_data = collections.defaultdict(list)

for i in tqdm(range(data_distill.shape[0])):
    
    row = data_distill.iloc[i, :].tolist()
    cnty = row[1]
    if cnty in county:
        cnty_data[cnty].append(row)

100%|██████████| 444878/444878 [00:55<00:00, 8002.03it/s]

In [562]:
# convert data each county from list to dataframe
def fill_none(county_df):


    county_df = county_df.replace(to_replace='None', value= float(0))
    county_df = county_df.replace(to_replace='NaN', value= float(0))

    county_df['BI'] = county_df['BI'].astype(float)
    county_df['CI'] = county_df['CI'].astype(float)
    county_df['HI'] = county_df['HI'].astype(float)

    return county_df

data_fin = collections.defaultdict()


for k, v in cnty_data.items():
    print('\n', k)   

    x = pd.DataFrame(cnty_data[k], columns = ['Date', 'County', 'BI', 'HI', 'CI'])
    xx = fill_none(x)
    print(xx.describe())
    # max CI
    temp = x['CI']
    temp3 = []
    temp5 = list(temp)
    print(len(temp5))
    for n in temp5:
        if n == 'None':
            continue
        else:
            temp3.append(float(n))

    print("Max CI: {}".format(np.max(temp3)))

    data_fin[k] = xx

 花蓮縣
                BI          HI           CI
count  9993.000000  9993.00000  9993.000000
mean      0.361301     0.30839     1.773202
std       1.458427     1.05499     8.654685
min       0.000000     0.00000     0.000000
25%       0.000000     0.00000     0.000000
50%       0.000000     0.00000     0.000000
75%       0.000000     0.00000     0.000000
max      73.684000    36.84200   100.000000
9993
Max CI: 100.0

 屏東縣
                 BI            HI            CI
count  29887.000000  29887.000000  29887.000000
mean       3.783418      2.775930      6.079814
std        6.770321      3.858123      7.812628
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        1.886000      1.851000      3.703000
75%        4.854000      3.846000      9.090000
max      248.333000    100.000000    100.000000
29887
Max CI: 100.0

 桃園市
                 BI            HI            CI
count  14278.000000  14278.000000  14278.000000
mean       0.815406      0.675360      3.336781
std        2.244562      1.564748     11.735552
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        1.000000      0.884000      0.961000
max       72.000000     46.000000    500.000000
14278
Max CI: 500.0

 台北市
                 BI            HI            CI
count  16284.000000  16284.000000  16284.000000
mean       1.522696      1.207409      4.952142
std        2.784744      2.053323     10.027531
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        2.000000      2.000000      6.451000
max       92.000000     50.000000    133.333000
16284
Max CI: 133.333

 嘉義縣
                 BI            HI            CI
count  16688.000000  16688.000000  16688.000000
mean       0.193922      0.160680      1.078137
std        0.991813      1.039971     11.755241
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000
max       28.323000    100.000000   1100.000000
16688
Max CI: 1100.0

 新北市
                 BI            HI            CI
count  26754.000000  26754.000000  26754.000000
mean       0.760234      0.628870      5.430127
std        1.919479      1.667727     15.148527
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        1.666000      0.000000      2.083000
max       85.714000    104.000000    133.000000
26754
Max CI: 133.0

 苗栗縣
                BI           HI          CI
count  5659.000000  5659.000000  5659.00000
mean      3.031074     2.694355    12.49915
std       2.386667     1.919658    12.01650
min       0.000000     0.000000     0.00000
25%       2.000000     2.000000     5.04200
50%       2.000000     2.000000    10.00000
75%       4.000000     4.000000    16.66600
max      40.000000    18.000000   100.00000
5659
Max CI: 100.0

 南投縣
                BI           HI           CI
count  8691.000000  8691.000000  8691.000000
mean      1.190243     1.081349     5.224025
std       1.783929     1.496482     9.040408
min       0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000
75%       2.000000     2.000000     8.333000
max      60.000000    34.000000   100.000000
8691
Max CI: 100.0

 基隆市
                BI           HI           CI
count  2674.000000  2674.000000  2674.000000
mean      0.722359     0.411500     3.453610
std       1.763317     2.246604    13.553001
min       0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000
max      26.000000   100.000000   400.000000
2674
Max CI: 400.0

 澎湖縣
                BI           HI           CI
count  8056.000000  8056.000000  8056.000000
mean      1.433427     1.136843     3.104647
std       3.765641     2.621644     8.046112
min       0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000
75%       1.960000     1.923000     2.325000
max      54.000000    32.000000   100.000000
8056
Max CI: 100.0

 台南市
                  BI             HI            CI
count  134594.000000  134594.000000  134594.00000
mean        2.646813       2.121645       6.88397
std         4.760843       3.283466      12.01365
min         0.000000       0.000000       0.00000
25%         0.000000       0.000000       0.00000
50%         0.000000       0.000000       0.00000
75%         4.000000       3.636000      10.52600
max       137.254000     100.000000    2100.00000
134594
Max CI: 2100.0

 新竹縣
                BI           HI           CI
count  7106.000000  7106.000000  7106.000000
mean      0.661634     0.557166     3.272956
std       1.924331     1.302150     9.987287
min       0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000
max      98.039000    18.000000   400.000000
7106
Max CI: 400.0

 宜蘭縣
                 BI            HI            CI
count  11507.000000  11507.000000  11507.000000
mean       0.381247      0.353428      3.422948
std        1.139084      1.254500     12.210898
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000
max       32.000000     82.000000    100.000000
11507
Max CI: 100.0

 台中市
                 BI            HI            CI
count  12904.000000  12904.000000  12904.000000
mean       1.801929      1.597093      4.233068
std        2.582994      1.866843      6.528746
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        1.851000      1.818000      2.500000
75%        3.080000      2.000000      6.250000
max       70.000000     33.870000    100.000000
12904
Max CI: 100.0

 高雄市
                 BI            HI           CI
count  89410.000000  89410.000000  89410.00000
mean       4.069051      3.291962      7.02038
std        5.924387      4.163224     11.64828
min        0.000000      0.000000      0.00000
25%        0.000000      0.000000      0.00000
50%        2.000000      2.000000      4.16600
75%        6.000000      4.696250     10.00000
max      181.250000    100.000000   1425.00000
89410
Max CI: 1425.0

 台東縣
                 BI            HI            CI
count  13864.000000  13864.000000  13864.000000
mean       1.727262      1.480109      6.043337
std        3.395163      2.737703     12.247975
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        2.000000      2.000000      7.692000
max       90.384000     90.384000    233.333000
13864
Max CI: 233.333

 彰化縣
                 BI            HI            CI
count  11425.000000  11425.000000  11425.000000
mean       1.334774      1.196661      4.370261
std        2.022018      1.704724      8.029213
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        2.000000      2.000000      6.666000
max       26.000000     16.000000    100.000000
11425
Max CI: 100.0

 雲林縣
                BI           HI           CI
count  8584.000000  8584.000000  8584.000000
mean      0.579521     0.544459     1.416821
std       1.251851     1.130677     3.645021
min       0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000
max      27.118000    16.071000   100.000000
8584
Max CI: 100.0

In [547]:
for ct, df in data_fin.items():
    print(ct, '\n', df.describe(), '\n')

花蓮縣
               Date County     BI     HI     CI
count         9993   9993   9993   9993   9993
unique        2513      1     35     28    116
top     2015/01/30    花蓮縣  0.000  0.000  0.000
freq            38   9993   8863   8866   7016

屏東縣
               Date County     BI     HI     CI
count        29887  29887  29887  29887  29887
unique        2623      1   2658   2279   2521
top     2011/11/16    屏東縣  0.000  0.000  0.000
freq            41  29887  10581  10581  10581

桃園市
               Date County     BI     HI     CI
count        14278  14278  14278  14278  14278
unique        2236      1    345    297    498
top     2012/10/02    桃園市  0.000  0.000  0.000
freq           300  14278  10588  10597  10139

台北市
               Date County     BI     HI     CI
count        16284  16284  16284  16284  16284
unique        2442      1    584    520    557
top     2011/10/21    台北市  0.000  0.000  0.000
freq            34  16284   9045   9495   9008

嘉義縣
               Date County     BI     HI     CI
count        16688  16688  16688  16688  16688
unique        2497      1    167    141    158
top     2015/08/24    嘉義縣  0.000  0.000  0.000
freq           120  16688  15625  15622  14556

新北市
               Date County     BI     HI     CI
count        26754  26754  26754  26754  26754
unique        2691      1    224    195    322
top     2010/11/09    新北市  0.000  0.000  0.000
freq           140  26754  19679  20081  16522

苗栗縣
               Date County     BI     HI     CI
count         5659   5659   5659   5659   5659
unique        1742      1     53     48    186
top     2014/07/25    苗栗縣  2.000  2.000  0.000
freq            17   5659   2272   2574    845

南投縣
               Date County     BI     HI     CI
count         8691   8691   8691   8691   8691
unique        2179      1     63     56    165
top     2012/08/03    南投縣  0.000  0.000  0.000
freq            21   8691   4972   4997   4577

基隆市
               Date County     BI     HI     CI
count         2674   2674   2674   2674   2674
unique        1113      1     17     10     95
top     2011/07/14    基隆市  0.000  0.000  0.000
freq            11   2674   2125   2350   1890

澎湖縣
               Date County     BI     HI     CI
count         8056   8056   8056   8056   8056
unique        2079      1    159    140    372
top     2017/06/06    澎湖縣  0.000  0.000  0.000
freq            14   8056   5898   5906   5736

台南市
               Date  County      BI      HI      CI
count       134594  134594  134594  134594  134594
unique        2976       1    1670    1444    1429
top     2018/08/01     台南市   0.000   0.000   0.000
freq           931  134594   67369   67476   67272

新竹縣
               Date County     BI     HI     CI
count         7106   7106   7106   7106   7106
unique        2089      1     83     75    118
top     2018/10/09    新竹縣  0.000  0.000  0.000
freq            14   7106   5556   5656   5070

宜蘭縣
               Date County     BI     HI     CI
count        11507  11507  11507  11507  11507
unique        2406      1    116    111    137
top     2019/02/25    宜蘭縣  0.000  0.000  0.000
freq            19  11507   9611   9627   8566

台中市
               Date County     BI     HI     CI
count        12904  12904  12904  12904  12904
unique        2046      1    234    202    381
top     2015/08/13    台中市  0.000  0.000  0.000
freq            39  12904   5510   5524   5466

雲林縣
               Date County     BI     HI     CI
count         8584   8584   8584   8584   8584
unique        2155      1     72     63    151
top     2010/11/25    雲林縣  0.000  0.000  0.000
freq            17   8584   6678   6686   6313

台東縣
               Date County     BI     HI     CI
count        13864  13864  13864  13864  13864
unique        2605      1    291    248    539
top     2010/03/17    台東縣  0.000  0.000  0.000
freq            32  13864   7429   7492   7187

彰化縣
               Date County     BI     HI     CI
count        11425  11425  11425  11425  11425
unique        2276      1     70     60    214
top     2014/09/25    彰化縣  0.000  0.000  0.000
freq            20  11425   6516   6532   6457

高雄市
               Date County     BI     HI     CI
count        89410  89410  89410  89410  89410
unique        3046      1   3663   3231   3406
top     2012/03/15    高雄市  0.000  0.000  0.000
freq           317  89410  29568  30287  29410

### Utils functions for BI

In [548]:
def bi_groupby_date(df):

    def mean_customized(x):
        #purpose: to calculate mean of a grouped column with mixed values, ex: [3, 6, 8, 'NaN', 'T', 9]
        #x: grouped column in data1
        #return: mean(x) where x is filtered out all 'str' values

        #xx = x.astype(float)
        
        
        #print(xx)
        
        
        #tmp = [v for v in list(x) if isinstance(v, float)] # filter out 'str' in a grouped column
        tmp = [v for v in list(x) if v != float(1000000)] # filter out '1000' in a grouped column
        #print('\nGroupgy Date Filter out nan 1000000\n', tmp)
        #print(tmp)
        
        # what if tmp = []?
        return np.mean(tmp)
    
    tm = df.replace(to_replace='None', value= float(1000000))
    tm = df.replace(to_replace='NaN', value= float(1000000))
    tm = df.replace(to_replace='nan', value= float(1000000))

    tm['CI'] = tm.CI.astype(float)
    tm['BI'] = tm.BI.astype(float)
    tm['HI'] = tm.HI.astype(float)

    tm['Year'] = pd.to_datetime(tm['Date']).dt.year 

    tmm = tm[tm['Year'] >= 2012]

    tmm2 = tmm.groupby('Date', as_index=False).aggregate({'CI': mean_customized,
                                                         'BI': mean_customized,
                                                         'HI': mean_customized})
    return tmm2

def bi_convert_date_to_yyyy_ww(data_frame, yyyy_ww_dict, end_time = '2019-05-31'):
    '''
    Input: data_frame
    Output: data_frame added yyyy_ww column
    '''
    yyww = []
    yyyymmdd = []
    
    tmp = data_frame.Date
    date_key = list(tmp)
    
    ey, em, ed = end_time.split('-')
    
    for i in range(data_frame.shape[0]):
        k = date_key[i]
        y, m, d = k.split('/')
        if y == ey and m == '06':
            break
        kk = y + '-' + m + '-' + d
        #print('\nkk = ', kk)
        yyyymmdd.append(kk)
        yw = yyyy_ww_dict[kk]
        yyww.append(yw)

    Date2 = pd.Series(yyyymmdd)
    Year_Week = pd.Series(yyww)
    #print(Year_Week.shape)
    
    data_frame2 = data_frame.reset_index(drop = True)
    #print(data_frame2.shape)
    
    data_frame2['Year_Week'] = Year_Week
    data_frame2['Date2'] = Date2
    
    return data_frame2


import math
#x = float('nan')
#math.isnan(x)

def bi_groupby_yyyy_ww(data_frame, col = 'Year_Week'):
    
    def fill_nan_dummy(county_df):
        

        county_df2 = county_df.replace(to_replace='nan', value= float(1000000))

        county_df3 = county_df2.replace(to_replace='NaN', value= float(1000000))

        #county_df3['CI'] = county_df3['CI'].astype(float)
        
        #county_df3['BI'] = county_df3['BI'].astype(float)
        
        #county_df3['HI'] = county_df3['HI'].astype(float)
        
        return county_df3
    
    def mean_customized(x):
        #purpose: to calculate mean of a grouped column with mixed values, ex: [3, 6, 8, 'NaN', 'T', 9]
        #x: grouped column in data1
        #return: mean(x) where x is filtered out all 'str' values
        
        xx = fill_nan_dummy(x)
        #print('*'*50, type(xx))
        #tmp = [v for v in list(x) if isinstance(v, float)] # filter out 'str' in a grouped column
        tmp = [v for v in list(xx) if v != float(1000000)] # filter out '1000' in a grouped column
        
        tmp2 = [vv for vv in tmp if not math.isnan(float(vv))] # filter out 'nan'
        
       
        #print("filter out 1000000\n", tmp)
        #print('\n Filter out:\n', tmp2)
        if len(tmp2) == 0:
            print("\nXXX\n")
            return 'XXX'
        elif len(tmp2) >= 1:
            return np.mean(tmp2)


    # groupby & mean with condition & add customized function with groupby
    tmp8 = data_frame.groupby(col, as_index = False).aggregate({'BI': mean_customized,
                                                            'CI': mean_customized,
                                                            'HI': mean_customized})    

    return tmp8

def bi_gen_full_time_table(data_frame, week_total, county = ''):
    
    '''
    Input: 
        data_frame: data with missing weeks of years
        week_total: total number of yyyy_ww 
    Output: 
        full_table: data_frame fulfilled missed yyyy_ww based on week_total
    
    '''
    
    full_table = []
    j = 0
    
    for i in range(len(week_total)):

        yw_ref = week_total[i]
        
        try:
            yw_cty = sorted(data_frame.Year_Week)[j]
        except: IndexError


        if yw_ref == yw_cty:
            bi = data_frame.BI[j]
            ci = data_frame.CI[j]
            hi = data_frame.HI[j]
            full_table.append([yw_ref, hi, ci, bi])
            j += 1
            continue

        else:
            full_table.append([yw_ref,'XXX', 'XXX', 'XXX']) # float('nan'), float('nan'), float('nan')])
            continue
            
    full_table = pd.DataFrame(full_table, columns = ['YYYY_WW', 'HI', 'CI', 'BI'])
    full_table['County'] = county
    #print('*'*20, 'Full Table: ', county, '*'*20, '\n', full_table.tail())
    return full_table     

def find_missed_yyyy_ww(data_frame, week_total):
    a = set(data_frame.Year_Week)
    b = set(week_total)
    return b.difference(a)

### Utils function for Weather

In [393]:
def weather_convert_date_to_yyyy_ww(data_frame, yyyy_ww_dict):
    '''
    Input: data_frame
    Output: data_frame added yyyy_ww column
    '''
    yyww = []
    tmp = data_frame.Date
    date_key = list(tmp)
    
    for i in range(data_frame.shape[0]):
        
        k = date_key[i]
        try:
            yw = yyyy_ww_dict[k]
            #print(k, '-'*10, yw)
            yyww.append(yw)
        except: KeyError
            
        
    Year_Week = pd.Series(yyww)

    
    data_frame = data_frame.reset_index(drop = True)
    
    data_frame['Year_Week'] = Year_Week

    return data_frame




def groupby_yyyy_ww(data_frame, col = 'Year_Week'):
    
    def fill_nan_dummy(county_df):
        

        county_df = county_df.replace(to_replace='T', value=1000)
        county_df = county_df.replace(to_replace='X', value=1000)
        county_df = county_df.replace(to_replace='/', value=1000)
        county_df = county_df.replace(to_replace='...', value=1000)  

        #county_df = county_df.replace(to_replace='T', value=float('NaN'))
        #county_df = county_df.replace(to_replace='X', value=float('NaN'))
        #county_df = county_df.replace(to_replace='/', value=float('NaN'))
        #county_df = county_df.replace(to_replace='...', value=float('NaN'))
        county_df = county_df.astype(float)

        return county_df
    
    def mean_customized(x):
        #purpose: to calculate mean of a grouped column with mixed values, ex: [3, 6, 8, 'NaN', 'T', 9]
        #x: grouped column in data1
        #return: mean(x) where x is filtered out all 'str' values
        xx = fill_nan_dummy(x)
        #tmp = [v for v in list(x) if isinstance(v, float)] # filter out 'str' in a grouped column
        tmp = [v for v in list(xx) if v != 1000] # filter out '1000' in a grouped column

        
        return np.mean(tmp)


    # groupby & mean with condition & add customized function with groupby
    tmp8 = data_frame.groupby(col, as_index = False).aggregate({'Temperature': mean_customized,
                                                            'T Max': mean_customized,
                                                            'T Min': mean_customized,
                                                            'RH': mean_customized,
                                                            'Precp': mean_customized})    

    return tmp8

def add_date_to_county(folder_path, cut_year = 2012):
    county = [] # one county
    
    tmp = sorted(list(folders_files[folder_path]))
    for file in tmp:
        file_path = folder_path + file
        tmp_data = pd.read_csv(file_path)
        
        _, yyyy, mm = file.split('.')[0].split('-')
        yyyy_mm = yyyy + '-' + mm
        
        tmp2 = list(tmp_data.ObsTime)
        tmp3 = []
        for day in tmp2:
            if day < 10:
                day_str = '0'+ str(day)
            else:
                day_str = str(day)
            yyyy_mm_dd = yyyy_mm + '-' + day_str
            
            tmp3.append(yyyy_mm_dd)
            
        tmp_data['Date'] = tmp3
        
        use_cols = ['Temperature', 'T Max', 'T Min', 'RH', 'Precp', 'Date']
        
        tmp_data2 = tmp_data[use_cols]
        
        county.append(tmp_data2)
        
        county_df = pd.concat(county)
        
        # select year
        county_df['Year'] = pd.to_datetime(county_df['Date']).dt.year

        county_df = county_df[county_df['Year'] >= cut_year]
        
    return county_df
def fill_nan_dummy(county_df):
        

    #county_df = county_df.replace(to_replace='T', value=0)
    #county_df = county_df.replace(to_replace='X', value=0)
    #county_df = county_df.replace(to_replace='/', value=0)
    #county_df = county_df.replace(to_replace='...', value=0)  
    
    #county_df = county_df.replace(to_replace='T', value=float('NaN'))
    #county_df = county_df.replace(to_replace='X', value=float('NaN'))
    #county_df = county_df.replace(to_replace='/', value=float('NaN'))
    #county_df = county_df.replace(to_replace='...', value=float('NaN'))
    
    #county_df = county_df.replace(to_replace= 'inf', value=float('NaN'))

    county_df['Temperature'] = county_df['Temperature'].astype(float)
    county_df['T Max'] = county_df['T Max'].astype(float)
    county_df['T Min'] = county_df['T Min'].astype(float)
    county_df['Precp'] = county_df['Precp'].astype(float)
    county_df['RH'] = county_df['RH'].astype(float)

    
    return county_df


def fill_nan(county_df):
        

        
    county_df = county_df.replace(to_replace='T', value=float('NaN'))
    county_df = county_df.replace(to_replace='X', value=float('NaN'))
    county_df = county_df.replace(to_replace='/', value=float('NaN'))
    county_df = county_df.replace(to_replace='...', value=float('NaN'))
    #county_df = county_df.replace(to_replace= 'inf', value=float('NaN'))

    county_df['Temperature'] = county_df['Temperature'].astype(float)
    county_df['T Max'] = county_df['T Max'].astype(float)
    county_df['T Min'] = county_df['T Min'].astype(float)
    county_df['Precp'] = county_df['Precp'].astype(float)
    county_df['RH'] = county_df['RH'].astype(float)

    #data_x2 = pd.DataFrame(data_x, columns = weather_cols, dtype = float)

    #df['feature_count'].fillna(df['client_name'].map(s), inplace=True)
    county_df['Temperature'] = county_df['Temperature'].fillna(county_df['Temperature'].mean())
    
    county_df['T Max'] = county_df['T Max'].fillna(county_df['T Max'].mean())
    county_df['T Min'] = county_df['T Min'].fillna(county_df['T Min'].mean())
    county_df['Precp'] = county_df['Precp'].fillna(county_df['Precp'].mean()) 
    county_df['RH'] = county_df['RH'].fillna(county_df['RH'].mean()) 
    
    return county_df

def weather_convert_date_to_yyyy_ww(data_frame, yyyy_ww_dict):
    '''
    Input: data_frame
    Output: data_frame added yyyy_ww column
    '''
    yyww = []
    tmp = data_frame.Date
    date_key = list(tmp)
    
    for i in range(data_frame.shape[0]):
        
        k = date_key[i]
        try:
            yw = yyyy_ww_dict[k]
            #print(k, '-'*10, yw)
            yyww.append(yw)
        except: KeyError
            
        
    Year_Week = pd.Series(yyww)

    
    data_frame = data_frame.reset_index(drop = True)
    
    data_frame['Year_Week'] = Year_Week

    return data_frame

def weather_gen_full_time_table(data_frame, week_total, county = ''):
    '''
    Input: 
        data_frame: data with missing weeks of years
        week_total: total number of yyyy_ww 
    Output: 
        full_table: data_frame fulfilled missed yyyy_ww based on week_total
    
    '''
    
    full_table = []
    j = 0
    for i in tqdm(range(len(week_total))):
        #print(i)

        yw_ref = week_total[i]
        
        try:
            yw_cty = sorted(data_frame.Year_Week)[j]
        except: IndexError
            
        #print(yw_cty)
        #print(j, yw_ref, yw_cty)

        if yw_ref == yw_cty:
            temp = data_frame['Temperature'][j]
            tmax = data_frame['T Max'][j]
            tmin = data_frame['T Min'][j]
            rh = data_frame['RH'][j]
            recp = data_frame['Precp'][j]

            full_table.append([yw_ref, temp, tmax, tmin, rh, recp])
            j += 1
            continue

        else:
            full_table.append([yw_ref, float('nan'), float('nan'), float('nan')])
            continue
            
    full_table = pd.DataFrame(full_table, columns = ['YYYY_WW', 'Temperature', 'T Max', 'T Min', 'RH', 'Precp'])
    full_table['County'] = county
    
    return full_table   

# TW county in Chinese English dict
cty_chinese = ['台北市', '高雄市', '台中市', '宜蘭縣', '台南市', 
               '新北市', '彰化縣', '花蓮縣', '雲林縣', 
               '新竹縣', '嘉義縣', '桃園市', '澎湖縣', '南投縣', 
               '屏東縣', '台東縣', '基隆市', '苗栗縣'] # '連江縣', '金門縣'

cty_english = ['Taipei', 'Kaohsiung', 'Taichung', 'Yilan',  'Tainan',
               'New Taipei', 'Changhua', 'Hualien', 'Yunlin',
               'Hsinchu',  'Chiayi',  'Taoyuan',  'Penghu',  'Nantou',
               'Pingtung', 'Taitung',  'Keelung', 'Miaoli']

cty_cn_en = collections.defaultdict()
cty_en_cn = collections.defaultdict()

# create 2 dict
for cn, en in zip(cty_chinese, cty_english):
    cty_cn_en[cn] = en
    cty_en_cn[en] = cn

## Generate YYYY_WW data standard

In [335]:
from datetime import date,timedelta

df = pd.DataFrame({'INSP_DATE2':pd.date_range(start = '2012-01-01', end = '2019-5-31')})

a =  df['INSP_DATE2'] - pd.offsets.Week(weekday=6)
b =  df['INSP_DATE2'] + pd.offsets.Week(weekday=5)

m1 = df['INSP_DATE2'] != (a + pd.offsets.Week())
m2 = df['INSP_DATE2'] != (b - pd.offsets.Week())

df['c'] = df['INSP_DATE2'].mask(m1, a)
df['d'] = df['INSP_DATE2'].mask(m2, b)

rows = []
w = 1 # start week
y = 2012 # start year

# generate standard yyyy_ww

for b in tqdm(range(0, 2755, 7)):

    row = []
    win = df.iloc[b : (b+7), :]
    date = win.c
    #print(str(date).split('-'))
    #y, _, _ = str(list(date)[0]).split('-')
    
       
    if w <10:
        w_str = '0' + str(w)
    else:
        w_str = str(w)
    win["Year_Week"] = str(y) + '_' + str(w_str)
    
    if y != 2014 and w == 52:
        w = 0
        y += 1
    elif y == 2014 and w == 53:
        w = 0
        y += 1
    w += 1
    
    rows.append(win)
    
# cancat  
year_weekly = pd.concat(rows)

# unique week
week_total = year_weekly.Year_Week.unique()

# yyyy_mm_dd: yyyy_ww
date_week = collections.defaultdict()
for i in range(year_weekly.shape[0]):
    date_key = year_weekly.INSP_DATE2[i]
    k = str(date_key).split(' ')[0]
    week_val = year_weekly.Year_Week[i]
    date_week[k] = week_val

  0%|          | 0/394 [00:00<?, ?it/s]/home/basic/tensorflow/tensorflow_pkg/tf_1.12_cuda10.0/lib/python3.5/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
100%|██████████| 394/394 [00:28<00:00, 13.99it/s]

### Start pre-process BI

In [559]:
# BI data

# replace 'None' with 'NaN' & groupby 'Date'

data_fin2 = {}


print('\n Processing! \n')


for k in data_fin.keys():    

    df = data_fin[k]
    
    tmm = bi_groupby_date(df)    

    tm2 = bi_convert_date_to_yyyy_ww(tmm, date_week, end_time = '2019-05-31')  
    
    tm2['Date2'] = pd.to_datetime(tm2['Date2'])  

    tm2 = tm2[(tm2['Date2'] <= '2019-05-31')]
    
    #print(k, '\n', tm2.tail(50), '\n')

    tm3 = bi_groupby_yyyy_ww(tm2)
    
    #print(k, '\n', tm3.tail(), '\n')
    
    tm4 = bi_gen_full_time_table(tm3, week_total, county = k)

    print(k, '\n', tm4.head(20), '\n')

    data_fin2[k] = tm4

 Processing!


XXX

花蓮縣
     YYYY_WW         HI        CI         BI County
0   2012_01        0.5   6.24975        0.5    花蓮縣
1   2012_02          0         0          0    花蓮縣
2   2012_03          0         0          0    花蓮縣
3   2012_04        XXX       XXX        XXX    花蓮縣
4   2012_05          0         0          0    花蓮縣
5   2012_06          0         0          0    花蓮縣
6   2012_07          0         0          0    花蓮縣
7   2012_08  0.0571429   0.19044  0.0571429    花蓮縣
8   2012_09          0         0          0    花蓮縣
9   2012_10          0         0          0    花蓮縣
10  2012_11  0.0666667      0.16  0.0666667    花蓮縣
11  2012_12          0         0          0    花蓮縣
12  2012_13          0         0          0    花蓮縣
13  2012_14          0         0          0    花蓮縣
14  2012_15   0.133333  0.333333   0.133333    花蓮縣
15  2012_16       0.18  0.430533       0.18    花蓮縣
16  2012_17        0.5   1.38875        0.5    花蓮縣
17  2012_18          0         0          0    花蓮縣
18  2012_19   0.166667  0.398125   0.166667    花蓮縣
19  2012_20          0         0          0    花蓮縣

屏東縣
     YYYY_WW       HI       CI       BI County
0   2012_01  2.52421  5.51447  2.81255    屏東縣
1   2012_02  2.33863  5.19512  2.53115    屏東縣
2   2012_03  1.98912  4.31157  2.14588    屏東縣
3   2012_04      XXX      XXX      XXX    屏東縣
4   2012_05  1.45641  2.39718  1.67835    屏東縣
5   2012_06  1.80319  2.61777  1.87874    屏東縣
6   2012_07  2.07162   3.8979  2.44446    屏東縣
7   2012_08  2.38083  4.25335  2.80222    屏東縣
8   2012_09  2.47385   5.5262  3.78814    屏東縣
9   2012_10  2.59122  4.73499  3.29979    屏東縣
10  2012_11  2.69791  4.44455  3.48467    屏東縣
11  2012_12  2.62896  4.11469  2.88899    屏東縣
12  2012_13   1.7543  2.82666  2.11529    屏東縣
13  2012_14  2.29305  3.83982  2.96627    屏東縣
14  2012_15  2.08999  4.00206  2.58426    屏東縣
15  2012_16  2.37426   4.0965  2.94333    屏東縣
16  2012_17  3.08086  5.37438  3.77644    屏東縣
17  2012_18  3.22892  4.98775  3.96783    屏東縣
18  2012_19  4.59469  8.58591  6.73808    屏東縣
19  2012_20  5.31249  9.14209  7.79139    屏東縣


XXX

桃園市
     YYYY_WW         HI        CI         BI County
0   2012_01    0.28381  0.471338    0.28381    桃園市
1   2012_02  0.0833333  0.154292  0.0833333    桃園市
2   2012_03   0.614286  0.398221    1.01429    桃園市
3   2012_04          4     7.692          4    桃園市
4   2012_05  0.0333333   0.02645  0.0333333    桃園市
5   2012_06   0.233333   0.45645   0.233333    桃園市
6   2012_07  0.0714286   0.06375  0.0714286    桃園市
7   2012_08          0         0          0    桃園市
8   2012_09          0         0          0    桃園市
9   2012_10          0         0          0    桃園市
10  2012_11          0         0          0    桃園市
11  2012_12       0.08   0.07544       0.08    桃園市
12  2012_13   0.366667    2.7222   0.366667    桃園市
13  2012_14   0.140107  0.207071   0.140107    桃園市
14  2012_15    0.14575  0.309681    0.14575    桃園市
15  2012_16       0.05  0.113625       0.05    桃園市
16  2012_17   0.266667   1.28567   0.266667    桃園市
17  2012_18   0.366667   2.32138    1.43333    桃園市
18  2012_19        0.4    0.2597        0.4    桃園市
19  2012_20       0.08   0.15384       0.08    桃園市

台北市
     YYYY_WW        HI        CI        BI County
0   2012_01   1.16819   2.48997   1.38059    台北市
1   2012_02  0.987074   2.93634   1.17703    台北市
2   2012_03   1.05113   1.20925   1.29792    台北市
3   2012_04  0.987167   12.0913    2.3205    台北市
4   2012_05   1.36667     1.984   1.76667    台北市
5   2012_06  0.660382   1.83457  0.805836    台北市
6   2012_07  0.527691   0.95436  0.567691    台北市
7   2012_08    0.3708  0.526267     0.475    台北市
8   2012_09  0.860533   2.53587   1.06053    台北市
9   2012_10   1.06304   3.39591   1.21322    台北市
10  2012_11  0.819651  0.660238   1.02248    台北市
11  2012_12   1.55293  0.985639   2.49738    台北市
12  2012_13  0.411917    1.3405   0.74525    台北市
13  2012_14  0.595475   1.33441  0.640929    台北市
14  2012_15   1.79248   4.23012   3.42882    台北市
15  2012_16  0.447638  0.891943  0.594824    台北市
16  2012_17  0.940862   2.30148   1.25747    台北市
17  2012_18   2.63008   3.71016   2.99701    台北市
18  2012_19   1.54014    5.4619   1.95847    台北市
19  2012_20    1.8432   5.90331   2.16323    台北市

嘉義縣
     YYYY_WW         HI         CI         BI County
0   2012_01          0          0          0    嘉義縣
1   2012_02          0          0          0    嘉義縣
2   2012_03          0          0          0    嘉義縣
3   2012_04          0          0          0    嘉義縣
4   2012_05          0          0          0    嘉義縣
5   2012_06          0          0          0    嘉義縣
6   2012_07          0          0          0    嘉義縣
7   2012_08  0.0292222   0.317444  0.0292222    嘉義縣
8   2012_09          0          0          0    嘉義縣
9   2012_10          0          0          0    嘉義縣
10  2012_11   0.238563   0.715562   0.238563    嘉義縣
11  2012_12          0          0          0    嘉義縣
12  2012_13   0.243133    2.22213   0.243133    嘉義縣
13  2012_14          0          0          0    嘉義縣
14  2012_15          0          0          0    嘉義縣
15  2012_16  0.0686786   0.286982  0.0686786    嘉義縣
16  2012_17  0.0393506  0.0998961  0.0393506    嘉義縣
17  2012_18          0          0          0    嘉義縣
18  2012_19          0          0          0    嘉義縣
19  2012_20          0          0          0    嘉義縣


XXX

新北市
     YYYY_WW        HI       CI        BI County
0   2012_01  1.326667  9.80358  2.193333    新北市
1   2012_02  0.650263  8.50857  0.650263    新北市
2   2012_03  0.882427  10.6359  0.918791    新北市
3   2012_04  0.000000      XXX  0.000000    新北市
4   2012_05  0.298942  1.17054  0.298942    新北市
5   2012_06  0.779056  2.94435  0.846292    新北市
6   2012_07  0.747295  8.01357  0.952936    新北市
7   2012_08  0.506593  3.95307  0.878022    新北市
8   2012_09  0.305556  2.45721  0.361111    新北市
9   2012_10  0.737668  9.69435  0.737668    新北市
10  2012_11  0.210097  0.72804  0.343430    新北市
11  2012_12  1.155303  10.3547  1.484264    新北市
12  2012_13  1.053933  13.4024  1.165044    新北市
13  2012_14  0.873810  12.9514  0.923810    新北市
14  2012_15  1.120000  8.72328  1.350770    新北市
15  2012_16  0.961100   1.9258  0.961100    新北市
16  2012_17  1.348204  8.82885  1.373204    新北市
17  2012_18  0.692150  4.24201  0.798628    新北市
18  2012_19  0.590915  11.2207  0.639526    新北市
19  2012_20  1.118398  20.2937  1.137446    新北市

苗栗縣
     YYYY_WW       HI       CI       BI County
0   2012_01        4   16.666        4    苗栗縣
1   2012_02      1.5  12.0064        2    苗栗縣
2   2012_03    2.338  7.73164    2.978    苗栗縣
3   2012_04      XXX      XXX      XXX    苗栗縣
4   2012_05    1.745  8.63138    1.745    苗栗縣
5   2012_06        2     7.67        2    苗栗縣
6   2012_07  2.41548  17.5296  2.67702    苗栗縣
7   2012_08  4.54762  12.0944  4.60317    苗栗縣
8   2012_09      XXX      XXX      XXX    苗栗縣
9   2012_10      2.5   6.6465      2.5    苗栗縣
10  2012_11        2  6.31575        2    苗栗縣
11  2012_12  3.91084  10.9148  3.91084    苗栗縣
12  2012_13   3.2945  17.6058  4.08021    苗栗縣
13  2012_14      XXX      XXX      XXX    苗栗縣
14  2012_15     2.75  8.48237      3.5    苗栗縣
15  2012_16      2.5  29.9077      2.5    苗栗縣
16  2012_17  2.92451  10.4704  2.92451    苗栗縣
17  2012_18        1     12.5        1    苗栗縣
18  2012_19  2.33333  5.75367  2.66667    苗栗縣
19  2012_20     2.75  11.2805        3    苗栗縣


XXX

南投縣
     YYYY_WW        HI       CI        BI County
0   2012_01         0        0         0    南投縣
1   2012_02  0.138833  4.16667  0.138833    南投縣
2   2012_03   1.26667  16.3651   1.26667    南投縣
3   2012_04       XXX      XXX       XXX    南投縣
4   2012_05         0        0         0    南投縣
5   2012_06         0        0         0    南投縣
6   2012_07         0        0         0    南投縣
7   2012_08  0.708867  5.03866  0.708867    南投縣
8   2012_09       0.5  3.57125       0.5    南投縣
9   2012_10  0.797619  3.77206  0.797619    南投縣
10  2012_11  0.658417  3.84689  0.658417    南投縣
11  2012_12       0.7  5.85251       0.7    南投縣
12  2012_13   1.24999   6.9639   1.24999    南投縣
13  2012_14      0.55  2.97151      0.55    南投縣
14  2012_15       0.2   0.8333       0.2    南投縣
15  2012_16  0.314286  1.24869  0.314286    南投縣
16  2012_17  0.983333   11.419   1.03889    南投縣
17  2012_18       0.5  4.91069      0.75    南投縣
18  2012_19       1.3  9.38111       1.7    南投縣
19  2012_20     1.275  8.07489      1.65    南投縣

XXX


XXX


XXX


XXX

基隆市
     YYYY_WW         HI        CI         BI County
0   2012_01          1    1.8515          1    基隆市
1   2012_02   0.166667     0.641   0.166667    基隆市
2   2012_03          0         0          0    基隆市
3   2012_04          2      12.5          2    基隆市
4   2012_05   0.666667   1.14933   0.666667    基隆市
5   2012_06          0         0          0    基隆市
6   2012_07       0.25   0.89275       0.25    基隆市
7   2012_08  0.0666667    0.2564  0.0666667    基隆市
8   2012_09        XXX       XXX        XXX    基隆市
9   2012_10          0         0          0    基隆市
10  2012_11       0.25     9.375       0.75    基隆市
11  2012_12        0.5     1.226        0.5    基隆市
12  2012_13   0.133333  0.277733   0.133333    基隆市
13  2012_14          0         0          0    基隆市
14  2012_15   0.666667   4.76167   0.666667    基隆市
15  2012_16        0.5     3.625       0.75    基隆市
16  2012_17       0.55    5.1923       0.55    基隆市
17  2012_18   0.666667   1.85167   0.666667    基隆市
18  2012_19          0         0          0    基隆市
19  2012_20        0.5   2.28563       0.75    基隆市

澎湖縣
     YYYY_WW        HI       CI        BI County
0   2012_01         0        0         0    澎湖縣
1   2012_02         0        0         0    澎湖縣
2   2012_03         0        0         0    澎湖縣
3   2012_04         0        0         0    澎湖縣
4   2012_05         0        0         0    澎湖縣
5   2012_06         0        0         0    澎湖縣
6   2012_07         0        0         0    澎湖縣
7   2012_08         0        0         0    澎湖縣
8   2012_09         0        0         0    澎湖縣
9   2012_10  0.314333    0.641  0.314333    澎湖縣
10  2012_11         0        0         0    澎湖縣
11  2012_12         0        0         0    澎湖縣
12  2012_13         0        0         0    澎湖縣
13  2012_14       XXX      XXX       XXX    澎湖縣
14  2012_15    0.5372  3.03332    0.5372    澎湖縣
15  2012_16   1.76667    2.971   1.76667    澎湖縣
16  2012_17  0.436475  1.46018  0.436475    澎湖縣
17  2012_18       1.3  4.53356      1.55    澎湖縣
18  2012_19   1.84113  6.50082    1.9078    澎湖縣
19  2012_20   1.82856  8.49266   2.00633    澎湖縣

台南市
     YYYY_WW        HI         CI        BI County
0   2012_01  0.583998   2.515162  0.636785    台南市
1   2012_02  0.592044   1.832077  0.626864    台南市
2   2012_03  0.614133   4.859074  0.917963    台南市
3   2012_04  0.235750   1.136250  0.235750    台南市
4   2012_05  0.927128   3.756632  1.154955    台南市
5   2012_06  0.662982   3.148190  0.869099    台南市
6   2012_07  1.248606   3.699839  1.411043    台南市
7   2012_08  1.783355   4.495205  2.127395    台南市
8   2012_09  2.426922   5.634239  2.946634    台南市
9   2012_10  1.417304   4.602716  1.637579    台南市
10  2012_11  1.218555   3.898935  1.388483    台南市
11  2012_12  1.183985   3.856375  1.370774    台南市
12  2012_13  1.655009   6.598812  1.915164    台南市
13  2012_14  0.874744   3.902459  0.999062    台南市
14  2012_15  1.122497   3.918178  1.238054    台南市
15  2012_16  1.104676   3.079529  1.200030    台南市
16  2012_17  1.930051   5.651451  2.253928    台南市
17  2012_18  1.842989  19.035066  2.198767    台南市
18  2012_19  2.698407   8.412633  3.497583    台南市
19  2012_20  3.686370  12.386943  5.009331    台南市


XXX

新竹縣
     YYYY_WW        HI        CI        BI County
0   2012_01  0.615687     2.564  0.615687    新竹縣
1   2012_02  0.305333   1.78012  0.436067    新竹縣
2   2012_03  0.583333   5.08421  0.583333    新竹縣
3   2012_04       XXX       XXX       XXX    新竹縣
4   2012_05  0.108889  0.952333  0.108889    新竹縣
5   2012_06  0.111562  0.694438  0.111562    新竹縣
6   2012_07   1.04508   5.91792   1.07713    新竹縣
7   2012_08         0         0         0    新竹縣
8   2012_09  0.823833   2.50453  0.823833    新竹縣
9   2012_10  0.666667     0.641  0.666667    新竹縣
10  2012_11   1.15436     7.175   1.15436    新竹縣
11  2012_12   1.55058   4.04421   1.55058    新竹縣
12  2012_13         0         0         0    新竹縣
13  2012_14  0.641083     2.103  0.641083    新竹縣
14  2012_15  0.487529   3.80733  0.542471    新竹縣
15  2012_16  0.576367   3.11395  0.576367    新竹縣
16  2012_17  0.749667    3.3534  0.749667    新竹縣
17  2012_18  0.333333   1.78563  0.333333    新竹縣
18  2012_19  0.304233    2.6574  0.304233    新竹縣
19  2012_20  0.789108   3.64672  0.887158    新竹縣

宜蘭縣
     YYYY_WW        HI        CI        BI County
0   2012_01  0.203929   1.51069  0.298229    宜蘭縣
1   2012_02   0.13475   0.51335   0.13475    宜蘭縣
2   2012_03    0.2424   7.71429    0.2424    宜蘭縣
3   2012_04       XXX       XXX       XXX    宜蘭縣
4   2012_05  0.122619  0.731262  0.122619    宜蘭縣
5   2012_06  0.446692   5.46197  0.446692    宜蘭縣
6   2012_07   0.21105   1.92338   0.21105    宜蘭縣
7   2012_08  0.241947    2.1984  0.241947    宜蘭縣
8   2012_09  0.120188   8.33333  0.120188    宜蘭縣
9   2012_10  0.300167   4.97433  0.300167    宜蘭縣
10  2012_11  0.141222  0.758861  0.141222    宜蘭縣
11  2012_12     0.482   4.67602     0.482    宜蘭縣
12  2012_13     0.025     0.625     0.025    宜蘭縣
13  2012_14  0.453717   10.2452  0.453717    宜蘭縣
14  2012_15  0.111067   1.11604  0.111067    宜蘭縣
15  2012_16  0.214286    2.5131  0.214286    宜蘭縣
16  2012_17  0.151264   1.45497  0.192931    宜蘭縣
17  2012_18  0.257213   1.79384  0.257213    宜蘭縣
18  2012_19  0.170247   1.33494  0.253147    宜蘭縣
19  2012_20   0.22515   4.62852   0.22515    宜蘭縣

台中市
     YYYY_WW        HI        CI        BI County
0   2012_01  0.513423   1.84518  0.543008    台中市
1   2012_02  0.375167  0.919056  0.428583    台中市
2   2012_03  0.619451   1.11198  0.619451    台中市
3   2012_04       XXX       XXX       XXX    台中市
4   2012_05  0.630683   1.26863  0.630683    台中市
5   2012_06  0.494833  0.766533  0.494833    台中市
6   2012_07   0.26653  0.543317   0.26653    台中市
7   2012_08  0.687514   1.25985  0.687514    台中市
8   2012_09   1.28767   1.49744   1.28767    台中市
9   2012_10   1.29333   1.45406   1.44017    台中市
10  2012_11   1.15888   1.95275   1.15888    台中市
11  2012_12   1.04423   13.3613   1.07672    台中市
12  2012_13  0.277365  0.839692  0.347288    台中市
13  2012_14  0.547286    0.8695  0.547286    台中市
14  2012_15   1.10494   1.95576      1.21    台中市
15  2012_16   1.19548   1.99663   1.19548    台中市
16  2012_17   1.01909    2.3779   1.05054    台中市
17  2012_18   1.27465   2.18918   1.44221    台中市
18  2012_19  0.914348    3.5478   1.05862    台中市
19  2012_20   1.77012   2.61167   1.77012    台中市

雲林縣
     YYYY_WW        HI        CI        BI County
0   2012_01         0         0         0    雲林縣
1   2012_02      0.48   1.21765      0.48    雲林縣
2   2012_03  0.686976    1.0306  0.686976    雲林縣
3   2012_04         0         0         0    雲林縣
4   2012_05     0.641  0.546333     0.641    雲林縣
5   2012_06  0.780867   1.21093   1.01107    雲林縣
6   2012_07         0         0         0    雲林縣
7   2012_08  0.439902  0.804579  0.439902    雲林縣
8   2012_09         0         0         0    雲林縣
9   2012_10  0.575467   1.09867  0.575467    雲林縣
10  2012_11    0.1666    0.1754    0.1666    雲林縣
11  2012_12  0.597878   2.54753  0.597878    雲林縣
12  2012_13      0.08    0.2277      0.08    雲林縣
13  2012_14         0         0         0    雲林縣
14  2012_15  0.774633  0.928592  0.774633    雲林縣
15  2012_16  0.720929   1.23927  0.720929    雲林縣
16  2012_17  0.171429    0.3907  0.171429    雲林縣
17  2012_18         0         0         0    雲林縣
18  2012_19  0.404773  0.798107  0.404773    雲林縣
19  2012_20  0.818767  0.978587  0.818767    雲林縣

台東縣
     YYYY_WW        HI       CI        BI County
0   2012_01  0.874084   2.6585  0.874084    台東縣
1   2012_02   1.13048  3.76032   1.29759    台東縣
2   2012_03  0.974639  2.71231   1.05946    台東縣
3   2012_04         0        0         0    台東縣
4   2012_05   1.60101  9.88082   1.60101    台東縣
5   2012_06      1.35  13.7499       1.8    台東縣
6   2012_07    2.6754  10.9929    3.4162    台東縣
7   2012_08   3.90193  11.6651    4.8196    台東縣
8   2012_09    3.1392  13.6273    4.3392    台東縣
9   2012_10   3.06049   10.867   4.31049    台東縣
10  2012_11   1.68171  5.16787   2.05672    台東縣
11  2012_12    2.3266  10.1243   5.58771    台東縣
12  2012_13  0.860278  4.07029  0.941986    台東縣
13  2012_14   1.06417  3.62083   1.06417    台東縣
14  2012_15   1.16874  3.17268   1.38009    台東縣
15  2012_16    1.0634  3.85289    1.2134    台東縣
16  2012_17   1.48832  7.65935   1.84832    台東縣
17  2012_18    2.4452  12.4848   2.71187    台東縣
18  2012_19   1.80159  5.63573   1.96825    台東縣
19  2012_20   1.77403  6.20136   2.13194    台東縣

彰化縣
     YYYY_WW         HI        CI         BI County
0   2012_01   0.361111   1.63682   0.361111    彰化縣
1   2012_02   0.622222   3.34674   0.622222    彰化縣
2   2012_03       0.24   0.72222       0.28    彰化縣
3   2012_04          0         0          0    彰化縣
4   2012_05  0.0833333  0.231458  0.0833333    彰化縣
5   2012_06   0.461818     1.109   0.461818    彰化縣
6   2012_07    2.23333   5.59013    2.23333    彰化縣
7   2012_08   0.758333   3.09869   0.858333    彰化縣
8   2012_09    1.46667   2.91353    1.46667    彰化縣
9   2012_10   0.754286   3.51631   0.754286    彰化縣
10  2012_11   0.764286   2.08678   0.926786    彰化縣
11  2012_12      0.325  0.824437      0.325    彰化縣
12  2012_13        0.5    1.4705        0.5    彰化縣
13  2012_14          2   6.77325        2.4    彰化縣
14  2012_15   0.993333   3.47745   0.993333    彰化縣
15  2012_16    1.64064   6.70629    1.64064    彰化縣
16  2012_17   0.580952   1.95338   0.580952    彰化縣
17  2012_18    2.28571    5.3228    2.80952    彰化縣
18  2012_19       1.82    5.6338       2.22    彰化縣
19  2012_20       1.58     2.629       1.58    彰化縣

高雄市
     YYYY_WW        HI       CI        BI County
0   2012_01   1.66288  3.11558    1.9971    高雄市
1   2012_02  0.956717  2.35735   1.05426    高雄市
2   2012_03  0.703658  1.50384  0.801563    高雄市
3   2012_04     0.726   2.0084     1.052    高雄市
4   2012_05  0.963714  1.91299   1.13087    高雄市
5   2012_06  0.759798  1.37146  0.867294    高雄市
6   2012_07  0.791869  1.51627  0.852984    高雄市
7   2012_08   1.12182  2.40586   1.33954    高雄市
8   2012_09   1.27396   3.6043   1.74906    高雄市
9   2012_10   1.36204  2.62345   1.58528    高雄市
10  2012_11   1.25285  2.35281   1.36431    高雄市
11  2012_12   1.37793  2.68836   1.50792    高雄市
12  2012_13   1.61897  2.92531   1.85428    高雄市
13  2012_14   1.10817  2.38365   1.20135    高雄市
14  2012_15   1.23062  2.60794   1.43199    高雄市
15  2012_16    2.1862  5.16089    2.7083    高雄市
16  2012_17   2.45861  5.45373   3.34436    高雄市
17  2012_18   4.37872   7.0602   5.28978    高雄市
18  2012_19   5.24265  9.45615   6.46045    高雄市
19  2012_20   4.69697  9.00488   6.05741    高雄市

In [552]:
# Final step for BI, CI, HI
data_fin2['宜蘭縣'].tail()

     YYYY_WW        HI        CI        BI County
382  2019_18  0.151174  0.347208  0.080125    宜蘭縣
383  2019_19  0.349941   13.8067  0.349941    宜蘭縣
384  2019_20   0.25825   2.02366   0.25825    宜蘭縣
385  2019_21  0.353208   9.84647  0.419875    宜蘭縣
386  2019_22    0.5592   4.23562    0.4592    宜蘭縣

# Pre-processing Weather data

In [63]:
import pandas as pd
from os import listdir
from os.path import isfile, join
import numpy as np

In [64]:
mypath = './data/tw_weekly_weather/'
listdir(mypath)

['Miaoli',
 'Tainan',
 'Penghu',
 'Chiayi',
 'Taichung',
 'Hsinchu',
 'Nantou',
 'Pingtung',
 'Changhua',
 'Lienchang',
 'Taoyuan',
 'Taitung',
 'Kinmen',
 'New Taipei',
 'Yunlin',
 'Hualien',
 'Keelung',
 'Yilan',
 'Kaohsiung',
 'Taipei']

In [181]:
folders = [mypath + folder + '/' for folder in listdir(mypath)]
print(folders)

['./data/tw_weekly_weather/Miaoli/', './data/tw_weekly_weather/Tainan/', './data/tw_weekly_weather/Penghu/', './data/tw_weekly_weather/Chiayi/', './data/tw_weekly_weather/Taichung/', './data/tw_weekly_weather/Hsinchu/', './data/tw_weekly_weather/Nantou/', './data/tw_weekly_weather/Pingtung/', './data/tw_weekly_weather/Changhua/', './data/tw_weekly_weather/Lienchang/', './data/tw_weekly_weather/Taoyuan/', './data/tw_weekly_weather/Taitung/', './data/tw_weekly_weather/Kinmen/', './data/tw_weekly_weather/New Taipei/', './data/tw_weekly_weather/Yunlin/', './data/tw_weekly_weather/Hualien/', './data/tw_weekly_weather/Keelung/', './data/tw_weekly_weather/Yilan/', './data/tw_weekly_weather/Kaohsiung/', './data/tw_weekly_weather/Taipei/']

In [182]:
from collections import defaultdict

folders_files = defaultdict(list)
for folder in folders:
    folders_files[folder] = listdir(folder)

### Get final preprocessed for Weather

In [299]:

all_county_weather = collections.defaultdict()

print('\n Count missing weeks of weather \n')

for key_county, value_files in folders_files.items():
    
    cty_name = key_county.split('/')[-2]
    if cty_name == 'Kinmen' or cty_name == 'Lienchang':
        continue
    
    county = add_date_to_county(key_county, cut_year = 2012)
    
    cty1 = weather_convert_date_to_yyyy_ww(county, date_week)
    
    print('\n', '*' * 20, 'Cty name = ', cty_name, '*'*20)

    # groupby week
    cty2 = groupby_yyyy_ww(cty1, col = 'Year_Week')
    
    #print('\n', cty2.tail())    
    
    all_county_weather[cty_name] = cty2

 Count missing weeks of weather


 ******************** Cty name =  Taichung ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    24.885714  78.285714  29.242857  22.100000  18.428571
383   2019_19    23.414286  85.571429  27.414286  20.771429  10.000000
384   2019_20    27.657143  80.714286  31.671429  24.742857  12.357143
385   2019_21    25.400000  84.142857  29.485714  22.914286  36.666667
386   2019_22    26.850000  78.500000  31.250000  23.433333   3.083333

 ******************** Cty name =  Yilan ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    23.285714  83.285714  27.071429  20.585714  12.700000
383   2019_19    21.757143  87.714286  24.714286  19.700000  17.066667
384   2019_20    26.200000  87.428571  30.614286  23.657143  20.871429
385   2019_21    24.285714  80.000000  27.614286  21.642857   3.314286
386   2019_22    25.000000  81.833333  29.433333  22.066667   5.420000

 ******************** Cty name =  Miaoli ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    22.971429  79.285714  27.257143  20.028571  12.214286
383   2019_19    21.614286  85.285714  24.914286  19.085714   4.428571
384   2019_20    26.757143  82.428571  29.942857  23.742857  10.785714
385   2019_21    25.128571  78.000000  28.485714  22.442857   7.928571
386   2019_22    25.050000  82.000000  28.300000  22.400000  13.166667

 ******************** Cty name =  New Taipei ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    23.542857  73.857143  27.328571  20.871429  12.533333
383   2019_19    22.000000  78.571429  24.442857  20.028571   5.671429
384   2019_20    27.371429  77.142857  31.600000  24.071429  17.083333
385   2019_21    25.728571  68.000000  29.485714  22.971429  14.000000
386   2019_22    25.950000  74.333333  30.033333  23.066667  12.250000

 ******************** Cty name =  Changhua ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    24.200000  84.285714  29.271429  19.471429  13.071429
383   2019_19    23.028571  90.714286  27.785714  18.314286   8.071429
384   2019_20    27.400000  86.714286  32.314286  23.942857  10.857143
385   2019_21    25.128571  90.571429  29.928571  22.342857  15.642857
386   2019_22    26.400000  85.666667  32.200000  22.483333   3.750000

 ******************** Cty name =  Taoyuan ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    23.057143  76.000000  26.885714  20.271429  10.142857
383   2019_19    21.485714  82.000000  24.628571  19.000000   3.000000
384   2019_20    27.128571  78.285714  31.542857  23.842857   0.000000
385   2019_21    25.414286  69.000000  29.657143  22.214286   0.333333
386   2019_22    25.716667  75.833333  29.766667  22.300000  16.000000

 ******************** Cty name =  Chiayi ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    25.228571  76.857143  30.042857  21.757143   6.142857
383   2019_19    23.814286  81.714286  28.171429  20.942857   5.500000
384   2019_20    28.285714  75.000000  32.742857  24.342857   7.642857
385   2019_21    26.257143  77.285714  30.228571  23.357143  14.000000
386   2019_22    26.916667  76.333333  31.883333  23.350000   1.116667

 ******************** Cty name =  Penghu ********************

     Year_Week  Temperature         RH      T Max      T Min     Precp
382   2019_18    25.128571  81.285714  27.728571  23.085714  0.242857
383   2019_19    23.471429  87.000000  25.385714  22.085714  6.766667
384   2019_20    27.457143  88.714286  30.714286  25.628571  0.000000
385   2019_21    26.200000  83.714286  29.271429  24.557143  3.657143
386   2019_22    27.016667  83.666667  30.116667  24.616667  1.666667

 ******************** Cty name =  Keelung ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    23.157143  78.571429  26.057143  21.014286  13.357143
383   2019_19    21.385714  86.000000  22.971429  19.700000  19.457143
384   2019_20    26.285714  83.714286  29.414286  24.085714   4.214286
385   2019_21    24.985714  73.000000  28.171429  22.685714  15.000000
386   2019_22    25.600000  75.166667  28.550000  23.150000  11.800000

 ******************** Cty name =  Nantou ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    19.714286  84.714286  24.257143  17.528571  15.166667
383   2019_19    19.400000  87.000000  24.128571  17.328571  10.214286
384   2019_20    21.714286  85.857143  26.814286  19.271429  48.071429
385   2019_21    20.342857  91.714286  24.528571  18.642857  23.083333
386   2019_22    21.416667  87.500000  26.333333  19.266667   6.083333

 ******************** Cty name =  Yunlin ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    24.428571  88.428571  28.371429  21.500000  11.214286
383   2019_19    22.885714  94.142857  26.400000  20.300000   5.428571
384   2019_20    27.757143  87.714286  31.557143  24.700000   4.285714
385   2019_21    25.628571  91.285714  29.528571  22.842857   5.928571
386   2019_22    26.516667  88.000000  30.983333  23.150000   0.916667

 ******************** Cty name =  Taipei ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    24.000000  77.000000  27.857143  21.428571  11.533333
383   2019_19    21.971429  83.857143  24.357143  20.028571   5.200000
384   2019_20    27.771429  77.571429  31.928571  24.771429   9.157143
385   2019_21    25.957143  69.142857  29.714286  23.400000  11.628571
386   2019_22    26.316667  74.666667  30.483333  23.550000  14.116667

 ******************** Cty name =  Kaohsiung ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    26.871429  77.714286  29.828571  24.414286   8.957143
383   2019_19    25.842857  81.142857  28.642857  23.714286   9.214286
384   2019_20    29.228571  77.428571  31.728571  27.057143   0.050000
385   2019_21    27.628571  80.142857  30.457143  24.971429  10.833333
386   2019_22    28.800000  76.666667  31.683333  26.450000   0.800000

 ******************** Cty name =  Taitung ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    25.500000  75.571429  29.700000  22.500000   1.528571
383   2019_19    24.228571  79.428571  27.385714  21.842857   7.625000
384   2019_20    27.900000  81.428571  30.928571  25.642857   2.028571
385   2019_21    25.085714  80.571429  28.171429  22.857143   8.742857
386   2019_22    26.600000  80.500000  29.666667  23.900000  12.700000

 ******************** Cty name =  Pingtung ********************

     Year_Week  Temperature         RH      T Max      T Min     Precp
382   2019_18    26.442857  75.142857  29.585714  23.814286  6.285714
383   2019_19    25.442857  77.857143  28.314286  23.071429  2.785714
384   2019_20    28.414286  81.428571  31.885714  26.014286  0.785714
385   2019_21    26.528571  80.428571  29.571429  23.871429  3.814286
386   2019_22    27.366667  82.333333  31.150000  25.000000  6.500000

 ******************** Cty name =  Hualien ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    24.071429  76.857143  27.371429  21.385714   6.916667
383   2019_19    22.957143  81.285714  25.942857  20.714286   4.000000
384   2019_20    26.728571  80.571429  30.000000  24.285714   9.000000
385   2019_21    24.171429  78.714286  27.642857  21.885714  12.285714
386   2019_22    25.233333  80.833333  28.850000  22.766667   1.416667

 ******************** Cty name =  Hsinchu ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    23.442857  75.285714  27.357143  20.657143  16.714286
383   2019_19    22.057143  80.000000  25.357143  19.685714   4.000000
384   2019_20    27.357143  77.000000  30.657143  24.585714  43.666667
385   2019_21    25.700000  75.285714  29.100000  22.942857   5.071429
386   2019_22    25.683333  79.500000  28.800000  22.933333  15.400000

 ******************** Cty name =  Tainan ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    26.071429  73.285714  29.485714  23.400000   7.142857
383   2019_19    24.571429  78.714286  28.171429  21.928571   3.642857
384   2019_20    29.057143  71.285714  32.528571  26.628571   3.500000
385   2019_21    27.514286  75.000000  30.900000  24.885714  10.250000
386   2019_22    28.150000  72.666667  31.750000  25.066667   1.666667

In [300]:
# example: Miaoli weather
all_county_weather['Taichung'].tail()

    Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    24.885714  78.285714  29.242857  22.100000  18.428571
383   2019_19    23.414286  85.571429  27.414286  20.771429  10.000000
384   2019_20    27.657143  80.714286  31.671429  24.742857  12.357143
385   2019_21    25.400000  84.142857  29.485714  22.914286  36.666667
386   2019_22    26.850000  78.500000  31.250000  23.433333   3.083333

In [501]:
compiled = []
final_weather_dict = {}
for cty, cty_df in all_county_weather.items():
    cty_df['County_EN'] = cty
    cty_df2 = cty_df[['County_EN', 'Year_Week', 'Temperature', 'RH', 'T Max', 'T Min', 'Precp']]
    compiled.append(cty_df2)
    final_weather_dict[cty] = cty_df2
final_weather = pd.concat(compiled, axis = 0, ignore_index = True)

In [502]:
save_path = './data/final_weather.csv'
final_weather.to_csv(save_path)

In [503]:
# example: Miaoli BI, CI, HI
data_fin2[cty_en_cn['Miaoli']].tail()

     YYYY_WW       HI       CI       BI County
382  2019_18   2.5735  13.1403  2.99017    苗栗縣
383  2019_19        3    26.19        4    苗栗縣
384  2019_20  3.16667   15.838        3    苗栗縣
385  2019_21  2.73333  13.6534      3.4    苗栗縣
386  2019_22  2.52255  11.3397  2.92255    苗栗縣

### Compile Weather + BI data

In [553]:
full_data = []
for cty_cn, cty_en in cty_cn_en.items():
    bi = data_fin2[cty_cn]
    te = final_weather_dict[cty_en]
    tmp = [bi, te]
    cty_bi_te = pd.concat(tmp, axis = 1) # concat column-by-column & keep old column names
    full_data.append(cty_bi_te)

In [554]:
full_data2 = pd.concat(full_data, axis = 0, ignore_index = True) # concat row-by-row & auto generate new index

In [555]:
full_data2.shape

(6966, 12)

# FINAL PREPROCESSED DATA (FULL 18 COUNTY + WEATHER + BI, CI, HI)

In [556]:
full_data2.head()

,YYYY_WW,HI,CI,BI,County,County_EN,Year_Week,Temperature,RH,T Max,T Min,Precp
0,2012_01,0.5,6.24975,0.5,花蓮縣,Hualien,2012_01,16.614286,75.714286,18.657143,14.714286,0.571429
1,2012_02,0,0,0,花蓮縣,Hualien,2012_02,18.942857,75.428571,21.557143,16.800000,0.357143
2,2012_03,0,0,0,花蓮縣,Hualien,2012_03,19.300000,76.428571,21.914286,17.100000,2.400000
3,2012_04,XXX,XXX,XXX,花蓮縣,Hualien,2012_04,16.142857,79.714286,18.600000,13.771429,5.000000
4,2012_05,0,0,0,花蓮縣,Hualien,2012_05,17.957143,76.571429,20.414286,16.057143,1.000000

In [558]:
write_data = full_data2[['County_EN', 'YYYY_WW', 'BI', 'CI', 'HI', 'Temperature', 'T Max', 'T Min', 'RH', 'Precp']]
write_data.head()
write_data.to_csv('./data/full_house_again.csv')

##### END