In [29]:
import pandas as pd
import numpy as np

In [30]:
from tqdm import tqdm

In [31]:
import collections

# Pre-processing BI data

In [32]:
path = './data/MosIndex_All.csv'
data = pd.read_csv(path, low_memory = False)

In [162]:
data.head()

,Date,County,Town,Village,VillageID,VillageLon,VillageLat,AreaType,HouseHold,InspectType,...,HIAeg,HILv,HILvAeg,CI,CILv,LI,LILv,Pupa,AI,Con100HH
0,2010/01/01,台北市,中正區,三愛里,6300500-031,121.530593083676,25.0358286563398,住宅,50,衛生所,...,0.000,0,0,0.000,0,0.000,0,0,0.0000,0.00
1,2010/01/01,嘉義市,西區,保安里,1002002-011,120.431350323348,23.4910599871089,住宅,156,衛生局,...,0.000,0,0,0.000,0,0.000,0,0,0.0000,0.00
2,2010/01/02,高雄市,鳳山區,生明里,6401200-045,120.36306711902,22.6176350677023,住宅,60,監測,...,3.333,1,1,5.714,3,0.000,0,0,0.0333,3.33
3,2010/01/02,台中市,大里區,塗城里,6602800-016,120.717131600963,24.0852343263972,住宅,50,衛生所,...,0.000,0,0,0.000,0,0.000,0,0,0.0000,0.00
4,2010/01/03,宜蘭縣,蘇澳鎮,存仁里,1000203-004,121.845912904116,24.6259386590972,住宅,60,衛生所,...,0.000,0,0,0.000,0,0.000,0,0,0.0000,0.00

In [163]:
county = data['County'].unique().tolist()
len(county)

22

In [164]:
county.remove('新竹市')
county.remove('嘉義市')

In [165]:
print(county)

['台北市', '高雄市', '台中市', '宜蘭縣', '台南市', '新北市', '彰化縣', '花蓮縣', '金門縣', '雲林縣', '新竹縣', '嘉義縣', '桃園市', '澎湖縣', '南投縣', '屏東縣', '台東縣', '基隆市', '連江縣', '苗栗縣']

In [166]:
use_cols = ['Date', 'County', 'BI', 'HI', 'CI']
bi_hi_ci = ['Date', 'BI', 'HI', 'CI']

In [167]:
data_distill = data[use_cols]

In [168]:
data_distill.head()

         Date County     BI     HI     CI
0  2010/01/01    台北市  0.000  0.000  0.000
1  2010/01/01    嘉義市  0.000  0.000  0.000
2  2010/01/02    高雄市  3.333  3.333  5.714
3  2010/01/02    台中市  0.000  0.000  0.000
4  2010/01/03    宜蘭縣  0.000  0.000  0.000

In [169]:
# split data for 20 county

cnty_data = collections.defaultdict(list)

for i in tqdm(range(data_distill.shape[0])):
    row = data_distill.iloc[i, :].tolist()
    cnty = row[1]
    if cnty in county:
        #print(row)
        cnty_data[cnty].append(row)

100%|██████████| 444878/444878 [00:56<00:00, 7817.52it/s]

In [41]:
# convert data each county from list to dataframe

data_fin = collections.defaultdict()
for k, v in cnty_data.items():
    x = pd.DataFrame(cnty_data[k], columns = use_cols, dtype = float)
        
        #print(x.loc[x[c].isin(selected_words),c].value_counts())

        #print(x[c].value_counts())
    data_fin[k] = x

In [310]:
data_fin['高雄市'].tail()

             Date County      BI      HI      CI
89405  2019/07/17    高雄市  36.000  14.000  58.064
89406  2019/07/17    高雄市   2.000   2.000   4.761
89407  2019/07/17    高雄市   0.000   0.000   0.000
89408  2019/07/17    高雄市  38.000   8.000  57.575
89409  2019/07/17    高雄市   2.255   2.255  18.750

In [318]:
# BI data

# replace 'None' with 'NaN' & groupby 'Date'

data_fin2 = {}


print('\n Count missing weeks of each county! \n')

def groupby_date(df):

    def mean_customized(x):
        #purpose: to calculate mean of a grouped column with mixed values, ex: [3, 6, 8, 'NaN', 'T', 9]
        #x: grouped column in data1
        #return: mean(x) where x is filtered out all 'str' values

        xx = x.astype(float)
        #tmp = [v for v in list(x) if isinstance(v, float)] # filter out 'str' in a grouped column
        tmp = [v for v in list(xx) if v != 1000] # filter out '1000' in a grouped column

        return np.mean(tmp)
    
    tm = df.replace(to_replace='None', value= 10000)

    tm['CI'] = tm.CI.astype(float)
    tm['BI'] = tm.BI.astype(float)
    tm['HI'] = tm.HI.astype(float)

    tm['Year'] = pd.to_datetime(tm['Date']).dt.year 

    tmm = tm[tm['Year'] >= 2012]

    tmm2 = tmm.groupby('Date', as_index=False).aggregate({'CI': mean_customized,
                                                         'BI': mean_customized,
                                                         'HI': mean_customized})
    return tmm2

for k in data_fin.keys():    

    df = data_fin[k]
    tmm = groupby_date(df)    

    tm2 = convert_date_to_yyyy_ww(tmm, date_week, end_time = '2019-05-31')  
    
    tm3 = bi_groupby_yyyy_ww(tm2)

    tm4 = bi_gen_full_time_table(tm3, week_total, county = k)

    data_fin2[k] = tm4

 Count missing weeks of each county!

******************** Full Table:  花蓮縣 ********************
      YYYY_WW        BI       CI        HI County
382  2019_18  0.588889  2501.94  0.588889    花蓮縣
383  2019_19      0.94  577.961      0.94    花蓮縣
384  2019_20       0.4  2500.62       0.4    花蓮縣
385  2019_21  0.166667  4226.44  0.166667    花蓮縣
386  2019_22  0.171429  3333.54  0.171429    花蓮縣
******************** Full Table:  屏東縣 ********************
      YYYY_WW       BI       CI        HI County
382  2019_18  1.31313  2.50533  0.887226    屏東縣
383  2019_19  2.50175   4.4448   1.86839    屏東縣
384  2019_20  3.17047  7.67767   2.49549    屏東縣
385  2019_21  3.24846  5.37455   2.51807    屏東縣
386  2019_22  2.68822  5.52229    2.0062    屏東縣
******************** Full Table:  桃園市 ********************
      YYYY_WW       BI       CI        HI County
382  2019_18  1.45738  6.12008   1.45738    桃園市
383  2019_19  1.24774   1275.8  0.846742    桃園市
384  2019_20  1.56142  675.049   1.35442    桃園市
385  2019_21  1.85564   184.44   1.38786    桃園市
386  2019_22  2.47876  411.961   1.70156    桃園市
******************** Full Table:  台北市 ********************
      YYYY_WW        BI       CI        HI County
382  2019_18  0.390792  1.02123  0.390792    台北市
383  2019_19   1.42298  6.75246   1.39033    台北市
384  2019_20   1.10651  9.49351    1.0682    台北市
385  2019_21  0.854408  3.23436  0.854408    台北市
386  2019_22   1.08234  4.76736  0.994607    台北市
******************** Full Table:  嘉義縣 ********************
      YYYY_WW        BI       CI        HI County
382  2019_18  0.527411  408.587  0.525096    嘉義縣
383  2019_19   0.59467  669.989  0.550225    嘉義縣
384  2019_20  0.862209  512.029  0.402109    嘉義縣
385  2019_21  0.588602  3.42957  0.327083    嘉義縣
386  2019_22    0.6758  1678.19    0.4758    嘉義縣
******************** Full Table:  新北市 ********************
      YYYY_WW        BI          CI        HI County
382  2019_18  0.641717    4.313385  0.327778    新北市
383  2019_19  0.988246  156.106954  0.766740    新北市
384  2019_20  0.552225   87.080947  0.341082    新北市
385  2019_21  0.882742    6.210829  0.277247    新北市
386  2019_22  1.366919    4.407576  0.641330    新北市
******************** Full Table:  苗栗縣 ********************
      YYYY_WW       BI       CI       HI County
382  2019_18  2.99017  844.778   2.5735    苗栗縣
383  2019_19        4    26.19        3    苗栗縣
384  2019_20        3   15.838  3.16667    苗栗縣
385  2019_21      3.4  13.6534  2.73333    苗栗縣
386  2019_22  2.92255  296.866  2.52255    苗栗縣
******************** Full Table:  南投縣 ********************
      YYYY_WW       BI       CI       HI County
382  2019_18  2.66572  8.20217  2.66572    南投縣
383  2019_19  4.83249  11.0825  4.32452    南投縣
384  2019_20  2.23058  8.44465  1.65916    南投縣
385  2019_21  1.96112  4.88177  1.91112    南投縣
386  2019_22  2.25653  1003.83  1.66433    南投縣
******************** Full Table:  基隆市 ********************
      YYYY_WW BI       CI        HI County
382  2019_18  0     2500         0    基隆市
383  2019_19  1  2.11333  0.666667    基隆市
384  2019_20  1  3751.81       0.5    基隆市
385  2019_21  0  2777.78         0    基隆市
386  2019_22  0     4000         0    基隆市
******************** Full Table:  金門縣 ********************
      YYYY_WW        BI       CI        HI County
382  2019_18  0.571429  2.85714  0.285714    金門縣
383  2019_19         X        X         X    金門縣
384  2019_20         X        X         X    金門縣
385  2019_21         X        X         X    金門縣
386  2019_22         0        0         0    金門縣
******************** Full Table:  澎湖縣 ********************
      YYYY_WW       BI       CI       HI County
382  2019_18      3.1  336.634      2.1    澎湖縣
383  2019_19  2.31955  1068.74  1.45216    澎湖縣
384  2019_20  2.26768  622.634   1.9661    澎湖縣
385  2019_21  3.90032  543.483  2.88603    澎湖縣
386  2019_22  2.98543  1095.28  2.02194    澎湖縣
******************** Full Table:  台南市 ********************
      YYYY_WW        BI        CI        HI County
382  2019_18  0.771429  2.891731  0.693889    台南市
383  2019_19  1.743042  4.420943  1.477049    台南市
384  2019_20  1.447584  4.703579  1.268957    台南市
385  2019_21  2.856349  7.836572  2.190505    台南市
386  2019_22  2.405549  8.149741  2.218102    台南市
******************** Full Table:  連江縣 ********************
      YYYY_WW BI CI HI County
382  2019_18  X  X  X    連江縣
383  2019_19  X  X  X    連江縣
384  2019_20  X  X  X    連江縣
385  2019_21  X  X  X    連江縣
386  2019_22  X  X  X    連江縣
******************** Full Table:  新竹縣 ********************
      YYYY_WW        BI       CI        HI County
382  2019_18         0  1111.11         0    新竹縣
383  2019_19  0.933333  668.397  0.666667    新竹縣
384  2019_20  0.657143  252.223  0.457143    新竹縣
385  2019_21  0.861905  671.806  0.861905    新竹縣
386  2019_22    15.841    76.19      4.95    新竹縣
******************** Full Table:  宜蘭縣 ********************
      YYYY_WW        BI       CI        HI County
382  2019_18  0.080125  333.681  0.151174    宜蘭縣
383  2019_19  0.349941  959.106  0.349941    宜蘭縣
384  2019_20   0.25825   1301.9   0.25825    宜蘭縣
385  2019_21  0.419875  2755.99  0.353208    宜蘭縣
386  2019_22    0.4592  4.23562    0.5592    宜蘭縣
******************** Full Table:  台中市 ********************
      YYYY_WW       BI       CI       HI County
382  2019_18  6.28265  6.48117  3.49771    台中市
383  2019_19  1.28642  1.33582  1.21462    台中市
384  2019_20  5.31938  11.1245  2.79045    台中市
385  2019_21  3.67364  6.08866  3.36792    台中市
386  2019_22  9.51197  10.8433  4.69764    台中市
******************** Full Table:  雲林縣 ********************
      YYYY_WW        BI        CI        HI County
382  2019_18         1         2         1    雲林縣
383  2019_19   1.45453   1004.93   1.45453    雲林縣
384  2019_20  0.497333   2.11247  0.497333    雲林縣
385  2019_21   1.16211   557.224  0.850145    雲林縣
386  2019_22  0.197333  0.702833  0.197333    雲林縣
******************** Full Table:  台東縣 ********************
      YYYY_WW       BI       CI       HI County
382  2019_18   1.7262  4.30553   1.3262    台東縣
383  2019_19  1.45554  6.42087  1.37221    台東縣
384  2019_20  1.39703  190.338  1.36132    台東縣
385  2019_21  2.84351  34.2199  2.11563    台東縣
386  2019_22      0.5  1253.82      0.5    台東縣
******************** Full Table:  彰化縣 ********************
      YYYY_WW       BI       CI       HI County
382  2019_18  1.30883  1002.91  1.24217    彰化縣
383  2019_19  1.84156  5.23161  1.74473    彰化縣
384  2019_20  1.34921  3.99545  1.34921    彰化縣
385  2019_21  1.57776  3.85722  1.46662    彰化縣
386  2019_22  4.22581  13.6407  3.97581    彰化縣
******************** Full Table:  高雄市 ********************
      YYYY_WW       BI       CI       HI County
382  2019_18  2.37936  4.63222  2.36156    高雄市
383  2019_19   4.5319  10.1284  4.37631    高雄市
384  2019_20   3.6581  6.86342  3.56286    高雄市
385  2019_21  6.70347  14.2052  6.24685    高雄市
386  2019_22   4.8231  11.9904  4.59303    高雄市

In [319]:
# Final step for BI, CI, HI
data_fin2['宜蘭縣'].tail()

     YYYY_WW        BI       CI        HI County
382  2019_18  0.080125  333.681  0.151174    宜蘭縣
383  2019_19  0.349941  959.106  0.349941    宜蘭縣
384  2019_20   0.25825   1301.9   0.25825    宜蘭縣
385  2019_21  0.419875  2755.99  0.353208    宜蘭縣
386  2019_22    0.4592  4.23562    0.5592    宜蘭縣

In [317]:
def weather_convert_date_to_yyyy_ww(data_frame, yyyy_ww_dict):
    '''
    Input: data_frame
    Output: data_frame added yyyy_ww column
    '''
    yyww = []
    tmp = data_frame.Date
    date_key = list(tmp)
    
    for i in range(data_frame.shape[0]):
        
        k = date_key[i]
        try:
            yw = yyyy_ww_dict[k]
            #print(k, '-'*10, yw)
            yyww.append(yw)
        except: KeyError
            
        
    Year_Week = pd.Series(yyww)

    
    data_frame = data_frame.reset_index(drop = True)
    
    data_frame['Year_Week'] = Year_Week

    return data_frame


def convert_date_to_yyyy_ww(data_frame, yyyy_ww_dict, end_time = '2019-05-31'):
    '''
    Input: data_frame
    Output: data_frame added yyyy_ww column
    '''
    yyww = []
    
    tmp = data_frame.Date
    date_key = list(tmp)
    
    ey, em, ed = end_time.split('-')
    
    for i in range(data_frame.shape[0]):
        k = date_key[i]
        y, m, d = k.split('/')
        if y == ey and m == '06':
            break
        kk = y + '-' + m + '-' + d
        yw = yyyy_ww_dict[kk]
        yyww.append(yw)

    Year_Week = pd.Series(yyww)
    #print(Year_Week.shape)
    
    data_frame2 = data_frame.reset_index(drop = True)
    #print(data_frame2.shape)
    
    data_frame2['Year_Week'] = Year_Week
    return data_frame2

def groupby_yyyy_ww(data_frame, col = 'Year_Week'):
    
    def fill_nan_dummy(county_df):
        

        county_df = county_df.replace(to_replace='T', value=1000)
        county_df = county_df.replace(to_replace='X', value=1000)
        county_df = county_df.replace(to_replace='/', value=1000)
        county_df = county_df.replace(to_replace='...', value=1000)  

        #county_df = county_df.replace(to_replace='T', value=float('NaN'))
        #county_df = county_df.replace(to_replace='X', value=float('NaN'))
        #county_df = county_df.replace(to_replace='/', value=float('NaN'))
        #county_df = county_df.replace(to_replace='...', value=float('NaN'))
        county_df = county_df.astype(float)

        return county_df
    
    def mean_customized(x):
        #purpose: to calculate mean of a grouped column with mixed values, ex: [3, 6, 8, 'NaN', 'T', 9]
        #x: grouped column in data1
        #return: mean(x) where x is filtered out all 'str' values
        xx = fill_nan_dummy(x)
        #tmp = [v for v in list(x) if isinstance(v, float)] # filter out 'str' in a grouped column
        tmp = [v for v in list(xx) if v != 1000] # filter out '1000' in a grouped column

        
        return np.mean(tmp)


    # groupby & mean with condition & add customized function with groupby
    tmp8 = data_frame.groupby(col, as_index = False).aggregate({'Temperature': mean_customized,
                                                            'T Max': mean_customized,
                                                            'T Min': mean_customized,
                                                            'RH': mean_customized,
                                                            'Precp': mean_customized})    

    return tmp8
    
def bi_groupby_yyyy_ww(data_frame, col = 'Year_Week'):
    
    def fill_nan_dummy(county_df):
        

        county_df = county_df.replace(to_replace='None', value=1000)

        county_df = county_df.astype(float)

        return county_df
    
    def mean_customized(x):
        #purpose: to calculate mean of a grouped column with mixed values, ex: [3, 6, 8, 'NaN', 'T', 9]
        #x: grouped column in data1
        #return: mean(x) where x is filtered out all 'str' values
        
        xx = fill_nan_dummy(x)
        
        #tmp = [v for v in list(x) if isinstance(v, float)] # filter out 'str' in a grouped column
        tmp = [v for v in list(xx) if v != 1000] # filter out '1000' in a grouped column

        return np.mean(tmp)


    # groupby & mean with condition & add customized function with groupby
    tmp8 = data_frame.groupby(col, as_index = False).aggregate({'BI': mean_customized,
                                                            'CI': mean_customized,
                                                            'HI': mean_customized})    

    return tmp8

def bi_gen_full_time_table(data_frame, week_total, county = ''):
    
    '''
    Input: 
        data_frame: data with missing weeks of years
        week_total: total number of yyyy_ww 
    Output: 
        full_table: data_frame fulfilled missed yyyy_ww based on week_total
    
    '''
    
    full_table = []
    j = 0
    
    for i in range(len(week_total)):

        yw_ref = week_total[i]
        
        try:
            yw_cty = sorted(data_frame.Year_Week)[j]
        except: IndexError


        if yw_ref == yw_cty:
            bi = data_frame.BI[j]
            ci = data_frame.CI[j]
            hi = data_frame.HI[j]
            full_table.append([yw_ref, bi, ci, hi])
            j += 1
            continue

        else:
            full_table.append([yw_ref,'X', 'X', 'X']) # float('nan'), float('nan'), float('nan')])
            continue
            
    full_table = pd.DataFrame(full_table, columns = ['YYYY_WW', 'BI', 'CI', 'HI'])
    full_table['County'] = county
    print('*'*20, 'Full Table: ', county, '*'*20, '\n', full_table.tail())
    return full_table     

def find_missed_yyyy_ww(data_frame, week_total):
    a = set(data_frame.Year_Week)
    b = set(week_total)
    return b.difference(a)

In [228]:
import numpy as np
import pandas as pd

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [238]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': ['T', 3, 4, 2, '/', 8],
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key data1  data2
0   A     T      5
1   B     3      0
2   C     4      3
3   A     2      3
4   B     /      7
5   C     8      9

In [268]:
def mean_customized(x):
    '''
    purpose: to calculate mean of a grouped column with mixed values, ex: [3, 6, 8, 'NaN', 'T', 9]
    x: grouped column in data1
    return: mean(x) where x is filtered out all 'str' values
    
    '''
    tmp = [v for v in list(x) if not isinstance(v, str)] # filter out 'str' in a grouped column

    return np.mean(tmp)

df.groupby('key').aggregate({'data1': filter_func,
                             'data2': 'mean'})


#df.groupby('key', as_index = False).agg([('Mean', filter_func)])

#display('df', "df.groupby('key').std()", "df.groupby('key').filter(filter_func)")

     data2  data1
key
A      4.0    2.0
B      3.5    3.0
C      6.0    6.0

## Generate YYYY_WW data standard

In [45]:
from datetime import date,timedelta

In [155]:
df = pd.DataFrame({'INSP_DATE2':pd.date_range(start = '2012-01-01', end = '2019-5-31')})

a =  df['INSP_DATE2'] - pd.offsets.Week(weekday=6)
b =  df['INSP_DATE2'] + pd.offsets.Week(weekday=5)

m1 = df['INSP_DATE2'] != (a + pd.offsets.Week())
m2 = df['INSP_DATE2'] != (b - pd.offsets.Week())

df['c'] = df['INSP_DATE2'].mask(m1, a)
df['d'] = df['INSP_DATE2'].mask(m2, b)

df

#for i in range(df.shape[0]):
#    print(df.loc[i], '\n')

     INSP_DATE2          c          d
0    2012-01-01 2012-01-01 2012-01-07
1    2012-01-02 2012-01-01 2012-01-07
2    2012-01-03 2012-01-01 2012-01-07
3    2012-01-04 2012-01-01 2012-01-07
4    2012-01-05 2012-01-01 2012-01-07
5    2012-01-06 2012-01-01 2012-01-07
6    2012-01-07 2012-01-01 2012-01-07
7    2012-01-08 2012-01-08 2012-01-14
8    2012-01-09 2012-01-08 2012-01-14
9    2012-01-10 2012-01-08 2012-01-14
10   2012-01-11 2012-01-08 2012-01-14
11   2012-01-12 2012-01-08 2012-01-14
12   2012-01-13 2012-01-08 2012-01-14
13   2012-01-14 2012-01-08 2012-01-14
14   2012-01-15 2012-01-15 2012-01-21
15   2012-01-16 2012-01-15 2012-01-21
16   2012-01-17 2012-01-15 2012-01-21
17   2012-01-18 2012-01-15 2012-01-21
18   2012-01-19 2012-01-15 2012-01-21
19   2012-01-20 2012-01-15 2012-01-21
20   2012-01-21 2012-01-15 2012-01-21
21   2012-01-22 2012-01-22 2012-01-28
22   2012-01-23 2012-01-22 2012-01-28
23   2012-01-24 2012-01-22 2012-01-28
24   2012-01-25 2012-01-22 2012-01-28
25   2012-01-26 2012-01-22 2012-01-28
26   2012-01-27 2012-01-22 2012-01-28
27   2012-01-28 2012-01-22 2012-01-28
28   2012-01-29 2012-01-29 2012-02-04
29   2012-01-30 2012-01-29 2012-02-04
...         ...        ...        ...
2678 2019-05-02 2019-04-28 2019-05-04
2679 2019-05-03 2019-04-28 2019-05-04
2680 2019-05-04 2019-04-28 2019-05-04
2681 2019-05-05 2019-05-05 2019-05-11
2682 2019-05-06 2019-05-05 2019-05-11
2683 2019-05-07 2019-05-05 2019-05-11
2684 2019-05-08 2019-05-05 2019-05-11
2685 2019-05-09 2019-05-05 2019-05-11
2686 2019-05-10 2019-05-05 2019-05-11
2687 2019-05-11 2019-05-05 2019-05-11
2688 2019-05-12 2019-05-12 2019-05-18
2689 2019-05-13 2019-05-12 2019-05-18
2690 2019-05-14 2019-05-12 2019-05-18
2691 2019-05-15 2019-05-12 2019-05-18
2692 2019-05-16 2019-05-12 2019-05-18
2693 2019-05-17 2019-05-12 2019-05-18
2694 2019-05-18 2019-05-12 2019-05-18
2695 2019-05-19 2019-05-19 2019-05-25
2696 2019-05-20 2019-05-19 2019-05-25
2697 2019-05-21 2019-05-19 2019-05-25
2698 2019-05-22 2019-05-19 2019-05-25
2699 2019-05-23 2019-05-19 2019-05-25
2700 2019-05-24 2019-05-19 2019-05-25
2701 2019-05-25 2019-05-19 2019-05-25
2702 2019-05-26 2019-05-26 2019-06-01
2703 2019-05-27 2019-05-26 2019-06-01
2704 2019-05-28 2019-05-26 2019-06-01
2705 2019-05-29 2019-05-26 2019-06-01
2706 2019-05-30 2019-05-26 2019-06-01
2707 2019-05-31 2019-05-26 2019-06-01

[2708 rows x 3 columns]

In [47]:
rows = []
w = 1 # start week
y = 2012 # start year

# generate standard yyyy_ww

for b in tqdm(range(0, 2755, 7)):

    row = []
    win = df.iloc[b : (b+7), :]
    date = win.c
    #print(str(date).split('-'))
    #y, _, _ = str(list(date)[0]).split('-')
    
       
    if w <10:
        w_str = '0' + str(w)
    else:
        w_str = str(w)
    win["Year_Week"] = str(y) + '_' + str(w_str)
    
    if y != 2014 and w == 52:
        w = 0
        y += 1
    elif y == 2014 and w == 53:
        w = 0
        y += 1
    w += 1
    
    rows.append(win)

  0%|          | 0/394 [00:00<?, ?it/s]/home/basic/tensorflow/tensorflow_pkg/tf_1.12_cuda10.0/lib/python3.5/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
100%|██████████| 394/394 [00:19<00:00, 19.75it/s]

In [158]:
year_weekly = pd.concat(rows)
for i in range(year_weekly.shape[0]):
    print(year_weekly.loc[i])

INSP_DATE2    2012-01-01 00:00:00
c             2012-01-01 00:00:00
d             2012-01-07 00:00:00
Year_Week                 2012_01
Name: 0, dtype: object
INSP_DATE2    2012-01-02 00:00:00
c             2012-01-01 00:00:00
d             2012-01-07 00:00:00
Year_Week                 2012_01
Name: 1, dtype: object
INSP_DATE2    2012-01-03 00:00:00
c             2012-01-01 00:00:00
d             2012-01-07 00:00:00
Year_Week                 2012_01
Name: 2, dtype: object
INSP_DATE2    2012-01-04 00:00:00
c             2012-01-01 00:00:00
d             2012-01-07 00:00:00
Year_Week                 2012_01
Name: 3, dtype: object
INSP_DATE2    2012-01-05 00:00:00
c             2012-01-01 00:00:00
d             2012-01-07 00:00:00
Year_Week                 2012_01
Name: 4, dtype: object
INSP_DATE2    2012-01-06 00:00:00
c             2012-01-01 00:00:00
d             2012-01-07 00:00:00
Year_Week                 2012_01
Name: 5, dtype: object
INSP_DATE2    2012-01-07 00:00:00
c             2012-01-01 00:00:00
d             2012-01-07 00:00:00
Year_Week                 2012_01
Name: 6, dtype: object
INSP_DATE2    2012-01-08 00:00:00
c             2012-01-08 00:00:00
d             2012-01-14 00:00:00
Year_Week                 2012_02
Name: 7, dtype: object
INSP_DATE2    2012-01-09 00:00:00
c             2012-01-08 00:00:00
d             2012-01-14 00:00:00
Year_Week                 2012_02
Name: 8, dtype: object
INSP_DATE2    2012-01-10 00:00:00
c             2012-01-08 00:00:00
d             2012-01-14 00:00:00
Year_Week                 2012_02
Name: 9, dtype: object
INSP_DATE2    2012-01-11 00:00:00
c             2012-01-08 00:00:00
d             2012-01-14 00:00:00
Year_Week                 2012_02
Name: 10, dtype: object
INSP_DATE2    2012-01-12 00:00:00
c             2012-01-08 00:00:00
d             2012-01-14 00:00:00
Year_Week                 2012_02
Name: 11, dtype: object
INSP_DATE2    2012-01-13 00:00:00
c             2012-01-08 00:00:00
d             2012-01-14 00:00:00
Year_Week                 2012_02
Name: 12, dtype: object
INSP_DATE2    2012-01-14 00:00:00
c             2012-01-08 00:00:00
d             2012-01-14 00:00:00
Year_Week                 2012_02
Name: 13, dtype: object
INSP_DATE2    2012-01-15 00:00:00
c             2012-01-15 00:00:00
d             2012-01-21 00:00:00
Year_Week                 2012_03
Name: 14, dtype: object
INSP_DATE2    2012-01-16 00:00:00
c             2012-01-15 00:00:00
d             2012-01-21 00:00:00
Year_Week                 2012_03
Name: 15, dtype: object
INSP_DATE2    2012-01-17 00:00:00
c             2012-01-15 00:00:00
d             2012-01-21 00:00:00
Year_Week                 2012_03
Name: 16, dtype: object
INSP_DATE2    2012-01-18 00:00:00
c             2012-01-15 00:00:00
d             2012-01-21 00:00:00
Year_Week                 2012_03
Name: 17, dtype: object
INSP_DATE2    2012-01-19 00:00:00
c             2012-01-15 00:00:00
d             2012-01-21 00:00:00
Year_Week                 2012_03
Name: 18, dtype: object
INSP_DATE2    2012-01-20 00:00:00
c             2012-01-15 00:00:00
d             2012-01-21 00:00:00
Year_Week                 2012_03
Name: 19, dtype: object
INSP_DATE2    2012-01-21 00:00:00
c             2012-01-15 00:00:00
d             2012-01-21 00:00:00
Year_Week                 2012_03
Name: 20, dtype: object
INSP_DATE2    2012-01-22 00:00:00
c             2012-01-22 00:00:00
d             2012-01-28 00:00:00
Year_Week                 2012_04
Name: 21, dtype: object
INSP_DATE2    2012-01-23 00:00:00
c             2012-01-22 00:00:00
d             2012-01-28 00:00:00
Year_Week                 2012_04
Name: 22, dtype: object
INSP_DATE2    2012-01-24 00:00:00
c             2012-01-22 00:00:00
d             2012-01-28 00:00:00
Year_Week                 2012_04
Name: 23, dtype: object
INSP_DATE2    2012-01-25 00:00:00
c             2012-01-22 00:00:00
d             2012-01-28 00:00:00
Year_Week                 2012_04
Name: 24, dtype: object
INSP_DATE2    2012-01-26 00:00:00
c             2012-01-22 00:00:00
d             2012-01-28 00:00:00
Year_Week                 2012_04
Name: 25, dtype: object
INSP_DATE2    2012-01-27 00:00:00
c             2012-01-22 00:00:00
d             2012-01-28 00:00:00
Year_Week                 2012_04
Name: 26, dtype: object
INSP_DATE2    2012-01-28 00:00:00
c             2012-01-22 00:00:00
d             2012-01-28 00:00:00
Year_Week                 2012_04
Name: 27, dtype: object
INSP_DATE2    2012-01-29 00:00:00
c             2012-01-29 00:00:00
d             2012-02-04 00:00:00
Year_Week                 2012_05
Name: 28, dtype: object
INSP_DATE2    2012-01-30 00:00:00
c             2012-01-29 00:00:00
d             2012-02-04 00:00:00
Year_Week                 2012_05
Name: 29, dtype: object
INSP_DATE2    2012-01-31 00:00:00
c             2012-01-29 00:00:00
d             2012-02-04 00:00:00
Year_Week                 2012_05
Name: 30, dtype: object
INSP_DATE2    2012-02-01 00:00:00
c             2012-01-29 00:00:00
d             2012-02-04 00:00:00
Year_Week                 2012_05
Name: 31, dtype: object
INSP_DATE2    2012-02-02 00:00:00
c             2012-01-29 00:00:00
d             2012-02-04 00:00:00
Year_Week                 2012_05
Name: 32, dtype: object
INSP_DATE2    2012-02-03 00:00:00
c             2012-01-29 00:00:00
d             2012-02-04 00:00:00
Year_Week                 2012_05
Name: 33, dtype: object
INSP_DATE2    2012-02-04 00:00:00
c             2012-01-29 00:00:00
d             2012-02-04 00:00:00
Year_Week                 2012_05
Name: 34, dtype: object
INSP_DATE2    2012-02-05 00:00:00
c             2012-02-05 00:00:00
d             2012-02-11 00:00:00
Year_Week                 2012_06
Name: 35, dtype: object
INSP_DATE2    2012-02-06 00:00:00
c             2012-02-05 00:00:00
d             2012-02-11 00:00:00
Year_Week                 2012_06
Name: 36, dtype: object
INSP_DATE2    2012-02-07 00:00:00
c             2012-02-05 00:00:00
d             2012-02-11 00:00:00
Year_Week                 2012_06
Name: 37, dtype: object
INSP_DATE2    2012-02-08 00:00:00
c             2012-02-05 00:00:00
d             2012-02-11 00:00:00
Year_Week                 2012_06
Name: 38, dtype: object
INSP_DATE2    2012-02-09 00:00:00
c             2012-02-05 00:00:00
d             2012-02-11 00:00:00
Year_Week                 2012_06
Name: 39, dtype: object
INSP_DATE2    2012-02-10 00:00:00
c             2012-02-05 00:00:00
d             2012-02-11 00:00:00
Year_Week                 2012_06
Name: 40, dtype: object
INSP_DATE2    2012-02-11 00:00:00
c             2012-02-05 00:00:00
d             2012-02-11 00:00:00
Year_Week                 2012_06
Name: 41, dtype: object
INSP_DATE2    2012-02-12 00:00:00
c             2012-02-12 00:00:00
d             2012-02-18 00:00:00
Year_Week                 2012_07
Name: 42, dtype: object
INSP_DATE2    2012-02-13 00:00:00
c             2012-02-12 00:00:00
d             2012-02-18 00:00:00
Year_Week                 2012_07
Name: 43, dtype: object
INSP_DATE2    2012-02-14 00:00:00
c             2012-02-12 00:00:00
d             2012-02-18 00:00:00
Year_Week                 2012_07
Name: 44, dtype: object
INSP_DATE2    2012-02-15 00:00:00
c             2012-02-12 00:00:00
d             2012-02-18 00:00:00
Year_Week                 2012_07
Name: 45, dtype: object
INSP_DATE2    2012-02-16 00:00:00
c             2012-02-12 00:00:00
d             2012-02-18 00:00:00
Year_Week                 2012_07
Name: 46, dtype: object
INSP_DATE2    2012-02-17 00:00:00
c             2012-02-12 00:00:00
d             2012-02-18 00:00:00
Year_Week                 2012_07
Name: 47, dtype: object
INSP_DATE2    2012-02-18 00:00:00
c             2012-02-12 00:00:00
d             2012-02-18 00:00:00
Year_Week                 2012_07
Name: 48, dtype: object
INSP_DATE2    2012-02-19 00:00:00
c             2012-02-19 00:00:00
d             2012-02-25 00:00:00
Year_Week                 2012_08
Name: 49, dtype: object
INSP_DATE2    2012-02-20 00:00:00
c             2012-02-19 00:00:00
d             2012-02-25 00:00:00
Year_Week                 2012_08
Name: 50, dtype: object
INSP_DATE2    2012-02-21 00:00:00
c             2012-02-19 00:00:00
d             2012-02-25 00:00:00
Year_Week                 2012_08
Name: 51, dtype: object
INSP_DATE2    2012-02-22 00:00:00
c             2012-02-19 00:00:00
d             2012-02-25 00:00:00
Year_Week                 2012_08
Name: 52, dtype: object
INSP_DATE2    2012-02-23 00:00:00
c             2012-02-19 00:00:00
d             2012-02-25 00:00:00
Year_Week                 2012_08
Name: 53, dtype: object
INSP_DATE2    2012-02-24 00:00:00
c             2012-02-19 00:00:00
d             2012-02-25 00:00:00
Year_Week                 2012_08
Name: 54, dtype: object
INSP_DATE2    2012-02-25 00:00:00
c             2012-02-19 00:00:00
d             2012-02-25 00:00:00
Year_Week                 2012_08
Name: 55, dtype: object
INSP_DATE2    2012-02-26 00:00:00
c             2012-02-26 00:00:00
d             2012-03-03 00:00:00
Year_Week                 2012_09
Name: 56, dtype: object
INSP_DATE2    2012-02-27 00:00:00
c             2012-02-26 00:00:00
d             2012-03-03 00:00:00
Year_Week                 2012_09
Name: 57, dtype: object
INSP_DATE2    2012-02-28 00:00:00
c             2012-02-26 00:00:00
d             2012-03-03 00:00:00
Year_Week                 2012_09
Name: 58, dtype: object
INSP_DATE2    2012-02-29 00:00:00
c             2012-02-26 00:00:00
d             2012-03-03 00:00:00
Year_Week                 2012_09
Name: 59, dtype: object
INSP_DATE2    2012-03-01 00:00:00
c             2012-02-26 00:00:00
d             2012-03-03 00:00:00
Year_Week                 2012_09
Name: 60, dtype: object
INSP_DATE2    2012-03-02 00:00:00
c             2012-02-26 00:00:00
d             2012-03-03 00:00:00
Year_Week                 2012_09
Name: 61, dtype: object
INSP_DATE2    2012-03-03 00:00:00
c             2012-02-26 00:00:00
d             2012-03-03 00:00:00
Year_Week                 2012_09
Name: 62, dtype: object
INSP_DATE2    2012-03-04 00:00:00
c             2012-03-04 00:00:00
d             2012-03-10 00:00:00
Year_Week                 2012_10
Name: 63, dtype: object
INSP_DATE2    2012-03-05 00:00:00
c             2012-03-04 00:00:00
d             2012-03-10 00:00:00
Year_Week                 2012_10
Name: 64, dtype: object
INSP_DATE2    2012-03-06 00:00:00
c             2012-03-04 00:00:00
d             2012-03-10 00:00:00
Year_Week                 2012_10
Name: 65, dtype: object
INSP_DATE2    2012-03-07 00:00:00
c             2012-03-04 00:00:00
d             2012-03-10 00:00:00
Year_Week                 2012_10
Name: 66, dtype: object
INSP_DATE2    2012-03-08 00:00:00
c             2012-03-04 00:00:00
d             2012-03-10 00:00:00
Year_Week                 2012_10
Name: 67, dtype: object
INSP_DATE2    2012-03-09 00:00:00
c             2012-03-04 00:00:00
d             2012-03-10 00:00:00
Year_Week                 2012_10
Name: 68, dtype: object
INSP_DATE2    2012-03-10 00:00:00
c             2012-03-04 00:00:00
d             2012-03-10 00:00:00
Year_Week                 2012_10
Name: 69, dtype: object
INSP_DATE2    2012-03-11 00:00:00
c             2012-03-11 00:00:00
d             2012-03-17 00:00:00
Year_Week                 2012_11
Name: 70, dtype: object
INSP_DATE2    2012-03-12 00:00:00
c             2012-03-11 00:00:00
d             2012-03-17 00:00:00
Year_Week                 2012_11
Name: 71, dtype: object
INSP_DATE2    2012-03-13 00:00:00
c             2012-03-11 00:00:00
d             2012-03-17 00:00:00
Year_Week                 2012_11
Name: 72, dtype: object
INSP_DATE2    2012-03-14 00:00:00
c             2012-03-11 00:00:00
d             2012-03-17 00:00:00
Year_Week                 2012_11
Name: 73, dtype: object
INSP_DATE2    2012-03-15 00:00:00
c             2012-03-11 00:00:00
d             2012-03-17 00:00:00
Year_Week                 2012_11
Name: 74, dtype: object
INSP_DATE2    2012-03-16 00:00:00
c             2012-03-11 00:00:00
d             2012-03-17 00:00:00
Year_Week                 2012_11
Name: 75, dtype: object
INSP_DATE2    2012-03-17 00:00:00
c             2012-03-11 00:00:00
d             2012-03-17 00:00:00
Year_Week                 2012_11
Name: 76, dtype: object
INSP_DATE2    2012-03-18 00:00:00
c             2012-03-18 00:00:00
d             2012-03-24 00:00:00
Year_Week                 2012_12
Name: 77, dtype: object
INSP_DATE2    2012-03-19 00:00:00
c             2012-03-18 00:00:00
d             2012-03-24 00:00:00
Year_Week                 2012_12
Name: 78, dtype: object
INSP_DATE2    2012-03-20 00:00:00
c             2012-03-18 00:00:00
d             2012-03-24 00:00:00
Year_Week                 2012_12
Name: 79, dtype: object
INSP_DATE2    2012-03-21 00:00:00
c             2012-03-18 00:00:00
d             2012-03-24 00:00:00
Year_Week                 2012_12
Name: 80, dtype: object
INSP_DATE2    2012-03-22 00:00:00
c             2012-03-18 00:00:00
d             2012-03-24 00:00:00
Year_Week                 2012_12
Name: 81, dtype: object
INSP_DATE2    2012-03-23 00:00:00
c             2012-03-18 00:00:00
d             2012-03-24 00:00:00
Year_Week                 2012_12
Name: 82, dtype: object
INSP_DATE2    2012-03-24 00:00:00
c             2012-03-18 00:00:00
d             2012-03-24 00:00:00
Year_Week                 2012_12
Name: 83, dtype: object
INSP_DATE2    2012-03-25 00:00:00
c             2012-03-25 00:00:00
d             2012-03-31 00:00:00
Year_Week                 2012_13
Name: 84, dtype: object
INSP_DATE2    2012-03-26 00:00:00
c             2012-03-25 00:00:00
d             2012-03-31 00:00:00
Year_Week                 2012_13
Name: 85, dtype: object
INSP_DATE2    2012-03-27 00:00:00
c             2012-03-25 00:00:00
d             2012-03-31 00:00:00
Year_Week                 2012_13
Name: 86, dtype: object
INSP_DATE2    2012-03-28 00:00:00
c             2012-03-25 00:00:00
d             2012-03-31 00:00:00
Year_Week                 2012_13
Name: 87, dtype: object
INSP_DATE2    2012-03-29 00:00:00
c             2012-03-25 00:00:00
d             2012-03-31 00:00:00
Year_Week                 2012_13
Name: 88, dtype: object
INSP_DATE2    2012-03-30 00:00:00
c             2012-03-25 00:00:00
d             2012-03-31 00:00:00
Year_Week                 2012_13
Name: 89, dtype: object
INSP_DATE2    2012-03-31 00:00:00
c             2012-03-25 00:00:00
d             2012-03-31 00:00:00
Year_Week                 2012_13
Name: 90, dtype: object
INSP_DATE2    2012-04-01 00:00:00
c             2012-04-01 00:00:00
d             2012-04-07 00:00:00
Year_Week                 2012_14
Name: 91, dtype: object
INSP_DATE2    2012-04-02 00:00:00
c             2012-04-01 00:00:00
d             2012-04-07 00:00:00
Year_Week                 2012_14
Name: 92, dtype: object
INSP_DATE2    2012-04-03 00:00:00
c             2012-04-01 00:00:00
d             2012-04-07 00:00:00
Year_Week                 2012_14
Name: 93, dtype: object
INSP_DATE2    2012-04-04 00:00:00
c             2012-04-01 00:00:00
d             2012-04-07 00:00:00
Year_Week                 2012_14
Name: 94, dtype: object
INSP_DATE2    2012-04-05 00:00:00
c             2012-04-01 00:00:00
d             2012-04-07 00:00:00
Year_Week                 2012_14
Name: 95, dtype: object
INSP_DATE2    2012-04-06 00:00:00
c             2012-04-01 00:00:00
d             2012-04-07 00:00:00
Year_Week                 2012_14
Name: 96, dtype: object
INSP_DATE2    2012-04-07 00:00:00
c             2012-04-01 00:00:00
d             2012-04-07 00:00:00
Year_Week                 2012_14
Name: 97, dtype: object
INSP_DATE2    2012-04-08 00:00:00
c             2012-04-08 00:00:00
d             2012-04-14 00:00:00
Year_Week                 2012_15
Name: 98, dtype: object
INSP_DATE2    2012-04-09 00:00:00
c             2012-04-08 00:00:00
d             2012-04-14 00:00:00
Year_Week                 2012_15
Name: 99, dtype: object
INSP_DATE2    2012-04-10 00:00:00
c             2012-04-08 00:00:00
d             2012-04-14 00:00:00
Year_Week                 2012_15
Name: 100, dtype: object
INSP_DATE2    2012-04-11 00:00:00
c             2012-04-08 00:00:00
d             2012-04-14 00:00:00
Year_Week                 2012_15
Name: 101, dtype: object
INSP_DATE2    2012-04-12 00:00:00
c             2012-04-08 00:00:00
d             2012-04-14 00:00:00
Year_Week                 2012_15
Name: 102, dtype: object
INSP_DATE2    2012-04-13 00:00:00
c             2012-04-08 00:00:00
d             2012-04-14 00:00:00
Year_Week                 2012_15
Name: 103, dtype: object
INSP_DATE2    2012-04-14 00:00:00
c             2012-04-08 00:00:00
d             2012-04-14 00:00:00
Year_Week                 2012_15
Name: 104, dtype: object
INSP_DATE2    2012-04-15 00:00:00
c             2012-04-15 00:00:00
d             2012-04-21 00:00:00
Year_Week                 2012_16
Name: 105, dtype: object
INSP_DATE2    2012-04-16 00:00:00
c             2012-04-15 00:00:00
d             2012-04-21 00:00:00
Year_Week                 2012_16
Name: 106, dtype: object
INSP_DATE2    2012-04-17 00:00:00
c             2012-04-15 00:00:00
d             2012-04-21 00:00:00
Year_Week                 2012_16
Name: 107, dtype: object
INSP_DATE2    2012-04-18 00:00:00
c             2012-04-15 00:00:00
d             2012-04-21 00:00:00
Year_Week                 2012_16
Name: 108, dtype: object
INSP_DATE2    2012-04-19 00:00:00
c             2012-04-15 00:00:00
d             2012-04-21 00:00:00
Year_Week                 2012_16
Name: 109, dtype: object
INSP_DATE2    2012-04-20 00:00:00
c             2012-04-15 00:00:00
d             2012-04-21 00:00:00
Year_Week                 2012_16
Name: 110, dtype: object
INSP_DATE2    2012-04-21 00:00:00
c             2012-04-15 00:00:00
d             2012-04-21 00:00:00
Year_Week                 2012_16
Name: 111, dtype: object
INSP_DATE2    2012-04-22 00:00:00
c             2012-04-22 00:00:00
d             2012-04-28 00:00:00
Year_Week                 2012_17
Name: 112, dtype: object
INSP_DATE2    2012-04-23 00:00:00
c             2012-04-22 00:00:00
d             2012-04-28 00:00:00
Year_Week                 2012_17
Name: 113, dtype: object
INSP_DATE2    2012-04-24 00:00:00
c             2012-04-22 00:00:00
d             2012-04-28 00:00:00
Year_Week                 2012_17
Name: 114, dtype: object
INSP_DATE2    2012-04-25 00:00:00
c             2012-04-22 00:00:00
d             2012-04-28 00:00:00
Year_Week                 2012_17
Name: 115, dtype: object
INSP_DATE2    2012-04-26 00:00:00
c             2012-04-22 00:00:00
d             2012-04-28 00:00:00
Year_Week                 2012_17
Name: 116, dtype: object
INSP_DATE2    2012-04-27 00:00:00
c             2012-04-22 00:00:00
d             2012-04-28 00:00:00
Year_Week                 2012_17
Name: 117, dtype: object
INSP_DATE2    2012-04-28 00:00:00
c             2012-04-22 00:00:00
d             2012-04-28 00:00:00
Year_Week                 2012_17
Name: 118, dtype: object
INSP_DATE2    2012-04-29 00:00:00
c             2012-04-29 00:00:00
d             2012-05-05 00:00:00
Year_Week                 2012_18
Name: 119, dtype: object
INSP_DATE2    2012-04-30 00:00:00
c             2012-04-29 00:00:00
d             2012-05-05 00:00:00
Year_Week                 2012_18
Name: 120, dtype: object
INSP_DATE2    2012-05-01 00:00:00
c             2012-04-29 00:00:00
d             2012-05-05 00:00:00
Year_Week                 2012_18
Name: 121, dtype: object
INSP_DATE2    2012-05-02 00:00:00
c             2012-04-29 00:00:00
d             2012-05-05 00:00:00
Year_Week                 2012_18
Name: 122, dtype: object
INSP_DATE2    2012-05-03 00:00:00
c             2012-04-29 00:00:00
d             2012-05-05 00:00:00
Year_Week                 2012_18
Name: 123, dtype: object
INSP_DATE2    2012-05-04 00:00:00
c             2012-04-29 00:00:00
d             2012-05-05 00:00:00
Year_Week                 2012_18

Name: 359, dtype: object
INSP_DATE2    2012-12-26 00:00:00
c             2012-12-23 00:00:00
d             2012-12-29 00:00:00
Year_Week                 2012_52
Name: 360, dtype: object
INSP_DATE2    2012-12-27 00:00:00
c             2012-12-23 00:00:00
d             2012-12-29 00:00:00
Year_Week                 2012_52
Name: 361, dtype: object
INSP_DATE2    2012-12-28 00:00:00
c             2012-12-23 00:00:00
d             2012-12-29 00:00:00
Year_Week                 2012_52
Name: 362, dtype: object
INSP_DATE2    2012-12-29 00:00:00
c             2012-12-23 00:00:00
d             2012-12-29 00:00:00
Year_Week                 2012_52
Name: 363, dtype: object
INSP_DATE2    2012-12-30 00:00:00
c             2012-12-30 00:00:00
d             2013-01-05 00:00:00
Year_Week                 2013_01
Name: 364, dtype: object
INSP_DATE2    2012-12-31 00:00:00
c             2012-12-30 00:00:00
d             2013-01-05 00:00:00
Year_Week                 2013_01
Name: 365, dtype: object
INSP_DATE2    2013-01-01 00:00:00
c             2012-12-30 00:00:00
d             2013-01-05 00:00:00
Year_Week                 2013_01
Name: 366, dtype: object
INSP_DATE2    2013-01-02 00:00:00
c             2012-12-30 00:00:00
d             2013-01-05 00:00:00
Year_Week                 2013_01
Name: 367, dtype: object
INSP_DATE2    2013-01-03 00:00:00
c             2012-12-30 00:00:00
d             2013-01-05 00:00:00
Year_Week                 2013_01
Name: 368, dtype: object
INSP_DATE2    2013-01-04 00:00:00
c             2012-12-30 00:00:00
d             2013-01-05 00:00:00
Year_Week                 2013_01
Name: 369, dtype: object
INSP_DATE2    2013-01-05 00:00:00
c             2012-12-30 00:00:00
d             2013-01-05 00:00:00
Year_Week                 2013_01
Name: 370, dtype: object
INSP_DATE2    2013-01-06 00:00:00
c             2013-01-06 00:00:00
d             2013-01-12 00:00:00
Year_Week                 2013_02
Name: 371, dtype: object
INSP_DATE2    2013-01-07 00:00:00
c             2013-01-06 00:00:00
d             2013-01-12 00:00:00
Year_Week                 2013_02
Name: 372, dtype: object
INSP_DATE2    2013-01-08 00:00:00
c             2013-01-06 00:00:00
d             2013-01-12 00:00:00
Year_Week                 2013_02
Name: 373, dtype: object
INSP_DATE2    2013-01-09 00:00:00
c             2013-01-06 00:00:00
d             2013-01-12 00:00:00
Year_Week                 2013_02
Name: 374, dtype: object
INSP_DATE2    2013-01-10 00:00:00
c             2013-01-06 00:00:00
d             2013-01-12 00:00:00
Year_Week                 2013_02
Name: 375, dtype: object
INSP_DATE2    2013-01-11 00:00:00
c             2013-01-06 00:00:00
d             2013-01-12 00:00:00
Year_Week                 2013_02
Name: 376, dtype: object
INSP_DATE2    2013-01-12 00:00:00
c             2013-01-06 00:00:00
d             2013-01-12 00:00:00
Year_Week                 2013_02
Name: 377, dtype: object
INSP_DATE2    2013-01-13 00:00:00
c             2013-01-13 00:00:00
d             2013-01-19 00:00:00
Year_Week                 2013_03
Name: 378, dtype: object
INSP_DATE2    2013-01-14 00:00:00
c             2013-01-13 00:00:00
d             2013-01-19 00:00:00
Year_Week                 2013_03
Name: 379, dtype: object
INSP_DATE2    2013-01-15 00:00:00
c             2013-01-13 00:00:00
d             2013-01-19 00:00:00
Year_Week                 2013_03
Name: 380, dtype: object
INSP_DATE2    2013-01-16 00:00:00
c             2013-01-13 00:00:00
d             2013-01-19 00:00:00
Year_Week                 2013_03
Name: 381, dtype: object
INSP_DATE2    2013-01-17 00:00:00
c             2013-01-13 00:00:00
d             2013-01-19 00:00:00
Year_Week                 2013_03
Name: 382, dtype: object
INSP_DATE2    2013-01-18 00:00:00
c             2013-01-13 00:00:00
d             2013-01-19 00:00:00
Year_Week                 2013_03
Name: 383, dtype: object
INSP_DATE2    2013-01-19 00:00:00
c             2013-01-13 00:00:00
d             2013-01-19 00:00:00
Year_Week                 2013_03
Name: 384, dtype: object
INSP_DATE2    2013-01-20 00:00:00
c             2013-01-20 00:00:00
d             2013-01-26 00:00:00
Year_Week                 2013_04
Name: 385, dtype: object
INSP_DATE2    2013-01-21 00:00:00
c             2013-01-20 00:00:00
d             2013-01-26 00:00:00
Year_Week                 2013_04
Name: 386, dtype: object
INSP_DATE2    2013-01-22 00:00:00
c             2013-01-20 00:00:00
d             2013-01-26 00:00:00
Year_Week                 2013_04
Name: 387, dtype: object
INSP_DATE2    2013-01-23 00:00:00
c             2013-01-20 00:00:00
d             2013-01-26 00:00:00
Year_Week                 2013_04
Name: 388, dtype: object
INSP_DATE2    2013-01-24 00:00:00
c             2013-01-20 00:00:00
d             2013-01-26 00:00:00
Year_Week                 2013_04
Name: 389, dtype: object
INSP_DATE2    2013-01-25 00:00:00
c             2013-01-20 00:00:00
d             2013-01-26 00:00:00
Year_Week                 2013_04
Name: 390, dtype: object
INSP_DATE2    2013-01-26 00:00:00
c             2013-01-20 00:00:00
d             2013-01-26 00:00:00
Year_Week                 2013_04
Name: 391, dtype: object
INSP_DATE2    2013-01-27 00:00:00
c             2013-01-27 00:00:00
d             2013-02-02 00:00:00
Year_Week                 2013_05
Name: 392, dtype: object
INSP_DATE2    2013-01-28 00:00:00
c             2013-01-27 00:00:00
d             2013-02-02 00:00:00
Year_Week                 2013_05
Name: 393, dtype: object
INSP_DATE2    2013-01-29 00:00:00
c             2013-01-27 00:00:00
d             2013-02-02 00:00:00
Year_Week                 2013_05
Name: 394, dtype: object
INSP_DATE2    2013-01-30 00:00:00
c             2013-01-27 00:00:00
d             2013-02-02 00:00:00
Year_Week                 2013_05
Name: 395, dtype: object
INSP_DATE2    2013-01-31 00:00:00
c             2013-01-27 00:00:00
d             2013-02-02 00:00:00
Year_Week                 2013_05
Name: 396, dtype: object
INSP_DATE2    2013-02-01 00:00:00
c             2013-01-27 00:00:00
d             2013-02-02 00:00:00
Year_Week                 2013_05
Name: 397, dtype: object
INSP_DATE2    2013-02-02 00:00:00
c             2013-01-27 00:00:00
d             2013-02-02 00:00:00
Year_Week                 2013_05
Name: 398, dtype: object
INSP_DATE2    2013-02-03 00:00:00
c             2013-02-03 00:00:00
d             2013-02-09 00:00:00
Year_Week                 2013_06
Name: 399, dtype: object
INSP_DATE2    2013-02-04 00:00:00
c             2013-02-03 00:00:00
d             2013-02-09 00:00:00
Year_Week                 2013_06
Name: 400, dtype: object
INSP_DATE2    2013-02-05 00:00:00
c             2013-02-03 00:00:00
d             2013-02-09 00:00:00
Year_Week                 2013_06
Name: 401, dtype: object
INSP_DATE2    2013-02-06 00:00:00
c             2013-02-03 00:00:00
d             2013-02-09 00:00:00
Year_Week                 2013_06
Name: 402, dtype: object
INSP_DATE2    2013-02-07 00:00:00
c             2013-02-03 00:00:00
d             2013-02-09 00:00:00
Year_Week                 2013_06
Name: 403, dtype: object
INSP_DATE2    2013-02-08 00:00:00
c             2013-02-03 00:00:00
d             2013-02-09 00:00:00
Year_Week                 2013_06
Name: 404, dtype: object
INSP_DATE2    2013-02-09 00:00:00
c             2013-02-03 00:00:00
d             2013-02-09 00:00:00
Year_Week                 2013_06
Name: 405, dtype: object
INSP_DATE2    2013-02-10 00:00:00
c             2013-02-10 00:00:00
d             2013-02-16 00:00:00
Year_Week                 2013_07
Name: 406, dtype: object
INSP_DATE2    2013-02-11 00:00:00
c             2013-02-10 00:00:00
d             2013-02-16 00:00:00
Year_Week                 2013_07
Name: 407, dtype: object
INSP_DATE2    2013-02-12 00:00:00
c             2013-02-10 00:00:00
d             2013-02-16 00:00:00
Year_Week                 2013_07
Name: 408, dtype: object
INSP_DATE2    2013-02-13 00:00:00
c             2013-02-10 00:00:00
d             2013-02-16 00:00:00
Year_Week                 2013_07
Name: 409, dtype: object
INSP_DATE2    2013-02-14 00:00:00
c             2013-02-10 00:00:00
d             2013-02-16 00:00:00
Year_Week                 2013_07
Name: 410, dtype: object
INSP_DATE2    2013-02-15 00:00:00
c             2013-02-10 00:00:00
d             2013-02-16 00:00:00
Year_Week                 2013_07
Name: 411, dtype: object
INSP_DATE2    2013-02-16 00:00:00
c             2013-02-10 00:00:00
d             2013-02-16 00:00:00
Year_Week                 2013_07
Name: 412, dtype: object
INSP_DATE2    2013-02-17 00:00:00
c             2013-02-17 00:00:00
d             2013-02-23 00:00:00
Year_Week                 2013_08
Name: 413, dtype: object
INSP_DATE2    2013-02-18 00:00:00
c             2013-02-17 00:00:00
d             2013-02-23 00:00:00
Year_Week                 2013_08
Name: 414, dtype: object
INSP_DATE2    2013-02-19 00:00:00
c             2013-02-17 00:00:00
d             2013-02-23 00:00:00
Year_Week                 2013_08
Name: 415, dtype: object
INSP_DATE2    2013-02-20 00:00:00
c             2013-02-17 00:00:00
d             2013-02-23 00:00:00
Year_Week                 2013_08
Name: 416, dtype: object
INSP_DATE2    2013-02-21 00:00:00
c             2013-02-17 00:00:00
d             2013-02-23 00:00:00
Year_Week                 2013_08
Name: 417, dtype: object
INSP_DATE2    2013-02-22 00:00:00
c             2013-02-17 00:00:00
d             2013-02-23 00:00:00
Year_Week                 2013_08
Name: 418, dtype: object
INSP_DATE2    2013-02-23 00:00:00
c             2013-02-17 00:00:00
d             2013-02-23 00:00:00
Year_Week                 2013_08
Name: 419, dtype: object
INSP_DATE2    2013-02-24 00:00:00
c             2013-02-24 00:00:00
d             2013-03-02 00:00:00
Year_Week                 2013_09
Name: 420, dtype: object
INSP_DATE2    2013-02-25 00:00:00
c             2013-02-24 00:00:00
d             2013-03-02 00:00:00
Year_Week                 2013_09
Name: 421, dtype: object
INSP_DATE2    2013-02-26 00:00:00
c             2013-02-24 00:00:00
d             2013-03-02 00:00:00
Year_Week                 2013_09
Name: 422, dtype: object
INSP_DATE2    2013-02-27 00:00:00
c             2013-02-24 00:00:00
d             2013-03-02 00:00:00
Year_Week                 2013_09
Name: 423, dtype: object
INSP_DATE2    2013-02-28 00:00:00
c             2013-02-24 00:00:00
d             2013-03-02 00:00:00
Year_Week                 2013_09
Name: 424, dtype: object
INSP_DATE2    2013-03-01 00:00:00
c             2013-02-24 00:00:00
d             2013-03-02 00:00:00
Year_Week                 2013_09
Name: 425, dtype: object
INSP_DATE2    2013-03-02 00:00:00
c             2013-02-24 00:00:00
d             2013-03-02 00:00:00
Year_Week                 2013_09
Name: 426, dtype: object
INSP_DATE2    2013-03-03 00:00:00
c             2013-03-03 00:00:00
d             2013-03-09 00:00:00
Year_Week                 2013_10
Name: 427, dtype: object
INSP_DATE2    2013-03-04 00:00:00
c             2013-03-03 00:00:00
d             2013-03-09 00:00:00
Year_Week                 2013_10
Name: 428, dtype: object
INSP_DATE2    2013-03-05 00:00:00
c             2013-03-03 00:00:00
d             2013-03-09 00:00:00
Year_Week                 2013_10
Name: 429, dtype: object
INSP_DATE2    2013-03-06 00:00:00
c             2013-03-03 00:00:00
d             2013-03-09 00:00:00
Year_Week                 2013_10
Name: 430, dtype: object
INSP_DATE2    2013-03-07 00:00:00
c             2013-03-03 00:00:00
d             2013-03-09 00:00:00
Year_Week                 2013_10
Name: 431, dtype: object
INSP_DATE2    2013-03-08 00:00:00
c             2013-03-03 00:00:00
d             2013-03-09 00:00:00
Year_Week                 2013_10
Name: 432, dtype: object
INSP_DATE2    2013-03-09 00:00:00
c             2013-03-03 00:00:00
d             2013-03-09 00:00:00
Year_Week                 2013_10
Name: 433, dtype: object
INSP_DATE2    2013-03-10 00:00:00
c             2013-03-10 00:00:00
d             2013-03-16 00:00:00
Year_Week                 2013_11
Name: 434, dtype: object
INSP_DATE2    2013-03-11 00:00:00
c             2013-03-10 00:00:00
d             2013-03-16 00:00:00
Year_Week                 2013_11
Name: 435, dtype: object
INSP_DATE2    2013-03-12 00:00:00
c             2013-03-10 00:00:00
d             2013-03-16 00:00:00
Year_Week                 2013_11
Name: 436, dtype: object
INSP_DATE2    2013-03-13 00:00:00
c             2013-03-10 00:00:00
d             2013-03-16 00:00:00
Year_Week                 2013_11
Name: 437, dtype: object
INSP_DATE2    2013-03-14 00:00:00
c             2013-03-10 00:00:00
d             2013-03-16 00:00:00
Year_Week                 2013_11
Name: 438, dtype: object
INSP_DATE2    2013-03-15 00:00:00
c             2013-03-10 00:00:00
d             2013-03-16 00:00:00
Year_Week                 2013_11
Name: 439, dtype: object
INSP_DATE2    2013-03-16 00:00:00
c             2013-03-10 00:00:00
d             2013-03-16 00:00:00
Year_Week                 2013_11
Name: 440, dtype: object
INSP_DATE2    2013-03-17 00:00:00
c             2013-03-17 00:00:00
d             2013-03-23 00:00:00
Year_Week                 2013_12
Name: 441, dtype: object
INSP_DATE2    2013-03-18 00:00:00
c             2013-03-17 00:00:00
d             2013-03-23 00:00:00
Year_Week                 2013_12
Name: 442, dtype: object
INSP_DATE2    2013-03-19 00:00:00
c             2013-03-17 00:00:00
d             2013-03-23 00:00:00
Year_Week                 2013_12
Name: 443, dtype: object
INSP_DATE2    2013-03-20 00:00:00
c             2013-03-17 00:00:00
d             2013-03-23 00:00:00
Year_Week                 2013_12
Name: 444, dtype: object
INSP_DATE2    2013-03-21 00:00:00
c             2013-03-17 00:00:00
d             2013-03-23 00:00:00
Year_Week                 2013_12
Name: 445, dtype: object
INSP_DATE2    2013-03-22 00:00:00
c             2013-03-17 00:00:00
d             2013-03-23 00:00:00
Year_Week                 2013_12
Name: 446, dtype: object
INSP_DATE2    2013-03-23 00:00:00
c             2013-03-17 00:00:00
d             2013-03-23 00:00:00
Year_Week                 2013_12
Name: 447, dtype: object
INSP_DATE2    2013-03-24 00:00:00
c             2013-03-24 00:00:00
d             2013-03-30 00:00:00
Year_Week                 2013_13
Name: 448, dtype: object
INSP_DATE2    2013-03-25 00:00:00
c             2013-03-24 00:00:00
d             2013-03-30 00:00:00
Year_Week                 2013_13
Name: 449, dtype: object
INSP_DATE2    2013-03-26 00:00:00
c             2013-03-24 00:00:00
d             2013-03-30 00:00:00
Year_Week                 2013_13
Name: 450, dtype: object
INSP_DATE2    2013-03-27 00:00:00
c             2013-03-24 00:00:00
d             2013-03-30 00:00:00
Year_Week                 2013_13
Name: 451, dtype: object
INSP_DATE2    2013-03-28 00:00:00
c             2013-03-24 00:00:00
d             2013-03-30 00:00:00
Year_Week                 2013_13
Name: 452, dtype: object
INSP_DATE2    2013-03-29 00:00:00
c             2013-03-24 00:00:00
d             2013-03-30 00:00:00
Year_Week                 2013_13
Name: 453, dtype: object
INSP_DATE2    2013-03-30 00:00:00
c             2013-03-24 00:00:00
d             2013-03-30 00:00:00
Year_Week                 2013_13
Name: 454, dtype: object
INSP_DATE2    2013-03-31 00:00:00
c             2013-03-31 00:00:00
d             2013-04-06 00:00:00
Year_Week                 2013_14
Name: 455, dtype: object
INSP_DATE2    2013-04-01 00:00:00
c             2013-03-31 00:00:00
d             2013-04-06 00:00:00
Year_Week                 2013_14
Name: 456, dtype: object
INSP_DATE2    2013-04-02 00:00:00
c             2013-03-31 00:00:00
d             2013-04-06 00:00:00
Year_Week                 2013_14
Name: 457, dtype: object
INSP_DATE2    2013-04-03 00:00:00
c             2013-03-31 00:00:00
d             2013-04-06 00:00:00
Year_Week                 2013_14
Name: 458, dtype: object
INSP_DATE2    2013-04-04 00:00:00
c             2013-03-31 00:00:00
d             2013-04-06 00:00:00
Year_Week                 2013_14
Name: 459, dtype: object
INSP_DATE2    2013-04-05 00:00:00
c             2013-03-31 00:00:00
d             2013-04-06 00:00:00
Year_Week                 2013_14
Name: 460, dtype: object
INSP_DATE2    2013-04-06 00:00:00
c             2013-03-31 00:00:00
d             2013-04-06 00:00:00
Year_Week                 2013_14
Name: 461, dtype: object
INSP_DATE2    2013-04-07 00:00:00
c             2013-04-07 00:00:00
d             2013-04-13 00:00:00
Year_Week                 2013_15
Name: 462, dtype: object
INSP_DATE2    2013-04-08 00:00:00
c             2013-04-07 00:00:00
d             2013-04-13 00:00:00
Year_Week                 2013_15
Name: 463, dtype: object
INSP_DATE2    2013-04-09 00:00:00
c             2013-04-07 00:00:00
d             2013-04-13 00:00:00
Year_Week                 2013_15
Name: 464, dtype: object
INSP_DATE2    2013-04-10 00:00:00
c             2013-04-07 00:00:00
d             2013-04-13 00:00:00
Year_Week                 2013_15
Name: 465, dtype: object
INSP_DATE2    2013-04-11 00:00:00
c             2013-04-07 00:00:00
d             2013-04-13 00:00:00
Year_Week                 2013_15
Name: 466, dtype: object
INSP_DATE2    2013-04-12 00:00:00
c             2013-04-07 00:00:00
d             2013-04-13 00:00:00
Year_Week                 2013_15
Name: 467, dtype: object
INSP_DATE2    2013-04-13 00:00:00
c             2013-04-07 00:00:00
d             2013-04-13 00:00:00
Year_Week                 2013_15
Name: 468, dtype: object
INSP_DATE2    2013-04-14 00:00:00
c             2013-04-14 00:00:00
d             2013-04-20 00:00:00
Year_Week                 2013_16
Name: 469, dtype: object
INSP_DATE2    2013-04-15 00:00:00
c             2013-04-14 00:00:00
d             2013-04-20 00:00:00
Year_Week                 2013_16
Name: 470, dtype: object
INSP_DATE2    2013-04-16 00:00:00
c             2013-04-14 00:00:00
d             2013-04-20 00:00:00
Year_Week                 2013_16
Name: 471, dtype: object
INSP_DATE2    2013-04-17 00:00:00
c             2013-04-14 00:00:00
d             2013-04-20 00:00:00
Year_Week                 2013_16
Name: 472, dtype: object
INSP_DATE2    2013-04-18 00:00:00
c             2013-04-14 00:00:00
d             2013-04-20 00:00:00
Year_Week                 2013_16
Name: 473, dtype: object
INSP_DATE2    2013-04-19 00:00:00
c             2013-04-14 00:00:00
d             2013-04-20 00:00:00
Year_Week                 2013_16
Name: 474, dtype: object
INSP_DATE2    2013-04-20 00:00:00
c             2013-04-14 00:00:00
d             2013-04-20 00:00:00
Year_Week                 2013_16
Name: 475, dtype: object
INSP_DATE2    2013-04-21 00:00:00
c             2013-04-21 00:00:00
d             2013-04-27 00:00:00
Year_Week                 2013_17
Name: 476, dtype: object
INSP_DATE2    2013-04-22 00:00:00
c             2013-04-21 00:00:00
d             2013-04-27 00:00:00
Year_Week                 2013_17
Name: 477, dtype: object
INSP_DATE2    2013-04-23 00:00:00
c             2013-04-21 00:00:00
d             2013-04-27 00:00:00
Year_Week                 2013_17
Name: 478, dtype: object
INSP_DATE2    2013-04-24 00:00:00
c             2013-04-21 00:00:00
d             2013-04-27 00:00:00
Year_Week                 2013_17
Name: 479, dtype: object
INSP_DATE2    2013-04-25 00:00:00
c             2013-04-21 00:00:00
d             2013-04-27 00:00:00
Year_Week                 2013_17
Name: 480, dtype: object
INSP_DATE2    2013-04-26 00:00:00
c             2013-04-21 00:00:00
d             2013-04-27 00:00:00
Year_Week                 2013_17
Name: 481, dtype: object
INSP_DATE2    2013-04-27 00:00:00
c             2013-04-21 00:00:00
d             2013-04-27 00:00:00
Year_Week                 2013_17
Name: 482, dtype: object
INSP_DATE2    2013-04-28 00:00:00
c             2013-04-28 00:00:00
d             2013-05-04 00:00:00
Year_Week                 2013_18
Name: 483, dtype: object

Name: 794, dtype: object
INSP_DATE2    2014-03-06 00:00:00
c             2014-03-02 00:00:00
d             2014-03-08 00:00:00
Year_Week                 2014_10
Name: 795, dtype: object
INSP_DATE2    2014-03-07 00:00:00
c             2014-03-02 00:00:00
d             2014-03-08 00:00:00
Year_Week                 2014_10
Name: 796, dtype: object
INSP_DATE2    2014-03-08 00:00:00
c             2014-03-02 00:00:00
d             2014-03-08 00:00:00
Year_Week                 2014_10
Name: 797, dtype: object
INSP_DATE2    2014-03-09 00:00:00
c             2014-03-09 00:00:00
d             2014-03-15 00:00:00
Year_Week                 2014_11
Name: 798, dtype: object
INSP_DATE2    2014-03-10 00:00:00
c             2014-03-09 00:00:00
d             2014-03-15 00:00:00
Year_Week                 2014_11
Name: 799, dtype: object
INSP_DATE2    2014-03-11 00:00:00
c             2014-03-09 00:00:00
d             2014-03-15 00:00:00
Year_Week                 2014_11
Name: 800, dtype: object
INSP_DATE2    2014-03-12 00:00:00
c             2014-03-09 00:00:00
d             2014-03-15 00:00:00
Year_Week                 2014_11
Name: 801, dtype: object
INSP_DATE2    2014-03-13 00:00:00
c             2014-03-09 00:00:00
d             2014-03-15 00:00:00
Year_Week                 2014_11
Name: 802, dtype: object
INSP_DATE2    2014-03-14 00:00:00
c             2014-03-09 00:00:00
d             2014-03-15 00:00:00
Year_Week                 2014_11
Name: 803, dtype: object
INSP_DATE2    2014-03-15 00:00:00
c             2014-03-09 00:00:00
d             2014-03-15 00:00:00
Year_Week                 2014_11
Name: 804, dtype: object
INSP_DATE2    2014-03-16 00:00:00
c             2014-03-16 00:00:00
d             2014-03-22 00:00:00
Year_Week                 2014_12
Name: 805, dtype: object
INSP_DATE2    2014-03-17 00:00:00
c             2014-03-16 00:00:00
d             2014-03-22 00:00:00
Year_Week                 2014_12
Name: 806, dtype: object
INSP_DATE2    2014-03-18 00:00:00
c             2014-03-16 00:00:00
d             2014-03-22 00:00:00
Year_Week                 2014_12
Name: 807, dtype: object
INSP_DATE2    2014-03-19 00:00:00
c             2014-03-16 00:00:00
d             2014-03-22 00:00:00
Year_Week                 2014_12
Name: 808, dtype: object
INSP_DATE2    2014-03-20 00:00:00
c             2014-03-16 00:00:00
d             2014-03-22 00:00:00
Year_Week                 2014_12
Name: 809, dtype: object
INSP_DATE2    2014-03-21 00:00:00
c             2014-03-16 00:00:00
d             2014-03-22 00:00:00
Year_Week                 2014_12
Name: 810, dtype: object
INSP_DATE2    2014-03-22 00:00:00
c             2014-03-16 00:00:00
d             2014-03-22 00:00:00
Year_Week                 2014_12
Name: 811, dtype: object
INSP_DATE2    2014-03-23 00:00:00
c             2014-03-23 00:00:00
d             2014-03-29 00:00:00
Year_Week                 2014_13
Name: 812, dtype: object
INSP_DATE2    2014-03-24 00:00:00
c             2014-03-23 00:00:00
d             2014-03-29 00:00:00
Year_Week                 2014_13
Name: 813, dtype: object
INSP_DATE2    2014-03-25 00:00:00
c             2014-03-23 00:00:00
d             2014-03-29 00:00:00
Year_Week                 2014_13
Name: 814, dtype: object
INSP_DATE2    2014-03-26 00:00:00
c             2014-03-23 00:00:00
d             2014-03-29 00:00:00
Year_Week                 2014_13
Name: 815, dtype: object
INSP_DATE2    2014-03-27 00:00:00
c             2014-03-23 00:00:00
d             2014-03-29 00:00:00
Year_Week                 2014_13
Name: 816, dtype: object
INSP_DATE2    2014-03-28 00:00:00
c             2014-03-23 00:00:00
d             2014-03-29 00:00:00
Year_Week                 2014_13
Name: 817, dtype: object
INSP_DATE2    2014-03-29 00:00:00
c             2014-03-23 00:00:00
d             2014-03-29 00:00:00
Year_Week                 2014_13
Name: 818, dtype: object
INSP_DATE2    2014-03-30 00:00:00
c             2014-03-30 00:00:00
d             2014-04-05 00:00:00
Year_Week                 2014_14
Name: 819, dtype: object
INSP_DATE2    2014-03-31 00:00:00
c             2014-03-30 00:00:00
d             2014-04-05 00:00:00
Year_Week                 2014_14
Name: 820, dtype: object
INSP_DATE2    2014-04-01 00:00:00
c             2014-03-30 00:00:00
d             2014-04-05 00:00:00
Year_Week                 2014_14
Name: 821, dtype: object
INSP_DATE2    2014-04-02 00:00:00
c             2014-03-30 00:00:00
d             2014-04-05 00:00:00
Year_Week                 2014_14
Name: 822, dtype: object
INSP_DATE2    2014-04-03 00:00:00
c             2014-03-30 00:00:00
d             2014-04-05 00:00:00
Year_Week                 2014_14
Name: 823, dtype: object
INSP_DATE2    2014-04-04 00:00:00
c             2014-03-30 00:00:00
d             2014-04-05 00:00:00
Year_Week                 2014_14
Name: 824, dtype: object
INSP_DATE2    2014-04-05 00:00:00
c             2014-03-30 00:00:00
d             2014-04-05 00:00:00
Year_Week                 2014_14
Name: 825, dtype: object
INSP_DATE2    2014-04-06 00:00:00
c             2014-04-06 00:00:00
d             2014-04-12 00:00:00
Year_Week                 2014_15
Name: 826, dtype: object
INSP_DATE2    2014-04-07 00:00:00
c             2014-04-06 00:00:00
d             2014-04-12 00:00:00
Year_Week                 2014_15
Name: 827, dtype: object
INSP_DATE2    2014-04-08 00:00:00
c             2014-04-06 00:00:00
d             2014-04-12 00:00:00
Year_Week                 2014_15
Name: 828, dtype: object
INSP_DATE2    2014-04-09 00:00:00
c             2014-04-06 00:00:00
d             2014-04-12 00:00:00
Year_Week                 2014_15
Name: 829, dtype: object
INSP_DATE2    2014-04-10 00:00:00
c             2014-04-06 00:00:00
d             2014-04-12 00:00:00
Year_Week                 2014_15
Name: 830, dtype: object
INSP_DATE2    2014-04-11 00:00:00
c             2014-04-06 00:00:00
d             2014-04-12 00:00:00
Year_Week                 2014_15
Name: 831, dtype: object
INSP_DATE2    2014-04-12 00:00:00
c             2014-04-06 00:00:00
d             2014-04-12 00:00:00
Year_Week                 2014_15
Name: 832, dtype: object
INSP_DATE2    2014-04-13 00:00:00
c             2014-04-13 00:00:00
d             2014-04-19 00:00:00
Year_Week                 2014_16
Name: 833, dtype: object
INSP_DATE2    2014-04-14 00:00:00
c             2014-04-13 00:00:00
d             2014-04-19 00:00:00
Year_Week                 2014_16
Name: 834, dtype: object
INSP_DATE2    2014-04-15 00:00:00
c             2014-04-13 00:00:00
d             2014-04-19 00:00:00
Year_Week                 2014_16
Name: 835, dtype: object
INSP_DATE2    2014-04-16 00:00:00
c             2014-04-13 00:00:00
d             2014-04-19 00:00:00
Year_Week                 2014_16
Name: 836, dtype: object
INSP_DATE2    2014-04-17 00:00:00
c             2014-04-13 00:00:00
d             2014-04-19 00:00:00
Year_Week                 2014_16
Name: 837, dtype: object
INSP_DATE2    2014-04-18 00:00:00
c             2014-04-13 00:00:00
d             2014-04-19 00:00:00
Year_Week                 2014_16
Name: 838, dtype: object
INSP_DATE2    2014-04-19 00:00:00
c             2014-04-13 00:00:00
d             2014-04-19 00:00:00
Year_Week                 2014_16
Name: 839, dtype: object
INSP_DATE2    2014-04-20 00:00:00
c             2014-04-20 00:00:00
d             2014-04-26 00:00:00
Year_Week                 2014_17
Name: 840, dtype: object
INSP_DATE2    2014-04-21 00:00:00
c             2014-04-20 00:00:00
d             2014-04-26 00:00:00
Year_Week                 2014_17
Name: 841, dtype: object
INSP_DATE2    2014-04-22 00:00:00
c             2014-04-20 00:00:00
d             2014-04-26 00:00:00
Year_Week                 2014_17
Name: 842, dtype: object
INSP_DATE2    2014-04-23 00:00:00
c             2014-04-20 00:00:00
d             2014-04-26 00:00:00
Year_Week                 2014_17
Name: 843, dtype: object
INSP_DATE2    2014-04-24 00:00:00
c             2014-04-20 00:00:00
d             2014-04-26 00:00:00
Year_Week                 2014_17
Name: 844, dtype: object
INSP_DATE2    2014-04-25 00:00:00
c             2014-04-20 00:00:00
d             2014-04-26 00:00:00
Year_Week                 2014_17
Name: 845, dtype: object
INSP_DATE2    2014-04-26 00:00:00
c             2014-04-20 00:00:00
d             2014-04-26 00:00:00
Year_Week                 2014_17
Name: 846, dtype: object
INSP_DATE2    2014-04-27 00:00:00
c             2014-04-27 00:00:00
d             2014-05-03 00:00:00
Year_Week                 2014_18
Name: 847, dtype: object
INSP_DATE2    2014-04-28 00:00:00
c             2014-04-27 00:00:00
d             2014-05-03 00:00:00
Year_Week                 2014_18
Name: 848, dtype: object
INSP_DATE2    2014-04-29 00:00:00
c             2014-04-27 00:00:00
d             2014-05-03 00:00:00
Year_Week                 2014_18
Name: 849, dtype: object
INSP_DATE2    2014-04-30 00:00:00
c             2014-04-27 00:00:00
d             2014-05-03 00:00:00
Year_Week                 2014_18
Name: 850, dtype: object
INSP_DATE2    2014-05-01 00:00:00
c             2014-04-27 00:00:00
d             2014-05-03 00:00:00
Year_Week                 2014_18
Name: 851, dtype: object
INSP_DATE2    2014-05-02 00:00:00
c             2014-04-27 00:00:00
d             2014-05-03 00:00:00
Year_Week                 2014_18
Name: 852, dtype: object
INSP_DATE2    2014-05-03 00:00:00
c             2014-04-27 00:00:00
d             2014-05-03 00:00:00
Year_Week                 2014_18
Name: 853, dtype: object
INSP_DATE2    2014-05-04 00:00:00
c             2014-05-04 00:00:00
d             2014-05-10 00:00:00
Year_Week                 2014_19
Name: 854, dtype: object
INSP_DATE2    2014-05-05 00:00:00
c             2014-05-04 00:00:00
d             2014-05-10 00:00:00
Year_Week                 2014_19
Name: 855, dtype: object
INSP_DATE2    2014-05-06 00:00:00
c             2014-05-04 00:00:00
d             2014-05-10 00:00:00
Year_Week                 2014_19
Name: 856, dtype: object
INSP_DATE2    2014-05-07 00:00:00
c             2014-05-04 00:00:00
d             2014-05-10 00:00:00
Year_Week                 2014_19
Name: 857, dtype: object
INSP_DATE2    2014-05-08 00:00:00
c             2014-05-04 00:00:00
d             2014-05-10 00:00:00
Year_Week                 2014_19
Name: 858, dtype: object
INSP_DATE2    2014-05-09 00:00:00
c             2014-05-04 00:00:00
d             2014-05-10 00:00:00
Year_Week                 2014_19
Name: 859, dtype: object
INSP_DATE2    2014-05-10 00:00:00
c             2014-05-04 00:00:00
d             2014-05-10 00:00:00
Year_Week                 2014_19
Name: 860, dtype: object
INSP_DATE2    2014-05-11 00:00:00
c             2014-05-11 00:00:00
d             2014-05-17 00:00:00
Year_Week                 2014_20
Name: 861, dtype: object
INSP_DATE2    2014-05-12 00:00:00
c             2014-05-11 00:00:00
d             2014-05-17 00:00:00
Year_Week                 2014_20
Name: 862, dtype: object
INSP_DATE2    2014-05-13 00:00:00
c             2014-05-11 00:00:00
d             2014-05-17 00:00:00
Year_Week                 2014_20
Name: 863, dtype: object
INSP_DATE2    2014-05-14 00:00:00
c             2014-05-11 00:00:00
d             2014-05-17 00:00:00
Year_Week                 2014_20
Name: 864, dtype: object
INSP_DATE2    2014-05-15 00:00:00
c             2014-05-11 00:00:00
d             2014-05-17 00:00:00
Year_Week                 2014_20
Name: 865, dtype: object
INSP_DATE2    2014-05-16 00:00:00
c             2014-05-11 00:00:00
d             2014-05-17 00:00:00
Year_Week                 2014_20
Name: 866, dtype: object
INSP_DATE2    2014-05-17 00:00:00
c             2014-05-11 00:00:00
d             2014-05-17 00:00:00
Year_Week                 2014_20
Name: 867, dtype: object
INSP_DATE2    2014-05-18 00:00:00
c             2014-05-18 00:00:00
d             2014-05-24 00:00:00
Year_Week                 2014_21
Name: 868, dtype: object
INSP_DATE2    2014-05-19 00:00:00
c             2014-05-18 00:00:00
d             2014-05-24 00:00:00
Year_Week                 2014_21
Name: 869, dtype: object
INSP_DATE2    2014-05-20 00:00:00
c             2014-05-18 00:00:00
d             2014-05-24 00:00:00
Year_Week                 2014_21
Name: 870, dtype: object
INSP_DATE2    2014-05-21 00:00:00
c             2014-05-18 00:00:00
d             2014-05-24 00:00:00
Year_Week                 2014_21
Name: 871, dtype: object
INSP_DATE2    2014-05-22 00:00:00
c             2014-05-18 00:00:00
d             2014-05-24 00:00:00
Year_Week                 2014_21
Name: 872, dtype: object
INSP_DATE2    2014-05-23 00:00:00
c             2014-05-18 00:00:00
d             2014-05-24 00:00:00
Year_Week                 2014_21
Name: 873, dtype: object
INSP_DATE2    2014-05-24 00:00:00
c             2014-05-18 00:00:00
d             2014-05-24 00:00:00
Year_Week                 2014_21
Name: 874, dtype: object
INSP_DATE2    2014-05-25 00:00:00
c             2014-05-25 00:00:00
d             2014-05-31 00:00:00
Year_Week                 2014_22
Name: 875, dtype: object
INSP_DATE2    2014-05-26 00:00:00
c             2014-05-25 00:00:00
d             2014-05-31 00:00:00
Year_Week                 2014_22
Name: 876, dtype: object
INSP_DATE2    2014-05-27 00:00:00
c             2014-05-25 00:00:00
d             2014-05-31 00:00:00
Year_Week                 2014_22
Name: 877, dtype: object
INSP_DATE2    2014-05-28 00:00:00
c             2014-05-25 00:00:00
d             2014-05-31 00:00:00
Year_Week                 2014_22
Name: 878, dtype: object
INSP_DATE2    2014-05-29 00:00:00
c             2014-05-25 00:00:00
d             2014-05-31 00:00:00
Year_Week                 2014_22
Name: 879, dtype: object
INSP_DATE2    2014-05-30 00:00:00
c             2014-05-25 00:00:00
d             2014-05-31 00:00:00
Year_Week                 2014_22
Name: 880, dtype: object
INSP_DATE2    2014-05-31 00:00:00
c             2014-05-25 00:00:00
d             2014-05-31 00:00:00
Year_Week                 2014_22
Name: 881, dtype: object
INSP_DATE2    2014-06-01 00:00:00
c             2014-06-01 00:00:00
d             2014-06-07 00:00:00
Year_Week                 2014_23
Name: 882, dtype: object
INSP_DATE2    2014-06-02 00:00:00
c             2014-06-01 00:00:00
d             2014-06-07 00:00:00
Year_Week                 2014_23
Name: 883, dtype: object
INSP_DATE2    2014-06-03 00:00:00
c             2014-06-01 00:00:00
d             2014-06-07 00:00:00
Year_Week                 2014_23
Name: 884, dtype: object
INSP_DATE2    2014-06-04 00:00:00
c             2014-06-01 00:00:00
d             2014-06-07 00:00:00
Year_Week                 2014_23
Name: 885, dtype: object
INSP_DATE2    2014-06-05 00:00:00
c             2014-06-01 00:00:00
d             2014-06-07 00:00:00
Year_Week                 2014_23
Name: 886, dtype: object
INSP_DATE2    2014-06-06 00:00:00
c             2014-06-01 00:00:00
d             2014-06-07 00:00:00
Year_Week                 2014_23
Name: 887, dtype: object
INSP_DATE2    2014-06-07 00:00:00
c             2014-06-01 00:00:00
d             2014-06-07 00:00:00
Year_Week                 2014_23
Name: 888, dtype: object
INSP_DATE2    2014-06-08 00:00:00
c             2014-06-08 00:00:00
d             2014-06-14 00:00:00
Year_Week                 2014_24
Name: 889, dtype: object
INSP_DATE2    2014-06-09 00:00:00
c             2014-06-08 00:00:00
d             2014-06-14 00:00:00
Year_Week                 2014_24
Name: 890, dtype: object
INSP_DATE2    2014-06-10 00:00:00
c             2014-06-08 00:00:00
d             2014-06-14 00:00:00
Year_Week                 2014_24
Name: 891, dtype: object
INSP_DATE2    2014-06-11 00:00:00
c             2014-06-08 00:00:00
d             2014-06-14 00:00:00
Year_Week                 2014_24
Name: 892, dtype: object
INSP_DATE2    2014-06-12 00:00:00
c             2014-06-08 00:00:00
d             2014-06-14 00:00:00
Year_Week                 2014_24
Name: 893, dtype: object
INSP_DATE2    2014-06-13 00:00:00
c             2014-06-08 00:00:00
d             2014-06-14 00:00:00
Year_Week                 2014_24
Name: 894, dtype: object
INSP_DATE2    2014-06-14 00:00:00
c             2014-06-08 00:00:00
d             2014-06-14 00:00:00
Year_Week                 2014_24
Name: 895, dtype: object
INSP_DATE2    2014-06-15 00:00:00
c             2014-06-15 00:00:00
d             2014-06-21 00:00:00
Year_Week                 2014_25
Name: 896, dtype: object
INSP_DATE2    2014-06-16 00:00:00
c             2014-06-15 00:00:00
d             2014-06-21 00:00:00
Year_Week                 2014_25
Name: 897, dtype: object
INSP_DATE2    2014-06-17 00:00:00
c             2014-06-15 00:00:00
d             2014-06-21 00:00:00
Year_Week                 2014_25
Name: 898, dtype: object
INSP_DATE2    2014-06-18 00:00:00
c             2014-06-15 00:00:00
d             2014-06-21 00:00:00
Year_Week                 2014_25
Name: 899, dtype: object
INSP_DATE2    2014-06-19 00:00:00
c             2014-06-15 00:00:00
d             2014-06-21 00:00:00
Year_Week                 2014_25
Name: 900, dtype: object
INSP_DATE2    2014-06-20 00:00:00
c             2014-06-15 00:00:00
d             2014-06-21 00:00:00
Year_Week                 2014_25
Name: 901, dtype: object
INSP_DATE2    2014-06-21 00:00:00
c             2014-06-15 00:00:00
d             2014-06-21 00:00:00
Year_Week                 2014_25
Name: 902, dtype: object
INSP_DATE2    2014-06-22 00:00:00
c             2014-06-22 00:00:00
d             2014-06-28 00:00:00
Year_Week                 2014_26
Name: 903, dtype: object
INSP_DATE2    2014-06-23 00:00:00
c             2014-06-22 00:00:00
d             2014-06-28 00:00:00
Year_Week                 2014_26
Name: 904, dtype: object
INSP_DATE2    2014-06-24 00:00:00
c             2014-06-22 00:00:00
d             2014-06-28 00:00:00
Year_Week                 2014_26
Name: 905, dtype: object
INSP_DATE2    2014-06-25 00:00:00
c             2014-06-22 00:00:00
d             2014-06-28 00:00:00
Year_Week                 2014_26
Name: 906, dtype: object
INSP_DATE2    2014-06-26 00:00:00
c             2014-06-22 00:00:00
d             2014-06-28 00:00:00
Year_Week                 2014_26
Name: 907, dtype: object
INSP_DATE2    2014-06-27 00:00:00
c             2014-06-22 00:00:00
d             2014-06-28 00:00:00
Year_Week                 2014_26
Name: 908, dtype: object
INSP_DATE2    2014-06-28 00:00:00
c             2014-06-22 00:00:00
d             2014-06-28 00:00:00
Year_Week                 2014_26
Name: 909, dtype: object
INSP_DATE2    2014-06-29 00:00:00
c             2014-06-29 00:00:00
d             2014-07-05 00:00:00
Year_Week                 2014_27
Name: 910, dtype: object
INSP_DATE2    2014-06-30 00:00:00
c             2014-06-29 00:00:00
d             2014-07-05 00:00:00
Year_Week                 2014_27
Name: 911, dtype: object
INSP_DATE2    2014-07-01 00:00:00
c             2014-06-29 00:00:00
d             2014-07-05 00:00:00
Year_Week                 2014_27
Name: 912, dtype: object
INSP_DATE2    2014-07-02 00:00:00
c             2014-06-29 00:00:00
d             2014-07-05 00:00:00
Year_Week                 2014_27
Name: 913, dtype: object
INSP_DATE2    2014-07-03 00:00:00
c             2014-06-29 00:00:00
d             2014-07-05 00:00:00
Year_Week                 2014_27
Name: 914, dtype: object
INSP_DATE2    2014-07-04 00:00:00
c             2014-06-29 00:00:00
d             2014-07-05 00:00:00
Year_Week                 2014_27
Name: 915, dtype: object
INSP_DATE2    2014-07-05 00:00:00
c             2014-06-29 00:00:00
d             2014-07-05 00:00:00
Year_Week                 2014_27
Name: 916, dtype: object
INSP_DATE2    2014-07-06 00:00:00
c             2014-07-06 00:00:00
d             2014-07-12 00:00:00
Year_Week                 2014_28
Name: 917, dtype: object
INSP_DATE2    2014-07-07 00:00:00
c             2014-07-06 00:00:00
d             2014-07-12 00:00:00
Year_Week                 2014_28
Name: 918, dtype: object

Name: 1210, dtype: object
INSP_DATE2    2015-04-26 00:00:00
c             2015-04-26 00:00:00
d             2015-05-02 00:00:00
Year_Week                 2015_17
Name: 1211, dtype: object
INSP_DATE2    2015-04-27 00:00:00
c             2015-04-26 00:00:00
d             2015-05-02 00:00:00
Year_Week                 2015_17
Name: 1212, dtype: object
INSP_DATE2    2015-04-28 00:00:00
c             2015-04-26 00:00:00
d             2015-05-02 00:00:00
Year_Week                 2015_17
Name: 1213, dtype: object
INSP_DATE2    2015-04-29 00:00:00
c             2015-04-26 00:00:00
d             2015-05-02 00:00:00
Year_Week                 2015_17
Name: 1214, dtype: object
INSP_DATE2    2015-04-30 00:00:00
c             2015-04-26 00:00:00
d             2015-05-02 00:00:00
Year_Week                 2015_17
Name: 1215, dtype: object
INSP_DATE2    2015-05-01 00:00:00
c             2015-04-26 00:00:00
d             2015-05-02 00:00:00
Year_Week                 2015_17
Name: 1216, dtype: object
INSP_DATE2    2015-05-02 00:00:00
c             2015-04-26 00:00:00
d             2015-05-02 00:00:00
Year_Week                 2015_17
Name: 1217, dtype: object
INSP_DATE2    2015-05-03 00:00:00
c             2015-05-03 00:00:00
d             2015-05-09 00:00:00
Year_Week                 2015_18
Name: 1218, dtype: object
INSP_DATE2    2015-05-04 00:00:00
c             2015-05-03 00:00:00
d             2015-05-09 00:00:00
Year_Week                 2015_18
Name: 1219, dtype: object
INSP_DATE2    2015-05-05 00:00:00
c             2015-05-03 00:00:00
d             2015-05-09 00:00:00
Year_Week                 2015_18
Name: 1220, dtype: object
INSP_DATE2    2015-05-06 00:00:00
c             2015-05-03 00:00:00
d             2015-05-09 00:00:00
Year_Week                 2015_18
Name: 1221, dtype: object
INSP_DATE2    2015-05-07 00:00:00
c             2015-05-03 00:00:00
d             2015-05-09 00:00:00
Year_Week                 2015_18
Name: 1222, dtype: object
INSP_DATE2    2015-05-08 00:00:00
c             2015-05-03 00:00:00
d             2015-05-09 00:00:00
Year_Week                 2015_18
Name: 1223, dtype: object
INSP_DATE2    2015-05-09 00:00:00
c             2015-05-03 00:00:00
d             2015-05-09 00:00:00
Year_Week                 2015_18
Name: 1224, dtype: object
INSP_DATE2    2015-05-10 00:00:00
c             2015-05-10 00:00:00
d             2015-05-16 00:00:00
Year_Week                 2015_19
Name: 1225, dtype: object
INSP_DATE2    2015-05-11 00:00:00
c             2015-05-10 00:00:00
d             2015-05-16 00:00:00
Year_Week                 2015_19
Name: 1226, dtype: object
INSP_DATE2    2015-05-12 00:00:00
c             2015-05-10 00:00:00
d             2015-05-16 00:00:00
Year_Week                 2015_19
Name: 1227, dtype: object
INSP_DATE2    2015-05-13 00:00:00
c             2015-05-10 00:00:00
d             2015-05-16 00:00:00
Year_Week                 2015_19
Name: 1228, dtype: object
INSP_DATE2    2015-05-14 00:00:00
c             2015-05-10 00:00:00
d             2015-05-16 00:00:00
Year_Week                 2015_19
Name: 1229, dtype: object
INSP_DATE2    2015-05-15 00:00:00
c             2015-05-10 00:00:00
d             2015-05-16 00:00:00
Year_Week                 2015_19
Name: 1230, dtype: object
INSP_DATE2    2015-05-16 00:00:00
c             2015-05-10 00:00:00
d             2015-05-16 00:00:00
Year_Week                 2015_19
Name: 1231, dtype: object
INSP_DATE2    2015-05-17 00:00:00
c             2015-05-17 00:00:00
d             2015-05-23 00:00:00
Year_Week                 2015_20
Name: 1232, dtype: object
INSP_DATE2    2015-05-18 00:00:00
c             2015-05-17 00:00:00
d             2015-05-23 00:00:00
Year_Week                 2015_20
Name: 1233, dtype: object
INSP_DATE2    2015-05-19 00:00:00
c             2015-05-17 00:00:00
d             2015-05-23 00:00:00
Year_Week                 2015_20
Name: 1234, dtype: object
INSP_DATE2    2015-05-20 00:00:00
c             2015-05-17 00:00:00
d             2015-05-23 00:00:00
Year_Week                 2015_20
Name: 1235, dtype: object
INSP_DATE2    2015-05-21 00:00:00
c             2015-05-17 00:00:00
d             2015-05-23 00:00:00
Year_Week                 2015_20
Name: 1236, dtype: object
INSP_DATE2    2015-05-22 00:00:00
c             2015-05-17 00:00:00
d             2015-05-23 00:00:00
Year_Week                 2015_20
Name: 1237, dtype: object
INSP_DATE2    2015-05-23 00:00:00
c             2015-05-17 00:00:00
d             2015-05-23 00:00:00
Year_Week                 2015_20
Name: 1238, dtype: object
INSP_DATE2    2015-05-24 00:00:00
c             2015-05-24 00:00:00
d             2015-05-30 00:00:00
Year_Week                 2015_21
Name: 1239, dtype: object
INSP_DATE2    2015-05-25 00:00:00
c             2015-05-24 00:00:00
d             2015-05-30 00:00:00
Year_Week                 2015_21
Name: 1240, dtype: object
INSP_DATE2    2015-05-26 00:00:00
c             2015-05-24 00:00:00
d             2015-05-30 00:00:00
Year_Week                 2015_21
Name: 1241, dtype: object
INSP_DATE2    2015-05-27 00:00:00
c             2015-05-24 00:00:00
d             2015-05-30 00:00:00
Year_Week                 2015_21
Name: 1242, dtype: object
INSP_DATE2    2015-05-28 00:00:00
c             2015-05-24 00:00:00
d             2015-05-30 00:00:00
Year_Week                 2015_21
Name: 1243, dtype: object
INSP_DATE2    2015-05-29 00:00:00
c             2015-05-24 00:00:00
d             2015-05-30 00:00:00
Year_Week                 2015_21
Name: 1244, dtype: object
INSP_DATE2    2015-05-30 00:00:00
c             2015-05-24 00:00:00
d             2015-05-30 00:00:00
Year_Week                 2015_21
Name: 1245, dtype: object
INSP_DATE2    2015-05-31 00:00:00
c             2015-05-31 00:00:00
d             2015-06-06 00:00:00
Year_Week                 2015_22
Name: 1246, dtype: object
INSP_DATE2    2015-06-01 00:00:00
c             2015-05-31 00:00:00
d             2015-06-06 00:00:00
Year_Week                 2015_22
Name: 1247, dtype: object
INSP_DATE2    2015-06-02 00:00:00
c             2015-05-31 00:00:00
d             2015-06-06 00:00:00
Year_Week                 2015_22
Name: 1248, dtype: object
INSP_DATE2    2015-06-03 00:00:00
c             2015-05-31 00:00:00
d             2015-06-06 00:00:00
Year_Week                 2015_22
Name: 1249, dtype: object
INSP_DATE2    2015-06-04 00:00:00
c             2015-05-31 00:00:00
d             2015-06-06 00:00:00
Year_Week                 2015_22
Name: 1250, dtype: object
INSP_DATE2    2015-06-05 00:00:00
c             2015-05-31 00:00:00
d             2015-06-06 00:00:00
Year_Week                 2015_22
Name: 1251, dtype: object
INSP_DATE2    2015-06-06 00:00:00
c             2015-05-31 00:00:00
d             2015-06-06 00:00:00
Year_Week                 2015_22
Name: 1252, dtype: object
INSP_DATE2    2015-06-07 00:00:00
c             2015-06-07 00:00:00
d             2015-06-13 00:00:00
Year_Week                 2015_23
Name: 1253, dtype: object
INSP_DATE2    2015-06-08 00:00:00
c             2015-06-07 00:00:00
d             2015-06-13 00:00:00
Year_Week                 2015_23
Name: 1254, dtype: object
INSP_DATE2    2015-06-09 00:00:00
c             2015-06-07 00:00:00
d             2015-06-13 00:00:00
Year_Week                 2015_23
Name: 1255, dtype: object
INSP_DATE2    2015-06-10 00:00:00
c             2015-06-07 00:00:00
d             2015-06-13 00:00:00
Year_Week                 2015_23
Name: 1256, dtype: object
INSP_DATE2    2015-06-11 00:00:00
c             2015-06-07 00:00:00
d             2015-06-13 00:00:00
Year_Week                 2015_23
Name: 1257, dtype: object
INSP_DATE2    2015-06-12 00:00:00
c             2015-06-07 00:00:00
d             2015-06-13 00:00:00
Year_Week                 2015_23
Name: 1258, dtype: object
INSP_DATE2    2015-06-13 00:00:00
c             2015-06-07 00:00:00
d             2015-06-13 00:00:00
Year_Week                 2015_23
Name: 1259, dtype: object
INSP_DATE2    2015-06-14 00:00:00
c             2015-06-14 00:00:00
d             2015-06-20 00:00:00
Year_Week                 2015_24
Name: 1260, dtype: object
INSP_DATE2    2015-06-15 00:00:00
c             2015-06-14 00:00:00
d             2015-06-20 00:00:00
Year_Week                 2015_24
Name: 1261, dtype: object
INSP_DATE2    2015-06-16 00:00:00
c             2015-06-14 00:00:00
d             2015-06-20 00:00:00
Year_Week                 2015_24
Name: 1262, dtype: object
INSP_DATE2    2015-06-17 00:00:00
c             2015-06-14 00:00:00
d             2015-06-20 00:00:00
Year_Week                 2015_24
Name: 1263, dtype: object
INSP_DATE2    2015-06-18 00:00:00
c             2015-06-14 00:00:00
d             2015-06-20 00:00:00
Year_Week                 2015_24
Name: 1264, dtype: object
INSP_DATE2    2015-06-19 00:00:00
c             2015-06-14 00:00:00
d             2015-06-20 00:00:00
Year_Week                 2015_24
Name: 1265, dtype: object
INSP_DATE2    2015-06-20 00:00:00
c             2015-06-14 00:00:00
d             2015-06-20 00:00:00
Year_Week                 2015_24
Name: 1266, dtype: object
INSP_DATE2    2015-06-21 00:00:00
c             2015-06-21 00:00:00
d             2015-06-27 00:00:00
Year_Week                 2015_25
Name: 1267, dtype: object
INSP_DATE2    2015-06-22 00:00:00
c             2015-06-21 00:00:00
d             2015-06-27 00:00:00
Year_Week                 2015_25
Name: 1268, dtype: object
INSP_DATE2    2015-06-23 00:00:00
c             2015-06-21 00:00:00
d             2015-06-27 00:00:00
Year_Week                 2015_25
Name: 1269, dtype: object
INSP_DATE2    2015-06-24 00:00:00
c             2015-06-21 00:00:00
d             2015-06-27 00:00:00
Year_Week                 2015_25
Name: 1270, dtype: object
INSP_DATE2    2015-06-25 00:00:00
c             2015-06-21 00:00:00
d             2015-06-27 00:00:00
Year_Week                 2015_25
Name: 1271, dtype: object
INSP_DATE2    2015-06-26 00:00:00
c             2015-06-21 00:00:00
d             2015-06-27 00:00:00
Year_Week                 2015_25
Name: 1272, dtype: object
INSP_DATE2    2015-06-27 00:00:00
c             2015-06-21 00:00:00
d             2015-06-27 00:00:00
Year_Week                 2015_25
Name: 1273, dtype: object
INSP_DATE2    2015-06-28 00:00:00
c             2015-06-28 00:00:00
d             2015-07-04 00:00:00
Year_Week                 2015_26
Name: 1274, dtype: object
INSP_DATE2    2015-06-29 00:00:00
c             2015-06-28 00:00:00
d             2015-07-04 00:00:00
Year_Week                 2015_26
Name: 1275, dtype: object
INSP_DATE2    2015-06-30 00:00:00
c             2015-06-28 00:00:00
d             2015-07-04 00:00:00
Year_Week                 2015_26
Name: 1276, dtype: object
INSP_DATE2    2015-07-01 00:00:00
c             2015-06-28 00:00:00
d             2015-07-04 00:00:00
Year_Week                 2015_26
Name: 1277, dtype: object
INSP_DATE2    2015-07-02 00:00:00
c             2015-06-28 00:00:00
d             2015-07-04 00:00:00
Year_Week                 2015_26
Name: 1278, dtype: object
INSP_DATE2    2015-07-03 00:00:00
c             2015-06-28 00:00:00
d             2015-07-04 00:00:00
Year_Week                 2015_26
Name: 1279, dtype: object
INSP_DATE2    2015-07-04 00:00:00
c             2015-06-28 00:00:00
d             2015-07-04 00:00:00
Year_Week                 2015_26
Name: 1280, dtype: object
INSP_DATE2    2015-07-05 00:00:00
c             2015-07-05 00:00:00
d             2015-07-11 00:00:00
Year_Week                 2015_27
Name: 1281, dtype: object
INSP_DATE2    2015-07-06 00:00:00
c             2015-07-05 00:00:00
d             2015-07-11 00:00:00
Year_Week                 2015_27
Name: 1282, dtype: object
INSP_DATE2    2015-07-07 00:00:00
c             2015-07-05 00:00:00
d             2015-07-11 00:00:00
Year_Week                 2015_27
Name: 1283, dtype: object
INSP_DATE2    2015-07-08 00:00:00
c             2015-07-05 00:00:00
d             2015-07-11 00:00:00
Year_Week                 2015_27
Name: 1284, dtype: object
INSP_DATE2    2015-07-09 00:00:00
c             2015-07-05 00:00:00
d             2015-07-11 00:00:00
Year_Week                 2015_27
Name: 1285, dtype: object
INSP_DATE2    2015-07-10 00:00:00
c             2015-07-05 00:00:00
d             2015-07-11 00:00:00
Year_Week                 2015_27
Name: 1286, dtype: object
INSP_DATE2    2015-07-11 00:00:00
c             2015-07-05 00:00:00
d             2015-07-11 00:00:00
Year_Week                 2015_27
Name: 1287, dtype: object
INSP_DATE2    2015-07-12 00:00:00
c             2015-07-12 00:00:00
d             2015-07-18 00:00:00
Year_Week                 2015_28
Name: 1288, dtype: object
INSP_DATE2    2015-07-13 00:00:00
c             2015-07-12 00:00:00
d             2015-07-18 00:00:00
Year_Week                 2015_28
Name: 1289, dtype: object
INSP_DATE2    2015-07-14 00:00:00
c             2015-07-12 00:00:00
d             2015-07-18 00:00:00
Year_Week                 2015_28
Name: 1290, dtype: object
INSP_DATE2    2015-07-15 00:00:00
c             2015-07-12 00:00:00
d             2015-07-18 00:00:00
Year_Week                 2015_28
Name: 1291, dtype: object
INSP_DATE2    2015-07-16 00:00:00
c             2015-07-12 00:00:00
d             2015-07-18 00:00:00
Year_Week                 2015_28
Name: 1292, dtype: object
INSP_DATE2    2015-07-17 00:00:00
c             2015-07-12 00:00:00
d             2015-07-18 00:00:00
Year_Week                 2015_28
Name: 1293, dtype: object
INSP_DATE2    2015-07-18 00:00:00
c             2015-07-12 00:00:00
d             2015-07-18 00:00:00
Year_Week                 2015_28
Name: 1294, dtype: object
INSP_DATE2    2015-07-19 00:00:00
c             2015-07-19 00:00:00
d             2015-07-25 00:00:00
Year_Week                 2015_29
Name: 1295, dtype: object
INSP_DATE2    2015-07-20 00:00:00
c             2015-07-19 00:00:00
d             2015-07-25 00:00:00
Year_Week                 2015_29
Name: 1296, dtype: object
INSP_DATE2    2015-07-21 00:00:00
c             2015-07-19 00:00:00
d             2015-07-25 00:00:00
Year_Week                 2015_29
Name: 1297, dtype: object
INSP_DATE2    2015-07-22 00:00:00
c             2015-07-19 00:00:00
d             2015-07-25 00:00:00
Year_Week                 2015_29
Name: 1298, dtype: object
INSP_DATE2    2015-07-23 00:00:00
c             2015-07-19 00:00:00
d             2015-07-25 00:00:00
Year_Week                 2015_29
Name: 1299, dtype: object
INSP_DATE2    2015-07-24 00:00:00
c             2015-07-19 00:00:00
d             2015-07-25 00:00:00
Year_Week                 2015_29
Name: 1300, dtype: object
INSP_DATE2    2015-07-25 00:00:00
c             2015-07-19 00:00:00
d             2015-07-25 00:00:00
Year_Week                 2015_29
Name: 1301, dtype: object
INSP_DATE2    2015-07-26 00:00:00
c             2015-07-26 00:00:00
d             2015-08-01 00:00:00
Year_Week                 2015_30
Name: 1302, dtype: object
INSP_DATE2    2015-07-27 00:00:00
c             2015-07-26 00:00:00
d             2015-08-01 00:00:00
Year_Week                 2015_30
Name: 1303, dtype: object
INSP_DATE2    2015-07-28 00:00:00
c             2015-07-26 00:00:00
d             2015-08-01 00:00:00
Year_Week                 2015_30
Name: 1304, dtype: object
INSP_DATE2    2015-07-29 00:00:00
c             2015-07-26 00:00:00
d             2015-08-01 00:00:00
Year_Week                 2015_30
Name: 1305, dtype: object
INSP_DATE2    2015-07-30 00:00:00
c             2015-07-26 00:00:00
d             2015-08-01 00:00:00
Year_Week                 2015_30
Name: 1306, dtype: object
INSP_DATE2    2015-07-31 00:00:00
c             2015-07-26 00:00:00
d             2015-08-01 00:00:00
Year_Week                 2015_30
Name: 1307, dtype: object
INSP_DATE2    2015-08-01 00:00:00
c             2015-07-26 00:00:00
d             2015-08-01 00:00:00
Year_Week                 2015_30
Name: 1308, dtype: object
INSP_DATE2    2015-08-02 00:00:00
c             2015-08-02 00:00:00
d             2015-08-08 00:00:00
Year_Week                 2015_31
Name: 1309, dtype: object
INSP_DATE2    2015-08-03 00:00:00
c             2015-08-02 00:00:00
d             2015-08-08 00:00:00
Year_Week                 2015_31
Name: 1310, dtype: object
INSP_DATE2    2015-08-04 00:00:00
c             2015-08-02 00:00:00
d             2015-08-08 00:00:00
Year_Week                 2015_31
Name: 1311, dtype: object
INSP_DATE2    2015-08-05 00:00:00
c             2015-08-02 00:00:00
d             2015-08-08 00:00:00
Year_Week                 2015_31
Name: 1312, dtype: object
INSP_DATE2    2015-08-06 00:00:00
c             2015-08-02 00:00:00
d             2015-08-08 00:00:00
Year_Week                 2015_31
Name: 1313, dtype: object
INSP_DATE2    2015-08-07 00:00:00
c             2015-08-02 00:00:00
d             2015-08-08 00:00:00
Year_Week                 2015_31
Name: 1314, dtype: object
INSP_DATE2    2015-08-08 00:00:00
c             2015-08-02 00:00:00
d             2015-08-08 00:00:00
Year_Week                 2015_31
Name: 1315, dtype: object
INSP_DATE2    2015-08-09 00:00:00
c             2015-08-09 00:00:00
d             2015-08-15 00:00:00
Year_Week                 2015_32
Name: 1316, dtype: object
INSP_DATE2    2015-08-10 00:00:00
c             2015-08-09 00:00:00
d             2015-08-15 00:00:00
Year_Week                 2015_32
Name: 1317, dtype: object
INSP_DATE2    2015-08-11 00:00:00
c             2015-08-09 00:00:00
d             2015-08-15 00:00:00
Year_Week                 2015_32
Name: 1318, dtype: object
INSP_DATE2    2015-08-12 00:00:00
c             2015-08-09 00:00:00
d             2015-08-15 00:00:00
Year_Week                 2015_32
Name: 1319, dtype: object
INSP_DATE2    2015-08-13 00:00:00
c             2015-08-09 00:00:00
d             2015-08-15 00:00:00
Year_Week                 2015_32
Name: 1320, dtype: object
INSP_DATE2    2015-08-14 00:00:00
c             2015-08-09 00:00:00
d             2015-08-15 00:00:00
Year_Week                 2015_32
Name: 1321, dtype: object
INSP_DATE2    2015-08-15 00:00:00
c             2015-08-09 00:00:00
d             2015-08-15 00:00:00
Year_Week                 2015_32
Name: 1322, dtype: object
INSP_DATE2    2015-08-16 00:00:00
c             2015-08-16 00:00:00
d             2015-08-22 00:00:00
Year_Week                 2015_33
Name: 1323, dtype: object
INSP_DATE2    2015-08-17 00:00:00
c             2015-08-16 00:00:00
d             2015-08-22 00:00:00
Year_Week                 2015_33
Name: 1324, dtype: object
INSP_DATE2    2015-08-18 00:00:00
c             2015-08-16 00:00:00
d             2015-08-22 00:00:00
Year_Week                 2015_33
Name: 1325, dtype: object
INSP_DATE2    2015-08-19 00:00:00
c             2015-08-16 00:00:00
d             2015-08-22 00:00:00
Year_Week                 2015_33
Name: 1326, dtype: object
INSP_DATE2    2015-08-20 00:00:00
c             2015-08-16 00:00:00
d             2015-08-22 00:00:00
Year_Week                 2015_33
Name: 1327, dtype: object
INSP_DATE2    2015-08-21 00:00:00
c             2015-08-16 00:00:00
d             2015-08-22 00:00:00
Year_Week                 2015_33
Name: 1328, dtype: object
INSP_DATE2    2015-08-22 00:00:00
c             2015-08-16 00:00:00
d             2015-08-22 00:00:00
Year_Week                 2015_33
Name: 1329, dtype: object
INSP_DATE2    2015-08-23 00:00:00
c             2015-08-23 00:00:00
d             2015-08-29 00:00:00
Year_Week                 2015_34
Name: 1330, dtype: object
INSP_DATE2    2015-08-24 00:00:00
c             2015-08-23 00:00:00
d             2015-08-29 00:00:00
Year_Week                 2015_34
Name: 1331, dtype: object
INSP_DATE2    2015-08-25 00:00:00
c             2015-08-23 00:00:00
d             2015-08-29 00:00:00
Year_Week                 2015_34
Name: 1332, dtype: object
INSP_DATE2    2015-08-26 00:00:00
c             2015-08-23 00:00:00
d             2015-08-29 00:00:00
Year_Week                 2015_34
Name: 1333, dtype: object
INSP_DATE2    2015-08-27 00:00:00

Name: 1560, dtype: object
INSP_DATE2    2016-04-10 00:00:00
c             2016-04-10 00:00:00
d             2016-04-16 00:00:00
Year_Week                 2016_15
Name: 1561, dtype: object
INSP_DATE2    2016-04-11 00:00:00
c             2016-04-10 00:00:00
d             2016-04-16 00:00:00
Year_Week                 2016_15
Name: 1562, dtype: object
INSP_DATE2    2016-04-12 00:00:00
c             2016-04-10 00:00:00
d             2016-04-16 00:00:00
Year_Week                 2016_15
Name: 1563, dtype: object
INSP_DATE2    2016-04-13 00:00:00
c             2016-04-10 00:00:00
d             2016-04-16 00:00:00
Year_Week                 2016_15
Name: 1564, dtype: object
INSP_DATE2    2016-04-14 00:00:00
c             2016-04-10 00:00:00
d             2016-04-16 00:00:00
Year_Week                 2016_15
Name: 1565, dtype: object
INSP_DATE2    2016-04-15 00:00:00
c             2016-04-10 00:00:00
d             2016-04-16 00:00:00
Year_Week                 2016_15
Name: 1566, dtype: object
INSP_DATE2    2016-04-16 00:00:00
c             2016-04-10 00:00:00
d             2016-04-16 00:00:00
Year_Week                 2016_15
Name: 1567, dtype: object
INSP_DATE2    2016-04-17 00:00:00
c             2016-04-17 00:00:00
d             2016-04-23 00:00:00
Year_Week                 2016_16
Name: 1568, dtype: object
INSP_DATE2    2016-04-18 00:00:00
c             2016-04-17 00:00:00
d             2016-04-23 00:00:00
Year_Week                 2016_16
Name: 1569, dtype: object
INSP_DATE2    2016-04-19 00:00:00
c             2016-04-17 00:00:00
d             2016-04-23 00:00:00
Year_Week                 2016_16
Name: 1570, dtype: object
INSP_DATE2    2016-04-20 00:00:00
c             2016-04-17 00:00:00
d             2016-04-23 00:00:00
Year_Week                 2016_16
Name: 1571, dtype: object
INSP_DATE2    2016-04-21 00:00:00
c             2016-04-17 00:00:00
d             2016-04-23 00:00:00
Year_Week                 2016_16
Name: 1572, dtype: object
INSP_DATE2    2016-04-22 00:00:00
c             2016-04-17 00:00:00
d             2016-04-23 00:00:00
Year_Week                 2016_16
Name: 1573, dtype: object
INSP_DATE2    2016-04-23 00:00:00
c             2016-04-17 00:00:00
d             2016-04-23 00:00:00
Year_Week                 2016_16
Name: 1574, dtype: object
INSP_DATE2    2016-04-24 00:00:00
c             2016-04-24 00:00:00
d             2016-04-30 00:00:00
Year_Week                 2016_17
Name: 1575, dtype: object
INSP_DATE2    2016-04-25 00:00:00
c             2016-04-24 00:00:00
d             2016-04-30 00:00:00
Year_Week                 2016_17
Name: 1576, dtype: object
INSP_DATE2    2016-04-26 00:00:00
c             2016-04-24 00:00:00
d             2016-04-30 00:00:00
Year_Week                 2016_17
Name: 1577, dtype: object
INSP_DATE2    2016-04-27 00:00:00
c             2016-04-24 00:00:00
d             2016-04-30 00:00:00
Year_Week                 2016_17
Name: 1578, dtype: object
INSP_DATE2    2016-04-28 00:00:00
c             2016-04-24 00:00:00
d             2016-04-30 00:00:00
Year_Week                 2016_17
Name: 1579, dtype: object
INSP_DATE2    2016-04-29 00:00:00
c             2016-04-24 00:00:00
d             2016-04-30 00:00:00
Year_Week                 2016_17
Name: 1580, dtype: object
INSP_DATE2    2016-04-30 00:00:00
c             2016-04-24 00:00:00
d             2016-04-30 00:00:00
Year_Week                 2016_17
Name: 1581, dtype: object
INSP_DATE2    2016-05-01 00:00:00
c             2016-05-01 00:00:00
d             2016-05-07 00:00:00
Year_Week                 2016_18
Name: 1582, dtype: object
INSP_DATE2    2016-05-02 00:00:00
c             2016-05-01 00:00:00
d             2016-05-07 00:00:00
Year_Week                 2016_18
Name: 1583, dtype: object
INSP_DATE2    2016-05-03 00:00:00
c             2016-05-01 00:00:00
d             2016-05-07 00:00:00
Year_Week                 2016_18
Name: 1584, dtype: object
INSP_DATE2    2016-05-04 00:00:00
c             2016-05-01 00:00:00
d             2016-05-07 00:00:00
Year_Week                 2016_18
Name: 1585, dtype: object
INSP_DATE2    2016-05-05 00:00:00
c             2016-05-01 00:00:00
d             2016-05-07 00:00:00
Year_Week                 2016_18
Name: 1586, dtype: object
INSP_DATE2    2016-05-06 00:00:00
c             2016-05-01 00:00:00
d             2016-05-07 00:00:00
Year_Week                 2016_18
Name: 1587, dtype: object
INSP_DATE2    2016-05-07 00:00:00
c             2016-05-01 00:00:00
d             2016-05-07 00:00:00
Year_Week                 2016_18
Name: 1588, dtype: object
INSP_DATE2    2016-05-08 00:00:00
c             2016-05-08 00:00:00
d             2016-05-14 00:00:00
Year_Week                 2016_19
Name: 1589, dtype: object
INSP_DATE2    2016-05-09 00:00:00
c             2016-05-08 00:00:00
d             2016-05-14 00:00:00
Year_Week                 2016_19
Name: 1590, dtype: object
INSP_DATE2    2016-05-10 00:00:00
c             2016-05-08 00:00:00
d             2016-05-14 00:00:00
Year_Week                 2016_19
Name: 1591, dtype: object
INSP_DATE2    2016-05-11 00:00:00
c             2016-05-08 00:00:00
d             2016-05-14 00:00:00
Year_Week                 2016_19
Name: 1592, dtype: object
INSP_DATE2    2016-05-12 00:00:00
c             2016-05-08 00:00:00
d             2016-05-14 00:00:00
Year_Week                 2016_19
Name: 1593, dtype: object
INSP_DATE2    2016-05-13 00:00:00
c             2016-05-08 00:00:00
d             2016-05-14 00:00:00
Year_Week                 2016_19
Name: 1594, dtype: object
INSP_DATE2    2016-05-14 00:00:00
c             2016-05-08 00:00:00
d             2016-05-14 00:00:00
Year_Week                 2016_19
Name: 1595, dtype: object
INSP_DATE2    2016-05-15 00:00:00
c             2016-05-15 00:00:00
d             2016-05-21 00:00:00
Year_Week                 2016_20
Name: 1596, dtype: object
INSP_DATE2    2016-05-16 00:00:00
c             2016-05-15 00:00:00
d             2016-05-21 00:00:00
Year_Week                 2016_20
Name: 1597, dtype: object
INSP_DATE2    2016-05-17 00:00:00
c             2016-05-15 00:00:00
d             2016-05-21 00:00:00
Year_Week                 2016_20
Name: 1598, dtype: object
INSP_DATE2    2016-05-18 00:00:00
c             2016-05-15 00:00:00
d             2016-05-21 00:00:00
Year_Week                 2016_20
Name: 1599, dtype: object
INSP_DATE2    2016-05-19 00:00:00
c             2016-05-15 00:00:00
d             2016-05-21 00:00:00
Year_Week                 2016_20
Name: 1600, dtype: object
INSP_DATE2    2016-05-20 00:00:00
c             2016-05-15 00:00:00
d             2016-05-21 00:00:00
Year_Week                 2016_20
Name: 1601, dtype: object
INSP_DATE2    2016-05-21 00:00:00
c             2016-05-15 00:00:00
d             2016-05-21 00:00:00
Year_Week                 2016_20
Name: 1602, dtype: object
INSP_DATE2    2016-05-22 00:00:00
c             2016-05-22 00:00:00
d             2016-05-28 00:00:00
Year_Week                 2016_21
Name: 1603, dtype: object
INSP_DATE2    2016-05-23 00:00:00
c             2016-05-22 00:00:00
d             2016-05-28 00:00:00
Year_Week                 2016_21
Name: 1604, dtype: object
INSP_DATE2    2016-05-24 00:00:00
c             2016-05-22 00:00:00
d             2016-05-28 00:00:00
Year_Week                 2016_21
Name: 1605, dtype: object
INSP_DATE2    2016-05-25 00:00:00
c             2016-05-22 00:00:00
d             2016-05-28 00:00:00
Year_Week                 2016_21
Name: 1606, dtype: object
INSP_DATE2    2016-05-26 00:00:00
c             2016-05-22 00:00:00
d             2016-05-28 00:00:00
Year_Week                 2016_21
Name: 1607, dtype: object
INSP_DATE2    2016-05-27 00:00:00
c             2016-05-22 00:00:00
d             2016-05-28 00:00:00
Year_Week                 2016_21
Name: 1608, dtype: object
INSP_DATE2    2016-05-28 00:00:00
c             2016-05-22 00:00:00
d             2016-05-28 00:00:00
Year_Week                 2016_21
Name: 1609, dtype: object
INSP_DATE2    2016-05-29 00:00:00
c             2016-05-29 00:00:00
d             2016-06-04 00:00:00
Year_Week                 2016_22
Name: 1610, dtype: object
INSP_DATE2    2016-05-30 00:00:00
c             2016-05-29 00:00:00
d             2016-06-04 00:00:00
Year_Week                 2016_22
Name: 1611, dtype: object
INSP_DATE2    2016-05-31 00:00:00
c             2016-05-29 00:00:00
d             2016-06-04 00:00:00
Year_Week                 2016_22
Name: 1612, dtype: object
INSP_DATE2    2016-06-01 00:00:00
c             2016-05-29 00:00:00
d             2016-06-04 00:00:00
Year_Week                 2016_22
Name: 1613, dtype: object
INSP_DATE2    2016-06-02 00:00:00
c             2016-05-29 00:00:00
d             2016-06-04 00:00:00
Year_Week                 2016_22
Name: 1614, dtype: object
INSP_DATE2    2016-06-03 00:00:00
c             2016-05-29 00:00:00
d             2016-06-04 00:00:00
Year_Week                 2016_22
Name: 1615, dtype: object
INSP_DATE2    2016-06-04 00:00:00
c             2016-05-29 00:00:00
d             2016-06-04 00:00:00
Year_Week                 2016_22
Name: 1616, dtype: object
INSP_DATE2    2016-06-05 00:00:00
c             2016-06-05 00:00:00
d             2016-06-11 00:00:00
Year_Week                 2016_23
Name: 1617, dtype: object
INSP_DATE2    2016-06-06 00:00:00
c             2016-06-05 00:00:00
d             2016-06-11 00:00:00
Year_Week                 2016_23
Name: 1618, dtype: object
INSP_DATE2    2016-06-07 00:00:00
c             2016-06-05 00:00:00
d             2016-06-11 00:00:00
Year_Week                 2016_23
Name: 1619, dtype: object
INSP_DATE2    2016-06-08 00:00:00
c             2016-06-05 00:00:00
d             2016-06-11 00:00:00
Year_Week                 2016_23
Name: 1620, dtype: object
INSP_DATE2    2016-06-09 00:00:00
c             2016-06-05 00:00:00
d             2016-06-11 00:00:00
Year_Week                 2016_23
Name: 1621, dtype: object
INSP_DATE2    2016-06-10 00:00:00
c             2016-06-05 00:00:00
d             2016-06-11 00:00:00
Year_Week                 2016_23
Name: 1622, dtype: object
INSP_DATE2    2016-06-11 00:00:00
c             2016-06-05 00:00:00
d             2016-06-11 00:00:00
Year_Week                 2016_23
Name: 1623, dtype: object
INSP_DATE2    2016-06-12 00:00:00
c             2016-06-12 00:00:00
d             2016-06-18 00:00:00
Year_Week                 2016_24
Name: 1624, dtype: object
INSP_DATE2    2016-06-13 00:00:00
c             2016-06-12 00:00:00
d             2016-06-18 00:00:00
Year_Week                 2016_24
Name: 1625, dtype: object
INSP_DATE2    2016-06-14 00:00:00
c             2016-06-12 00:00:00
d             2016-06-18 00:00:00
Year_Week                 2016_24
Name: 1626, dtype: object
INSP_DATE2    2016-06-15 00:00:00
c             2016-06-12 00:00:00
d             2016-06-18 00:00:00
Year_Week                 2016_24
Name: 1627, dtype: object
INSP_DATE2    2016-06-16 00:00:00
c             2016-06-12 00:00:00
d             2016-06-18 00:00:00
Year_Week                 2016_24
Name: 1628, dtype: object
INSP_DATE2    2016-06-17 00:00:00
c             2016-06-12 00:00:00
d             2016-06-18 00:00:00
Year_Week                 2016_24
Name: 1629, dtype: object
INSP_DATE2    2016-06-18 00:00:00
c             2016-06-12 00:00:00
d             2016-06-18 00:00:00
Year_Week                 2016_24
Name: 1630, dtype: object
INSP_DATE2    2016-06-19 00:00:00
c             2016-06-19 00:00:00
d             2016-06-25 00:00:00
Year_Week                 2016_25
Name: 1631, dtype: object
INSP_DATE2    2016-06-20 00:00:00
c             2016-06-19 00:00:00
d             2016-06-25 00:00:00
Year_Week                 2016_25
Name: 1632, dtype: object
INSP_DATE2    2016-06-21 00:00:00
c             2016-06-19 00:00:00
d             2016-06-25 00:00:00
Year_Week                 2016_25
Name: 1633, dtype: object
INSP_DATE2    2016-06-22 00:00:00
c             2016-06-19 00:00:00
d             2016-06-25 00:00:00
Year_Week                 2016_25
Name: 1634, dtype: object
INSP_DATE2    2016-06-23 00:00:00
c             2016-06-19 00:00:00
d             2016-06-25 00:00:00
Year_Week                 2016_25
Name: 1635, dtype: object
INSP_DATE2    2016-06-24 00:00:00
c             2016-06-19 00:00:00
d             2016-06-25 00:00:00
Year_Week                 2016_25
Name: 1636, dtype: object
INSP_DATE2    2016-06-25 00:00:00
c             2016-06-19 00:00:00
d             2016-06-25 00:00:00
Year_Week                 2016_25
Name: 1637, dtype: object
INSP_DATE2    2016-06-26 00:00:00
c             2016-06-26 00:00:00
d             2016-07-02 00:00:00
Year_Week                 2016_26
Name: 1638, dtype: object
INSP_DATE2    2016-06-27 00:00:00
c             2016-06-26 00:00:00
d             2016-07-02 00:00:00
Year_Week                 2016_26
Name: 1639, dtype: object
INSP_DATE2    2016-06-28 00:00:00
c             2016-06-26 00:00:00
d             2016-07-02 00:00:00
Year_Week                 2016_26
Name: 1640, dtype: object
INSP_DATE2    2016-06-29 00:00:00
c             2016-06-26 00:00:00
d             2016-07-02 00:00:00
Year_Week                 2016_26
Name: 1641, dtype: object
INSP_DATE2    2016-06-30 00:00:00
c             2016-06-26 00:00:00
d             2016-07-02 00:00:00
Year_Week                 2016_26
Name: 1642, dtype: object
INSP_DATE2    2016-07-01 00:00:00
c             2016-06-26 00:00:00
d             2016-07-02 00:00:00
Year_Week                 2016_26
Name: 1643, dtype: object
INSP_DATE2    2016-07-02 00:00:00
c             2016-06-26 00:00:00
d             2016-07-02 00:00:00
Year_Week                 2016_26
Name: 1644, dtype: object
INSP_DATE2    2016-07-03 00:00:00
c             2016-07-03 00:00:00
d             2016-07-09 00:00:00
Year_Week                 2016_27
Name: 1645, dtype: object
INSP_DATE2    2016-07-04 00:00:00
c             2016-07-03 00:00:00
d             2016-07-09 00:00:00
Year_Week                 2016_27
Name: 1646, dtype: object
INSP_DATE2    2016-07-05 00:00:00
c             2016-07-03 00:00:00
d             2016-07-09 00:00:00
Year_Week                 2016_27
Name: 1647, dtype: object
INSP_DATE2    2016-07-06 00:00:00
c             2016-07-03 00:00:00
d             2016-07-09 00:00:00
Year_Week                 2016_27
Name: 1648, dtype: object
INSP_DATE2    2016-07-07 00:00:00
c             2016-07-03 00:00:00
d             2016-07-09 00:00:00
Year_Week                 2016_27
Name: 1649, dtype: object
INSP_DATE2    2016-07-08 00:00:00
c             2016-07-03 00:00:00
d             2016-07-09 00:00:00
Year_Week                 2016_27
Name: 1650, dtype: object
INSP_DATE2    2016-07-09 00:00:00
c             2016-07-03 00:00:00
d             2016-07-09 00:00:00
Year_Week                 2016_27
Name: 1651, dtype: object
INSP_DATE2    2016-07-10 00:00:00
c             2016-07-10 00:00:00
d             2016-07-16 00:00:00
Year_Week                 2016_28
Name: 1652, dtype: object
INSP_DATE2    2016-07-11 00:00:00
c             2016-07-10 00:00:00
d             2016-07-16 00:00:00
Year_Week                 2016_28
Name: 1653, dtype: object
INSP_DATE2    2016-07-12 00:00:00
c             2016-07-10 00:00:00
d             2016-07-16 00:00:00
Year_Week                 2016_28
Name: 1654, dtype: object
INSP_DATE2    2016-07-13 00:00:00
c             2016-07-10 00:00:00
d             2016-07-16 00:00:00
Year_Week                 2016_28
Name: 1655, dtype: object
INSP_DATE2    2016-07-14 00:00:00
c             2016-07-10 00:00:00
d             2016-07-16 00:00:00
Year_Week                 2016_28
Name: 1656, dtype: object
INSP_DATE2    2016-07-15 00:00:00
c             2016-07-10 00:00:00
d             2016-07-16 00:00:00
Year_Week                 2016_28
Name: 1657, dtype: object
INSP_DATE2    2016-07-16 00:00:00
c             2016-07-10 00:00:00
d             2016-07-16 00:00:00
Year_Week                 2016_28
Name: 1658, dtype: object
INSP_DATE2    2016-07-17 00:00:00
c             2016-07-17 00:00:00
d             2016-07-23 00:00:00
Year_Week                 2016_29
Name: 1659, dtype: object
INSP_DATE2    2016-07-18 00:00:00
c             2016-07-17 00:00:00
d             2016-07-23 00:00:00
Year_Week                 2016_29
Name: 1660, dtype: object
INSP_DATE2    2016-07-19 00:00:00
c             2016-07-17 00:00:00
d             2016-07-23 00:00:00
Year_Week                 2016_29
Name: 1661, dtype: object
INSP_DATE2    2016-07-20 00:00:00
c             2016-07-17 00:00:00
d             2016-07-23 00:00:00
Year_Week                 2016_29
Name: 1662, dtype: object
INSP_DATE2    2016-07-21 00:00:00
c             2016-07-17 00:00:00
d             2016-07-23 00:00:00
Year_Week                 2016_29
Name: 1663, dtype: object
INSP_DATE2    2016-07-22 00:00:00
c             2016-07-17 00:00:00
d             2016-07-23 00:00:00
Year_Week                 2016_29
Name: 1664, dtype: object
INSP_DATE2    2016-07-23 00:00:00
c             2016-07-17 00:00:00
d             2016-07-23 00:00:00
Year_Week                 2016_29
Name: 1665, dtype: object
INSP_DATE2    2016-07-24 00:00:00
c             2016-07-24 00:00:00
d             2016-07-30 00:00:00
Year_Week                 2016_30
Name: 1666, dtype: object
INSP_DATE2    2016-07-25 00:00:00
c             2016-07-24 00:00:00
d             2016-07-30 00:00:00
Year_Week                 2016_30
Name: 1667, dtype: object
INSP_DATE2    2016-07-26 00:00:00
c             2016-07-24 00:00:00
d             2016-07-30 00:00:00
Year_Week                 2016_30
Name: 1668, dtype: object
INSP_DATE2    2016-07-27 00:00:00
c             2016-07-24 00:00:00
d             2016-07-30 00:00:00
Year_Week                 2016_30
Name: 1669, dtype: object
INSP_DATE2    2016-07-28 00:00:00
c             2016-07-24 00:00:00
d             2016-07-30 00:00:00
Year_Week                 2016_30
Name: 1670, dtype: object
INSP_DATE2    2016-07-29 00:00:00
c             2016-07-24 00:00:00
d             2016-07-30 00:00:00
Year_Week                 2016_30
Name: 1671, dtype: object
INSP_DATE2    2016-07-30 00:00:00
c             2016-07-24 00:00:00
d             2016-07-30 00:00:00
Year_Week                 2016_30
Name: 1672, dtype: object
INSP_DATE2    2016-07-31 00:00:00
c             2016-07-31 00:00:00
d             2016-08-06 00:00:00
Year_Week                 2016_31
Name: 1673, dtype: object
INSP_DATE2    2016-08-01 00:00:00
c             2016-07-31 00:00:00
d             2016-08-06 00:00:00
Year_Week                 2016_31
Name: 1674, dtype: object
INSP_DATE2    2016-08-02 00:00:00
c             2016-07-31 00:00:00
d             2016-08-06 00:00:00
Year_Week                 2016_31
Name: 1675, dtype: object
INSP_DATE2    2016-08-03 00:00:00
c             2016-07-31 00:00:00
d             2016-08-06 00:00:00
Year_Week                 2016_31
Name: 1676, dtype: object
INSP_DATE2    2016-08-04 00:00:00
c             2016-07-31 00:00:00
d             2016-08-06 00:00:00
Year_Week                 2016_31
Name: 1677, dtype: object
INSP_DATE2    2016-08-05 00:00:00
c             2016-07-31 00:00:00
d             2016-08-06 00:00:00
Year_Week                 2016_31
Name: 1678, dtype: object
INSP_DATE2    2016-08-06 00:00:00
c             2016-07-31 00:00:00
d             2016-08-06 00:00:00
Year_Week                 2016_31
Name: 1679, dtype: object
INSP_DATE2    2016-08-07 00:00:00
c             2016-08-07 00:00:00
d             2016-08-13 00:00:00
Year_Week                 2016_32
Name: 1680, dtype: object
INSP_DATE2    2016-08-08 00:00:00
c             2016-08-07 00:00:00
d             2016-08-13 00:00:00
Year_Week                 2016_32
Name: 1681, dtype: object
INSP_DATE2    2016-08-09 00:00:00
c             2016-08-07 00:00:00
d             2016-08-13 00:00:00
Year_Week                 2016_32
Name: 1682, dtype: object
INSP_DATE2    2016-08-10 00:00:00
c             2016-08-07 00:00:00
d             2016-08-13 00:00:00
Year_Week                 2016_32
Name: 1683, dtype: object
INSP_DATE2    2016-08-11 00:00:00

Name: 1992, dtype: object
INSP_DATE2    2017-06-16 00:00:00
c             2017-06-11 00:00:00
d             2017-06-17 00:00:00
Year_Week                 2017_24
Name: 1993, dtype: object
INSP_DATE2    2017-06-17 00:00:00
c             2017-06-11 00:00:00
d             2017-06-17 00:00:00
Year_Week                 2017_24
Name: 1994, dtype: object
INSP_DATE2    2017-06-18 00:00:00
c             2017-06-18 00:00:00
d             2017-06-24 00:00:00
Year_Week                 2017_25
Name: 1995, dtype: object
INSP_DATE2    2017-06-19 00:00:00
c             2017-06-18 00:00:00
d             2017-06-24 00:00:00
Year_Week                 2017_25
Name: 1996, dtype: object
INSP_DATE2    2017-06-20 00:00:00
c             2017-06-18 00:00:00
d             2017-06-24 00:00:00
Year_Week                 2017_25
Name: 1997, dtype: object
INSP_DATE2    2017-06-21 00:00:00
c             2017-06-18 00:00:00
d             2017-06-24 00:00:00
Year_Week                 2017_25
Name: 1998, dtype: object
INSP_DATE2    2017-06-22 00:00:00
c             2017-06-18 00:00:00
d             2017-06-24 00:00:00
Year_Week                 2017_25
Name: 1999, dtype: object
INSP_DATE2    2017-06-23 00:00:00
c             2017-06-18 00:00:00
d             2017-06-24 00:00:00
Year_Week                 2017_25
Name: 2000, dtype: object
INSP_DATE2    2017-06-24 00:00:00
c             2017-06-18 00:00:00
d             2017-06-24 00:00:00
Year_Week                 2017_25
Name: 2001, dtype: object
INSP_DATE2    2017-06-25 00:00:00
c             2017-06-25 00:00:00
d             2017-07-01 00:00:00
Year_Week                 2017_26
Name: 2002, dtype: object
INSP_DATE2    2017-06-26 00:00:00
c             2017-06-25 00:00:00
d             2017-07-01 00:00:00
Year_Week                 2017_26
Name: 2003, dtype: object
INSP_DATE2    2017-06-27 00:00:00
c             2017-06-25 00:00:00
d             2017-07-01 00:00:00
Year_Week                 2017_26
Name: 2004, dtype: object
INSP_DATE2    2017-06-28 00:00:00
c             2017-06-25 00:00:00
d             2017-07-01 00:00:00
Year_Week                 2017_26
Name: 2005, dtype: object
INSP_DATE2    2017-06-29 00:00:00
c             2017-06-25 00:00:00
d             2017-07-01 00:00:00
Year_Week                 2017_26
Name: 2006, dtype: object
INSP_DATE2    2017-06-30 00:00:00
c             2017-06-25 00:00:00
d             2017-07-01 00:00:00
Year_Week                 2017_26
Name: 2007, dtype: object
INSP_DATE2    2017-07-01 00:00:00
c             2017-06-25 00:00:00
d             2017-07-01 00:00:00
Year_Week                 2017_26
Name: 2008, dtype: object
INSP_DATE2    2017-07-02 00:00:00
c             2017-07-02 00:00:00
d             2017-07-08 00:00:00
Year_Week                 2017_27
Name: 2009, dtype: object
INSP_DATE2    2017-07-03 00:00:00
c             2017-07-02 00:00:00
d             2017-07-08 00:00:00
Year_Week                 2017_27
Name: 2010, dtype: object
INSP_DATE2    2017-07-04 00:00:00
c             2017-07-02 00:00:00
d             2017-07-08 00:00:00
Year_Week                 2017_27
Name: 2011, dtype: object
INSP_DATE2    2017-07-05 00:00:00
c             2017-07-02 00:00:00
d             2017-07-08 00:00:00
Year_Week                 2017_27
Name: 2012, dtype: object
INSP_DATE2    2017-07-06 00:00:00
c             2017-07-02 00:00:00
d             2017-07-08 00:00:00
Year_Week                 2017_27
Name: 2013, dtype: object
INSP_DATE2    2017-07-07 00:00:00
c             2017-07-02 00:00:00
d             2017-07-08 00:00:00
Year_Week                 2017_27
Name: 2014, dtype: object
INSP_DATE2    2017-07-08 00:00:00
c             2017-07-02 00:00:00
d             2017-07-08 00:00:00
Year_Week                 2017_27
Name: 2015, dtype: object
INSP_DATE2    2017-07-09 00:00:00
c             2017-07-09 00:00:00
d             2017-07-15 00:00:00
Year_Week                 2017_28
Name: 2016, dtype: object
INSP_DATE2    2017-07-10 00:00:00
c             2017-07-09 00:00:00
d             2017-07-15 00:00:00
Year_Week                 2017_28
Name: 2017, dtype: object
INSP_DATE2    2017-07-11 00:00:00
c             2017-07-09 00:00:00
d             2017-07-15 00:00:00
Year_Week                 2017_28
Name: 2018, dtype: object
INSP_DATE2    2017-07-12 00:00:00
c             2017-07-09 00:00:00
d             2017-07-15 00:00:00
Year_Week                 2017_28
Name: 2019, dtype: object
INSP_DATE2    2017-07-13 00:00:00
c             2017-07-09 00:00:00
d             2017-07-15 00:00:00
Year_Week                 2017_28
Name: 2020, dtype: object
INSP_DATE2    2017-07-14 00:00:00
c             2017-07-09 00:00:00
d             2017-07-15 00:00:00
Year_Week                 2017_28
Name: 2021, dtype: object
INSP_DATE2    2017-07-15 00:00:00
c             2017-07-09 00:00:00
d             2017-07-15 00:00:00
Year_Week                 2017_28
Name: 2022, dtype: object
INSP_DATE2    2017-07-16 00:00:00
c             2017-07-16 00:00:00
d             2017-07-22 00:00:00
Year_Week                 2017_29
Name: 2023, dtype: object
INSP_DATE2    2017-07-17 00:00:00
c             2017-07-16 00:00:00
d             2017-07-22 00:00:00
Year_Week                 2017_29
Name: 2024, dtype: object
INSP_DATE2    2017-07-18 00:00:00
c             2017-07-16 00:00:00
d             2017-07-22 00:00:00
Year_Week                 2017_29
Name: 2025, dtype: object
INSP_DATE2    2017-07-19 00:00:00
c             2017-07-16 00:00:00
d             2017-07-22 00:00:00
Year_Week                 2017_29
Name: 2026, dtype: object
INSP_DATE2    2017-07-20 00:00:00
c             2017-07-16 00:00:00
d             2017-07-22 00:00:00
Year_Week                 2017_29
Name: 2027, dtype: object
INSP_DATE2    2017-07-21 00:00:00
c             2017-07-16 00:00:00
d             2017-07-22 00:00:00
Year_Week                 2017_29
Name: 2028, dtype: object
INSP_DATE2    2017-07-22 00:00:00
c             2017-07-16 00:00:00
d             2017-07-22 00:00:00
Year_Week                 2017_29
Name: 2029, dtype: object
INSP_DATE2    2017-07-23 00:00:00
c             2017-07-23 00:00:00
d             2017-07-29 00:00:00
Year_Week                 2017_30
Name: 2030, dtype: object
INSP_DATE2    2017-07-24 00:00:00
c             2017-07-23 00:00:00
d             2017-07-29 00:00:00
Year_Week                 2017_30
Name: 2031, dtype: object
INSP_DATE2    2017-07-25 00:00:00
c             2017-07-23 00:00:00
d             2017-07-29 00:00:00
Year_Week                 2017_30
Name: 2032, dtype: object
INSP_DATE2    2017-07-26 00:00:00
c             2017-07-23 00:00:00
d             2017-07-29 00:00:00
Year_Week                 2017_30
Name: 2033, dtype: object
INSP_DATE2    2017-07-27 00:00:00
c             2017-07-23 00:00:00
d             2017-07-29 00:00:00
Year_Week                 2017_30
Name: 2034, dtype: object
INSP_DATE2    2017-07-28 00:00:00
c             2017-07-23 00:00:00
d             2017-07-29 00:00:00
Year_Week                 2017_30
Name: 2035, dtype: object
INSP_DATE2    2017-07-29 00:00:00
c             2017-07-23 00:00:00
d             2017-07-29 00:00:00
Year_Week                 2017_30
Name: 2036, dtype: object
INSP_DATE2    2017-07-30 00:00:00
c             2017-07-30 00:00:00
d             2017-08-05 00:00:00
Year_Week                 2017_31
Name: 2037, dtype: object
INSP_DATE2    2017-07-31 00:00:00
c             2017-07-30 00:00:00
d             2017-08-05 00:00:00
Year_Week                 2017_31
Name: 2038, dtype: object
INSP_DATE2    2017-08-01 00:00:00
c             2017-07-30 00:00:00
d             2017-08-05 00:00:00
Year_Week                 2017_31
Name: 2039, dtype: object
INSP_DATE2    2017-08-02 00:00:00
c             2017-07-30 00:00:00
d             2017-08-05 00:00:00
Year_Week                 2017_31
Name: 2040, dtype: object
INSP_DATE2    2017-08-03 00:00:00
c             2017-07-30 00:00:00
d             2017-08-05 00:00:00
Year_Week                 2017_31
Name: 2041, dtype: object
INSP_DATE2    2017-08-04 00:00:00
c             2017-07-30 00:00:00
d             2017-08-05 00:00:00
Year_Week                 2017_31
Name: 2042, dtype: object
INSP_DATE2    2017-08-05 00:00:00
c             2017-07-30 00:00:00
d             2017-08-05 00:00:00
Year_Week                 2017_31
Name: 2043, dtype: object
INSP_DATE2    2017-08-06 00:00:00
c             2017-08-06 00:00:00
d             2017-08-12 00:00:00
Year_Week                 2017_32
Name: 2044, dtype: object
INSP_DATE2    2017-08-07 00:00:00
c             2017-08-06 00:00:00
d             2017-08-12 00:00:00
Year_Week                 2017_32
Name: 2045, dtype: object
INSP_DATE2    2017-08-08 00:00:00
c             2017-08-06 00:00:00
d             2017-08-12 00:00:00
Year_Week                 2017_32
Name: 2046, dtype: object
INSP_DATE2    2017-08-09 00:00:00
c             2017-08-06 00:00:00
d             2017-08-12 00:00:00
Year_Week                 2017_32
Name: 2047, dtype: object
INSP_DATE2    2017-08-10 00:00:00
c             2017-08-06 00:00:00
d             2017-08-12 00:00:00
Year_Week                 2017_32
Name: 2048, dtype: object
INSP_DATE2    2017-08-11 00:00:00
c             2017-08-06 00:00:00
d             2017-08-12 00:00:00
Year_Week                 2017_32
Name: 2049, dtype: object
INSP_DATE2    2017-08-12 00:00:00
c             2017-08-06 00:00:00
d             2017-08-12 00:00:00
Year_Week                 2017_32
Name: 2050, dtype: object
INSP_DATE2    2017-08-13 00:00:00
c             2017-08-13 00:00:00
d             2017-08-19 00:00:00
Year_Week                 2017_33
Name: 2051, dtype: object
INSP_DATE2    2017-08-14 00:00:00
c             2017-08-13 00:00:00
d             2017-08-19 00:00:00
Year_Week                 2017_33
Name: 2052, dtype: object
INSP_DATE2    2017-08-15 00:00:00
c             2017-08-13 00:00:00
d             2017-08-19 00:00:00
Year_Week                 2017_33
Name: 2053, dtype: object
INSP_DATE2    2017-08-16 00:00:00
c             2017-08-13 00:00:00
d             2017-08-19 00:00:00
Year_Week                 2017_33
Name: 2054, dtype: object
INSP_DATE2    2017-08-17 00:00:00
c             2017-08-13 00:00:00
d             2017-08-19 00:00:00
Year_Week                 2017_33
Name: 2055, dtype: object
INSP_DATE2    2017-08-18 00:00:00
c             2017-08-13 00:00:00
d             2017-08-19 00:00:00
Year_Week                 2017_33
Name: 2056, dtype: object
INSP_DATE2    2017-08-19 00:00:00
c             2017-08-13 00:00:00
d             2017-08-19 00:00:00
Year_Week                 2017_33
Name: 2057, dtype: object
INSP_DATE2    2017-08-20 00:00:00
c             2017-08-20 00:00:00
d             2017-08-26 00:00:00
Year_Week                 2017_34
Name: 2058, dtype: object
INSP_DATE2    2017-08-21 00:00:00
c             2017-08-20 00:00:00
d             2017-08-26 00:00:00
Year_Week                 2017_34
Name: 2059, dtype: object
INSP_DATE2    2017-08-22 00:00:00
c             2017-08-20 00:00:00
d             2017-08-26 00:00:00
Year_Week                 2017_34
Name: 2060, dtype: object
INSP_DATE2    2017-08-23 00:00:00
c             2017-08-20 00:00:00
d             2017-08-26 00:00:00
Year_Week                 2017_34
Name: 2061, dtype: object
INSP_DATE2    2017-08-24 00:00:00
c             2017-08-20 00:00:00
d             2017-08-26 00:00:00
Year_Week                 2017_34
Name: 2062, dtype: object
INSP_DATE2    2017-08-25 00:00:00
c             2017-08-20 00:00:00
d             2017-08-26 00:00:00
Year_Week                 2017_34
Name: 2063, dtype: object
INSP_DATE2    2017-08-26 00:00:00
c             2017-08-20 00:00:00
d             2017-08-26 00:00:00
Year_Week                 2017_34
Name: 2064, dtype: object
INSP_DATE2    2017-08-27 00:00:00
c             2017-08-27 00:00:00
d             2017-09-02 00:00:00
Year_Week                 2017_35
Name: 2065, dtype: object
INSP_DATE2    2017-08-28 00:00:00
c             2017-08-27 00:00:00
d             2017-09-02 00:00:00
Year_Week                 2017_35
Name: 2066, dtype: object
INSP_DATE2    2017-08-29 00:00:00
c             2017-08-27 00:00:00
d             2017-09-02 00:00:00
Year_Week                 2017_35
Name: 2067, dtype: object
INSP_DATE2    2017-08-30 00:00:00
c             2017-08-27 00:00:00
d             2017-09-02 00:00:00
Year_Week                 2017_35
Name: 2068, dtype: object
INSP_DATE2    2017-08-31 00:00:00
c             2017-08-27 00:00:00
d             2017-09-02 00:00:00
Year_Week                 2017_35
Name: 2069, dtype: object
INSP_DATE2    2017-09-01 00:00:00
c             2017-08-27 00:00:00
d             2017-09-02 00:00:00
Year_Week                 2017_35
Name: 2070, dtype: object
INSP_DATE2    2017-09-02 00:00:00
c             2017-08-27 00:00:00
d             2017-09-02 00:00:00
Year_Week                 2017_35
Name: 2071, dtype: object
INSP_DATE2    2017-09-03 00:00:00
c             2017-09-03 00:00:00
d             2017-09-09 00:00:00
Year_Week                 2017_36
Name: 2072, dtype: object
INSP_DATE2    2017-09-04 00:00:00
c             2017-09-03 00:00:00
d             2017-09-09 00:00:00
Year_Week                 2017_36
Name: 2073, dtype: object
INSP_DATE2    2017-09-05 00:00:00
c             2017-09-03 00:00:00
d             2017-09-09 00:00:00
Year_Week                 2017_36
Name: 2074, dtype: object
INSP_DATE2    2017-09-06 00:00:00
c             2017-09-03 00:00:00
d             2017-09-09 00:00:00
Year_Week                 2017_36
Name: 2075, dtype: object
INSP_DATE2    2017-09-07 00:00:00
c             2017-09-03 00:00:00
d             2017-09-09 00:00:00
Year_Week                 2017_36
Name: 2076, dtype: object
INSP_DATE2    2017-09-08 00:00:00
c             2017-09-03 00:00:00
d             2017-09-09 00:00:00
Year_Week                 2017_36
Name: 2077, dtype: object
INSP_DATE2    2017-09-09 00:00:00
c             2017-09-03 00:00:00
d             2017-09-09 00:00:00
Year_Week                 2017_36
Name: 2078, dtype: object
INSP_DATE2    2017-09-10 00:00:00
c             2017-09-10 00:00:00
d             2017-09-16 00:00:00
Year_Week                 2017_37
Name: 2079, dtype: object
INSP_DATE2    2017-09-11 00:00:00
c             2017-09-10 00:00:00
d             2017-09-16 00:00:00
Year_Week                 2017_37
Name: 2080, dtype: object
INSP_DATE2    2017-09-12 00:00:00
c             2017-09-10 00:00:00
d             2017-09-16 00:00:00
Year_Week                 2017_37
Name: 2081, dtype: object
INSP_DATE2    2017-09-13 00:00:00
c             2017-09-10 00:00:00
d             2017-09-16 00:00:00
Year_Week                 2017_37
Name: 2082, dtype: object
INSP_DATE2    2017-09-14 00:00:00
c             2017-09-10 00:00:00
d             2017-09-16 00:00:00
Year_Week                 2017_37
Name: 2083, dtype: object
INSP_DATE2    2017-09-15 00:00:00
c             2017-09-10 00:00:00
d             2017-09-16 00:00:00
Year_Week                 2017_37
Name: 2084, dtype: object
INSP_DATE2    2017-09-16 00:00:00
c             2017-09-10 00:00:00
d             2017-09-16 00:00:00
Year_Week                 2017_37
Name: 2085, dtype: object
INSP_DATE2    2017-09-17 00:00:00
c             2017-09-17 00:00:00
d             2017-09-23 00:00:00
Year_Week                 2017_38
Name: 2086, dtype: object
INSP_DATE2    2017-09-18 00:00:00
c             2017-09-17 00:00:00
d             2017-09-23 00:00:00
Year_Week                 2017_38
Name: 2087, dtype: object
INSP_DATE2    2017-09-19 00:00:00
c             2017-09-17 00:00:00
d             2017-09-23 00:00:00
Year_Week                 2017_38
Name: 2088, dtype: object
INSP_DATE2    2017-09-20 00:00:00
c             2017-09-17 00:00:00
d             2017-09-23 00:00:00
Year_Week                 2017_38
Name: 2089, dtype: object
INSP_DATE2    2017-09-21 00:00:00
c             2017-09-17 00:00:00
d             2017-09-23 00:00:00
Year_Week                 2017_38
Name: 2090, dtype: object
INSP_DATE2    2017-09-22 00:00:00
c             2017-09-17 00:00:00
d             2017-09-23 00:00:00
Year_Week                 2017_38
Name: 2091, dtype: object
INSP_DATE2    2017-09-23 00:00:00
c             2017-09-17 00:00:00
d             2017-09-23 00:00:00
Year_Week                 2017_38
Name: 2092, dtype: object
INSP_DATE2    2017-09-24 00:00:00
c             2017-09-24 00:00:00
d             2017-09-30 00:00:00
Year_Week                 2017_39
Name: 2093, dtype: object
INSP_DATE2    2017-09-25 00:00:00
c             2017-09-24 00:00:00
d             2017-09-30 00:00:00
Year_Week                 2017_39
Name: 2094, dtype: object
INSP_DATE2    2017-09-26 00:00:00
c             2017-09-24 00:00:00
d             2017-09-30 00:00:00
Year_Week                 2017_39
Name: 2095, dtype: object
INSP_DATE2    2017-09-27 00:00:00
c             2017-09-24 00:00:00
d             2017-09-30 00:00:00
Year_Week                 2017_39
Name: 2096, dtype: object
INSP_DATE2    2017-09-28 00:00:00
c             2017-09-24 00:00:00
d             2017-09-30 00:00:00
Year_Week                 2017_39
Name: 2097, dtype: object
INSP_DATE2    2017-09-29 00:00:00
c             2017-09-24 00:00:00
d             2017-09-30 00:00:00
Year_Week                 2017_39
Name: 2098, dtype: object
INSP_DATE2    2017-09-30 00:00:00
c             2017-09-24 00:00:00
d             2017-09-30 00:00:00
Year_Week                 2017_39
Name: 2099, dtype: object
INSP_DATE2    2017-10-01 00:00:00
c             2017-10-01 00:00:00
d             2017-10-07 00:00:00
Year_Week                 2017_40
Name: 2100, dtype: object
INSP_DATE2    2017-10-02 00:00:00
c             2017-10-01 00:00:00
d             2017-10-07 00:00:00
Year_Week                 2017_40
Name: 2101, dtype: object
INSP_DATE2    2017-10-03 00:00:00
c             2017-10-01 00:00:00
d             2017-10-07 00:00:00
Year_Week                 2017_40
Name: 2102, dtype: object
INSP_DATE2    2017-10-04 00:00:00
c             2017-10-01 00:00:00
d             2017-10-07 00:00:00
Year_Week                 2017_40
Name: 2103, dtype: object
INSP_DATE2    2017-10-05 00:00:00
c             2017-10-01 00:00:00
d             2017-10-07 00:00:00
Year_Week                 2017_40
Name: 2104, dtype: object
INSP_DATE2    2017-10-06 00:00:00
c             2017-10-01 00:00:00
d             2017-10-07 00:00:00
Year_Week                 2017_40
Name: 2105, dtype: object
INSP_DATE2    2017-10-07 00:00:00
c             2017-10-01 00:00:00
d             2017-10-07 00:00:00
Year_Week                 2017_40
Name: 2106, dtype: object
INSP_DATE2    2017-10-08 00:00:00
c             2017-10-08 00:00:00
d             2017-10-14 00:00:00
Year_Week                 2017_41
Name: 2107, dtype: object
INSP_DATE2    2017-10-09 00:00:00
c             2017-10-08 00:00:00
d             2017-10-14 00:00:00
Year_Week                 2017_41
Name: 2108, dtype: object
INSP_DATE2    2017-10-10 00:00:00
c             2017-10-08 00:00:00
d             2017-10-14 00:00:00
Year_Week                 2017_41
Name: 2109, dtype: object
INSP_DATE2    2017-10-11 00:00:00
c             2017-10-08 00:00:00
d             2017-10-14 00:00:00
Year_Week                 2017_41
Name: 2110, dtype: object
INSP_DATE2    2017-10-12 00:00:00
c             2017-10-08 00:00:00
d             2017-10-14 00:00:00
Year_Week                 2017_41
Name: 2111, dtype: object
INSP_DATE2    2017-10-13 00:00:00
c             2017-10-08 00:00:00
d             2017-10-14 00:00:00
Year_Week                 2017_41
Name: 2112, dtype: object
INSP_DATE2    2017-10-14 00:00:00
c             2017-10-08 00:00:00
d             2017-10-14 00:00:00
Year_Week                 2017_41
Name: 2113, dtype: object
INSP_DATE2    2017-10-15 00:00:00
c             2017-10-15 00:00:00
d             2017-10-21 00:00:00
Year_Week                 2017_42
Name: 2114, dtype: object
INSP_DATE2    2017-10-16 00:00:00
c             2017-10-15 00:00:00
d             2017-10-21 00:00:00
Year_Week                 2017_42
Name: 2115, dtype: object
INSP_DATE2    2017-10-17 00:00:00

Name: 2598, dtype: object
INSP_DATE2    2019-02-12 00:00:00
c             2019-02-10 00:00:00
d             2019-02-16 00:00:00
Year_Week                 2019_07
Name: 2599, dtype: object
INSP_DATE2    2019-02-13 00:00:00
c             2019-02-10 00:00:00
d             2019-02-16 00:00:00
Year_Week                 2019_07
Name: 2600, dtype: object
INSP_DATE2    2019-02-14 00:00:00
c             2019-02-10 00:00:00
d             2019-02-16 00:00:00
Year_Week                 2019_07
Name: 2601, dtype: object
INSP_DATE2    2019-02-15 00:00:00
c             2019-02-10 00:00:00
d             2019-02-16 00:00:00
Year_Week                 2019_07
Name: 2602, dtype: object
INSP_DATE2    2019-02-16 00:00:00
c             2019-02-10 00:00:00
d             2019-02-16 00:00:00
Year_Week                 2019_07
Name: 2603, dtype: object
INSP_DATE2    2019-02-17 00:00:00
c             2019-02-17 00:00:00
d             2019-02-23 00:00:00
Year_Week                 2019_08
Name: 2604, dtype: object
INSP_DATE2    2019-02-18 00:00:00
c             2019-02-17 00:00:00
d             2019-02-23 00:00:00
Year_Week                 2019_08
Name: 2605, dtype: object
INSP_DATE2    2019-02-19 00:00:00
c             2019-02-17 00:00:00
d             2019-02-23 00:00:00
Year_Week                 2019_08
Name: 2606, dtype: object
INSP_DATE2    2019-02-20 00:00:00
c             2019-02-17 00:00:00
d             2019-02-23 00:00:00
Year_Week                 2019_08
Name: 2607, dtype: object
INSP_DATE2    2019-02-21 00:00:00
c             2019-02-17 00:00:00
d             2019-02-23 00:00:00
Year_Week                 2019_08
Name: 2608, dtype: object
INSP_DATE2    2019-02-22 00:00:00
c             2019-02-17 00:00:00
d             2019-02-23 00:00:00
Year_Week                 2019_08
Name: 2609, dtype: object
INSP_DATE2    2019-02-23 00:00:00
c             2019-02-17 00:00:00
d             2019-02-23 00:00:00
Year_Week                 2019_08
Name: 2610, dtype: object
INSP_DATE2    2019-02-24 00:00:00
c             2019-02-24 00:00:00
d             2019-03-02 00:00:00
Year_Week                 2019_09
Name: 2611, dtype: object
INSP_DATE2    2019-02-25 00:00:00
c             2019-02-24 00:00:00
d             2019-03-02 00:00:00
Year_Week                 2019_09
Name: 2612, dtype: object
INSP_DATE2    2019-02-26 00:00:00
c             2019-02-24 00:00:00
d             2019-03-02 00:00:00
Year_Week                 2019_09
Name: 2613, dtype: object
INSP_DATE2    2019-02-27 00:00:00
c             2019-02-24 00:00:00
d             2019-03-02 00:00:00
Year_Week                 2019_09
Name: 2614, dtype: object
INSP_DATE2    2019-02-28 00:00:00
c             2019-02-24 00:00:00
d             2019-03-02 00:00:00
Year_Week                 2019_09
Name: 2615, dtype: object
INSP_DATE2    2019-03-01 00:00:00
c             2019-02-24 00:00:00
d             2019-03-02 00:00:00
Year_Week                 2019_09
Name: 2616, dtype: object
INSP_DATE2    2019-03-02 00:00:00
c             2019-02-24 00:00:00
d             2019-03-02 00:00:00
Year_Week                 2019_09
Name: 2617, dtype: object
INSP_DATE2    2019-03-03 00:00:00
c             2019-03-03 00:00:00
d             2019-03-09 00:00:00
Year_Week                 2019_10
Name: 2618, dtype: object
INSP_DATE2    2019-03-04 00:00:00
c             2019-03-03 00:00:00
d             2019-03-09 00:00:00
Year_Week                 2019_10
Name: 2619, dtype: object
INSP_DATE2    2019-03-05 00:00:00
c             2019-03-03 00:00:00
d             2019-03-09 00:00:00
Year_Week                 2019_10
Name: 2620, dtype: object
INSP_DATE2    2019-03-06 00:00:00
c             2019-03-03 00:00:00
d             2019-03-09 00:00:00
Year_Week                 2019_10
Name: 2621, dtype: object
INSP_DATE2    2019-03-07 00:00:00
c             2019-03-03 00:00:00
d             2019-03-09 00:00:00
Year_Week                 2019_10
Name: 2622, dtype: object
INSP_DATE2    2019-03-08 00:00:00
c             2019-03-03 00:00:00
d             2019-03-09 00:00:00
Year_Week                 2019_10
Name: 2623, dtype: object
INSP_DATE2    2019-03-09 00:00:00
c             2019-03-03 00:00:00
d             2019-03-09 00:00:00
Year_Week                 2019_10
Name: 2624, dtype: object
INSP_DATE2    2019-03-10 00:00:00
c             2019-03-10 00:00:00
d             2019-03-16 00:00:00
Year_Week                 2019_11
Name: 2625, dtype: object
INSP_DATE2    2019-03-11 00:00:00
c             2019-03-10 00:00:00
d             2019-03-16 00:00:00
Year_Week                 2019_11
Name: 2626, dtype: object
INSP_DATE2    2019-03-12 00:00:00
c             2019-03-10 00:00:00
d             2019-03-16 00:00:00
Year_Week                 2019_11
Name: 2627, dtype: object
INSP_DATE2    2019-03-13 00:00:00
c             2019-03-10 00:00:00
d             2019-03-16 00:00:00
Year_Week                 2019_11
Name: 2628, dtype: object
INSP_DATE2    2019-03-14 00:00:00
c             2019-03-10 00:00:00
d             2019-03-16 00:00:00
Year_Week                 2019_11
Name: 2629, dtype: object
INSP_DATE2    2019-03-15 00:00:00
c             2019-03-10 00:00:00
d             2019-03-16 00:00:00
Year_Week                 2019_11
Name: 2630, dtype: object
INSP_DATE2    2019-03-16 00:00:00
c             2019-03-10 00:00:00
d             2019-03-16 00:00:00
Year_Week                 2019_11
Name: 2631, dtype: object
INSP_DATE2    2019-03-17 00:00:00
c             2019-03-17 00:00:00
d             2019-03-23 00:00:00
Year_Week                 2019_12
Name: 2632, dtype: object
INSP_DATE2    2019-03-18 00:00:00
c             2019-03-17 00:00:00
d             2019-03-23 00:00:00
Year_Week                 2019_12
Name: 2633, dtype: object
INSP_DATE2    2019-03-19 00:00:00
c             2019-03-17 00:00:00
d             2019-03-23 00:00:00
Year_Week                 2019_12
Name: 2634, dtype: object
INSP_DATE2    2019-03-20 00:00:00
c             2019-03-17 00:00:00
d             2019-03-23 00:00:00
Year_Week                 2019_12
Name: 2635, dtype: object
INSP_DATE2    2019-03-21 00:00:00
c             2019-03-17 00:00:00
d             2019-03-23 00:00:00
Year_Week                 2019_12
Name: 2636, dtype: object
INSP_DATE2    2019-03-22 00:00:00
c             2019-03-17 00:00:00
d             2019-03-23 00:00:00
Year_Week                 2019_12
Name: 2637, dtype: object
INSP_DATE2    2019-03-23 00:00:00
c             2019-03-17 00:00:00
d             2019-03-23 00:00:00
Year_Week                 2019_12
Name: 2638, dtype: object
INSP_DATE2    2019-03-24 00:00:00
c             2019-03-24 00:00:00
d             2019-03-30 00:00:00
Year_Week                 2019_13
Name: 2639, dtype: object
INSP_DATE2    2019-03-25 00:00:00
c             2019-03-24 00:00:00
d             2019-03-30 00:00:00
Year_Week                 2019_13
Name: 2640, dtype: object
INSP_DATE2    2019-03-26 00:00:00
c             2019-03-24 00:00:00
d             2019-03-30 00:00:00
Year_Week                 2019_13
Name: 2641, dtype: object
INSP_DATE2    2019-03-27 00:00:00
c             2019-03-24 00:00:00
d             2019-03-30 00:00:00
Year_Week                 2019_13
Name: 2642, dtype: object
INSP_DATE2    2019-03-28 00:00:00
c             2019-03-24 00:00:00
d             2019-03-30 00:00:00
Year_Week                 2019_13
Name: 2643, dtype: object
INSP_DATE2    2019-03-29 00:00:00
c             2019-03-24 00:00:00
d             2019-03-30 00:00:00
Year_Week                 2019_13
Name: 2644, dtype: object
INSP_DATE2    2019-03-30 00:00:00
c             2019-03-24 00:00:00
d             2019-03-30 00:00:00
Year_Week                 2019_13
Name: 2645, dtype: object
INSP_DATE2    2019-03-31 00:00:00
c             2019-03-31 00:00:00
d             2019-04-06 00:00:00
Year_Week                 2019_14
Name: 2646, dtype: object
INSP_DATE2    2019-04-01 00:00:00
c             2019-03-31 00:00:00
d             2019-04-06 00:00:00
Year_Week                 2019_14
Name: 2647, dtype: object
INSP_DATE2    2019-04-02 00:00:00
c             2019-03-31 00:00:00
d             2019-04-06 00:00:00
Year_Week                 2019_14
Name: 2648, dtype: object
INSP_DATE2    2019-04-03 00:00:00
c             2019-03-31 00:00:00
d             2019-04-06 00:00:00
Year_Week                 2019_14
Name: 2649, dtype: object
INSP_DATE2    2019-04-04 00:00:00
c             2019-03-31 00:00:00
d             2019-04-06 00:00:00
Year_Week                 2019_14
Name: 2650, dtype: object
INSP_DATE2    2019-04-05 00:00:00
c             2019-03-31 00:00:00
d             2019-04-06 00:00:00
Year_Week                 2019_14
Name: 2651, dtype: object
INSP_DATE2    2019-04-06 00:00:00
c             2019-03-31 00:00:00
d             2019-04-06 00:00:00
Year_Week                 2019_14
Name: 2652, dtype: object
INSP_DATE2    2019-04-07 00:00:00
c             2019-04-07 00:00:00
d             2019-04-13 00:00:00
Year_Week                 2019_15
Name: 2653, dtype: object
INSP_DATE2    2019-04-08 00:00:00
c             2019-04-07 00:00:00
d             2019-04-13 00:00:00
Year_Week                 2019_15
Name: 2654, dtype: object
INSP_DATE2    2019-04-09 00:00:00
c             2019-04-07 00:00:00
d             2019-04-13 00:00:00
Year_Week                 2019_15
Name: 2655, dtype: object
INSP_DATE2    2019-04-10 00:00:00
c             2019-04-07 00:00:00
d             2019-04-13 00:00:00
Year_Week                 2019_15
Name: 2656, dtype: object
INSP_DATE2    2019-04-11 00:00:00
c             2019-04-07 00:00:00
d             2019-04-13 00:00:00
Year_Week                 2019_15
Name: 2657, dtype: object
INSP_DATE2    2019-04-12 00:00:00
c             2019-04-07 00:00:00
d             2019-04-13 00:00:00
Year_Week                 2019_15
Name: 2658, dtype: object
INSP_DATE2    2019-04-13 00:00:00
c             2019-04-07 00:00:00
d             2019-04-13 00:00:00
Year_Week                 2019_15
Name: 2659, dtype: object
INSP_DATE2    2019-04-14 00:00:00
c             2019-04-14 00:00:00
d             2019-04-20 00:00:00
Year_Week                 2019_16
Name: 2660, dtype: object
INSP_DATE2    2019-04-15 00:00:00
c             2019-04-14 00:00:00
d             2019-04-20 00:00:00
Year_Week                 2019_16
Name: 2661, dtype: object
INSP_DATE2    2019-04-16 00:00:00
c             2019-04-14 00:00:00
d             2019-04-20 00:00:00
Year_Week                 2019_16
Name: 2662, dtype: object
INSP_DATE2    2019-04-17 00:00:00
c             2019-04-14 00:00:00
d             2019-04-20 00:00:00
Year_Week                 2019_16
Name: 2663, dtype: object
INSP_DATE2    2019-04-18 00:00:00
c             2019-04-14 00:00:00
d             2019-04-20 00:00:00
Year_Week                 2019_16
Name: 2664, dtype: object
INSP_DATE2    2019-04-19 00:00:00
c             2019-04-14 00:00:00
d             2019-04-20 00:00:00
Year_Week                 2019_16
Name: 2665, dtype: object
INSP_DATE2    2019-04-20 00:00:00
c             2019-04-14 00:00:00
d             2019-04-20 00:00:00
Year_Week                 2019_16
Name: 2666, dtype: object
INSP_DATE2    2019-04-21 00:00:00
c             2019-04-21 00:00:00
d             2019-04-27 00:00:00
Year_Week                 2019_17
Name: 2667, dtype: object
INSP_DATE2    2019-04-22 00:00:00
c             2019-04-21 00:00:00
d             2019-04-27 00:00:00
Year_Week                 2019_17
Name: 2668, dtype: object
INSP_DATE2    2019-04-23 00:00:00
c             2019-04-21 00:00:00
d             2019-04-27 00:00:00
Year_Week                 2019_17
Name: 2669, dtype: object
INSP_DATE2    2019-04-24 00:00:00
c             2019-04-21 00:00:00
d             2019-04-27 00:00:00
Year_Week                 2019_17
Name: 2670, dtype: object
INSP_DATE2    2019-04-25 00:00:00
c             2019-04-21 00:00:00
d             2019-04-27 00:00:00
Year_Week                 2019_17
Name: 2671, dtype: object
INSP_DATE2    2019-04-26 00:00:00
c             2019-04-21 00:00:00
d             2019-04-27 00:00:00
Year_Week                 2019_17
Name: 2672, dtype: object
INSP_DATE2    2019-04-27 00:00:00
c             2019-04-21 00:00:00
d             2019-04-27 00:00:00
Year_Week                 2019_17
Name: 2673, dtype: object
INSP_DATE2    2019-04-28 00:00:00
c             2019-04-28 00:00:00
d             2019-05-04 00:00:00
Year_Week                 2019_18
Name: 2674, dtype: object
INSP_DATE2    2019-04-29 00:00:00
c             2019-04-28 00:00:00
d             2019-05-04 00:00:00
Year_Week                 2019_18
Name: 2675, dtype: object
INSP_DATE2    2019-04-30 00:00:00
c             2019-04-28 00:00:00
d             2019-05-04 00:00:00
Year_Week                 2019_18
Name: 2676, dtype: object
INSP_DATE2    2019-05-01 00:00:00
c             2019-04-28 00:00:00
d             2019-05-04 00:00:00
Year_Week                 2019_18
Name: 2677, dtype: object
INSP_DATE2    2019-05-02 00:00:00
c             2019-04-28 00:00:00
d             2019-05-04 00:00:00
Year_Week                 2019_18
Name: 2678, dtype: object
INSP_DATE2    2019-05-03 00:00:00
c             2019-04-28 00:00:00
d             2019-05-04 00:00:00
Year_Week                 2019_18
Name: 2679, dtype: object
INSP_DATE2    2019-05-04 00:00:00
c             2019-04-28 00:00:00
d             2019-05-04 00:00:00
Year_Week                 2019_18
Name: 2680, dtype: object
INSP_DATE2    2019-05-05 00:00:00
c             2019-05-05 00:00:00
d             2019-05-11 00:00:00
Year_Week                 2019_19
Name: 2681, dtype: object
INSP_DATE2    2019-05-06 00:00:00
c             2019-05-05 00:00:00
d             2019-05-11 00:00:00
Year_Week                 2019_19
Name: 2682, dtype: object
INSP_DATE2    2019-05-07 00:00:00
c             2019-05-05 00:00:00
d             2019-05-11 00:00:00
Year_Week                 2019_19
Name: 2683, dtype: object
INSP_DATE2    2019-05-08 00:00:00
c             2019-05-05 00:00:00
d             2019-05-11 00:00:00
Year_Week                 2019_19
Name: 2684, dtype: object
INSP_DATE2    2019-05-09 00:00:00
c             2019-05-05 00:00:00
d             2019-05-11 00:00:00
Year_Week                 2019_19
Name: 2685, dtype: object
INSP_DATE2    2019-05-10 00:00:00
c             2019-05-05 00:00:00
d             2019-05-11 00:00:00
Year_Week                 2019_19
Name: 2686, dtype: object
INSP_DATE2    2019-05-11 00:00:00
c             2019-05-05 00:00:00
d             2019-05-11 00:00:00
Year_Week                 2019_19
Name: 2687, dtype: object
INSP_DATE2    2019-05-12 00:00:00
c             2019-05-12 00:00:00
d             2019-05-18 00:00:00
Year_Week                 2019_20
Name: 2688, dtype: object
INSP_DATE2    2019-05-13 00:00:00
c             2019-05-12 00:00:00
d             2019-05-18 00:00:00
Year_Week                 2019_20
Name: 2689, dtype: object
INSP_DATE2    2019-05-14 00:00:00
c             2019-05-12 00:00:00
d             2019-05-18 00:00:00
Year_Week                 2019_20
Name: 2690, dtype: object
INSP_DATE2    2019-05-15 00:00:00
c             2019-05-12 00:00:00
d             2019-05-18 00:00:00
Year_Week                 2019_20
Name: 2691, dtype: object
INSP_DATE2    2019-05-16 00:00:00
c             2019-05-12 00:00:00
d             2019-05-18 00:00:00
Year_Week                 2019_20
Name: 2692, dtype: object
INSP_DATE2    2019-05-17 00:00:00
c             2019-05-12 00:00:00
d             2019-05-18 00:00:00
Year_Week                 2019_20
Name: 2693, dtype: object
INSP_DATE2    2019-05-18 00:00:00
c             2019-05-12 00:00:00
d             2019-05-18 00:00:00
Year_Week                 2019_20
Name: 2694, dtype: object
INSP_DATE2    2019-05-19 00:00:00
c             2019-05-19 00:00:00
d             2019-05-25 00:00:00
Year_Week                 2019_21
Name: 2695, dtype: object
INSP_DATE2    2019-05-20 00:00:00
c             2019-05-19 00:00:00
d             2019-05-25 00:00:00
Year_Week                 2019_21
Name: 2696, dtype: object
INSP_DATE2    2019-05-21 00:00:00
c             2019-05-19 00:00:00
d             2019-05-25 00:00:00
Year_Week                 2019_21
Name: 2697, dtype: object
INSP_DATE2    2019-05-22 00:00:00
c             2019-05-19 00:00:00
d             2019-05-25 00:00:00
Year_Week                 2019_21
Name: 2698, dtype: object
INSP_DATE2    2019-05-23 00:00:00
c             2019-05-19 00:00:00
d             2019-05-25 00:00:00
Year_Week                 2019_21
Name: 2699, dtype: object
INSP_DATE2    2019-05-24 00:00:00
c             2019-05-19 00:00:00
d             2019-05-25 00:00:00
Year_Week                 2019_21
Name: 2700, dtype: object
INSP_DATE2    2019-05-25 00:00:00
c             2019-05-19 00:00:00
d             2019-05-25 00:00:00
Year_Week                 2019_21
Name: 2701, dtype: object
INSP_DATE2    2019-05-26 00:00:00
c             2019-05-26 00:00:00
d             2019-06-01 00:00:00
Year_Week                 2019_22
Name: 2702, dtype: object
INSP_DATE2    2019-05-27 00:00:00
c             2019-05-26 00:00:00
d             2019-06-01 00:00:00
Year_Week                 2019_22
Name: 2703, dtype: object
INSP_DATE2    2019-05-28 00:00:00
c             2019-05-26 00:00:00
d             2019-06-01 00:00:00
Year_Week                 2019_22
Name: 2704, dtype: object
INSP_DATE2    2019-05-29 00:00:00
c             2019-05-26 00:00:00
d             2019-06-01 00:00:00
Year_Week                 2019_22
Name: 2705, dtype: object
INSP_DATE2    2019-05-30 00:00:00
c             2019-05-26 00:00:00
d             2019-06-01 00:00:00
Year_Week                 2019_22
Name: 2706, dtype: object
INSP_DATE2    2019-05-31 00:00:00
c             2019-05-26 00:00:00
d             2019-06-01 00:00:00
Year_Week                 2019_22
Name: 2707, dtype: object

In [179]:
# unique week
week_total = year_weekly.Year_Week.unique()
for w in week_total:
    print(w)

2012_01
2012_02
2012_03
2012_04
2012_05
2012_06
2012_07
2012_08
2012_09
2012_10
2012_11
2012_12
2012_13
2012_14
2012_15
2012_16
2012_17
2012_18
2012_19
2012_20
2012_21
2012_22
2012_23
2012_24
2012_25
2012_26
2012_27
2012_28
2012_29
2012_30
2012_31
2012_32
2012_33
2012_34
2012_35
2012_36
2012_37
2012_38
2012_39
2012_40
2012_41
2012_42
2012_43
2012_44
2012_45
2012_46
2012_47
2012_48
2012_49
2012_50
2012_51
2012_52
2013_01
2013_02
2013_03
2013_04
2013_05
2013_06
2013_07
2013_08
2013_09
2013_10
2013_11
2013_12
2013_13
2013_14
2013_15
2013_16
2013_17
2013_18
2013_19
2013_20
2013_21
2013_22
2013_23
2013_24
2013_25
2013_26
2013_27
2013_28
2013_29
2013_30
2013_31
2013_32
2013_33
2013_34
2013_35
2013_36
2013_37
2013_38
2013_39
2013_40
2013_41
2013_42
2013_43
2013_44
2013_45
2013_46
2013_47
2013_48
2013_49
2013_50
2013_51
2013_52
2014_01
2014_02
2014_03
2014_04
2014_05
2014_06
2014_07
2014_08
2014_09
2014_10
2014_11
2014_12
2014_13
2014_14
2014_15
2014_16
2014_17
2014_18
2014_19
2014_20
2014_21
2014_22
2014_23
2014_24
2014_25
2014_26
2014_27
2014_28
2014_29
2014_30
2014_31
2014_32
2014_33
2014_34
2014_35
2014_36
2014_37
2014_38
2014_39
2014_40
2014_41
2014_42
2014_43
2014_44
2014_45
2014_46
2014_47
2014_48
2014_49
2014_50
2014_51
2014_52
2014_53
2015_01
2015_02
2015_03
2015_04
2015_05
2015_06
2015_07
2015_08
2015_09
2015_10
2015_11
2015_12
2015_13
2015_14
2015_15
2015_16
2015_17
2015_18
2015_19
2015_20
2015_21
2015_22
2015_23
2015_24
2015_25
2015_26
2015_27
2015_28
2015_29
2015_30
2015_31
2015_32
2015_33
2015_34
2015_35
2015_36
2015_37
2015_38
2015_39
2015_40
2015_41
2015_42
2015_43
2015_44
2015_45
2015_46
2015_47
2015_48
2015_49
2015_50
2015_51
2015_52
2016_01
2016_02
2016_03
2016_04
2016_05
2016_06
2016_07
2016_08
2016_09
2016_10
2016_11
2016_12
2016_13
2016_14
2016_15
2016_16
2016_17
2016_18
2016_19
2016_20
2016_21
2016_22
2016_23
2016_24
2016_25
2016_26
2016_27
2016_28
2016_29
2016_30
2016_31
2016_32
2016_33
2016_34
2016_35
2016_36
2016_37
2016_38
2016_39
2016_40
2016_41
2016_42
2016_43
2016_44
2016_45
2016_46
2016_47
2016_48
2016_49
2016_50
2016_51
2016_52
2017_01
2017_02
2017_03
2017_04
2017_05
2017_06
2017_07
2017_08
2017_09
2017_10
2017_11
2017_12
2017_13
2017_14
2017_15
2017_16
2017_17
2017_18
2017_19
2017_20
2017_21
2017_22
2017_23
2017_24
2017_25
2017_26
2017_27
2017_28
2017_29
2017_30
2017_31
2017_32
2017_33
2017_34
2017_35
2017_36
2017_37
2017_38
2017_39
2017_40
2017_41
2017_42
2017_43
2017_44
2017_45
2017_46
2017_47
2017_48
2017_49
2017_50
2017_51
2017_52
2018_01
2018_02
2018_03
2018_04
2018_05
2018_06
2018_07
2018_08
2018_09
2018_10
2018_11
2018_12
2018_13
2018_14
2018_15
2018_16
2018_17
2018_18
2018_19
2018_20
2018_21
2018_22
2018_23
2018_24
2018_25
2018_26
2018_27
2018_28
2018_29
2018_30
2018_31
2018_32
2018_33
2018_34
2018_35
2018_36
2018_37
2018_38
2018_39
2018_40
2018_41
2018_42
2018_43
2018_44
2018_45
2018_46
2018_47
2018_48
2018_49
2018_50
2018_51
2018_52
2019_01
2019_02
2019_03
2019_04
2019_05
2019_06
2019_07
2019_08
2019_09
2019_10
2019_11
2019_12
2019_13
2019_14
2019_15
2019_16
2019_17
2019_18
2019_19
2019_20
2019_21
2019_22

In [154]:
# yyyy_mm_dd: yyyy_ww
date_week = collections.defaultdict()
for i in range(year_weekly.shape[0]):
    date_key = year_weekly.INSP_DATE2[i]
    k = str(date_key).split(' ')[0]
    print(k)
    week_val = year_weekly.Year_Week[i]
    date_week[k] = week_val

2012-01-01
2012-01-02
2012-01-03
2012-01-04
2012-01-05
2012-01-06
2012-01-07
2012-01-08
2012-01-09
2012-01-10
2012-01-11
2012-01-12
2012-01-13
2012-01-14
2012-01-15
2012-01-16
2012-01-17
2012-01-18
2012-01-19
2012-01-20
2012-01-21
2012-01-22
2012-01-23
2012-01-24
2012-01-25
2012-01-26
2012-01-27
2012-01-28
2012-01-29
2012-01-30
2012-01-31
2012-02-01
2012-02-02
2012-02-03
2012-02-04
2012-02-05
2012-02-06
2012-02-07
2012-02-08
2012-02-09
2012-02-10
2012-02-11
2012-02-12
2012-02-13
2012-02-14
2012-02-15
2012-02-16
2012-02-17
2012-02-18
2012-02-19
2012-02-20
2012-02-21
2012-02-22
2012-02-23
2012-02-24
2012-02-25
2012-02-26
2012-02-27
2012-02-28
2012-02-29
2012-03-01
2012-03-02
2012-03-03
2012-03-04
2012-03-05
2012-03-06
2012-03-07
2012-03-08
2012-03-09
2012-03-10
2012-03-11
2012-03-12
2012-03-13
2012-03-14
2012-03-15
2012-03-16
2012-03-17
2012-03-18
2012-03-19
2012-03-20
2012-03-21
2012-03-22
2012-03-23
2012-03-24
2012-03-25
2012-03-26
2012-03-27
2012-03-28
2012-03-29
2012-03-30
2012-03-31
2012-04-01
2012-04-02
2012-04-03
2012-04-04
2012-04-05
2012-04-06
2012-04-07
2012-04-08
2012-04-09
2012-04-10
2012-04-11
2012-04-12
2012-04-13
2012-04-14
2012-04-15
2012-04-16
2012-04-17
2012-04-18
2012-04-19
2012-04-20
2012-04-21
2012-04-22
2012-04-23
2012-04-24
2012-04-25
2012-04-26
2012-04-27
2012-04-28
2012-04-29
2012-04-30
2012-05-01
2012-05-02
2012-05-03
2012-05-04
2012-05-05
2012-05-06
2012-05-07
2012-05-08
2012-05-09
2012-05-10
2012-05-11
2012-05-12
2012-05-13
2012-05-14
2012-05-15
2012-05-16
2012-05-17
2012-05-18
2012-05-19
2012-05-20
2012-05-21
2012-05-22
2012-05-23
2012-05-24
2012-05-25
2012-05-26
2012-05-27
2012-05-28
2012-05-29
2012-05-30
2012-05-31
2012-06-01
2012-06-02
2012-06-03
2012-06-04
2012-06-05
2012-06-06
2012-06-07
2012-06-08
2012-06-09
2012-06-10
2012-06-11
2012-06-12
2012-06-13
2012-06-14
2012-06-15
2012-06-16
2012-06-17
2012-06-18
2012-06-19
2012-06-20
2012-06-21
2012-06-22
2012-06-23
2012-06-24
2012-06-25
2012-06-26
2012-06-27
2012-06-28
2012-06-29
2012-06-30
2012-07-01
2012-07-02
2012-07-03
2012-07-04
2012-07-05
2012-07-06
2012-07-07
2012-07-08
2012-07-09
2012-07-10
2012-07-11
2012-07-12
2012-07-13
2012-07-14
2012-07-15
2012-07-16
2012-07-17
2012-07-18
2012-07-19
2012-07-20
2012-07-21
2012-07-22
2012-07-23
2012-07-24
2012-07-25
2012-07-26
2012-07-27
2012-07-28
2012-07-29
2012-07-30
2012-07-31
2012-08-01
2012-08-02
2012-08-03
2012-08-04
2012-08-05
2012-08-06
2012-08-07
2012-08-08
2012-08-09
2012-08-10
2012-08-11
2012-08-12
2012-08-13
2012-08-14
2012-08-15
2012-08-16
2012-08-17
2012-08-18
2012-08-19
2012-08-20
2012-08-21
2012-08-22
2012-08-23
2012-08-24
2012-08-25
2012-08-26
2012-08-27
2012-08-28
2012-08-29
2012-08-30
2012-08-31
2012-09-01
2012-09-02
2012-09-03
2012-09-04
2012-09-05
2012-09-06
2012-09-07
2012-09-08
2012-09-09
2012-09-10
2012-09-11
2012-09-12
2012-09-13
2012-09-14
2012-09-15
2012-09-16
2012-09-17
2012-09-18
2012-09-19
2012-09-20
2012-09-21
2012-09-22
2012-09-23
2012-09-24
2012-09-25
2012-09-26
2012-09-27
2012-09-28
2012-09-29
2012-09-30
2012-10-01
2012-10-02
2012-10-03
2012-10-04
2012-10-05
2012-10-06
2012-10-07
2012-10-08
2012-10-09
2012-10-10
2012-10-11
2012-10-12
2012-10-13
2012-10-14
2012-10-15
2012-10-16
2012-10-17
2012-10-18
2012-10-19
2012-10-20
2012-10-21
2012-10-22
2012-10-23
2012-10-24
2012-10-25
2012-10-26
2012-10-27
2012-10-28
2012-10-29
2012-10-30
2012-10-31
2012-11-01
2012-11-02
2012-11-03
2012-11-04
2012-11-05
2012-11-06
2012-11-07
2012-11-08
2012-11-09
2012-11-10
2012-11-11
2012-11-12
2012-11-13
2012-11-14
2012-11-15
2012-11-16
2012-11-17
2012-11-18
2012-11-19
2012-11-20
2012-11-21
2012-11-22
2012-11-23
2012-11-24
2012-11-25
2012-11-26
2012-11-27
2012-11-28
2012-11-29
2012-11-30
2012-12-01
2012-12-02
2012-12-03
2012-12-04
2012-12-05
2012-12-06
2012-12-07
2012-12-08
2012-12-09
2012-12-10
2012-12-11
2012-12-12
2012-12-13
2012-12-14
2012-12-15
2012-12-16
2012-12-17
2012-12-18
2012-12-19
2012-12-20
2012-12-21
2012-12-22
2012-12-23
2012-12-24
2012-12-25
2012-12-26
2012-12-27
2012-12-28
2012-12-29
2012-12-30
2012-12-31
2013-01-01
2013-01-02
2013-01-03
2013-01-04
2013-01-05
2013-01-06
2013-01-07
2013-01-08
2013-01-09
2013-01-10
2013-01-11
2013-01-12
2013-01-13
2013-01-14
2013-01-15
2013-01-16
2013-01-17
2013-01-18
2013-01-19
2013-01-20
2013-01-21
2013-01-22
2013-01-23
2013-01-24
2013-01-25
2013-01-26
2013-01-27
2013-01-28
2013-01-29
2013-01-30
2013-01-31
2013-02-01
2013-02-02
2013-02-03
2013-02-04
2013-02-05
2013-02-06
2013-02-07
2013-02-08
2013-02-09
2013-02-10
2013-02-11
2013-02-12
2013-02-13
2013-02-14
2013-02-15
2013-02-16
2013-02-17
2013-02-18
2013-02-19
2013-02-20
2013-02-21
2013-02-22
2013-02-23
2013-02-24
2013-02-25
2013-02-26
2013-02-27
2013-02-28
2013-03-01
2013-03-02
2013-03-03
2013-03-04
2013-03-05
2013-03-06
2013-03-07
2013-03-08
2013-03-09
2013-03-10
2013-03-11
2013-03-12
2013-03-13
2013-03-14
2013-03-15
2013-03-16
2013-03-17
2013-03-18
2013-03-19
2013-03-20
2013-03-21
2013-03-22
2013-03-23
2013-03-24
2013-03-25
2013-03-26
2013-03-27
2013-03-28
2013-03-29
2013-03-30
2013-03-31
2013-04-01
2013-04-02
2013-04-03
2013-04-04
2013-04-05
2013-04-06
2013-04-07
2013-04-08
2013-04-09
2013-04-10
2013-04-11
2013-04-12
2013-04-13
2013-04-14
2013-04-15
2013-04-16
2013-04-17
2013-04-18
2013-04-19
2013-04-20
2013-04-21
2013-04-22
2013-04-23
2013-04-24
2013-04-25
2013-04-26
2013-04-27
2013-04-28
2013-04-29
2013-04-30
2013-05-01
2013-05-02
2013-05-03
2013-05-04
2013-05-05
2013-05-06
2013-05-07
2013-05-08
2013-05-09
2013-05-10
2013-05-11
2013-05-12
2013-05-13
2013-05-14
2013-05-15
2013-05-16
2013-05-17
2013-05-18
2013-05-19
2013-05-20
2013-05-21
2013-05-22
2013-05-23
2013-05-24
2013-05-25
2013-05-26
2013-05-27
2013-05-28
2013-05-29
2013-05-30
2013-05-31
2013-06-01
2013-06-02
2013-06-03
2013-06-04
2013-06-05
2013-06-06
2013-06-07
2013-06-08
2013-06-09
2013-06-10
2013-06-11
2013-06-12
2013-06-13
2013-06-14
2013-06-15
2013-06-16
2013-06-17
2013-06-18
2013-06-19
2013-06-20
2013-06-21
2013-06-22
2013-06-23
2013-06-24
2013-06-25
2013-06-26
2013-06-27
2013-06-28
2013-06-29
2013-06-30
2013-07-01
2013-07-02
2013-07-03
2013-07-04
2013-07-05
2013-07-06
2013-07-07
2013-07-08
2013-07-09
2013-07-10
2013-07-11
2013-07-12
2013-07-13
2013-07-14
2013-07-15
2013-07-16
2013-07-17
2013-07-18
2013-07-19
2013-07-20
2013-07-21
2013-07-22
2013-07-23
2013-07-24
2013-07-25
2013-07-26
2013-07-27
2013-07-28
2013-07-29
2013-07-30
2013-07-31
2013-08-01
2013-08-02
2013-08-03
2013-08-04
2013-08-05
2013-08-06
2013-08-07
2013-08-08
2013-08-09
2013-08-10
2013-08-11
2013-08-12
2013-08-13
2013-08-14
2013-08-15
2013-08-16
2013-08-17
2013-08-18
2013-08-19
2013-08-20
2013-08-21
2013-08-22
2013-08-23
2013-08-24
2013-08-25
2013-08-26
2013-08-27
2013-08-28
2013-08-29
2013-08-30
2013-08-31
2013-09-01
2013-09-02
2013-09-03
2013-09-04
2013-09-05
2013-09-06
2013-09-07
2013-09-08
2013-09-09
2013-09-10
2013-09-11
2013-09-12
2013-09-13
2013-09-14
2013-09-15
2013-09-16
2013-09-17
2013-09-18
2013-09-19
2013-09-20
2013-09-21
2013-09-22
2013-09-23
2013-09-24
2013-09-25
2013-09-26
2013-09-27
2013-09-28
2013-09-29
2013-09-30
2013-10-01
2013-10-02
2013-10-03
2013-10-04
2013-10-05
2013-10-06
2013-10-07
2013-10-08
2013-10-09
2013-10-10
2013-10-11
2013-10-12
2013-10-13
2013-10-14
2013-10-15
2013-10-16
2013-10-17
2013-10-18
2013-10-19
2013-10-20
2013-10-21
2013-10-22
2013-10-23
2013-10-24
2013-10-25
2013-10-26
2013-10-27
2013-10-28
2013-10-29
2013-10-30
2013-10-31
2013-11-01
2013-11-02
2013-11-03
2013-11-04
2013-11-05
2013-11-06
2013-11-07
2013-11-08
2013-11-09
2013-11-10
2013-11-11
2013-11-12
2013-11-13
2013-11-14
2013-11-15
2013-11-16
2013-11-17
2013-11-18
2013-11-19
2013-11-20
2013-11-21
2013-11-22
2013-11-23
2013-11-24
2013-11-25
2013-11-26
2013-11-27
2013-11-28
2013-11-29
2013-11-30
2013-12-01
2013-12-02
2013-12-03
2013-12-04
2013-12-05
2013-12-06
2013-12-07
2013-12-08
2013-12-09
2013-12-10
2013-12-11
2013-12-12
2013-12-13
2013-12-14
2013-12-15
2013-12-16
2013-12-17
2013-12-18
2013-12-19
2013-12-20
2013-12-21
2013-12-22
2013-12-23
2013-12-24
2013-12-25
2013-12-26
2013-12-27
2013-12-28
2013-12-29
2013-12-30
2013-12-31
2014-01-01
2014-01-02
2014-01-03
2014-01-04
2014-01-05
2014-01-06
2014-01-07
2014-01-08
2014-01-09
2014-01-10
2014-01-11
2014-01-12
2014-01-13
2014-01-14
2014-01-15
2014-01-16
2014-01-17
2014-01-18
2014-01-19
2014-01-20
2014-01-21
2014-01-22
2014-01-23
2014-01-24
2014-01-25
2014-01-26
2014-01-27
2014-01-28
2014-01-29
2014-01-30
2014-01-31
2014-02-01
2014-02-02
2014-02-03
2014-02-04
2014-02-05
2014-02-06
2014-02-07
2014-02-08
2014-02-09
2014-02-10
2014-02-11
2014-02-12
2014-02-13
2014-02-14
2014-02-15
2014-02-16
2014-02-17
2014-02-18
2014-02-19
2014-02-20
2014-02-21
2014-02-22
2014-02-23
2014-02-24
2014-02-25
2014-02-26
2014-02-27
2014-02-28
2014-03-01
2014-03-02
2014-03-03
2014-03-04
2014-03-05
2014-03-06
2014-03-07
2014-03-08
2014-03-09
2014-03-10
2014-03-11
2014-03-12
2014-03-13
2014-03-14
2014-03-15
2014-03-16
2014-03-17
2014-03-18
2014-03-19
2014-03-20
2014-03-21
2014-03-22
2014-03-23
2014-03-24
2014-03-25
2014-03-26
2014-03-27
2014-03-28
2014-03-29
2014-03-30
2014-03-31
2014-04-01
2014-04-02
2014-04-03
2014-04-04
2014-04-05
2014-04-06
2014-04-07
2014-04-08
2014-04-09
2014-04-10
2014-04-11
2014-04-12
2014-04-13
2014-04-14
2014-04-15
2014-04-16
2014-04-17
2014-04-18
2014-04-19
2014-04-20
2014-04-21
2014-04-22
2014-04-23
2014-04-24
2014-04-25
2014-04-26
2014-04-27
2014-04-28
2014-04-29
2014-04-30
2014-05-01
2014-05-02
2014-05-03
2014-05-04
2014-05-05
2014-05-06
2014-05-07
2014-05-08
2014-05-09
2014-05-10
2014-05-11
2014-05-12
2014-05-13
2014-05-14
2014-05-15
2014-05-16
2014-05-17
2014-05-18
2014-05-19
2014-05-20
2014-05-21
2014-05-22
2014-05-23
2014-05-24
2014-05-25
2014-05-26
2014-05-27
2014-05-28
2014-05-29
2014-05-30
2014-05-31
2014-06-01
2014-06-02
2014-06-03
2014-06-04
2014-06-05
2014-06-06
2014-06-07
2014-06-08
2014-06-09
2014-06-10
2014-06-11
2014-06-12
2014-06-13
2014-06-14
2014-06-15
2014-06-16
2014-06-17
2014-06-18
2014-06-19
2014-06-20
2014-06-21
2014-06-22
2014-06-23
2014-06-24
2014-06-25
2014-06-26
2014-06-27
2014-06-28
2014-06-29
2014-06-30
2014-07-01
2014-07-02
2014-07-03
2014-07-04
2014-07-05
2014-07-06
2014-07-07
2014-07-08
2014-07-09
2014-07-10
2014-07-11
2014-07-12
2014-07-13
2014-07-14
2014-07-15
2014-07-16
2014-07-17
2014-07-18
2014-07-19
2014-07-20
2014-07-21
2014-07-22
2014-07-23
2014-07-24
2014-07-25
2014-07-26
2014-07-27
2014-07-28
2014-07-29
2014-07-30
2014-07-31
2014-08-01
2014-08-02
2014-08-03
2014-08-04
2014-08-05
2014-08-06
2014-08-07
2014-08-08
2014-08-09
2014-08-10
2014-08-11
2014-08-12
2014-08-13
2014-08-14
2014-08-15
2014-08-16
2014-08-17
2014-08-18
2014-08-19
2014-08-20
2014-08-21
2014-08-22
2014-08-23
2014-08-24
2014-08-25
2014-08-26
2014-08-27
2014-08-28
2014-08-29
2014-08-30
2014-08-31
2014-09-01
2014-09-02
2014-09-03
2014-09-04
2014-09-05
2014-09-06
2014-09-07
2014-09-08
2014-09-09
2014-09-10
2014-09-11
2014-09-12
2014-09-13
2014-09-14
2014-09-15
2014-09-16
2014-09-17
2014-09-18
2014-09-19
2014-09-20
2014-09-21
2014-09-22
2014-09-23
2014-09-24
2014-09-25
2014-09-26
2014-09-27
2014-09-28
2014-09-29
2014-09-30
2014-10-01
2014-10-02
2014-10-03
2014-10-04
2014-10-05
2014-10-06
2014-10-07
2014-10-08
2014-10-09
2014-10-10
2014-10-11
2014-10-12
2014-10-13
2014-10-14
2014-10-15
2014-10-16
2014-10-17
2014-10-18
2014-10-19
2014-10-20
2014-10-21
2014-10-22
2014-10-23
2014-10-24
2014-10-25
2014-10-26
2014-10-27
2014-10-28
2014-10-29
2014-10-30
2014-10-31
2014-11-01
2014-11-02
2014-11-03
2014-11-04
2014-11-05
2014-11-06
2014-11-07
2014-11-08
2014-11-09
2014-11-10
2014-11-11
2014-11-12
2014-11-13
2014-11-14
2014-11-15
2014-11-16
2014-11-17
2014-11-18
2014-11-19
2014-11-20
2014-11-21
2014-11-22
2014-11-23
2014-11-24
2014-11-25
2014-11-26
2014-11-27
2014-11-28
2014-11-29
2014-11-30
2014-12-01
2014-12-02
2014-12-03
2014-12-04
2014-12-05
2014-12-06
2014-12-07
2014-12-08
2014-12-09
2014-12-10
2014-12-11
2014-12-12
2014-12-13
2014-12-14
2014-12-15
2014-12-16
2014-12-17
2014-12-18
2014-12-19
2014-12-20
2014-12-21
2014-12-22
2014-12-23
2014-12-24
2014-12-25
2014-12-26
2014-12-27
2014-12-28
2014-12-29
2014-12-30
2014-12-31
2015-01-01
2015-01-02
2015-01-03
2015-01-04
2015-01-05
2015-01-06
2015-01-07
2015-01-08
2015-01-09
2015-01-10
2015-01-11
2015-01-12
2015-01-13
2015-01-14
2015-01-15
2015-01-16
2015-01-17
2015-01-18
2015-01-19
2015-01-20
2015-01-21
2015-01-22
2015-01-23
2015-01-24
2015-01-25
2015-01-26
2015-01-27
2015-01-28
2015-01-29
2015-01-30
2015-01-31
2015-02-01
2015-02-02
2015-02-03
2015-02-04
2015-02-05
2015-02-06
2015-02-07
2015-02-08
2015-02-09
2015-02-10
2015-02-11
2015-02-12
2015-02-13
2015-02-14
2015-02-15
2015-02-16
2015-02-17
2015-02-18
2015-02-19
2015-02-20
2015-02-21
2015-02-22
2015-02-23
2015-02-24
2015-02-25
2015-02-26
2015-02-27
2015-02-28
2015-03-01
2015-03-02
2015-03-03
2015-03-04
2015-03-05
2015-03-06
2015-03-07
2015-03-08
2015-03-09
2015-03-10
2015-03-11
2015-03-12
2015-03-13
2015-03-14
2015-03-15
2015-03-16
2015-03-17
2015-03-18
2015-03-19
2015-03-20
2015-03-21
2015-03-22
2015-03-23
2015-03-24
2015-03-25
2015-03-26
2015-03-27
2015-03-28
2015-03-29
2015-03-30
2015-03-31
2015-04-01
2015-04-02
2015-04-03
2015-04-04
2015-04-05
2015-04-06
2015-04-07
2015-04-08
2015-04-09
2015-04-10
2015-04-11
2015-04-12
2015-04-13
2015-04-14
2015-04-15
2015-04-16
2015-04-17
2015-04-18
2015-04-19
2015-04-20
2015-04-21
2015-04-22
2015-04-23
2015-04-24
2015-04-25
2015-04-26
2015-04-27
2015-04-28
2015-04-29
2015-04-30
2015-05-01
2015-05-02
2015-05-03
2015-05-04
2015-05-05
2015-05-06
2015-05-07
2015-05-08
2015-05-09
2015-05-10
2015-05-11
2015-05-12
2015-05-13
2015-05-14
2015-05-15
2015-05-16
2015-05-17
2015-05-18
2015-05-19
2015-05-20
2015-05-21
2015-05-22
2015-05-23
2015-05-24
2015-05-25
2015-05-26
2015-05-27
2015-05-28
2015-05-29
2015-05-30
2015-05-31
2015-06-01
2015-06-02
2015-06-03
2015-06-04
2015-06-05
2015-06-06
2015-06-07
2015-06-08
2015-06-09
2015-06-10
2015-06-11
2015-06-12
2015-06-13
2015-06-14
2015-06-15
2015-06-16
2015-06-17
2015-06-18
2015-06-19
2015-06-20
2015-06-21
2015-06-22
2015-06-23
2015-06-24
2015-06-25
2015-06-26
2015-06-27
2015-06-28
2015-06-29
2015-06-30
2015-07-01
2015-07-02
2015-07-03
2015-07-04
2015-07-05
2015-07-06
2015-07-07
2015-07-08
2015-07-09
2015-07-10
2015-07-11
2015-07-12
2015-07-13
2015-07-14
2015-07-15
2015-07-16
2015-07-17
2015-07-18
2015-07-19
2015-07-20
2015-07-21
2015-07-22
2015-07-23
2015-07-24
2015-07-25
2015-07-26
2015-07-27
2015-07-28
2015-07-29
2015-07-30
2015-07-31
2015-08-01
2015-08-02
2015-08-03
2015-08-04
2015-08-05
2015-08-06
2015-08-07
2015-08-08
2015-08-09
2015-08-10
2015-08-11
2015-08-12
2015-08-13
2015-08-14
2015-08-15
2015-08-16
2015-08-17
2015-08-18
2015-08-19
2015-08-20
2015-08-21
2015-08-22
2015-08-23
2015-08-24
2015-08-25
2015-08-26
2015-08-27
2015-08-28
2015-08-29
2015-08-30
2015-08-31
2015-09-01
2015-09-02
2015-09-03
2015-09-04
2015-09-05
2015-09-06
2015-09-07
2015-09-08
2015-09-09
2015-09-10
2015-09-11
2015-09-12
2015-09-13
2015-09-14
2015-09-15
2015-09-16
2015-09-17
2015-09-18
2015-09-19
2015-09-20
2015-09-21
2015-09-22
2015-09-23
2015-09-24
2015-09-25
2015-09-26
2015-09-27
2015-09-28
2015-09-29
2015-09-30
2015-10-01
2015-10-02
2015-10-03
2015-10-04
2015-10-05
2015-10-06
2015-10-07
2015-10-08
2015-10-09
2015-10-10
2015-10-11
2015-10-12
2015-10-13
2015-10-14
2015-10-15
2015-10-16
2015-10-17
2015-10-18
2015-10-19
2015-10-20
2015-10-21
2015-10-22
2015-10-23
2015-10-24
2015-10-25
2015-10-26
2015-10-27
2015-10-28
2015-10-29
2015-10-30
2015-10-31
2015-11-01
2015-11-02
2015-11-03
2015-11-04
2015-11-05
2015-11-06
2015-11-07
2015-11-08
2015-11-09
2015-11-10
2015-11-11
2015-11-12
2015-11-13
2015-11-14
2015-11-15
2015-11-16
2015-11-17
2015-11-18
2015-11-19
2015-11-20
2015-11-21
2015-11-22
2015-11-23
2015-11-24
2015-11-25
2015-11-26
2015-11-27
2015-11-28
2015-11-29
2015-11-30
2015-12-01
2015-12-02
2015-12-03
2015-12-04
2015-12-05
2015-12-06
2015-12-07
2015-12-08
2015-12-09
2015-12-10
2015-12-11
2015-12-12
2015-12-13
2015-12-14
2015-12-15
2015-12-16
2015-12-17
2015-12-18
2015-12-19
2015-12-20
2015-12-21
2015-12-22
2015-12-23
2015-12-24
2015-12-25
2015-12-26
2015-12-27
2015-12-28
2015-12-29
2015-12-30
2015-12-31
2016-01-01
2016-01-02
2016-01-03
2016-01-04
2016-01-05
2016-01-06
2016-01-07
2016-01-08
2016-01-09
2016-01-10
2016-01-11
2016-01-12
2016-01-13
2016-01-14
2016-01-15
2016-01-16
2016-01-17
2016-01-18
2016-01-19
2016-01-20
2016-01-21
2016-01-22
2016-01-23
2016-01-24
2016-01-25
2016-01-26
2016-01-27
2016-01-28
2016-01-29
2016-01-30
2016-01-31
2016-02-01
2016-02-02
2016-02-03
2016-02-04
2016-02-05
2016-02-06
2016-02-07
2016-02-08
2016-02-09
2016-02-10
2016-02-11
2016-02-12
2016-02-13
2016-02-14
2016-02-15
2016-02-16
2016-02-17
2016-02-18
2016-02-19
2016-02-20
2016-02-21
2016-02-22
2016-02-23
2016-02-24
2016-02-25
2016-02-26
2016-02-27
2016-02-28
2016-02-29
2016-03-01
2016-03-02
2016-03-03
2016-03-04
2016-03-05
2016-03-06
2016-03-07
2016-03-08
2016-03-09
2016-03-10
2016-03-11
2016-03-12
2016-03-13
2016-03-14
2016-03-15
2016-03-16
2016-03-17
2016-03-18
2016-03-19
2016-03-20
2016-03-21
2016-03-22
2016-03-23
2016-03-24
2016-03-25
2016-03-26
2016-03-27
2016-03-28
2016-03-29
2016-03-30
2016-03-31
2016-04-01
2016-04-02
2016-04-03
2016-04-04
2016-04-05
2016-04-06
2016-04-07
2016-04-08
2016-04-09
2016-04-10
2016-04-11
2016-04-12
2016-04-13
2016-04-14
2016-04-15
2016-04-16
2016-04-17
2016-04-18
2016-04-19
2016-04-20
2016-04-21
2016-04-22
2016-04-23
2016-04-24
2016-04-25
2016-04-26
2016-04-27
2016-04-28
2016-04-29
2016-04-30
2016-05-01
2016-05-02
2016-05-03
2016-05-04
2016-05-05
2016-05-06
2016-05-07
2016-05-08
2016-05-09
2016-05-10
2016-05-11
2016-05-12
2016-05-13
2016-05-14
2016-05-15
2016-05-16
2016-05-17
2016-05-18
2016-05-19
2016-05-20
2016-05-21
2016-05-22
2016-05-23
2016-05-24
2016-05-25
2016-05-26
2016-05-27
2016-05-28
2016-05-29
2016-05-30
2016-05-31
2016-06-01
2016-06-02
2016-06-03
2016-06-04
2016-06-05
2016-06-06
2016-06-07
2016-06-08
2016-06-09
2016-06-10
2016-06-11
2016-06-12
2016-06-13
2016-06-14
2016-06-15
2016-06-16
2016-06-17
2016-06-18
2016-06-19
2016-06-20
2016-06-21
2016-06-22
2016-06-23
2016-06-24
2016-06-25
2016-06-26
2016-06-27
2016-06-28
2016-06-29
2016-06-30
2016-07-01
2016-07-02
2016-07-03
2016-07-04
2016-07-05
2016-07-06
2016-07-07
2016-07-08
2016-07-09
2016-07-10
2016-07-11
2016-07-12
2016-07-13
2016-07-14
2016-07-15
2016-07-16
2016-07-17
2016-07-18
2016-07-19
2016-07-20
2016-07-21
2016-07-22
2016-07-23
2016-07-24
2016-07-25
2016-07-26
2016-07-27
2016-07-28
2016-07-29
2016-07-30
2016-07-31
2016-08-01
2016-08-02
2016-08-03
2016-08-04
2016-08-05
2016-08-06
2016-08-07
2016-08-08
2016-08-09
2016-08-10
2016-08-11
2016-08-12
2016-08-13
2016-08-14
2016-08-15
2016-08-16
2016-08-17
2016-08-18
2016-08-19
2016-08-20
2016-08-21
2016-08-22
2016-08-23
2016-08-24
2016-08-25
2016-08-26
2016-08-27
2016-08-28
2016-08-29
2016-08-30
2016-08-31
2016-09-01
2016-09-02
2016-09-03
2016-09-04
2016-09-05
2016-09-06
2016-09-07
2016-09-08
2016-09-09
2016-09-10
2016-09-11
2016-09-12
2016-09-13
2016-09-14
2016-09-15
2016-09-16
2016-09-17
2016-09-18
2016-09-19
2016-09-20
2016-09-21
2016-09-22
2016-09-23
2016-09-24
2016-09-25
2016-09-26
2016-09-27
2016-09-28
2016-09-29
2016-09-30
2016-10-01
2016-10-02
2016-10-03
2016-10-04
2016-10-05
2016-10-06
2016-10-07
2016-10-08
2016-10-09
2016-10-10
2016-10-11
2016-10-12
2016-10-13
2016-10-14
2016-10-15
2016-10-16
2016-10-17
2016-10-18
2016-10-19
2016-10-20
2016-10-21
2016-10-22
2016-10-23
2016-10-24
2016-10-25
2016-10-26
2016-10-27
2016-10-28
2016-10-29
2016-10-30
2016-10-31
2016-11-01
2016-11-02
2016-11-03
2016-11-04
2016-11-05
2016-11-06
2016-11-07
2016-11-08
2016-11-09
2016-11-10
2016-11-11
2016-11-12
2016-11-13
2016-11-14
2016-11-15
2016-11-16
2016-11-17
2016-11-18
2016-11-19
2016-11-20
2016-11-21
2016-11-22
2016-11-23
2016-11-24
2016-11-25
2016-11-26
2016-11-27
2016-11-28
2016-11-29
2016-11-30
2016-12-01
2016-12-02
2016-12-03
2016-12-04
2016-12-05
2016-12-06
2016-12-07
2016-12-08
2016-12-09
2016-12-10
2016-12-11
2016-12-12
2016-12-13
2016-12-14
2016-12-15
2016-12-16
2016-12-17
2016-12-18
2016-12-19
2016-12-20
2016-12-21
2016-12-22

2017-11-28
2017-11-29
2017-11-30
2017-12-01
2017-12-02
2017-12-03
2017-12-04
2017-12-05
2017-12-06
2017-12-07
2017-12-08
2017-12-09
2017-12-10
2017-12-11
2017-12-12
2017-12-13
2017-12-14
2017-12-15
2017-12-16
2017-12-17
2017-12-18
2017-12-19
2017-12-20
2017-12-21
2017-12-22
2017-12-23
2017-12-24
2017-12-25
2017-12-26
2017-12-27
2017-12-28
2017-12-29
2017-12-30
2017-12-31
2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06
2018-01-07
2018-01-08
2018-01-09
2018-01-10
2018-01-11
2018-01-12
2018-01-13
2018-01-14
2018-01-15
2018-01-16
2018-01-17
2018-01-18
2018-01-19
2018-01-20
2018-01-21
2018-01-22
2018-01-23
2018-01-24
2018-01-25
2018-01-26
2018-01-27
2018-01-28
2018-01-29
2018-01-30
2018-01-31
2018-02-01
2018-02-02
2018-02-03
2018-02-04
2018-02-05
2018-02-06
2018-02-07
2018-02-08
2018-02-09
2018-02-10
2018-02-11
2018-02-12
2018-02-13
2018-02-14
2018-02-15
2018-02-16
2018-02-17
2018-02-18
2018-02-19
2018-02-20
2018-02-21
2018-02-22
2018-02-23
2018-02-24
2018-02-25
2018-02-26
2018-02-27
2018-02-28
2018-03-01
2018-03-02
2018-03-03
2018-03-04
2018-03-05
2018-03-06
2018-03-07
2018-03-08
2018-03-09
2018-03-10
2018-03-11
2018-03-12
2018-03-13
2018-03-14
2018-03-15
2018-03-16
2018-03-17
2018-03-18
2018-03-19
2018-03-20
2018-03-21
2018-03-22
2018-03-23
2018-03-24
2018-03-25
2018-03-26
2018-03-27
2018-03-28
2018-03-29
2018-03-30
2018-03-31
2018-04-01
2018-04-02
2018-04-03
2018-04-04
2018-04-05
2018-04-06
2018-04-07
2018-04-08
2018-04-09
2018-04-10
2018-04-11
2018-04-12
2018-04-13
2018-04-14
2018-04-15
2018-04-16
2018-04-17
2018-04-18
2018-04-19
2018-04-20
2018-04-21
2018-04-22
2018-04-23
2018-04-24
2018-04-25
2018-04-26
2018-04-27
2018-04-28
2018-04-29
2018-04-30
2018-05-01
2018-05-02
2018-05-03
2018-05-04
2018-05-05
2018-05-06
2018-05-07
2018-05-08
2018-05-09
2018-05-10
2018-05-11
2018-05-12
2018-05-13
2018-05-14
2018-05-15
2018-05-16
2018-05-17
2018-05-18
2018-05-19
2018-05-20
2018-05-21
2018-05-22
2018-05-23
2018-05-24
2018-05-25
2018-05-26
2018-05-27
2018-05-28
2018-05-29
2018-05-30
2018-05-31
2018-06-01
2018-06-02
2018-06-03
2018-06-04
2018-06-05
2018-06-06
2018-06-07
2018-06-08
2018-06-09
2018-06-10
2018-06-11
2018-06-12
2018-06-13
2018-06-14
2018-06-15
2018-06-16
2018-06-17
2018-06-18
2018-06-19
2018-06-20
2018-06-21
2018-06-22
2018-06-23
2018-06-24
2018-06-25
2018-06-26
2018-06-27
2018-06-28
2018-06-29
2018-06-30
2018-07-01
2018-07-02
2018-07-03
2018-07-04
2018-07-05
2018-07-06
2018-07-07
2018-07-08
2018-07-09
2018-07-10
2018-07-11
2018-07-12
2018-07-13
2018-07-14
2018-07-15
2018-07-16
2018-07-17
2018-07-18
2018-07-19
2018-07-20
2018-07-21
2018-07-22
2018-07-23
2018-07-24
2018-07-25
2018-07-26
2018-07-27
2018-07-28
2018-07-29
2018-07-30
2018-07-31
2018-08-01
2018-08-02
2018-08-03
2018-08-04
2018-08-05
2018-08-06
2018-08-07
2018-08-08
2018-08-09
2018-08-10
2018-08-11
2018-08-12
2018-08-13
2018-08-14
2018-08-15
2018-08-16
2018-08-17
2018-08-18
2018-08-19
2018-08-20
2018-08-21
2018-08-22
2018-08-23
2018-08-24
2018-08-25
2018-08-26
2018-08-27
2018-08-28
2018-08-29
2018-08-30
2018-08-31
2018-09-01
2018-09-02
2018-09-03
2018-09-04
2018-09-05
2018-09-06
2018-09-07
2018-09-08
2018-09-09
2018-09-10
2018-09-11
2018-09-12
2018-09-13
2018-09-14
2018-09-15
2018-09-16
2018-09-17
2018-09-18
2018-09-19
2018-09-20
2018-09-21
2018-09-22
2018-09-23
2018-09-24
2018-09-25
2018-09-26
2018-09-27
2018-09-28
2018-09-29
2018-09-30
2018-10-01
2018-10-02
2018-10-03
2018-10-04
2018-10-05
2018-10-06
2018-10-07
2018-10-08
2018-10-09
2018-10-10
2018-10-11
2018-10-12
2018-10-13
2018-10-14
2018-10-15
2018-10-16
2018-10-17
2018-10-18
2018-10-19
2018-10-20
2018-10-21
2018-10-22
2018-10-23
2018-10-24
2018-10-25
2018-10-26
2018-10-27
2018-10-28
2018-10-29
2018-10-30
2018-10-31
2018-11-01
2018-11-02
2018-11-03
2018-11-04
2018-11-05
2018-11-06
2018-11-07
2018-11-08
2018-11-09
2018-11-10
2018-11-11
2018-11-12
2018-11-13
2018-11-14
2018-11-15
2018-11-16
2018-11-17
2018-11-18
2018-11-19
2018-11-20
2018-11-21
2018-11-22
2018-11-23
2018-11-24
2018-11-25
2018-11-26
2018-11-27
2018-11-28
2018-11-29
2018-11-30
2018-12-01
2018-12-02
2018-12-03
2018-12-04
2018-12-05
2018-12-06
2018-12-07
2018-12-08
2018-12-09
2018-12-10
2018-12-11
2018-12-12
2018-12-13
2018-12-14
2018-12-15
2018-12-16
2018-12-17
2018-12-18
2018-12-19
2018-12-20
2018-12-21
2018-12-22
2018-12-23
2018-12-24
2018-12-25
2018-12-26
2018-12-27
2018-12-28
2018-12-29
2018-12-30
2018-12-31
2019-01-01
2019-01-02
2019-01-03
2019-01-04
2019-01-05
2019-01-06
2019-01-07
2019-01-08
2019-01-09
2019-01-10
2019-01-11
2019-01-12
2019-01-13
2019-01-14
2019-01-15
2019-01-16
2019-01-17
2019-01-18
2019-01-19
2019-01-20
2019-01-21
2019-01-22
2019-01-23
2019-01-24
2019-01-25
2019-01-26
2019-01-27
2019-01-28
2019-01-29
2019-01-30
2019-01-31
2019-02-01
2019-02-02
2019-02-03
2019-02-04
2019-02-05
2019-02-06
2019-02-07
2019-02-08
2019-02-09
2019-02-10
2019-02-11
2019-02-12
2019-02-13
2019-02-14
2019-02-15
2019-02-16
2019-02-17
2019-02-18
2019-02-19
2019-02-20
2019-02-21
2019-02-22
2019-02-23
2019-02-24
2019-02-25
2019-02-26
2019-02-27
2019-02-28
2019-03-01
2019-03-02
2019-03-03
2019-03-04
2019-03-05
2019-03-06
2019-03-07
2019-03-08
2019-03-09
2019-03-10
2019-03-11
2019-03-12
2019-03-13
2019-03-14
2019-03-15
2019-03-16
2019-03-17
2019-03-18
2019-03-19
2019-03-20
2019-03-21
2019-03-22
2019-03-23
2019-03-24
2019-03-25
2019-03-26
2019-03-27
2019-03-28
2019-03-29
2019-03-30
2019-03-31
2019-04-01
2019-04-02
2019-04-03
2019-04-04
2019-04-05
2019-04-06
2019-04-07
2019-04-08
2019-04-09
2019-04-10
2019-04-11
2019-04-12
2019-04-13
2019-04-14
2019-04-15
2019-04-16
2019-04-17
2019-04-18
2019-04-19
2019-04-20
2019-04-21
2019-04-22
2019-04-23
2019-04-24
2019-04-25
2019-04-26
2019-04-27
2019-04-28
2019-04-29
2019-04-30
2019-05-01
2019-05-02
2019-05-03
2019-05-04
2019-05-05
2019-05-06
2019-05-07
2019-05-08
2019-05-09
2019-05-10
2019-05-11
2019-05-12
2019-05-13
2019-05-14
2019-05-15
2019-05-16
2019-05-17
2019-05-18
2019-05-19
2019-05-20
2019-05-21
2019-05-22
2019-05-23
2019-05-24
2019-05-25
2019-05-26
2019-05-27
2019-05-28
2019-05-29
2019-05-30
2019-05-31

In [51]:
# find missing week
def intersection(lst1, lst2): 
    return list(set(lst1) & set(lst2))

In [177]:
for k, v in sorted(date_week.items()):
    print(k, '-', v)

2012-01-01 - 2012_01
2012-01-02 - 2012_01
2012-01-03 - 2012_01
2012-01-04 - 2012_01
2012-01-05 - 2012_01
2012-01-06 - 2012_01
2012-01-07 - 2012_01
2012-01-08 - 2012_02
2012-01-09 - 2012_02
2012-01-10 - 2012_02
2012-01-11 - 2012_02
2012-01-12 - 2012_02
2012-01-13 - 2012_02
2012-01-14 - 2012_02
2012-01-15 - 2012_03
2012-01-16 - 2012_03
2012-01-17 - 2012_03
2012-01-18 - 2012_03
2012-01-19 - 2012_03
2012-01-20 - 2012_03
2012-01-21 - 2012_03
2012-01-22 - 2012_04
2012-01-23 - 2012_04
2012-01-24 - 2012_04
2012-01-25 - 2012_04
2012-01-26 - 2012_04
2012-01-27 - 2012_04
2012-01-28 - 2012_04
2012-01-29 - 2012_05
2012-01-30 - 2012_05
2012-01-31 - 2012_05
2012-02-01 - 2012_05
2012-02-02 - 2012_05
2012-02-03 - 2012_05
2012-02-04 - 2012_05
2012-02-05 - 2012_06
2012-02-06 - 2012_06
2012-02-07 - 2012_06
2012-02-08 - 2012_06
2012-02-09 - 2012_06
2012-02-10 - 2012_06
2012-02-11 - 2012_06
2012-02-12 - 2012_07
2012-02-13 - 2012_07
2012-02-14 - 2012_07
2012-02-15 - 2012_07
2012-02-16 - 2012_07
2012-02-17 - 2012_07
2012-02-18 - 2012_07
2012-02-19 - 2012_08
2012-02-20 - 2012_08
2012-02-21 - 2012_08
2012-02-22 - 2012_08
2012-02-23 - 2012_08
2012-02-24 - 2012_08
2012-02-25 - 2012_08
2012-02-26 - 2012_09
2012-02-27 - 2012_09
2012-02-28 - 2012_09
2012-02-29 - 2012_09
2012-03-01 - 2012_09
2012-03-02 - 2012_09
2012-03-03 - 2012_09
2012-03-04 - 2012_10
2012-03-05 - 2012_10
2012-03-06 - 2012_10
2012-03-07 - 2012_10
2012-03-08 - 2012_10
2012-03-09 - 2012_10
2012-03-10 - 2012_10
2012-03-11 - 2012_11
2012-03-12 - 2012_11
2012-03-13 - 2012_11
2012-03-14 - 2012_11
2012-03-15 - 2012_11
2012-03-16 - 2012_11
2012-03-17 - 2012_11
2012-03-18 - 2012_12
2012-03-19 - 2012_12
2012-03-20 - 2012_12
2012-03-21 - 2012_12
2012-03-22 - 2012_12
2012-03-23 - 2012_12
2012-03-24 - 2012_12
2012-03-25 - 2012_13
2012-03-26 - 2012_13
2012-03-27 - 2012_13
2012-03-28 - 2012_13
2012-03-29 - 2012_13
2012-03-30 - 2012_13
2012-03-31 - 2012_13
2012-04-01 - 2012_14
2012-04-02 - 2012_14
2012-04-03 - 2012_14
2012-04-04 - 2012_14
2012-04-05 - 2012_14
2012-04-06 - 2012_14
2012-04-07 - 2012_14
2012-04-08 - 2012_15
2012-04-09 - 2012_15
2012-04-10 - 2012_15
2012-04-11 - 2012_15
2012-04-12 - 2012_15
2012-04-13 - 2012_15
2012-04-14 - 2012_15
2012-04-15 - 2012_16
2012-04-16 - 2012_16
2012-04-17 - 2012_16
2012-04-18 - 2012_16
2012-04-19 - 2012_16
2012-04-20 - 2012_16
2012-04-21 - 2012_16
2012-04-22 - 2012_17
2012-04-23 - 2012_17
2012-04-24 - 2012_17
2012-04-25 - 2012_17
2012-04-26 - 2012_17
2012-04-27 - 2012_17
2012-04-28 - 2012_17
2012-04-29 - 2012_18
2012-04-30 - 2012_18
2012-05-01 - 2012_18
2012-05-02 - 2012_18
2012-05-03 - 2012_18
2012-05-04 - 2012_18
2012-05-05 - 2012_18
2012-05-06 - 2012_19
2012-05-07 - 2012_19
2012-05-08 - 2012_19
2012-05-09 - 2012_19
2012-05-10 - 2012_19
2012-05-11 - 2012_19
2012-05-12 - 2012_19
2012-05-13 - 2012_20
2012-05-14 - 2012_20
2012-05-15 - 2012_20
2012-05-16 - 2012_20
2012-05-17 - 2012_20
2012-05-18 - 2012_20
2012-05-19 - 2012_20
2012-05-20 - 2012_21
2012-05-21 - 2012_21
2012-05-22 - 2012_21
2012-05-23 - 2012_21
2012-05-24 - 2012_21
2012-05-25 - 2012_21
2012-05-26 - 2012_21
2012-05-27 - 2012_22
2012-05-28 - 2012_22
2012-05-29 - 2012_22
2012-05-30 - 2012_22
2012-05-31 - 2012_22
2012-06-01 - 2012_22
2012-06-02 - 2012_22
2012-06-03 - 2012_23
2012-06-04 - 2012_23
2012-06-05 - 2012_23
2012-06-06 - 2012_23
2012-06-07 - 2012_23
2012-06-08 - 2012_23
2012-06-09 - 2012_23
2012-06-10 - 2012_24
2012-06-11 - 2012_24
2012-06-12 - 2012_24
2012-06-13 - 2012_24
2012-06-14 - 2012_24
2012-06-15 - 2012_24
2012-06-16 - 2012_24
2012-06-17 - 2012_25
2012-06-18 - 2012_25
2012-06-19 - 2012_25
2012-06-20 - 2012_25
2012-06-21 - 2012_25
2012-06-22 - 2012_25
2012-06-23 - 2012_25
2012-06-24 - 2012_26
2012-06-25 - 2012_26
2012-06-26 - 2012_26
2012-06-27 - 2012_26
2012-06-28 - 2012_26
2012-06-29 - 2012_26
2012-06-30 - 2012_26
2012-07-01 - 2012_27
2012-07-02 - 2012_27
2012-07-03 - 2012_27
2012-07-04 - 2012_27
2012-07-05 - 2012_27
2012-07-06 - 2012_27
2012-07-07 - 2012_27
2012-07-08 - 2012_28
2012-07-09 - 2012_28
2012-07-10 - 2012_28
2012-07-11 - 2012_28
2012-07-12 - 2012_28
2012-07-13 - 2012_28
2012-07-14 - 2012_28
2012-07-15 - 2012_29
2012-07-16 - 2012_29
2012-07-17 - 2012_29
2012-07-18 - 2012_29
2012-07-19 - 2012_29
2012-07-20 - 2012_29
2012-07-21 - 2012_29
2012-07-22 - 2012_30
2012-07-23 - 2012_30
2012-07-24 - 2012_30
2012-07-25 - 2012_30
2012-07-26 - 2012_30
2012-07-27 - 2012_30
2012-07-28 - 2012_30
2012-07-29 - 2012_31
2012-07-30 - 2012_31
2012-07-31 - 2012_31
2012-08-01 - 2012_31
2012-08-02 - 2012_31
2012-08-03 - 2012_31
2012-08-04 - 2012_31
2012-08-05 - 2012_32
2012-08-06 - 2012_32
2012-08-07 - 2012_32
2012-08-08 - 2012_32
2012-08-09 - 2012_32
2012-08-10 - 2012_32
2012-08-11 - 2012_32
2012-08-12 - 2012_33
2012-08-13 - 2012_33
2012-08-14 - 2012_33
2012-08-15 - 2012_33
2012-08-16 - 2012_33
2012-08-17 - 2012_33
2012-08-18 - 2012_33
2012-08-19 - 2012_34
2012-08-20 - 2012_34
2012-08-21 - 2012_34
2012-08-22 - 2012_34
2012-08-23 - 2012_34
2012-08-24 - 2012_34
2012-08-25 - 2012_34
2012-08-26 - 2012_35
2012-08-27 - 2012_35
2012-08-28 - 2012_35
2012-08-29 - 2012_35
2012-08-30 - 2012_35
2012-08-31 - 2012_35
2012-09-01 - 2012_35
2012-09-02 - 2012_36
2012-09-03 - 2012_36
2012-09-04 - 2012_36
2012-09-05 - 2012_36
2012-09-06 - 2012_36
2012-09-07 - 2012_36
2012-09-08 - 2012_36
2012-09-09 - 2012_37
2012-09-10 - 2012_37
2012-09-11 - 2012_37
2012-09-12 - 2012_37
2012-09-13 - 2012_37
2012-09-14 - 2012_37
2012-09-15 - 2012_37
2012-09-16 - 2012_38
2012-09-17 - 2012_38
2012-09-18 - 2012_38
2012-09-19 - 2012_38
2012-09-20 - 2012_38
2012-09-21 - 2012_38
2012-09-22 - 2012_38
2012-09-23 - 2012_39
2012-09-24 - 2012_39
2012-09-25 - 2012_39
2012-09-26 - 2012_39
2012-09-27 - 2012_39
2012-09-28 - 2012_39
2012-09-29 - 2012_39
2012-09-30 - 2012_40
2012-10-01 - 2012_40
2012-10-02 - 2012_40
2012-10-03 - 2012_40
2012-10-04 - 2012_40
2012-10-05 - 2012_40
2012-10-06 - 2012_40
2012-10-07 - 2012_41
2012-10-08 - 2012_41
2012-10-09 - 2012_41
2012-10-10 - 2012_41
2012-10-11 - 2012_41
2012-10-12 - 2012_41
2012-10-13 - 2012_41
2012-10-14 - 2012_42
2012-10-15 - 2012_42
2012-10-16 - 2012_42
2012-10-17 - 2012_42
2012-10-18 - 2012_42
2012-10-19 - 2012_42
2012-10-20 - 2012_42
2012-10-21 - 2012_43
2012-10-22 - 2012_43
2012-10-23 - 2012_43
2012-10-24 - 2012_43
2012-10-25 - 2012_43
2012-10-26 - 2012_43
2012-10-27 - 2012_43
2012-10-28 - 2012_44
2012-10-29 - 2012_44
2012-10-30 - 2012_44
2012-10-31 - 2012_44
2012-11-01 - 2012_44
2012-11-02 - 2012_44
2012-11-03 - 2012_44
2012-11-04 - 2012_45
2012-11-05 - 2012_45
2012-11-06 - 2012_45
2012-11-07 - 2012_45
2012-11-08 - 2012_45
2012-11-09 - 2012_45
2012-11-10 - 2012_45
2012-11-11 - 2012_46
2012-11-12 - 2012_46
2012-11-13 - 2012_46
2012-11-14 - 2012_46
2012-11-15 - 2012_46
2012-11-16 - 2012_46
2012-11-17 - 2012_46
2012-11-18 - 2012_47
2012-11-19 - 2012_47
2012-11-20 - 2012_47
2012-11-21 - 2012_47
2012-11-22 - 2012_47
2012-11-23 - 2012_47
2012-11-24 - 2012_47
2012-11-25 - 2012_48
2012-11-26 - 2012_48
2012-11-27 - 2012_48
2012-11-28 - 2012_48
2012-11-29 - 2012_48
2012-11-30 - 2012_48
2012-12-01 - 2012_48
2012-12-02 - 2012_49
2012-12-03 - 2012_49
2012-12-04 - 2012_49
2012-12-05 - 2012_49
2012-12-06 - 2012_49
2012-12-07 - 2012_49
2012-12-08 - 2012_49
2012-12-09 - 2012_50
2012-12-10 - 2012_50
2012-12-11 - 2012_50
2012-12-12 - 2012_50
2012-12-13 - 2012_50
2012-12-14 - 2012_50
2012-12-15 - 2012_50
2012-12-16 - 2012_51
2012-12-17 - 2012_51
2012-12-18 - 2012_51
2012-12-19 - 2012_51
2012-12-20 - 2012_51
2012-12-21 - 2012_51
2012-12-22 - 2012_51
2012-12-23 - 2012_52
2012-12-24 - 2012_52
2012-12-25 - 2012_52
2012-12-26 - 2012_52
2012-12-27 - 2012_52
2012-12-28 - 2012_52
2012-12-29 - 2012_52
2012-12-30 - 2013_01
2012-12-31 - 2013_01
2013-01-01 - 2013_01
2013-01-02 - 2013_01
2013-01-03 - 2013_01
2013-01-04 - 2013_01
2013-01-05 - 2013_01
2013-01-06 - 2013_02
2013-01-07 - 2013_02
2013-01-08 - 2013_02
2013-01-09 - 2013_02
2013-01-10 - 2013_02
2013-01-11 - 2013_02
2013-01-12 - 2013_02
2013-01-13 - 2013_03
2013-01-14 - 2013_03
2013-01-15 - 2013_03
2013-01-16 - 2013_03
2013-01-17 - 2013_03
2013-01-18 - 2013_03
2013-01-19 - 2013_03
2013-01-20 - 2013_04
2013-01-21 - 2013_04
2013-01-22 - 2013_04
2013-01-23 - 2013_04
2013-01-24 - 2013_04
2013-01-25 - 2013_04
2013-01-26 - 2013_04
2013-01-27 - 2013_05
2013-01-28 - 2013_05
2013-01-29 - 2013_05
2013-01-30 - 2013_05
2013-01-31 - 2013_05
2013-02-01 - 2013_05
2013-02-02 - 2013_05
2013-02-03 - 2013_06
2013-02-04 - 2013_06
2013-02-05 - 2013_06
2013-02-06 - 2013_06
2013-02-07 - 2013_06
2013-02-08 - 2013_06
2013-02-09 - 2013_06
2013-02-10 - 2013_07
2013-02-11 - 2013_07
2013-02-12 - 2013_07
2013-02-13 - 2013_07
2013-02-14 - 2013_07
2013-02-15 - 2013_07
2013-02-16 - 2013_07
2013-02-17 - 2013_08
2013-02-18 - 2013_08
2013-02-19 - 2013_08
2013-02-20 - 2013_08
2013-02-21 - 2013_08
2013-02-22 - 2013_08
2013-02-23 - 2013_08
2013-02-24 - 2013_09
2013-02-25 - 2013_09
2013-02-26 - 2013_09
2013-02-27 - 2013_09
2013-02-28 - 2013_09
2013-03-01 - 2013_09
2013-03-02 - 2013_09
2013-03-03 - 2013_10
2013-03-04 - 2013_10
2013-03-05 - 2013_10
2013-03-06 - 2013_10
2013-03-07 - 2013_10
2013-03-08 - 2013_10
2013-03-09 - 2013_10
2013-03-10 - 2013_11
2013-03-11 - 2013_11
2013-03-12 - 2013_11
2013-03-13 - 2013_11
2013-03-14 - 2013_11
2013-03-15 - 2013_11
2013-03-16 - 2013_11
2013-03-17 - 2013_12
2013-03-18 - 2013_12
2013-03-19 - 2013_12
2013-03-20 - 2013_12
2013-03-21 - 2013_12
2013-03-22 - 2013_12
2013-03-23 - 2013_12
2013-03-24 - 2013_13
2013-03-25 - 2013_13
2013-03-26 - 2013_13
2013-03-27 - 2013_13
2013-03-28 - 2013_13
2013-03-29 - 2013_13
2013-03-30 - 2013_13
2013-03-31 - 2013_14
2013-04-01 - 2013_14
2013-04-02 - 2013_14
2013-04-03 - 2013_14
2013-04-04 - 2013_14
2013-04-05 - 2013_14
2013-04-06 - 2013_14
2013-04-07 - 2013_15
2013-04-08 - 2013_15
2013-04-09 - 2013_15
2013-04-10 - 2013_15
2013-04-11 - 2013_15
2013-04-12 - 2013_15
2013-04-13 - 2013_15
2013-04-14 - 2013_16
2013-04-15 - 2013_16
2013-04-16 - 2013_16
2013-04-17 - 2013_16
2013-04-18 - 2013_16
2013-04-19 - 2013_16
2013-04-20 - 2013_16
2013-04-21 - 2013_17
2013-04-22 - 2013_17
2013-04-23 - 2013_17
2013-04-24 - 2013_17
2013-04-25 - 2013_17
2013-04-26 - 2013_17
2013-04-27 - 2013_17
2013-04-28 - 2013_18
2013-04-29 - 2013_18
2013-04-30 - 2013_18
2013-05-01 - 2013_18
2013-05-02 - 2013_18
2013-05-03 - 2013_18
2013-05-04 - 2013_18
2013-05-05 - 2013_19
2013-05-06 - 2013_19
2013-05-07 - 2013_19
2013-05-08 - 2013_19
2013-05-09 - 2013_19
2013-05-10 - 2013_19
2013-05-11 - 2013_19
2013-05-12 - 2013_20
2013-05-13 - 2013_20
2013-05-14 - 2013_20
2013-05-15 - 2013_20
2013-05-16 - 2013_20
2013-05-17 - 2013_20
2013-05-18 - 2013_20
2013-05-19 - 2013_21
2013-05-20 - 2013_21
2013-05-21 - 2013_21
2013-05-22 - 2013_21
2013-05-23 - 2013_21
2013-05-24 - 2013_21
2013-05-25 - 2013_21
2013-05-26 - 2013_22
2013-05-27 - 2013_22
2013-05-28 - 2013_22
2013-05-29 - 2013_22
2013-05-30 - 2013_22
2013-05-31 - 2013_22
2013-06-01 - 2013_22
2013-06-02 - 2013_23
2013-06-03 - 2013_23
2013-06-04 - 2013_23
2013-06-05 - 2013_23
2013-06-06 - 2013_23
2013-06-07 - 2013_23
2013-06-08 - 2013_23
2013-06-09 - 2013_24
2013-06-10 - 2013_24
2013-06-11 - 2013_24
2013-06-12 - 2013_24
2013-06-13 - 2013_24
2013-06-14 - 2013_24
2013-06-15 - 2013_24
2013-06-16 - 2013_25
2013-06-17 - 2013_25
2013-06-18 - 2013_25
2013-06-19 - 2013_25
2013-06-20 - 2013_25
2013-06-21 - 2013_25
2013-06-22 - 2013_25
2013-06-23 - 2013_26
2013-06-24 - 2013_26
2013-06-25 - 2013_26
2013-06-26 - 2013_26
2013-06-27 - 2013_26
2013-06-28 - 2013_26
2013-06-29 - 2013_26
2013-06-30 - 2013_27
2013-07-01 - 2013_27
2013-07-02 - 2013_27
2013-07-03 - 2013_27
2013-07-04 - 2013_27
2013-07-05 - 2013_27
2013-07-06 - 2013_27
2013-07-07 - 2013_28
2013-07-08 - 2013_28
2013-07-09 - 2013_28
2013-07-10 - 2013_28
2013-07-11 - 2013_28
2013-07-12 - 2013_28
2013-07-13 - 2013_28
2013-07-14 - 2013_29
2013-07-15 - 2013_29
2013-07-16 - 2013_29
2013-07-17 - 2013_29
2013-07-18 - 2013_29
2013-07-19 - 2013_29
2013-07-20 - 2013_29
2013-07-21 - 2013_30
2013-07-22 - 2013_30
2013-07-23 - 2013_30
2013-07-24 - 2013_30
2013-07-25 - 2013_30
2013-07-26 - 2013_30
2013-07-27 - 2013_30
2013-07-28 - 2013_31
2013-07-29 - 2013_31
2013-07-30 - 2013_31
2013-07-31 - 2013_31
2013-08-01 - 2013_31
2013-08-02 - 2013_31
2013-08-03 - 2013_31
2013-08-04 - 2013_32
2013-08-05 - 2013_32
2013-08-06 - 2013_32
2013-08-07 - 2013_32
2013-08-08 - 2013_32
2013-08-09 - 2013_32
2013-08-10 - 2013_32
2013-08-11 - 2013_33
2013-08-12 - 2013_33
2013-08-13 - 2013_33
2013-08-14 - 2013_33
2013-08-15 - 2013_33
2013-08-16 - 2013_33
2013-08-17 - 2013_33
2013-08-18 - 2013_34
2013-08-19 - 2013_34
2013-08-20 - 2013_34
2013-08-21 - 2013_34
2013-08-22 - 2013_34
2013-08-23 - 2013_34
2013-08-24 - 2013_34
2013-08-25 - 2013_35
2013-08-26 - 2013_35
2013-08-27 - 2013_35
2013-08-28 - 2013_35
2013-08-29 - 2013_35
2013-08-30 - 2013_35
2013-08-31 - 2013_35
2013-09-01 - 2013_36
2013-09-02 - 2013_36
2013-09-03 - 2013_36
2013-09-04 - 2013_36
2013-09-05 - 2013_36
2013-09-06 - 2013_36
2013-09-07 - 2013_36
2013-09-08 - 2013_37
2013-09-09 - 2013_37
2013-09-10 - 2013_37
2013-09-11 - 2013_37
2013-09-12 - 2013_37
2013-09-13 - 2013_37
2013-09-14 - 2013_37
2013-09-15 - 2013_38
2013-09-16 - 2013_38
2013-09-17 - 2013_38
2013-09-18 - 2013_38
2013-09-19 - 2013_38
2013-09-20 - 2013_38
2013-09-21 - 2013_38
2013-09-22 - 2013_39
2013-09-23 - 2013_39
2013-09-24 - 2013_39
2013-09-25 - 2013_39
2013-09-26 - 2013_39
2013-09-27 - 2013_39
2013-09-28 - 2013_39
2013-09-29 - 2013_40
2013-09-30 - 2013_40
2013-10-01 - 2013_40
2013-10-02 - 2013_40
2013-10-03 - 2013_40
2013-10-04 - 2013_40
2013-10-05 - 2013_40
2013-10-06 - 2013_41
2013-10-07 - 2013_41
2013-10-08 - 2013_41
2013-10-09 - 2013_41
2013-10-10 - 2013_41
2013-10-11 - 2013_41
2013-10-12 - 2013_41
2013-10-13 - 2013_42
2013-10-14 - 2013_42
2013-10-15 - 2013_42
2013-10-16 - 2013_42
2013-10-17 - 2013_42
2013-10-18 - 2013_42
2013-10-19 - 2013_42
2013-10-20 - 2013_43
2013-10-21 - 2013_43
2013-10-22 - 2013_43
2013-10-23 - 2013_43
2013-10-24 - 2013_43
2013-10-25 - 2013_43
2013-10-26 - 2013_43
2013-10-27 - 2013_44
2013-10-28 - 2013_44
2013-10-29 - 2013_44
2013-10-30 - 2013_44
2013-10-31 - 2013_44
2013-11-01 - 2013_44
2013-11-02 - 2013_44
2013-11-03 - 2013_45
2013-11-04 - 2013_45
2013-11-05 - 2013_45
2013-11-06 - 2013_45
2013-11-07 - 2013_45
2013-11-08 - 2013_45
2013-11-09 - 2013_45
2013-11-10 - 2013_46
2013-11-11 - 2013_46
2013-11-12 - 2013_46
2013-11-13 - 2013_46
2013-11-14 - 2013_46
2013-11-15 - 2013_46
2013-11-16 - 2013_46
2013-11-17 - 2013_47
2013-11-18 - 2013_47
2013-11-19 - 2013_47
2013-11-20 - 2013_47
2013-11-21 - 2013_47
2013-11-22 - 2013_47
2013-11-23 - 2013_47
2013-11-24 - 2013_48
2013-11-25 - 2013_48
2013-11-26 - 2013_48
2013-11-27 - 2013_48
2013-11-28 - 2013_48
2013-11-29 - 2013_48
2013-11-30 - 2013_48
2013-12-01 - 2013_49
2013-12-02 - 2013_49
2013-12-03 - 2013_49
2013-12-04 - 2013_49
2013-12-05 - 2013_49
2013-12-06 - 2013_49
2013-12-07 - 2013_49
2013-12-08 - 2013_50
2013-12-09 - 2013_50
2013-12-10 - 2013_50
2013-12-11 - 2013_50
2013-12-12 - 2013_50
2013-12-13 - 2013_50
2013-12-14 - 2013_50
2013-12-15 - 2013_51
2013-12-16 - 2013_51
2013-12-17 - 2013_51
2013-12-18 - 2013_51
2013-12-19 - 2013_51
2013-12-20 - 2013_51
2013-12-21 - 2013_51
2013-12-22 - 2013_52
2013-12-23 - 2013_52
2013-12-24 - 2013_52
2013-12-25 - 2013_52
2013-12-26 - 2013_52
2013-12-27 - 2013_52
2013-12-28 - 2013_52
2013-12-29 - 2014_01
2013-12-30 - 2014_01
2013-12-31 - 2014_01
2014-01-01 - 2014_01
2014-01-02 - 2014_01
2014-01-03 - 2014_01
2014-01-04 - 2014_01
2014-01-05 - 2014_02
2014-01-06 - 2014_02
2014-01-07 - 2014_02
2014-01-08 - 2014_02
2014-01-09 - 2014_02
2014-01-10 - 2014_02
2014-01-11 - 2014_02
2014-01-12 - 2014_03
2014-01-13 - 2014_03
2014-01-14 - 2014_03
2014-01-15 - 2014_03
2014-01-16 - 2014_03
2014-01-17 - 2014_03
2014-01-18 - 2014_03
2014-01-19 - 2014_04
2014-01-20 - 2014_04
2014-01-21 - 2014_04
2014-01-22 - 2014_04
2014-01-23 - 2014_04
2014-01-24 - 2014_04
2014-01-25 - 2014_04
2014-01-26 - 2014_05
2014-01-27 - 2014_05
2014-01-28 - 2014_05
2014-01-29 - 2014_05
2014-01-30 - 2014_05
2014-01-31 - 2014_05
2014-02-01 - 2014_05
2014-02-02 - 2014_06
2014-02-03 - 2014_06
2014-02-04 - 2014_06
2014-02-05 - 2014_06
2014-02-06 - 2014_06
2014-02-07 - 2014_06
2014-02-08 - 2014_06
2014-02-09 - 2014_07
2014-02-10 - 2014_07
2014-02-11 - 2014_07
2014-02-12 - 2014_07
2014-02-13 - 2014_07
2014-02-14 - 2014_07
2014-02-15 - 2014_07
2014-02-16 - 2014_08
2014-02-17 - 2014_08
2014-02-18 - 2014_08
2014-02-19 - 2014_08
2014-02-20 - 2014_08
2014-02-21 - 2014_08
2014-02-22 - 2014_08
2014-02-23 - 2014_09
2014-02-24 - 2014_09
2014-02-25 - 2014_09
2014-02-26 - 2014_09
2014-02-27 - 2014_09
2014-02-28 - 2014_09
2014-03-01 - 2014_09
2014-03-02 - 2014_10
2014-03-03 - 2014_10
2014-03-04 - 2014_10
2014-03-05 - 2014_10
2014-03-06 - 2014_10
2014-03-07 - 2014_10
2014-03-08 - 2014_10
2014-03-09 - 2014_11
2014-03-10 - 2014_11
2014-03-11 - 2014_11
2014-03-12 - 2014_11
2014-03-13 - 2014_11
2014-03-14 - 2014_11
2014-03-15 - 2014_11
2014-03-16 - 2014_12
2014-03-17 - 2014_12
2014-03-18 - 2014_12
2014-03-19 - 2014_12
2014-03-20 - 2014_12
2014-03-21 - 2014_12
2014-03-22 - 2014_12
2014-03-23 - 2014_13
2014-03-24 - 2014_13
2014-03-25 - 2014_13
2014-03-26 - 2014_13
2014-03-27 - 2014_13
2014-03-28 - 2014_13
2014-03-29 - 2014_13
2014-03-30 - 2014_14
2014-03-31 - 2014_14
2014-04-01 - 2014_14
2014-04-02 - 2014_14
2014-04-03 - 2014_14
2014-04-04 - 2014_14
2014-04-05 - 2014_14
2014-04-06 - 2014_15
2014-04-07 - 2014_15
2014-04-08 - 2014_15
2014-04-09 - 2014_15
2014-04-10 - 2014_15
2014-04-11 - 2014_15
2014-04-12 - 2014_15
2014-04-13 - 2014_16
2014-04-14 - 2014_16
2014-04-15 - 2014_16
2014-04-16 - 2014_16
2014-04-17 - 2014_16
2014-04-18 - 2014_16
2014-04-19 - 2014_16
2014-04-20 - 2014_17
2014-04-21 - 2014_17
2014-04-22 - 2014_17
2014-04-23 - 2014_17
2014-04-24 - 2014_17
2014-04-25 - 2014_17
2014-04-26 - 2014_17
2014-04-27 - 2014_18
2014-04-28 - 2014_18
2014-04-29 - 2014_18
2014-04-30 - 2014_18
2014-05-01 - 2014_18
2014-05-02 - 2014_18
2014-05-03 - 2014_18
2014-05-04 - 2014_19
2014-05-05 - 2014_19
2014-05-06 - 2014_19
2014-05-07 - 2014_19
2014-05-08 - 2014_19
2014-05-09 - 2014_19
2014-05-10 - 2014_19
2014-05-11 - 2014_20
2014-05-12 - 2014_20
2014-05-13 - 2014_20
2014-05-14 - 2014_20
2014-05-15 - 2014_20
2014-05-16 - 2014_20
2014-05-17 - 2014_20
2014-05-18 - 2014_21
2014-05-19 - 2014_21
2014-05-20 - 2014_21
2014-05-21 - 2014_21
2014-05-22 - 2014_21
2014-05-23 - 2014_21
2014-05-24 - 2014_21
2014-05-25 - 2014_22
2014-05-26 - 2014_22
2014-05-27 - 2014_22
2014-05-28 - 2014_22
2014-05-29 - 2014_22
2014-05-30 - 2014_22
2014-05-31 - 2014_22
2014-06-01 - 2014_23
2014-06-02 - 2014_23
2014-06-03 - 2014_23
2014-06-04 - 2014_23
2014-06-05 - 2014_23
2014-06-06 - 2014_23
2014-06-07 - 2014_23
2014-06-08 - 2014_24
2014-06-09 - 2014_24
2014-06-10 - 2014_24
2014-06-11 - 2014_24
2014-06-12 - 2014_24
2014-06-13 - 2014_24
2014-06-14 - 2014_24
2014-06-15 - 2014_25
2014-06-16 - 2014_25
2014-06-17 - 2014_25
2014-06-18 - 2014_25
2014-06-19 - 2014_25
2014-06-20 - 2014_25
2014-06-21 - 2014_25
2014-06-22 - 2014_26
2014-06-23 - 2014_26
2014-06-24 - 2014_26
2014-06-25 - 2014_26
2014-06-26 - 2014_26
2014-06-27 - 2014_26
2014-06-28 - 2014_26
2014-06-29 - 2014_27
2014-06-30 - 2014_27
2014-07-01 - 2014_27
2014-07-02 - 2014_27
2014-07-03 - 2014_27
2014-07-04 - 2014_27
2014-07-05 - 2014_27
2014-07-06 - 2014_28
2014-07-07 - 2014_28
2014-07-08 - 2014_28
2014-07-09 - 2014_28
2014-07-10 - 2014_28
2014-07-11 - 2014_28
2014-07-12 - 2014_28
2014-07-13 - 2014_29
2014-07-14 - 2014_29
2014-07-15 - 2014_29
2014-07-16 - 2014_29
2014-07-17 - 2014_29
2014-07-18 - 2014_29
2014-07-19 - 2014_29
2014-07-20 - 2014_30
2014-07-21 - 2014_30
2014-07-22 - 2014_30
2014-07-23 - 2014_30
2014-07-24 - 2014_30
2014-07-25 - 2014_30
2014-07-26 - 2014_30
2014-07-27 - 2014_31
2014-07-28 - 2014_31
2014-07-29 - 2014_31
2014-07-30 - 2014_31
2014-07-31 - 2014_31
2014-08-01 - 2014_31
2014-08-02 - 2014_31
2014-08-03 - 2014_32
2014-08-04 - 2014_32
2014-08-05 - 2014_32
2014-08-06 - 2014_32
2014-08-07 - 2014_32
2014-08-08 - 2014_32
2014-08-09 - 2014_32

2015-04-07 - 2015_14
2015-04-08 - 2015_14
2015-04-09 - 2015_14
2015-04-10 - 2015_14
2015-04-11 - 2015_14
2015-04-12 - 2015_15
2015-04-13 - 2015_15
2015-04-14 - 2015_15
2015-04-15 - 2015_15
2015-04-16 - 2015_15
2015-04-17 - 2015_15
2015-04-18 - 2015_15
2015-04-19 - 2015_16
2015-04-20 - 2015_16
2015-04-21 - 2015_16
2015-04-22 - 2015_16
2015-04-23 - 2015_16
2015-04-24 - 2015_16
2015-04-25 - 2015_16
2015-04-26 - 2015_17
2015-04-27 - 2015_17
2015-04-28 - 2015_17
2015-04-29 - 2015_17
2015-04-30 - 2015_17
2015-05-01 - 2015_17
2015-05-02 - 2015_17
2015-05-03 - 2015_18
2015-05-04 - 2015_18
2015-05-05 - 2015_18
2015-05-06 - 2015_18
2015-05-07 - 2015_18
2015-05-08 - 2015_18
2015-05-09 - 2015_18
2015-05-10 - 2015_19
2015-05-11 - 2015_19
2015-05-12 - 2015_19
2015-05-13 - 2015_19
2015-05-14 - 2015_19
2015-05-15 - 2015_19
2015-05-16 - 2015_19
2015-05-17 - 2015_20
2015-05-18 - 2015_20
2015-05-19 - 2015_20
2015-05-20 - 2015_20
2015-05-21 - 2015_20
2015-05-22 - 2015_20
2015-05-23 - 2015_20
2015-05-24 - 2015_21
2015-05-25 - 2015_21
2015-05-26 - 2015_21
2015-05-27 - 2015_21
2015-05-28 - 2015_21
2015-05-29 - 2015_21
2015-05-30 - 2015_21
2015-05-31 - 2015_22
2015-06-01 - 2015_22
2015-06-02 - 2015_22
2015-06-03 - 2015_22
2015-06-04 - 2015_22
2015-06-05 - 2015_22
2015-06-06 - 2015_22
2015-06-07 - 2015_23
2015-06-08 - 2015_23
2015-06-09 - 2015_23
2015-06-10 - 2015_23
2015-06-11 - 2015_23
2015-06-12 - 2015_23
2015-06-13 - 2015_23
2015-06-14 - 2015_24
2015-06-15 - 2015_24
2015-06-16 - 2015_24
2015-06-17 - 2015_24
2015-06-18 - 2015_24
2015-06-19 - 2015_24
2015-06-20 - 2015_24
2015-06-21 - 2015_25
2015-06-22 - 2015_25
2015-06-23 - 2015_25
2015-06-24 - 2015_25
2015-06-25 - 2015_25
2015-06-26 - 2015_25
2015-06-27 - 2015_25
2015-06-28 - 2015_26
2015-06-29 - 2015_26
2015-06-30 - 2015_26
2015-07-01 - 2015_26
2015-07-02 - 2015_26
2015-07-03 - 2015_26
2015-07-04 - 2015_26
2015-07-05 - 2015_27
2015-07-06 - 2015_27
2015-07-07 - 2015_27
2015-07-08 - 2015_27
2015-07-09 - 2015_27
2015-07-10 - 2015_27
2015-07-11 - 2015_27
2015-07-12 - 2015_28
2015-07-13 - 2015_28
2015-07-14 - 2015_28
2015-07-15 - 2015_28
2015-07-16 - 2015_28
2015-07-17 - 2015_28
2015-07-18 - 2015_28
2015-07-19 - 2015_29
2015-07-20 - 2015_29
2015-07-21 - 2015_29
2015-07-22 - 2015_29
2015-07-23 - 2015_29
2015-07-24 - 2015_29
2015-07-25 - 2015_29
2015-07-26 - 2015_30
2015-07-27 - 2015_30
2015-07-28 - 2015_30
2015-07-29 - 2015_30
2015-07-30 - 2015_30
2015-07-31 - 2015_30
2015-08-01 - 2015_30
2015-08-02 - 2015_31
2015-08-03 - 2015_31
2015-08-04 - 2015_31
2015-08-05 - 2015_31
2015-08-06 - 2015_31
2015-08-07 - 2015_31
2015-08-08 - 2015_31
2015-08-09 - 2015_32
2015-08-10 - 2015_32
2015-08-11 - 2015_32
2015-08-12 - 2015_32
2015-08-13 - 2015_32
2015-08-14 - 2015_32
2015-08-15 - 2015_32
2015-08-16 - 2015_33
2015-08-17 - 2015_33
2015-08-18 - 2015_33
2015-08-19 - 2015_33
2015-08-20 - 2015_33
2015-08-21 - 2015_33
2015-08-22 - 2015_33
2015-08-23 - 2015_34
2015-08-24 - 2015_34
2015-08-25 - 2015_34
2015-08-26 - 2015_34
2015-08-27 - 2015_34
2015-08-28 - 2015_34
2015-08-29 - 2015_34
2015-08-30 - 2015_35
2015-08-31 - 2015_35
2015-09-01 - 2015_35
2015-09-02 - 2015_35
2015-09-03 - 2015_35
2015-09-04 - 2015_35
2015-09-05 - 2015_35
2015-09-06 - 2015_36
2015-09-07 - 2015_36
2015-09-08 - 2015_36
2015-09-09 - 2015_36
2015-09-10 - 2015_36
2015-09-11 - 2015_36
2015-09-12 - 2015_36
2015-09-13 - 2015_37
2015-09-14 - 2015_37
2015-09-15 - 2015_37
2015-09-16 - 2015_37
2015-09-17 - 2015_37
2015-09-18 - 2015_37
2015-09-19 - 2015_37
2015-09-20 - 2015_38
2015-09-21 - 2015_38
2015-09-22 - 2015_38
2015-09-23 - 2015_38
2015-09-24 - 2015_38
2015-09-25 - 2015_38
2015-09-26 - 2015_38
2015-09-27 - 2015_39
2015-09-28 - 2015_39
2015-09-29 - 2015_39
2015-09-30 - 2015_39
2015-10-01 - 2015_39
2015-10-02 - 2015_39
2015-10-03 - 2015_39
2015-10-04 - 2015_40
2015-10-05 - 2015_40
2015-10-06 - 2015_40
2015-10-07 - 2015_40
2015-10-08 - 2015_40
2015-10-09 - 2015_40
2015-10-10 - 2015_40
2015-10-11 - 2015_41
2015-10-12 - 2015_41
2015-10-13 - 2015_41
2015-10-14 - 2015_41
2015-10-15 - 2015_41
2015-10-16 - 2015_41
2015-10-17 - 2015_41
2015-10-18 - 2015_42
2015-10-19 - 2015_42
2015-10-20 - 2015_42
2015-10-21 - 2015_42
2015-10-22 - 2015_42
2015-10-23 - 2015_42
2015-10-24 - 2015_42
2015-10-25 - 2015_43
2015-10-26 - 2015_43
2015-10-27 - 2015_43
2015-10-28 - 2015_43
2015-10-29 - 2015_43
2015-10-30 - 2015_43
2015-10-31 - 2015_43
2015-11-01 - 2015_44
2015-11-02 - 2015_44
2015-11-03 - 2015_44
2015-11-04 - 2015_44
2015-11-05 - 2015_44
2015-11-06 - 2015_44
2015-11-07 - 2015_44
2015-11-08 - 2015_45
2015-11-09 - 2015_45
2015-11-10 - 2015_45
2015-11-11 - 2015_45
2015-11-12 - 2015_45
2015-11-13 - 2015_45
2015-11-14 - 2015_45
2015-11-15 - 2015_46
2015-11-16 - 2015_46
2015-11-17 - 2015_46
2015-11-18 - 2015_46
2015-11-19 - 2015_46
2015-11-20 - 2015_46
2015-11-21 - 2015_46
2015-11-22 - 2015_47
2015-11-23 - 2015_47
2015-11-24 - 2015_47
2015-11-25 - 2015_47
2015-11-26 - 2015_47
2015-11-27 - 2015_47
2015-11-28 - 2015_47
2015-11-29 - 2015_48
2015-11-30 - 2015_48
2015-12-01 - 2015_48
2015-12-02 - 2015_48
2015-12-03 - 2015_48
2015-12-04 - 2015_48
2015-12-05 - 2015_48
2015-12-06 - 2015_49
2015-12-07 - 2015_49
2015-12-08 - 2015_49
2015-12-09 - 2015_49
2015-12-10 - 2015_49
2015-12-11 - 2015_49
2015-12-12 - 2015_49
2015-12-13 - 2015_50
2015-12-14 - 2015_50
2015-12-15 - 2015_50
2015-12-16 - 2015_50
2015-12-17 - 2015_50
2015-12-18 - 2015_50
2015-12-19 - 2015_50
2015-12-20 - 2015_51
2015-12-21 - 2015_51
2015-12-22 - 2015_51
2015-12-23 - 2015_51
2015-12-24 - 2015_51
2015-12-25 - 2015_51
2015-12-26 - 2015_51
2015-12-27 - 2015_52
2015-12-28 - 2015_52
2015-12-29 - 2015_52
2015-12-30 - 2015_52
2015-12-31 - 2015_52
2016-01-01 - 2015_52
2016-01-02 - 2015_52
2016-01-03 - 2016_01
2016-01-04 - 2016_01
2016-01-05 - 2016_01
2016-01-06 - 2016_01
2016-01-07 - 2016_01
2016-01-08 - 2016_01
2016-01-09 - 2016_01
2016-01-10 - 2016_02
2016-01-11 - 2016_02
2016-01-12 - 2016_02
2016-01-13 - 2016_02
2016-01-14 - 2016_02
2016-01-15 - 2016_02
2016-01-16 - 2016_02
2016-01-17 - 2016_03
2016-01-18 - 2016_03
2016-01-19 - 2016_03
2016-01-20 - 2016_03
2016-01-21 - 2016_03
2016-01-22 - 2016_03
2016-01-23 - 2016_03
2016-01-24 - 2016_04
2016-01-25 - 2016_04
2016-01-26 - 2016_04
2016-01-27 - 2016_04
2016-01-28 - 2016_04
2016-01-29 - 2016_04
2016-01-30 - 2016_04
2016-01-31 - 2016_05
2016-02-01 - 2016_05
2016-02-02 - 2016_05
2016-02-03 - 2016_05
2016-02-04 - 2016_05
2016-02-05 - 2016_05
2016-02-06 - 2016_05
2016-02-07 - 2016_06
2016-02-08 - 2016_06
2016-02-09 - 2016_06
2016-02-10 - 2016_06
2016-02-11 - 2016_06
2016-02-12 - 2016_06
2016-02-13 - 2016_06
2016-02-14 - 2016_07
2016-02-15 - 2016_07
2016-02-16 - 2016_07
2016-02-17 - 2016_07
2016-02-18 - 2016_07
2016-02-19 - 2016_07
2016-02-20 - 2016_07
2016-02-21 - 2016_08
2016-02-22 - 2016_08
2016-02-23 - 2016_08
2016-02-24 - 2016_08
2016-02-25 - 2016_08
2016-02-26 - 2016_08
2016-02-27 - 2016_08
2016-02-28 - 2016_09
2016-02-29 - 2016_09
2016-03-01 - 2016_09
2016-03-02 - 2016_09
2016-03-03 - 2016_09
2016-03-04 - 2016_09
2016-03-05 - 2016_09
2016-03-06 - 2016_10
2016-03-07 - 2016_10
2016-03-08 - 2016_10
2016-03-09 - 2016_10
2016-03-10 - 2016_10
2016-03-11 - 2016_10
2016-03-12 - 2016_10
2016-03-13 - 2016_11
2016-03-14 - 2016_11
2016-03-15 - 2016_11
2016-03-16 - 2016_11
2016-03-17 - 2016_11
2016-03-18 - 2016_11
2016-03-19 - 2016_11
2016-03-20 - 2016_12
2016-03-21 - 2016_12
2016-03-22 - 2016_12
2016-03-23 - 2016_12
2016-03-24 - 2016_12
2016-03-25 - 2016_12
2016-03-26 - 2016_12
2016-03-27 - 2016_13
2016-03-28 - 2016_13
2016-03-29 - 2016_13
2016-03-30 - 2016_13
2016-03-31 - 2016_13
2016-04-01 - 2016_13
2016-04-02 - 2016_13
2016-04-03 - 2016_14
2016-04-04 - 2016_14
2016-04-05 - 2016_14
2016-04-06 - 2016_14
2016-04-07 - 2016_14
2016-04-08 - 2016_14
2016-04-09 - 2016_14
2016-04-10 - 2016_15
2016-04-11 - 2016_15
2016-04-12 - 2016_15
2016-04-13 - 2016_15
2016-04-14 - 2016_15
2016-04-15 - 2016_15
2016-04-16 - 2016_15
2016-04-17 - 2016_16
2016-04-18 - 2016_16
2016-04-19 - 2016_16
2016-04-20 - 2016_16
2016-04-21 - 2016_16
2016-04-22 - 2016_16
2016-04-23 - 2016_16
2016-04-24 - 2016_17
2016-04-25 - 2016_17
2016-04-26 - 2016_17
2016-04-27 - 2016_17
2016-04-28 - 2016_17
2016-04-29 - 2016_17
2016-04-30 - 2016_17
2016-05-01 - 2016_18
2016-05-02 - 2016_18
2016-05-03 - 2016_18
2016-05-04 - 2016_18
2016-05-05 - 2016_18
2016-05-06 - 2016_18
2016-05-07 - 2016_18
2016-05-08 - 2016_19
2016-05-09 - 2016_19
2016-05-10 - 2016_19
2016-05-11 - 2016_19
2016-05-12 - 2016_19
2016-05-13 - 2016_19
2016-05-14 - 2016_19
2016-05-15 - 2016_20
2016-05-16 - 2016_20
2016-05-17 - 2016_20
2016-05-18 - 2016_20
2016-05-19 - 2016_20
2016-05-20 - 2016_20
2016-05-21 - 2016_20
2016-05-22 - 2016_21
2016-05-23 - 2016_21
2016-05-24 - 2016_21
2016-05-25 - 2016_21
2016-05-26 - 2016_21
2016-05-27 - 2016_21
2016-05-28 - 2016_21
2016-05-29 - 2016_22
2016-05-30 - 2016_22
2016-05-31 - 2016_22
2016-06-01 - 2016_22
2016-06-02 - 2016_22
2016-06-03 - 2016_22
2016-06-04 - 2016_22
2016-06-05 - 2016_23
2016-06-06 - 2016_23
2016-06-07 - 2016_23
2016-06-08 - 2016_23
2016-06-09 - 2016_23
2016-06-10 - 2016_23
2016-06-11 - 2016_23
2016-06-12 - 2016_24
2016-06-13 - 2016_24
2016-06-14 - 2016_24
2016-06-15 - 2016_24
2016-06-16 - 2016_24
2016-06-17 - 2016_24
2016-06-18 - 2016_24
2016-06-19 - 2016_25
2016-06-20 - 2016_25
2016-06-21 - 2016_25
2016-06-22 - 2016_25
2016-06-23 - 2016_25
2016-06-24 - 2016_25
2016-06-25 - 2016_25
2016-06-26 - 2016_26
2016-06-27 - 2016_26
2016-06-28 - 2016_26
2016-06-29 - 2016_26
2016-06-30 - 2016_26
2016-07-01 - 2016_26
2016-07-02 - 2016_26
2016-07-03 - 2016_27
2016-07-04 - 2016_27
2016-07-05 - 2016_27
2016-07-06 - 2016_27
2016-07-07 - 2016_27
2016-07-08 - 2016_27
2016-07-09 - 2016_27
2016-07-10 - 2016_28
2016-07-11 - 2016_28
2016-07-12 - 2016_28
2016-07-13 - 2016_28
2016-07-14 - 2016_28
2016-07-15 - 2016_28
2016-07-16 - 2016_28
2016-07-17 - 2016_29
2016-07-18 - 2016_29
2016-07-19 - 2016_29
2016-07-20 - 2016_29
2016-07-21 - 2016_29
2016-07-22 - 2016_29
2016-07-23 - 2016_29
2016-07-24 - 2016_30
2016-07-25 - 2016_30
2016-07-26 - 2016_30
2016-07-27 - 2016_30
2016-07-28 - 2016_30
2016-07-29 - 2016_30
2016-07-30 - 2016_30
2016-07-31 - 2016_31
2016-08-01 - 2016_31
2016-08-02 - 2016_31
2016-08-03 - 2016_31
2016-08-04 - 2016_31
2016-08-05 - 2016_31
2016-08-06 - 2016_31
2016-08-07 - 2016_32
2016-08-08 - 2016_32
2016-08-09 - 2016_32
2016-08-10 - 2016_32
2016-08-11 - 2016_32
2016-08-12 - 2016_32
2016-08-13 - 2016_32
2016-08-14 - 2016_33
2016-08-15 - 2016_33
2016-08-16 - 2016_33
2016-08-17 - 2016_33
2016-08-18 - 2016_33
2016-08-19 - 2016_33
2016-08-20 - 2016_33
2016-08-21 - 2016_34
2016-08-22 - 2016_34
2016-08-23 - 2016_34
2016-08-24 - 2016_34
2016-08-25 - 2016_34
2016-08-26 - 2016_34
2016-08-27 - 2016_34
2016-08-28 - 2016_35
2016-08-29 - 2016_35
2016-08-30 - 2016_35
2016-08-31 - 2016_35
2016-09-01 - 2016_35
2016-09-02 - 2016_35
2016-09-03 - 2016_35
2016-09-04 - 2016_36
2016-09-05 - 2016_36
2016-09-06 - 2016_36
2016-09-07 - 2016_36
2016-09-08 - 2016_36
2016-09-09 - 2016_36
2016-09-10 - 2016_36
2016-09-11 - 2016_37
2016-09-12 - 2016_37
2016-09-13 - 2016_37
2016-09-14 - 2016_37
2016-09-15 - 2016_37
2016-09-16 - 2016_37
2016-09-17 - 2016_37
2016-09-18 - 2016_38
2016-09-19 - 2016_38
2016-09-20 - 2016_38
2016-09-21 - 2016_38
2016-09-22 - 2016_38
2016-09-23 - 2016_38
2016-09-24 - 2016_38
2016-09-25 - 2016_39
2016-09-26 - 2016_39
2016-09-27 - 2016_39
2016-09-28 - 2016_39
2016-09-29 - 2016_39
2016-09-30 - 2016_39
2016-10-01 - 2016_39
2016-10-02 - 2016_40
2016-10-03 - 2016_40
2016-10-04 - 2016_40
2016-10-05 - 2016_40
2016-10-06 - 2016_40
2016-10-07 - 2016_40
2016-10-08 - 2016_40
2016-10-09 - 2016_41
2016-10-10 - 2016_41
2016-10-11 - 2016_41
2016-10-12 - 2016_41
2016-10-13 - 2016_41
2016-10-14 - 2016_41
2016-10-15 - 2016_41
2016-10-16 - 2016_42
2016-10-17 - 2016_42
2016-10-18 - 2016_42
2016-10-19 - 2016_42
2016-10-20 - 2016_42
2016-10-21 - 2016_42
2016-10-22 - 2016_42
2016-10-23 - 2016_43
2016-10-24 - 2016_43
2016-10-25 - 2016_43
2016-10-26 - 2016_43
2016-10-27 - 2016_43
2016-10-28 - 2016_43
2016-10-29 - 2016_43
2016-10-30 - 2016_44
2016-10-31 - 2016_44
2016-11-01 - 2016_44
2016-11-02 - 2016_44
2016-11-03 - 2016_44
2016-11-04 - 2016_44
2016-11-05 - 2016_44
2016-11-06 - 2016_45
2016-11-07 - 2016_45
2016-11-08 - 2016_45
2016-11-09 - 2016_45
2016-11-10 - 2016_45
2016-11-11 - 2016_45
2016-11-12 - 2016_45
2016-11-13 - 2016_46
2016-11-14 - 2016_46
2016-11-15 - 2016_46
2016-11-16 - 2016_46
2016-11-17 - 2016_46
2016-11-18 - 2016_46
2016-11-19 - 2016_46
2016-11-20 - 2016_47
2016-11-21 - 2016_47
2016-11-22 - 2016_47
2016-11-23 - 2016_47
2016-11-24 - 2016_47
2016-11-25 - 2016_47
2016-11-26 - 2016_47
2016-11-27 - 2016_48
2016-11-28 - 2016_48
2016-11-29 - 2016_48
2016-11-30 - 2016_48
2016-12-01 - 2016_48
2016-12-02 - 2016_48
2016-12-03 - 2016_48
2016-12-04 - 2016_49
2016-12-05 - 2016_49
2016-12-06 - 2016_49
2016-12-07 - 2016_49
2016-12-08 - 2016_49
2016-12-09 - 2016_49
2016-12-10 - 2016_49
2016-12-11 - 2016_50
2016-12-12 - 2016_50
2016-12-13 - 2016_50
2016-12-14 - 2016_50
2016-12-15 - 2016_50
2016-12-16 - 2016_50
2016-12-17 - 2016_50
2016-12-18 - 2016_51
2016-12-19 - 2016_51
2016-12-20 - 2016_51
2016-12-21 - 2016_51
2016-12-22 - 2016_51
2016-12-23 - 2016_51
2016-12-24 - 2016_51
2016-12-25 - 2016_52
2016-12-26 - 2016_52
2016-12-27 - 2016_52
2016-12-28 - 2016_52
2016-12-29 - 2016_52
2016-12-30 - 2016_52
2016-12-31 - 2016_52
2017-01-01 - 2017_01
2017-01-02 - 2017_01
2017-01-03 - 2017_01
2017-01-04 - 2017_01
2017-01-05 - 2017_01
2017-01-06 - 2017_01
2017-01-07 - 2017_01
2017-01-08 - 2017_02
2017-01-09 - 2017_02
2017-01-10 - 2017_02
2017-01-11 - 2017_02
2017-01-12 - 2017_02
2017-01-13 - 2017_02
2017-01-14 - 2017_02
2017-01-15 - 2017_03
2017-01-16 - 2017_03
2017-01-17 - 2017_03
2017-01-18 - 2017_03
2017-01-19 - 2017_03
2017-01-20 - 2017_03
2017-01-21 - 2017_03
2017-01-22 - 2017_04
2017-01-23 - 2017_04
2017-01-24 - 2017_04
2017-01-25 - 2017_04
2017-01-26 - 2017_04
2017-01-27 - 2017_04
2017-01-28 - 2017_04
2017-01-29 - 2017_05
2017-01-30 - 2017_05
2017-01-31 - 2017_05
2017-02-01 - 2017_05
2017-02-02 - 2017_05
2017-02-03 - 2017_05
2017-02-04 - 2017_05
2017-02-05 - 2017_06
2017-02-06 - 2017_06
2017-02-07 - 2017_06
2017-02-08 - 2017_06
2017-02-09 - 2017_06
2017-02-10 - 2017_06
2017-02-11 - 2017_06
2017-02-12 - 2017_07
2017-02-13 - 2017_07
2017-02-14 - 2017_07
2017-02-15 - 2017_07
2017-02-16 - 2017_07
2017-02-17 - 2017_07
2017-02-18 - 2017_07
2017-02-19 - 2017_08
2017-02-20 - 2017_08
2017-02-21 - 2017_08
2017-02-22 - 2017_08
2017-02-23 - 2017_08
2017-02-24 - 2017_08
2017-02-25 - 2017_08
2017-02-26 - 2017_09
2017-02-27 - 2017_09
2017-02-28 - 2017_09
2017-03-01 - 2017_09
2017-03-02 - 2017_09
2017-03-03 - 2017_09
2017-03-04 - 2017_09
2017-03-05 - 2017_10
2017-03-06 - 2017_10
2017-03-07 - 2017_10
2017-03-08 - 2017_10
2017-03-09 - 2017_10
2017-03-10 - 2017_10
2017-03-11 - 2017_10
2017-03-12 - 2017_11
2017-03-13 - 2017_11
2017-03-14 - 2017_11
2017-03-15 - 2017_11
2017-03-16 - 2017_11
2017-03-17 - 2017_11
2017-03-18 - 2017_11
2017-03-19 - 2017_12
2017-03-20 - 2017_12
2017-03-21 - 2017_12
2017-03-22 - 2017_12
2017-03-23 - 2017_12
2017-03-24 - 2017_12
2017-03-25 - 2017_12
2017-03-26 - 2017_13
2017-03-27 - 2017_13
2017-03-28 - 2017_13
2017-03-29 - 2017_13
2017-03-30 - 2017_13
2017-03-31 - 2017_13
2017-04-01 - 2017_13
2017-04-02 - 2017_14
2017-04-03 - 2017_14
2017-04-04 - 2017_14
2017-04-05 - 2017_14
2017-04-06 - 2017_14
2017-04-07 - 2017_14
2017-04-08 - 2017_14
2017-04-09 - 2017_15
2017-04-10 - 2017_15
2017-04-11 - 2017_15
2017-04-12 - 2017_15
2017-04-13 - 2017_15
2017-04-14 - 2017_15
2017-04-15 - 2017_15
2017-04-16 - 2017_16
2017-04-17 - 2017_16
2017-04-18 - 2017_16
2017-04-19 - 2017_16
2017-04-20 - 2017_16
2017-04-21 - 2017_16
2017-04-22 - 2017_16
2017-04-23 - 2017_17
2017-04-24 - 2017_17
2017-04-25 - 2017_17
2017-04-26 - 2017_17
2017-04-27 - 2017_17
2017-04-28 - 2017_17
2017-04-29 - 2017_17
2017-04-30 - 2017_18
2017-05-01 - 2017_18
2017-05-02 - 2017_18
2017-05-03 - 2017_18
2017-05-04 - 2017_18
2017-05-05 - 2017_18
2017-05-06 - 2017_18
2017-05-07 - 2017_19
2017-05-08 - 2017_19
2017-05-09 - 2017_19
2017-05-10 - 2017_19
2017-05-11 - 2017_19
2017-05-12 - 2017_19
2017-05-13 - 2017_19
2017-05-14 - 2017_20
2017-05-15 - 2017_20
2017-05-16 - 2017_20
2017-05-17 - 2017_20
2017-05-18 - 2017_20
2017-05-19 - 2017_20
2017-05-20 - 2017_20
2017-05-21 - 2017_21
2017-05-22 - 2017_21
2017-05-23 - 2017_21
2017-05-24 - 2017_21
2017-05-25 - 2017_21
2017-05-26 - 2017_21
2017-05-27 - 2017_21
2017-05-28 - 2017_22
2017-05-29 - 2017_22
2017-05-30 - 2017_22
2017-05-31 - 2017_22
2017-06-01 - 2017_22
2017-06-02 - 2017_22
2017-06-03 - 2017_22
2017-06-04 - 2017_23
2017-06-05 - 2017_23
2017-06-06 - 2017_23
2017-06-07 - 2017_23
2017-06-08 - 2017_23
2017-06-09 - 2017_23
2017-06-10 - 2017_23
2017-06-11 - 2017_24
2017-06-12 - 2017_24
2017-06-13 - 2017_24
2017-06-14 - 2017_24
2017-06-15 - 2017_24
2017-06-16 - 2017_24
2017-06-17 - 2017_24
2017-06-18 - 2017_25
2017-06-19 - 2017_25
2017-06-20 - 2017_25
2017-06-21 - 2017_25
2017-06-22 - 2017_25
2017-06-23 - 2017_25
2017-06-24 - 2017_25
2017-06-25 - 2017_26
2017-06-26 - 2017_26
2017-06-27 - 2017_26
2017-06-28 - 2017_26
2017-06-29 - 2017_26
2017-06-30 - 2017_26
2017-07-01 - 2017_26
2017-07-02 - 2017_27
2017-07-03 - 2017_27
2017-07-04 - 2017_27
2017-07-05 - 2017_27
2017-07-06 - 2017_27
2017-07-07 - 2017_27
2017-07-08 - 2017_27
2017-07-09 - 2017_28
2017-07-10 - 2017_28
2017-07-11 - 2017_28
2017-07-12 - 2017_28
2017-07-13 - 2017_28
2017-07-14 - 2017_28
2017-07-15 - 2017_28
2017-07-16 - 2017_29
2017-07-17 - 2017_29
2017-07-18 - 2017_29
2017-07-19 - 2017_29
2017-07-20 - 2017_29
2017-07-21 - 2017_29
2017-07-22 - 2017_29
2017-07-23 - 2017_30
2017-07-24 - 2017_30
2017-07-25 - 2017_30
2017-07-26 - 2017_30
2017-07-27 - 2017_30
2017-07-28 - 2017_30
2017-07-29 - 2017_30
2017-07-30 - 2017_31
2017-07-31 - 2017_31
2017-08-01 - 2017_31
2017-08-02 - 2017_31
2017-08-03 - 2017_31
2017-08-04 - 2017_31
2017-08-05 - 2017_31
2017-08-06 - 2017_32
2017-08-07 - 2017_32
2017-08-08 - 2017_32
2017-08-09 - 2017_32
2017-08-10 - 2017_32
2017-08-11 - 2017_32
2017-08-12 - 2017_32
2017-08-13 - 2017_33
2017-08-14 - 2017_33
2017-08-15 - 2017_33
2017-08-16 - 2017_33
2017-08-17 - 2017_33
2017-08-18 - 2017_33
2017-08-19 - 2017_33
2017-08-20 - 2017_34
2017-08-21 - 2017_34
2017-08-22 - 2017_34
2017-08-23 - 2017_34
2017-08-24 - 2017_34
2017-08-25 - 2017_34
2017-08-26 - 2017_34
2017-08-27 - 2017_35
2017-08-28 - 2017_35
2017-08-29 - 2017_35
2017-08-30 - 2017_35
2017-08-31 - 2017_35
2017-09-01 - 2017_35
2017-09-02 - 2017_35
2017-09-03 - 2017_36
2017-09-04 - 2017_36
2017-09-05 - 2017_36
2017-09-06 - 2017_36
2017-09-07 - 2017_36
2017-09-08 - 2017_36
2017-09-09 - 2017_36
2017-09-10 - 2017_37
2017-09-11 - 2017_37
2017-09-12 - 2017_37
2017-09-13 - 2017_37
2017-09-14 - 2017_37
2017-09-15 - 2017_37
2017-09-16 - 2017_37
2017-09-17 - 2017_38
2017-09-18 - 2017_38
2017-09-19 - 2017_38
2017-09-20 - 2017_38
2017-09-21 - 2017_38
2017-09-22 - 2017_38
2017-09-23 - 2017_38
2017-09-24 - 2017_39
2017-09-25 - 2017_39
2017-09-26 - 2017_39
2017-09-27 - 2017_39
2017-09-28 - 2017_39
2017-09-29 - 2017_39
2017-09-30 - 2017_39
2017-10-01 - 2017_40
2017-10-02 - 2017_40
2017-10-03 - 2017_40
2017-10-04 - 2017_40
2017-10-05 - 2017_40
2017-10-06 - 2017_40
2017-10-07 - 2017_40
2017-10-08 - 2017_41
2017-10-09 - 2017_41
2017-10-10 - 2017_41
2017-10-11 - 2017_41
2017-10-12 - 2017_41
2017-10-13 - 2017_41
2017-10-14 - 2017_41
2017-10-15 - 2017_42
2017-10-16 - 2017_42
2017-10-17 - 2017_42
2017-10-18 - 2017_42
2017-10-19 - 2017_42
2017-10-20 - 2017_42
2017-10-21 - 2017_42
2017-10-22 - 2017_43
2017-10-23 - 2017_43
2017-10-24 - 2017_43
2017-10-25 - 2017_43
2017-10-26 - 2017_43
2017-10-27 - 2017_43
2017-10-28 - 2017_43
2017-10-29 - 2017_44
2017-10-30 - 2017_44
2017-10-31 - 2017_44
2017-11-01 - 2017_44
2017-11-02 - 2017_44
2017-11-03 - 2017_44
2017-11-04 - 2017_44
2017-11-05 - 2017_45
2017-11-06 - 2017_45
2017-11-07 - 2017_45
2017-11-08 - 2017_45
2017-11-09 - 2017_45
2017-11-10 - 2017_45
2017-11-11 - 2017_45
2017-11-12 - 2017_46
2017-11-13 - 2017_46

2018-06-17 - 2018_25
2018-06-18 - 2018_25
2018-06-19 - 2018_25
2018-06-20 - 2018_25
2018-06-21 - 2018_25
2018-06-22 - 2018_25
2018-06-23 - 2018_25
2018-06-24 - 2018_26
2018-06-25 - 2018_26
2018-06-26 - 2018_26
2018-06-27 - 2018_26
2018-06-28 - 2018_26
2018-06-29 - 2018_26
2018-06-30 - 2018_26
2018-07-01 - 2018_27
2018-07-02 - 2018_27
2018-07-03 - 2018_27
2018-07-04 - 2018_27
2018-07-05 - 2018_27
2018-07-06 - 2018_27
2018-07-07 - 2018_27
2018-07-08 - 2018_28
2018-07-09 - 2018_28
2018-07-10 - 2018_28
2018-07-11 - 2018_28
2018-07-12 - 2018_28
2018-07-13 - 2018_28
2018-07-14 - 2018_28
2018-07-15 - 2018_29
2018-07-16 - 2018_29
2018-07-17 - 2018_29
2018-07-18 - 2018_29
2018-07-19 - 2018_29
2018-07-20 - 2018_29
2018-07-21 - 2018_29
2018-07-22 - 2018_30
2018-07-23 - 2018_30
2018-07-24 - 2018_30
2018-07-25 - 2018_30
2018-07-26 - 2018_30
2018-07-27 - 2018_30
2018-07-28 - 2018_30
2018-07-29 - 2018_31
2018-07-30 - 2018_31
2018-07-31 - 2018_31
2018-08-01 - 2018_31
2018-08-02 - 2018_31
2018-08-03 - 2018_31
2018-08-04 - 2018_31
2018-08-05 - 2018_32
2018-08-06 - 2018_32
2018-08-07 - 2018_32
2018-08-08 - 2018_32
2018-08-09 - 2018_32
2018-08-10 - 2018_32
2018-08-11 - 2018_32
2018-08-12 - 2018_33
2018-08-13 - 2018_33
2018-08-14 - 2018_33
2018-08-15 - 2018_33
2018-08-16 - 2018_33
2018-08-17 - 2018_33
2018-08-18 - 2018_33
2018-08-19 - 2018_34
2018-08-20 - 2018_34
2018-08-21 - 2018_34
2018-08-22 - 2018_34
2018-08-23 - 2018_34
2018-08-24 - 2018_34
2018-08-25 - 2018_34
2018-08-26 - 2018_35
2018-08-27 - 2018_35
2018-08-28 - 2018_35
2018-08-29 - 2018_35
2018-08-30 - 2018_35
2018-08-31 - 2018_35
2018-09-01 - 2018_35
2018-09-02 - 2018_36
2018-09-03 - 2018_36
2018-09-04 - 2018_36
2018-09-05 - 2018_36
2018-09-06 - 2018_36
2018-09-07 - 2018_36
2018-09-08 - 2018_36
2018-09-09 - 2018_37
2018-09-10 - 2018_37
2018-09-11 - 2018_37
2018-09-12 - 2018_37
2018-09-13 - 2018_37
2018-09-14 - 2018_37
2018-09-15 - 2018_37
2018-09-16 - 2018_38
2018-09-17 - 2018_38
2018-09-18 - 2018_38
2018-09-19 - 2018_38
2018-09-20 - 2018_38
2018-09-21 - 2018_38
2018-09-22 - 2018_38
2018-09-23 - 2018_39
2018-09-24 - 2018_39
2018-09-25 - 2018_39
2018-09-26 - 2018_39
2018-09-27 - 2018_39
2018-09-28 - 2018_39
2018-09-29 - 2018_39
2018-09-30 - 2018_40
2018-10-01 - 2018_40
2018-10-02 - 2018_40
2018-10-03 - 2018_40
2018-10-04 - 2018_40
2018-10-05 - 2018_40
2018-10-06 - 2018_40
2018-10-07 - 2018_41
2018-10-08 - 2018_41
2018-10-09 - 2018_41
2018-10-10 - 2018_41
2018-10-11 - 2018_41
2018-10-12 - 2018_41
2018-10-13 - 2018_41
2018-10-14 - 2018_42
2018-10-15 - 2018_42
2018-10-16 - 2018_42
2018-10-17 - 2018_42
2018-10-18 - 2018_42
2018-10-19 - 2018_42
2018-10-20 - 2018_42
2018-10-21 - 2018_43
2018-10-22 - 2018_43
2018-10-23 - 2018_43
2018-10-24 - 2018_43
2018-10-25 - 2018_43
2018-10-26 - 2018_43
2018-10-27 - 2018_43
2018-10-28 - 2018_44
2018-10-29 - 2018_44
2018-10-30 - 2018_44
2018-10-31 - 2018_44
2018-11-01 - 2018_44
2018-11-02 - 2018_44
2018-11-03 - 2018_44
2018-11-04 - 2018_45
2018-11-05 - 2018_45
2018-11-06 - 2018_45
2018-11-07 - 2018_45
2018-11-08 - 2018_45
2018-11-09 - 2018_45
2018-11-10 - 2018_45
2018-11-11 - 2018_46
2018-11-12 - 2018_46
2018-11-13 - 2018_46
2018-11-14 - 2018_46
2018-11-15 - 2018_46
2018-11-16 - 2018_46
2018-11-17 - 2018_46
2018-11-18 - 2018_47
2018-11-19 - 2018_47
2018-11-20 - 2018_47
2018-11-21 - 2018_47
2018-11-22 - 2018_47
2018-11-23 - 2018_47
2018-11-24 - 2018_47
2018-11-25 - 2018_48
2018-11-26 - 2018_48
2018-11-27 - 2018_48
2018-11-28 - 2018_48
2018-11-29 - 2018_48
2018-11-30 - 2018_48
2018-12-01 - 2018_48
2018-12-02 - 2018_49
2018-12-03 - 2018_49
2018-12-04 - 2018_49
2018-12-05 - 2018_49
2018-12-06 - 2018_49
2018-12-07 - 2018_49
2018-12-08 - 2018_49
2018-12-09 - 2018_50
2018-12-10 - 2018_50
2018-12-11 - 2018_50
2018-12-12 - 2018_50
2018-12-13 - 2018_50
2018-12-14 - 2018_50
2018-12-15 - 2018_50
2018-12-16 - 2018_51
2018-12-17 - 2018_51
2018-12-18 - 2018_51
2018-12-19 - 2018_51
2018-12-20 - 2018_51
2018-12-21 - 2018_51
2018-12-22 - 2018_51
2018-12-23 - 2018_52
2018-12-24 - 2018_52
2018-12-25 - 2018_52
2018-12-26 - 2018_52
2018-12-27 - 2018_52
2018-12-28 - 2018_52
2018-12-29 - 2018_52
2018-12-30 - 2019_01
2018-12-31 - 2019_01
2019-01-01 - 2019_01
2019-01-02 - 2019_01
2019-01-03 - 2019_01
2019-01-04 - 2019_01
2019-01-05 - 2019_01
2019-01-06 - 2019_02
2019-01-07 - 2019_02
2019-01-08 - 2019_02
2019-01-09 - 2019_02
2019-01-10 - 2019_02
2019-01-11 - 2019_02
2019-01-12 - 2019_02
2019-01-13 - 2019_03
2019-01-14 - 2019_03
2019-01-15 - 2019_03
2019-01-16 - 2019_03
2019-01-17 - 2019_03
2019-01-18 - 2019_03
2019-01-19 - 2019_03
2019-01-20 - 2019_04
2019-01-21 - 2019_04
2019-01-22 - 2019_04
2019-01-23 - 2019_04
2019-01-24 - 2019_04
2019-01-25 - 2019_04
2019-01-26 - 2019_04
2019-01-27 - 2019_05
2019-01-28 - 2019_05
2019-01-29 - 2019_05
2019-01-30 - 2019_05
2019-01-31 - 2019_05
2019-02-01 - 2019_05
2019-02-02 - 2019_05
2019-02-03 - 2019_06
2019-02-04 - 2019_06
2019-02-05 - 2019_06
2019-02-06 - 2019_06
2019-02-07 - 2019_06
2019-02-08 - 2019_06
2019-02-09 - 2019_06
2019-02-10 - 2019_07
2019-02-11 - 2019_07
2019-02-12 - 2019_07
2019-02-13 - 2019_07
2019-02-14 - 2019_07
2019-02-15 - 2019_07
2019-02-16 - 2019_07
2019-02-17 - 2019_08
2019-02-18 - 2019_08
2019-02-19 - 2019_08
2019-02-20 - 2019_08
2019-02-21 - 2019_08
2019-02-22 - 2019_08
2019-02-23 - 2019_08
2019-02-24 - 2019_09
2019-02-25 - 2019_09
2019-02-26 - 2019_09
2019-02-27 - 2019_09
2019-02-28 - 2019_09
2019-03-01 - 2019_09
2019-03-02 - 2019_09
2019-03-03 - 2019_10
2019-03-04 - 2019_10
2019-03-05 - 2019_10
2019-03-06 - 2019_10
2019-03-07 - 2019_10
2019-03-08 - 2019_10
2019-03-09 - 2019_10
2019-03-10 - 2019_11
2019-03-11 - 2019_11
2019-03-12 - 2019_11
2019-03-13 - 2019_11
2019-03-14 - 2019_11
2019-03-15 - 2019_11
2019-03-16 - 2019_11
2019-03-17 - 2019_12
2019-03-18 - 2019_12
2019-03-19 - 2019_12
2019-03-20 - 2019_12
2019-03-21 - 2019_12
2019-03-22 - 2019_12
2019-03-23 - 2019_12
2019-03-24 - 2019_13
2019-03-25 - 2019_13
2019-03-26 - 2019_13
2019-03-27 - 2019_13
2019-03-28 - 2019_13
2019-03-29 - 2019_13
2019-03-30 - 2019_13
2019-03-31 - 2019_14
2019-04-01 - 2019_14
2019-04-02 - 2019_14
2019-04-03 - 2019_14
2019-04-04 - 2019_14
2019-04-05 - 2019_14
2019-04-06 - 2019_14
2019-04-07 - 2019_15
2019-04-08 - 2019_15
2019-04-09 - 2019_15
2019-04-10 - 2019_15
2019-04-11 - 2019_15
2019-04-12 - 2019_15
2019-04-13 - 2019_15
2019-04-14 - 2019_16
2019-04-15 - 2019_16
2019-04-16 - 2019_16
2019-04-17 - 2019_16
2019-04-18 - 2019_16
2019-04-19 - 2019_16
2019-04-20 - 2019_16
2019-04-21 - 2019_17
2019-04-22 - 2019_17
2019-04-23 - 2019_17
2019-04-24 - 2019_17
2019-04-25 - 2019_17
2019-04-26 - 2019_17
2019-04-27 - 2019_17
2019-04-28 - 2019_18
2019-04-29 - 2019_18
2019-04-30 - 2019_18
2019-05-01 - 2019_18
2019-05-02 - 2019_18
2019-05-03 - 2019_18
2019-05-04 - 2019_18
2019-05-05 - 2019_19
2019-05-06 - 2019_19
2019-05-07 - 2019_19
2019-05-08 - 2019_19
2019-05-09 - 2019_19
2019-05-10 - 2019_19
2019-05-11 - 2019_19
2019-05-12 - 2019_20
2019-05-13 - 2019_20
2019-05-14 - 2019_20
2019-05-15 - 2019_20
2019-05-16 - 2019_20
2019-05-17 - 2019_20
2019-05-18 - 2019_20
2019-05-19 - 2019_21
2019-05-20 - 2019_21
2019-05-21 - 2019_21
2019-05-22 - 2019_21
2019-05-23 - 2019_21
2019-05-24 - 2019_21
2019-05-25 - 2019_21
2019-05-26 - 2019_22
2019-05-27 - 2019_22
2019-05-28 - 2019_22
2019-05-29 - 2019_22
2019-05-30 - 2019_22
2019-05-31 - 2019_22

# Pre-processing Weather data

In [63]:
import pandas as pd
from os import listdir
from os.path import isfile, join
import numpy as np

In [64]:
mypath = './data/tw_weekly_weather/'
listdir(mypath)

['Miaoli',
 'Tainan',
 'Penghu',
 'Chiayi',
 'Taichung',
 'Hsinchu',
 'Nantou',
 'Pingtung',
 'Changhua',
 'Lienchang',
 'Taoyuan',
 'Taitung',
 'Kinmen',
 'New Taipei',
 'Yunlin',
 'Hualien',
 'Keelung',
 'Yilan',
 'Kaohsiung',
 'Taipei']

In [181]:
folders = [mypath + folder + '/' for folder in listdir(mypath)]
print(folders)

['./data/tw_weekly_weather/Miaoli/', './data/tw_weekly_weather/Tainan/', './data/tw_weekly_weather/Penghu/', './data/tw_weekly_weather/Chiayi/', './data/tw_weekly_weather/Taichung/', './data/tw_weekly_weather/Hsinchu/', './data/tw_weekly_weather/Nantou/', './data/tw_weekly_weather/Pingtung/', './data/tw_weekly_weather/Changhua/', './data/tw_weekly_weather/Lienchang/', './data/tw_weekly_weather/Taoyuan/', './data/tw_weekly_weather/Taitung/', './data/tw_weekly_weather/Kinmen/', './data/tw_weekly_weather/New Taipei/', './data/tw_weekly_weather/Yunlin/', './data/tw_weekly_weather/Hualien/', './data/tw_weekly_weather/Keelung/', './data/tw_weekly_weather/Yilan/', './data/tw_weekly_weather/Kaohsiung/', './data/tw_weekly_weather/Taipei/']

In [182]:
from collections import defaultdict

folders_files = defaultdict(list)
for folder in folders:
    folders_files[folder] = listdir(folder)

### Get final preprocessed for Weather

In [299]:

all_county_weather = collections.defaultdict()

print('\n Count missing weeks of weather \n')

for key_county, value_files in folders_files.items():
    
    cty_name = key_county.split('/')[-2]
    if cty_name == 'Kinmen' or cty_name == 'Lienchang':
        continue
    #print(cty_name, '\n')
    
    county = add_date_to_county(key_county, cut_year = 2012)
            

        
    # fill nan, need to change
    #cty = fill_nan_dummy(county)
    cty = county
    
    cty1 = weather_convert_date_to_yyyy_ww(cty, date_week)
    
    print('\n', '*' * 20, 'Cty name = ', cty_name, '*'*20)
    #print('\n', cty1.tail())    
    #print(find_missed_yyyy_ww(cty1, week_total))
    # groupby week
    cty2 = groupby_yyyy_ww(cty1, col = 'Year_Week')
    
    print('\n', cty2.tail())    

    
    # count missing data
    #selected_words = [float('NaN')]

    #for c in cty2:
    #    print('\n', cty2.loc[cty2[c].isin(selected_words),c].value_counts())
    
    all_county_weather[cty_name] = cty2

 Count missing weeks of weather


 ******************** Cty name =  Taichung ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    24.885714  78.285714  29.242857  22.100000  18.428571
383   2019_19    23.414286  85.571429  27.414286  20.771429  10.000000
384   2019_20    27.657143  80.714286  31.671429  24.742857  12.357143
385   2019_21    25.400000  84.142857  29.485714  22.914286  36.666667
386   2019_22    26.850000  78.500000  31.250000  23.433333   3.083333

 ******************** Cty name =  Yilan ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    23.285714  83.285714  27.071429  20.585714  12.700000
383   2019_19    21.757143  87.714286  24.714286  19.700000  17.066667
384   2019_20    26.200000  87.428571  30.614286  23.657143  20.871429
385   2019_21    24.285714  80.000000  27.614286  21.642857   3.314286
386   2019_22    25.000000  81.833333  29.433333  22.066667   5.420000

 ******************** Cty name =  Miaoli ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    22.971429  79.285714  27.257143  20.028571  12.214286
383   2019_19    21.614286  85.285714  24.914286  19.085714   4.428571
384   2019_20    26.757143  82.428571  29.942857  23.742857  10.785714
385   2019_21    25.128571  78.000000  28.485714  22.442857   7.928571
386   2019_22    25.050000  82.000000  28.300000  22.400000  13.166667

 ******************** Cty name =  New Taipei ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    23.542857  73.857143  27.328571  20.871429  12.533333
383   2019_19    22.000000  78.571429  24.442857  20.028571   5.671429
384   2019_20    27.371429  77.142857  31.600000  24.071429  17.083333
385   2019_21    25.728571  68.000000  29.485714  22.971429  14.000000
386   2019_22    25.950000  74.333333  30.033333  23.066667  12.250000

 ******************** Cty name =  Changhua ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    24.200000  84.285714  29.271429  19.471429  13.071429
383   2019_19    23.028571  90.714286  27.785714  18.314286   8.071429
384   2019_20    27.400000  86.714286  32.314286  23.942857  10.857143
385   2019_21    25.128571  90.571429  29.928571  22.342857  15.642857
386   2019_22    26.400000  85.666667  32.200000  22.483333   3.750000

 ******************** Cty name =  Taoyuan ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    23.057143  76.000000  26.885714  20.271429  10.142857
383   2019_19    21.485714  82.000000  24.628571  19.000000   3.000000
384   2019_20    27.128571  78.285714  31.542857  23.842857   0.000000
385   2019_21    25.414286  69.000000  29.657143  22.214286   0.333333
386   2019_22    25.716667  75.833333  29.766667  22.300000  16.000000

 ******************** Cty name =  Chiayi ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    25.228571  76.857143  30.042857  21.757143   6.142857
383   2019_19    23.814286  81.714286  28.171429  20.942857   5.500000
384   2019_20    28.285714  75.000000  32.742857  24.342857   7.642857
385   2019_21    26.257143  77.285714  30.228571  23.357143  14.000000
386   2019_22    26.916667  76.333333  31.883333  23.350000   1.116667

 ******************** Cty name =  Penghu ********************

     Year_Week  Temperature         RH      T Max      T Min     Precp
382   2019_18    25.128571  81.285714  27.728571  23.085714  0.242857
383   2019_19    23.471429  87.000000  25.385714  22.085714  6.766667
384   2019_20    27.457143  88.714286  30.714286  25.628571  0.000000
385   2019_21    26.200000  83.714286  29.271429  24.557143  3.657143
386   2019_22    27.016667  83.666667  30.116667  24.616667  1.666667

 ******************** Cty name =  Keelung ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    23.157143  78.571429  26.057143  21.014286  13.357143
383   2019_19    21.385714  86.000000  22.971429  19.700000  19.457143
384   2019_20    26.285714  83.714286  29.414286  24.085714   4.214286
385   2019_21    24.985714  73.000000  28.171429  22.685714  15.000000
386   2019_22    25.600000  75.166667  28.550000  23.150000  11.800000

 ******************** Cty name =  Nantou ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    19.714286  84.714286  24.257143  17.528571  15.166667
383   2019_19    19.400000  87.000000  24.128571  17.328571  10.214286
384   2019_20    21.714286  85.857143  26.814286  19.271429  48.071429
385   2019_21    20.342857  91.714286  24.528571  18.642857  23.083333
386   2019_22    21.416667  87.500000  26.333333  19.266667   6.083333

 ******************** Cty name =  Yunlin ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    24.428571  88.428571  28.371429  21.500000  11.214286
383   2019_19    22.885714  94.142857  26.400000  20.300000   5.428571
384   2019_20    27.757143  87.714286  31.557143  24.700000   4.285714
385   2019_21    25.628571  91.285714  29.528571  22.842857   5.928571
386   2019_22    26.516667  88.000000  30.983333  23.150000   0.916667

 ******************** Cty name =  Taipei ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    24.000000  77.000000  27.857143  21.428571  11.533333
383   2019_19    21.971429  83.857143  24.357143  20.028571   5.200000
384   2019_20    27.771429  77.571429  31.928571  24.771429   9.157143
385   2019_21    25.957143  69.142857  29.714286  23.400000  11.628571
386   2019_22    26.316667  74.666667  30.483333  23.550000  14.116667

 ******************** Cty name =  Kaohsiung ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    26.871429  77.714286  29.828571  24.414286   8.957143
383   2019_19    25.842857  81.142857  28.642857  23.714286   9.214286
384   2019_20    29.228571  77.428571  31.728571  27.057143   0.050000
385   2019_21    27.628571  80.142857  30.457143  24.971429  10.833333
386   2019_22    28.800000  76.666667  31.683333  26.450000   0.800000

 ******************** Cty name =  Taitung ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    25.500000  75.571429  29.700000  22.500000   1.528571
383   2019_19    24.228571  79.428571  27.385714  21.842857   7.625000
384   2019_20    27.900000  81.428571  30.928571  25.642857   2.028571
385   2019_21    25.085714  80.571429  28.171429  22.857143   8.742857
386   2019_22    26.600000  80.500000  29.666667  23.900000  12.700000

 ******************** Cty name =  Pingtung ********************

     Year_Week  Temperature         RH      T Max      T Min     Precp
382   2019_18    26.442857  75.142857  29.585714  23.814286  6.285714
383   2019_19    25.442857  77.857143  28.314286  23.071429  2.785714
384   2019_20    28.414286  81.428571  31.885714  26.014286  0.785714
385   2019_21    26.528571  80.428571  29.571429  23.871429  3.814286
386   2019_22    27.366667  82.333333  31.150000  25.000000  6.500000

 ******************** Cty name =  Hualien ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    24.071429  76.857143  27.371429  21.385714   6.916667
383   2019_19    22.957143  81.285714  25.942857  20.714286   4.000000
384   2019_20    26.728571  80.571429  30.000000  24.285714   9.000000
385   2019_21    24.171429  78.714286  27.642857  21.885714  12.285714
386   2019_22    25.233333  80.833333  28.850000  22.766667   1.416667

 ******************** Cty name =  Hsinchu ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    23.442857  75.285714  27.357143  20.657143  16.714286
383   2019_19    22.057143  80.000000  25.357143  19.685714   4.000000
384   2019_20    27.357143  77.000000  30.657143  24.585714  43.666667
385   2019_21    25.700000  75.285714  29.100000  22.942857   5.071429
386   2019_22    25.683333  79.500000  28.800000  22.933333  15.400000

 ******************** Cty name =  Tainan ********************

     Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    26.071429  73.285714  29.485714  23.400000   7.142857
383   2019_19    24.571429  78.714286  28.171429  21.928571   3.642857
384   2019_20    29.057143  71.285714  32.528571  26.628571   3.500000
385   2019_21    27.514286  75.000000  30.900000  24.885714  10.250000
386   2019_22    28.150000  72.666667  31.750000  25.066667   1.666667

In [300]:
# example: Miaoli weather
all_county_weather['Taichung'].tail()

    Year_Week  Temperature         RH      T Max      T Min      Precp
382   2019_18    24.885714  78.285714  29.242857  22.100000  18.428571
383   2019_19    23.414286  85.571429  27.414286  20.771429  10.000000
384   2019_20    27.657143  80.714286  31.671429  24.742857  12.357143
385   2019_21    25.400000  84.142857  29.485714  22.914286  36.666667
386   2019_22    26.850000  78.500000  31.250000  23.433333   3.083333

In [322]:
compiled = []
final_weather_dict = {}
for cty, cty_df in all_county_weather.items():
    cty_df['County'] = cty
    cty_df2 = cty_df[['County', 'Year_Week', 'Temperature', 'RH', 'T Max', 'T Min', 'Precp']]
    compiled.append(cty_df2)
    final_weather_dict[cty] = cty_df2
final_weather = pd.concat(compiled, axis = 0, ignore_index = True)

In [308]:
save_path = './data/final_weather.csv'
final_weather.to_csv(save_path)

In [320]:
# example: Miaoli BI, CI, HI
data_fin2[cty_en_cn['Miaoli']].tail()

     YYYY_WW       BI       CI       HI County
382  2019_18  2.99017  844.778   2.5735    苗栗縣
383  2019_19        4    26.19        3    苗栗縣
384  2019_20        3   15.838  3.16667    苗栗縣
385  2019_21      3.4  13.6534  2.73333    苗栗縣
386  2019_22  2.92255  296.866  2.52255    苗栗縣

### Compile Weather + BI data

In [323]:
full_data = []
for cty_cn, cty_en in cty_cn_en.items():
    bi = data_fin2[cty_cn]
    te = final_weather_dict[cty_en]
    tmp = [bi, te]
    cty_bi_te = pd.concat(tmp, axis = 1) # concat column-by-column & keep old column names
    full_data.append(cty_bi_te)

In [324]:
full_data2 = pd.concat(full_data, axis = 0, ignore_index = True) # concat row-by-row & auto generate new index

In [325]:
full_data2.shape

(6966, 12)

# FINAL PREPROCESSED DATA (FULL 18 COUNTY + WEATHER + BI, CI, HI)

In [326]:
full_data2.head()

,YYYY_WW,BI,CI,HI,County,County,Year_Week,Temperature,RH,T Max,T Min,Precp
0,2012_01,0.5,4668.45,0.5,花蓮縣,Hualien,2012_01,16.614286,75.714286,18.657143,14.714286,0.571429
1,2012_02,0,750,0,花蓮縣,Hualien,2012_02,18.942857,75.428571,21.557143,16.800000,0.357143
2,2012_03,0,833.333,0,花蓮縣,Hualien,2012_03,19.300000,76.428571,21.914286,17.100000,2.400000
3,2012_04,X,X,X,花蓮縣,Hualien,2012_04,16.142857,79.714286,18.600000,13.771429,5.000000
4,2012_05,0,0,0,花蓮縣,Hualien,2012_05,17.957143,76.571429,20.414286,16.057143,1.000000

In [332]:
write_data = full_data2[['County', 'YYYY_WW', 'BI', 'CI', 'HI', 'Temperature', 'T Max', 'T Min', 'RH', 'Precp']]
write_data.head()
write_data.to_csv('./data/fullhouse.csv')

#### Utils

In [5]:
def add_date_to_county(folder_path, cut_year = 2012):
    county = [] # one county
    
    tmp = sorted(list(folders_files[folder_path]))
    for file in tmp:
        file_path = folder_path + file
        tmp_data = pd.read_csv(file_path)
        
        _, yyyy, mm = file.split('.')[0].split('-')
        yyyy_mm = yyyy + '-' + mm
        
        tmp2 = list(tmp_data.ObsTime)
        tmp3 = []
        for day in tmp2:
            if day < 10:
                day_str = '0'+ str(day)
            else:
                day_str = str(day)
            yyyy_mm_dd = yyyy_mm + '-' + day_str
            
            tmp3.append(yyyy_mm_dd)
            
        tmp_data['Date'] = tmp3
        
        use_cols = ['Temperature', 'T Max', 'T Min', 'RH', 'Precp', 'Date']
        
        tmp_data2 = tmp_data[use_cols]
        
        county.append(tmp_data2)
        
        county_df = pd.concat(county)
        
        # select year
        county_df['Year'] = pd.to_datetime(county_df['Date']).dt.year

        county_df = county_df[county_df['Year'] >= cut_year]
        
    return county_df

In [199]:
def fill_nan_dummy(county_df):
        

    #county_df = county_df.replace(to_replace='T', value=0)
    #county_df = county_df.replace(to_replace='X', value=0)
    #county_df = county_df.replace(to_replace='/', value=0)
    #county_df = county_df.replace(to_replace='...', value=0)  
    
    #county_df = county_df.replace(to_replace='T', value=float('NaN'))
    #county_df = county_df.replace(to_replace='X', value=float('NaN'))
    #county_df = county_df.replace(to_replace='/', value=float('NaN'))
    #county_df = county_df.replace(to_replace='...', value=float('NaN'))
    
    #county_df = county_df.replace(to_replace= 'inf', value=float('NaN'))

    county_df['Temperature'] = county_df['Temperature'].astype(float)
    county_df['T Max'] = county_df['T Max'].astype(float)
    county_df['T Min'] = county_df['T Min'].astype(float)
    county_df['Precp'] = county_df['Precp'].astype(float)
    county_df['RH'] = county_df['RH'].astype(float)

    
    return county_df


def fill_nan(county_df):
        

        
    county_df = county_df.replace(to_replace='T', value=float('NaN'))
    county_df = county_df.replace(to_replace='X', value=float('NaN'))
    county_df = county_df.replace(to_replace='/', value=float('NaN'))
    county_df = county_df.replace(to_replace='...', value=float('NaN'))
    #county_df = county_df.replace(to_replace= 'inf', value=float('NaN'))

    county_df['Temperature'] = county_df['Temperature'].astype(float)
    county_df['T Max'] = county_df['T Max'].astype(float)
    county_df['T Min'] = county_df['T Min'].astype(float)
    county_df['Precp'] = county_df['Precp'].astype(float)
    county_df['RH'] = county_df['RH'].astype(float)

    #data_x2 = pd.DataFrame(data_x, columns = weather_cols, dtype = float)

    #df['feature_count'].fillna(df['client_name'].map(s), inplace=True)
    county_df['Temperature'] = county_df['Temperature'].fillna(county_df['Temperature'].mean())
    
    county_df['T Max'] = county_df['T Max'].fillna(county_df['T Max'].mean())
    county_df['T Min'] = county_df['T Min'].fillna(county_df['T Min'].mean())
    county_df['Precp'] = county_df['Precp'].fillna(county_df['Precp'].mean()) 
    county_df['RH'] = county_df['RH'].fillna(county_df['RH'].mean()) 
    
    return county_df

In [173]:
# date_week dict, ex: 2019-5-31: 2019_22
new_date_week = {}
for k, v in date_week.items():
    yyyy_mm_dd = str((k)).split(' ')
    new_date_week[yyyy_mm_dd] = v

TypeError: unhashable type: 'list'

In [8]:
def weather_convert_date_to_yyyy_ww(data_frame, yyyy_ww_dict):
    '''
    Input: data_frame
    Output: data_frame added yyyy_ww column
    '''
    yyww = []
    tmp = data_frame.Date
    date_key = list(tmp)
    
    for i in range(data_frame.shape[0]):
        
        k = date_key[i]
        try:
            yw = yyyy_ww_dict[k]
            #print(k, '-'*10, yw)
            yyww.append(yw)
        except: KeyError
            
        
    Year_Week = pd.Series(yyww)

    
    data_frame = data_frame.reset_index(drop = True)
    
    data_frame['Year_Week'] = Year_Week

    return data_frame

In [9]:
def weather_gen_full_time_table(data_frame, week_total, county = ''):
    '''
    Input: 
        data_frame: data with missing weeks of years
        week_total: total number of yyyy_ww 
    Output: 
        full_table: data_frame fulfilled missed yyyy_ww based on week_total
    
    '''
    
    full_table = []
    j = 0
    for i in tqdm(range(len(week_total))):
        #print(i)

        yw_ref = week_total[i]
        
        try:
            yw_cty = sorted(data_frame.Year_Week)[j]
        except: IndexError
            
        #print(yw_cty)
        #print(j, yw_ref, yw_cty)

        if yw_ref == yw_cty:
            temp = data_frame['Temperature'][j]
            tmax = data_frame['T Max'][j]
            tmin = data_frame['T Min'][j]
            rh = data_frame['RH'][j]
            recp = data_frame['Precp'][j]

            full_table.append([yw_ref, temp, tmax, tmin, rh, recp])
            j += 1
            continue

        else:
            full_table.append([yw_ref, float('nan'), float('nan'), float('nan')])
            continue
            
    full_table = pd.DataFrame(full_table, columns = ['YYYY_WW', 'Temperature', 'T Max', 'T Min', 'RH', 'Precp'])
    full_table['County'] = county
    
    return full_table

In [14]:
# TW county in Chinese English dict
cty_chinese = ['台北市', '高雄市', '台中市', '宜蘭縣', '台南市', 
               '新北市', '彰化縣', '花蓮縣', '雲林縣', 
               '新竹縣', '嘉義縣', '桃園市', '澎湖縣', '南投縣', 
               '屏東縣', '台東縣', '基隆市', '苗栗縣'] # '連江縣', '金門縣'

cty_english = ['Taipei', 'Kaohsiung', 'Taichung', 'Yilan',  'Tainan',
               'New Taipei', 'Changhua', 'Hualien', 'Yunlin',
               'Hsinchu',  'Chiayi',  'Taoyuan',  'Penghu',  'Nantou',
               'Pingtung', 'Taitung',  'Keelung', 'Miaoli']

cty_cn_en = collections.defaultdict()
cty_en_cn = collections.defaultdict()

# create 2 dict
for cn, en in zip(cty_chinese, cty_english):
    cty_cn_en[cn] = en
    cty_en_cn[en] = cn

##### END