In [173]:
import pandas as pd
import numpy as np
import collections

In [103]:
path = './data/Population.csv'
data = pd.read_csv(path)

In [104]:
data.dtypes

County            object
Year-Month         int64
Population         int64
Pop Indensity    float64
dtype: object

In [105]:
data.head()

       County  Year-Month  Population  Pop Indensity
0  New Taipei      201001     3876070         1888.4
1  New Taipei      201002     3878282         1889.5
2  New Taipei      201003     3882039         1891.3
3  New Taipei      201004     3884754         1892.6
4  New Taipei      201005     3885507         1893.0

In [107]:
data['Year-Month'] = data['Year-Month'].astype(str)

In [175]:
cty = data.County.unique()
print(cty)

cty_data = collections.defaultdict()

for ct in cty:
    
    cty_data[ct] = data[data['County'] == ct]

['New Taipei' 'Taipei' 'Taoyuan' 'Taichung' 'Tainan' 'Kaohsiung' 'Yilan'
 'Hsinchu county' 'Miaoli' 'Changhua' 'Nantou' 'Yunlin' 'Chiayi county'
 'Pingtung' 'Taitung' 'Hualien' 'Penghu' 'Keelung' 'Hsinchu' 'Chiayi city'
 'Kinmen' 'Lienchang']

In [280]:
cty_data[cty[5]].tail()

        County Year-Month  Population  Pop Indensity
673  Kaohsiung     201901     2773607          993.2
674  Kaohsiung     201902     2773596          993.2
675  Kaohsiung     201903     2773271          993.1
676  Kaohsiung     201904     2773229          993.0
677  Kaohsiung     201905     2773026          993.0

In [271]:
print("Create nested dict...")

cty_yyyymm_pop_popid = collections.defaultdict(dict)


for ct in tqdm(cty):
    
    yyyymm_pop_popid = collections.defaultdict(dict)

    for ym, p, pi in zip(cty_data[ct]['Year-Month'], cty_data[ct]['Population'], cty_data[ct]['Pop Indensity']):
        
        yyyymm_pop_popid[ym] = (p, pi) # population, pop intensity 
        
    cty_yyyymm_pop_popid[ct] = yyyymm_pop_popid

100%|██████████| 22/22 [00:00<00:00, 4833.41it/s]

Create nested dict...

In [281]:
cty_yyyymm_pop_popid['Tainan']['201905']

(1882624, 858.9)

In [282]:
# add 201906 pop, pop density
for ct in cty_yyyymm_pop_popid.keys():
    
    p, pi = cty_yyyymm_pop_popid[ct]['201904']
    
    p1, pi1 = cty_yyyymm_pop_popid[ct]['201905']
    
    p2 = (p + p1)//2
    
    pi2 = (pi + pi1)/2
    
    cty_yyyymm_pop_popid[ct]['201906'] = (p2, pi2)

In [283]:
def power_beta(current_month, next_month):
    return (next_month/current_month)**(1/4)

In [294]:
#from datetime import date,timedelta
from tqdm import tqdm
import collections

df = pd.DataFrame({'INSP_DATE2':pd.date_range(start = '2012-01-01', end = '2019-06-20')})

a =  df['INSP_DATE2'] - pd.offsets.Week(weekday=6)
b =  df['INSP_DATE2'] + pd.offsets.Week(weekday=5)

m1 = df['INSP_DATE2'] != (a + pd.offsets.Week())
m2 = df['INSP_DATE2'] != (b - pd.offsets.Week())

df['c'] = df['INSP_DATE2'].mask(m1, a)
df['d'] = df['INSP_DATE2'].mask(m2, b)
df.shape

(2728, 3)

In [298]:

rows = []
w = 1 # start week
y = 2012 # start year

# generate standard yyyy_ww

for b in tqdm(range(0, df.shape[0], 7)):

    row = []
    win = df.iloc[b : (b+7), :]
    date = win.c
    #print(str(date).split('-'))
    #y, _, _ = str(list(date)[0]).split('-')
    
       
    if w <10:
        w_str = '0' + str(w)
    else:
        w_str = str(w)
    win["Year_Week"] = str(y) + '_' + str(w_str)
    
    if y != 2014 and w == 52:
        w = 0
        y += 1
    elif y == 2014 and w == 53:
        w = 0
        y += 1
    w += 1
    
    rows.append(win)
    
# cancat  
year_weekly = pd.concat(rows)

# unique week
week_total = year_weekly.Year_Week.unique()

# yyyy_mm_dd: yyyy_ww
date_week = collections.defaultdict(list)

for i in range(year_weekly.shape[0]):
    
    date_key = year_weekly.INSP_DATE2[i]
    
    k = str(date_key).split(' ')[0]
    yyyy, mm, dd = k.split('-')
    yyyymm = yyyy+mm
    week_val = year_weekly.Year_Week[i]
    
    # yyyymm: yyyy_ww
    date_week[yyyymm].append(week_val)

  0%|          | 0/390 [00:00<?, ?it/s]/home/basic/tensorflow/tensorflow_pkg/tf_1.12_cuda10.0/lib/python3.5/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
100%|██████████| 390/390 [00:08<00:00, 44.24it/s]

In [302]:
np.unique(date_week['201201'])

array(['2012_01', '2012_02', '2012_03', '2012_04', '2012_05'], dtype='<U7')

In [276]:
np.unique(date_week['201303'])

array(['2013_10', '2013_11', '2013_12', '2013_13', '2013_14'], dtype='<U7')

In [303]:
yyyymm_yyyyww = collections.defaultdict()

for yyyymm, list_yyyyww in date_week.items():
    
    yyyymm_yyyyww[yyyymm] = np.unique(list_yyyyww)

In [304]:
yyyymm_yyyyww['201303']

array(['2013_09', '2013_10', '2013_11', '2013_12', '2013_13', '2013_14'],
      dtype='<U7')

In [305]:
cty_yyyymm_pop_popid['Hualien']

defaultdict(dict,
            {'201001': (341026, 73.7),
             '201002': (340997, 73.7),
             '201003': (340794, 73.6),
             '201004': (340705, 73.6),
             '201005': (340423, 73.5),
             '201006': (339671, 73.4),
             '201007': (339659, 73.4),
             '201008': (339546, 73.4),
             '201009': (339295, 73.3),
             '201010': (339092, 73.3),
             '201011': (338961, 73.2),
             '201012': (338805, 73.2),
             '201101': (338634, 73.2),
             '201102': (338481, 73.1),
             '201103': (338276, 73.1),
             '201104': (338048, 73.0),
             '201105': (337758, 73.0),
             '201106': (337557, 72.9),
             '201107': (337382, 72.9),
             '201108': (337193, 72.9),
             '201109': (336978, 72.8),
             '201110': (336885, 72.8),
             '201111': (336836, 72.8),
             '201112': (336838, 72.8),
             '201201': (336733, 72.8),
             '201202': (336621, 72.7),
             '201203': (336485, 72.7),
             '201204': (336318, 72.7),
             '201205': (336076, 72.6),
             '201206': (336020, 72.6),
             '201207': (335794, 72.5),
             '201208': (335522, 72.5),
             '201209': (335331, 72.4),
             '201210': (335288, 72.4),
             '201211': (335223, 72.4),
             '201212': (335190, 72.4),
             '201301': (334989, 72.4),
             '201302': (334991, 72.4),
             '201303': (334872, 72.3),
             '201304': (334712, 72.3),
             '201305': (334513, 72.3),
             '201306': (334468, 72.3),
             '201307': (334302, 72.2),
             '201308': (334128, 72.2),
             '201309': (334039, 72.2),
             '201310': (334014, 72.2),
             '201311': (333961, 72.2),
             '201312': (333897, 72.1),
             '201401': (333823, 72.1),
             '201402': (333653, 72.1),
             '201403': (333639, 72.1),
             '201404': (333694, 72.1),
             '201405': (333668, 72.1),
             '201406': (333630, 72.1),
             '201407': (333707, 72.1),
             '201408': (333733, 72.1),
             '201409': (333531, 72.1),
             '201410': (333413, 72.0),
             '201411': (333484, 72.0),
             '201412': (333392, 72.0),
             '201501': (333240, 72.0),
             '201502': (333070, 72.0),
             '201503': (332837, 71.9),
             '201504': (332674, 71.9),
             '201505': (332472, 71.8),
             '201506': (332424, 71.8),
             '201507': (332242, 71.8),
             '201508': (332091, 71.7),
             '201509': (332026, 71.7),
             '201510': (332063, 71.7),
             '201511': (332033, 71.7),
             '201512': (331945, 71.7),
             '201601': (331845, 71.7),
             '201602': (331801, 71.7),
             '201603': (331633, 71.6),
             '201604': (331498, 71.6),
             '201605': (331379, 71.6),
             '201606': (331372, 71.6),
             '201607': (331323, 71.6),
             '201608': (331332, 71.6),
             '201609': (331223, 71.6),
             '201610': (331065, 71.5),
             '201611': (330930, 71.5),
             '201612': (330911, 71.5),
             '201701': (330810, 71.5),
             '201702': (330691, 71.4),
             '201703': (330484, 71.4),
             '201704': (330343, 71.4),
             '201705': (330139, 71.3),
             '201706': (329976, 71.3),
             '201707': (329845, 71.3),
             '201708': (329676, 71.2),
             '201709': (329531, 71.2),
             '201710': (329462, 71.2),
             '201711': (329374, 71.2),
             '201712': (329237, 71.1),
             '201801': (329016, 71.1),
             '201802': (328853, 71.0),
             '201803': (328695, 71.0),
             '201804': (328683, 71.0),
             '201805': (328721, 71.0),
             '201806': (328749, 71.0),
             '201807': (328709, 71.0),
             '201808': (328601, 71.0),
             '201809': (328444, 71.0),
             '201810': (328331, 70.9),
             '201811': (328264, 70.9),
             '201812': (327968, 70.9),
             '201901': (327788, 70.8),
             '201902': (327654, 70.8),
             '201903': (327513, 70.8),
             '201904': (327349, 70.7),
             '201905': (327080, 70.7),
             '201906': (327214, 70.7)})

In [307]:
print("Create nested dict...")

cty_yyyymm_ww_pop_popid = collections.defaultdict(dict)


yyyymm_ww_pop_popid = collections.defaultdict(dict)

for ct in tqdm(cty):
    
    yyyymm_list = sorted(cty_yyyymm_pop_popid[ct].keys())
    
    print('\n', ct)
    
    
    yyyyww_new_pop_popid = collections.defaultdict()

    for i in range(len(yyyymm_list)):
        
        yyyymm = yyyymm_list[i]
        
        inext = i + 1
        
        if inext == len(yyyymm_list):
            continue
            
        next_yyyymm = yyyymm_list[(i + 1)]
        
        pop, popid = cty_yyyymm_pop_popid[ct][yyyymm]
        
        #print('\npop, popid ', pop, popid)
        
        next_pop, next_popid = cty_yyyymm_pop_popid[ct][next_yyyymm]
        
        a = power_beta(pop, next_pop)
        
        #print('\na = ', a)
        
        b = power_beta(popid, next_popid)
        try:
            list_yyyyww = yyyymm_yyyyww[yyyymm]
        except: KeyError
        #print('\n', list_yyyyww)
        
        

        for j in range(len(list_yyyyww)):
            
            yyyyww = list_yyyyww[j]
            
            alp = j + 1
            
            new_pop = pop * (a**alp)
            #print('\na**alp = ', a**alp)

            new_popid = popid * (b**alp)
            
            #print('\new_pop, new_popid = ', new_pop, new_popid)
            yyyyww_new_pop_popid[yyyyww] = (new_pop, new_popid)
            
        yyyymm_ww_pop_popid[yyyymm] = yyyyww_new_pop_popid
        
    cty_yyyymm_ww_pop_popid[ct] = yyyyww_new_pop_popid

100%|██████████| 22/22 [00:00<00:00, 1691.56it/s]

Create nested dict...

 New Taipei

 Taipei

 Taoyuan

 Taichung

 Tainan

 Kaohsiung

 Yilan

 Hsinchu county

 Miaoli

 Changhua

 Nantou

 Yunlin

 Chiayi county

 Pingtung

 Taitung

 Hualien

 Penghu

 Keelung

 Hsinchu

 Chiayi city

 Kinmen

 Lienchang

In [308]:
cty_yyyymm_ww_pop_popid['Hualien']

defaultdict(None,
            {'2012_01': (336704.99650694104, 72.77498711192429),
             '2012_02': (336676.99534271716, 72.74998281786739),
             '2012_03': (336648.9965071347, 72.72498711487655),
             '2012_04': (336621.0, 72.70000000000002),
             '2012_05': (336586.99484759185, 72.7),
             '2012_06': (336552.9931303538, 72.7),
             '2012_07': (336518.9948479388, 72.7),
             '2012_08': (336484.9999999999, 72.7),
             '2012_09': (336443.2422274367, 72.7),
             '2012_10': (336401.48963701096, 72.7),
             '2012_11': (336359.74222807976, 72.7),
             '2012_12': (336318.0, 72.7),
             '2012_13': (336276.2629521288, 72.7),
             '2012_14': (336257.483668193, 72.6749870941823),
             '2012_15': (336196.9782255635, 72.64998279421681),
             '2012_16': (336136.4836701522, 72.62498709714268),
             '2012_17': (336076.00000000006, 72.6),
             '2012_18': (336061.99912511284, 72.6),
             '2012_19': (336047.9988335, 72.6),
             '2012_20': (336033.99912513717, 72.6),
             '2012_21': (336020.00000000006, 72.6),
             '2012_22': (335963.48574413866, 72.57498707639138),
             '2012_23': (335906.98099325056, 72.54998277050105),
             '2012_24': (335850.4857457371, 72.52498707935993),
             '2012_25': (335793.99999999994, 72.5),
             '2012_26': (335737.523754441, 72.47502152945421),
             '2012_27': (335725.97933471366, 72.5),
             '2012_28': (335657.9724481455, 72.5),
             '2012_29': (335589.9793375045, 72.5),
             '2012_30': (335522.0, 72.5),
             '2012_31': (335474.23980326205, 72.47498705855136),
             '2012_32': (335426.48640499456, 72.44998274671983),
             '2012_33': (335378.73980422976, 72.42498706152813),
             '2012_34': (335331.0, 72.4),
             '2012_35': (335320.2494830281, 72.4),
             '2012_36': (335309.49931071146, 72.4),
             '2012_37': (335298.7494830392, 72.4),
             '2012_38': (335288.00000000006, 72.4),
             '2012_39': (335277.25086158316, 72.4),
             '2012_40': (335271.7488185126, 72.4),
             '2012_41': (335255.4984247089, 72.4),
             '2012_42': (335239.2488185507, 72.4),
             '2012_43': (335222.99999999994, 72.4),
             '2012_44': (335214.7496954278, 72.4),
             '2012_45': (335206.49959390704, 72.4),
             '2012_46': (335198.2496954327, 72.4),
             '2012_47': (335189.99999999994, 72.4),
             '2012_48': (335139.7386962045, 72.4),
             '2012_49': (335089.48492902605, 72.4),
             '2012_50': (335039.2386973345, 72.4),
             '2012_51': (334988.99999999994, 72.4),
             '2012_52': (334938.7688358926, 72.4),
             '2013_01': (334989.4999988806, 72.4),
             '2013_02': (334989.99999850744, 72.4),
             '2013_03': (334990.4999988806, 72.4),
             '2013_04': (334991.0000000001, 72.4),
             '2013_05': (334961.2460361057, 72.37498704066202),
             '2013_06': (334931.49471496406, 72.34998272287285),
             '2013_07': (334901.74603634037, 72.32498704364701),
             '2013_08': (334871.99999999994, 72.30000000000001),
             '2013_09': (334831.99283108435, 72.3),
             '2013_10': (334791.99044182646, 72.3),
             '2013_11': (334751.9928316553, 72.3),
             '2013_12': (334712.00000000006, 72.3),
             '2013_13': (334672.0119462897, 72.3),
             '2013_14': (334662.2389042465, 72.3),
             '2013_15': (334612.48520639515, 72.3),
             '2013_16': (334562.73890534625, 72.3),
             '2013_17': (334513.00000000006, 72.3),
             '2013_18': (334501.7494324327, 72.3),
             '2013_19': (334490.4992432521, 72.3),
             '2013_20': (334479.24943244545, 72.3),
             '2013_21': (334468.00000000006, 72.3),
             '2013_22': (334426.49227393, 72.27498702272314),
             '2013_23': (334384.98969899944, 72.24998269895987),
             '2013_24': (334343.4922745692, 72.2249870257164),
             '2013_25': (334301.99999999994, 72.2),
             '2013_26': (334260.5128746527, 72.17502161881896),
             '2013_27': (334258.4915069695, 72.2),
             '2013_28': (334214.98867645056, 72.2),
             '2013_29': (334171.49150770635, 72.2),
             '2013_30': (334127.99999999994, 72.2),
             '2013_31': (334105.7477771718, 72.2),
             '2013_32': (334083.49703629484, 72.2),
             '2013_33': (334061.2477772705, 72.2),
             '2013_34': (334039.00000000006, 72.2),
             '2013_35': (334016.75370438484, 72.2),
             '2013_36': (334032.7498245824, 72.2),
             '2013_37': (334026.49976611143, 72.2),
             '2013_38': (334020.2498245847, 72.2),
             '2013_39': (334014.00000000006, 72.2),
             '2013_40': (334000.74921150575, 72.2),
             '2013_41': (333987.4989486882, 72.2),
             '2013_42': (333974.2492115266, 72.2),
             '2013_43': (333961.00000000006, 72.2),
             '2013_44': (333944.9988500366, 72.17498700473453),
             '2013_45': (333928.9984667399, 72.14998267498059),
             '2013_46': (333912.99885007326, 72.1249870077361),
             '2013_47': (333896.99999999994, 72.09999999999998),
             '2013_48': (333881.0019164832, 72.07502164877228),
             '2013_49': (333878.4984622761, 72.1),
             '2013_50': (333859.99794973934, 72.1),
             '2013_51': (333841.4984623329, 72.1),
             '2013_52': (333822.99999999994, 72.1),
             '2014_01': (333780.49188138585, 72.1),
             '2014_02': (333737.98917564057, 72.1),
             '2014_03': (333695.49188207503, 72.1),
             '2014_04': (333653.0, 72.1),
             '2014_05': (333649.4999449265, 72.1),
             '2014_06': (333645.9999265689, 72.1),
             '2014_07': (333642.4999449269, 72.1),
             '2014_08': (333639.0, 72.1),
             '2014_09': (333652.74915007997, 72.1),
             '2014_10': (333666.4988667577, 72.1),
             '2014_11': (333680.2491500566, 72.1),
             '2014_12': (333694.0000000001, 72.1),
             '2014_13': (333707.7514166114, 72.1),
             '2014_14': (333687.4998100719, 72.1),
             '2014_15': (333680.99974676414, 72.1),
             '2014_16': (333674.49981007434, 72.1),
             '2014_17': (333668.00000000006, 72.1),
             '2014_18': (333658.4995942554, 72.1),
             '2014_19': (333648.99945901235, 72.1),
             '2014_20': (333639.4995942631, 72.1),
             '2014_21': (333630.0, 72.1),
             '2014_22': (333620.5006762154, 72.1),
             '2014_23': (333649.24833417585, 72.1),
             '2014_24': (333668.4977788584, 72.1),
             '2014_25': (333687.74833411176, 72.1),
             '2014_26': (333707.0000000001, 72.1),
             '2014_27': (333713.4998100965, 72.1),
             '2014_28': (333719.99974679376, 72.1),
             '2014_29': (333726.4998100941, 72.1),
             '2014_30': (333733.00000000006, 72.1),
             '2014_31': (333682.4885335696, 72.1),
             '2014_32': (333631.9847121975, 72.1),
             '2014_33': (333581.4885347266, 72.1),
             '2014_34': (333531.0, 72.1),
             '2014_35': (333480.5191068609, 72.1),
             '2014_36': (333501.496085388, 72.07498698669599),
             '2014_37': (333471.9947806712, 72.04998265093477),
             '2014_38': (333442.49608561886, 72.02498698970591),
             '2014_39': (333413.00000000006, 72.00000000000001),
             '2014_40': (333430.74858273356, 72.0),
             '2014_41': (333448.4981102779, 72.0),
             '2014_42': (333466.24858268327, 72.0),
             '2014_43': (333484.0, 72.0),
             '2014_44': (333460.99762019253, 72.0),
             '2014_45': (333437.9968269963, 72.0),
             '2014_46': (333414.99762030196, 72.0),
             '2014_47': (333392.0, 72.0),
             '2014_48': (333369.0039659811, 72.0),
             '2014_49': (333353.99350141507, 72.0),
             '2014_50': (333315.99133554933, 72.0),
             '2014_51': (333277.99350190896, 72.0),
             '2014_52': (333240.0, 72.0),
             '2014_53': (333197.4918671782, 72.0),
             '2015_01': (333154.98915669863, 72.0),
             '2015_02': (333112.4918678698, 72.0),
             '2015_03': (333069.99999999994, 72.0),
             '2015_04': (333027.5135523977, 72.0),
             '2015_05': (333011.73471290816, 71.9749869686073),
             '2015_06': (332953.4796183995, 71.94998262682208),
             '2015_07': (332895.234714691, 71.92498697162557),
             '2015_08': (332836.99999999994, 71.89999999999999),
             '2015_09': (332796.24251418695, 71.9),
             '2015_10': (332755.49001932336, 71.9),
             '2015_11': (332714.74251479807, 71.9),
             '2015_12': (332674.0, 71.9),
             '2015_13': (332623.4884970556, 71.87498695046826),
             '2015_14': (332572.98466351716, 71.8499826026423),
             '2015_15': (332522.48849822, 71.82498695349494),
             '2015_16': (332472.0, 71.80000000000001),
             '2015_17': (332459.99935026653, 71.8),
             '2015_18': (332447.9991336991, 71.8),
             '2015_19': (332435.9993502822, 71.8),
             '2015_20': (332424.00000000006, 71.8),
             '2015_21': (332412.0010828371, 71.8),
             '2015_22': (332378.4906554065, 71.8),
             '2015_23': (332332.98754111066, 71.8),
             '2015_24': (332287.4906562594, 71.8),
             '2015_25': (332241.99999999994, 71.8),
             '2015_26': (332204.2435644481, 71.77498693227862),
             '2015_27': (332166.49141958915, 71.7499825783951),
             '2015_28': (332128.74356493563, 71.72498693531375),
             '2015_29': (332091.0, 71.7),
             '2015_30': (332074.74880713725, 71.7),
             '2015_31': (332058.4984095423, 71.7),
             '2015_32': (332042.24880717625, 71.7),
             '2015_33': (332026.00000000006, 71.7),
             '2015_34': (332009.7519879749, 71.7),
             '2015_35': (332035.24961347785, 71.7),
             '2015_36': (332044.49948463234, 71.7),
             '2015_37': (332053.74961347063, 71.7),
             '2015_38': (332063.00000000006, 71.7),
             '2015_39': (332055.49974589323, 71.7),
             '2015_40': (332047.9996611936, 71.7),
             '2015_41': (332040.4997458971, 71.7),
             '2015_42': (332033.0, 71.7),
             '2015_43': (332025.5004234985, 71.7),
             '2015_44': (332010.99781313224, 71.7),
             '2015_45': (331988.9970842407, 71.7),
             '2015_46': (331966.99781322887, 71.7),
             '2015_47': (331945.0, 71.7),
             '2015_48': (331919.99717524054, 71.7),
             '2015_49': (331894.9962337486, 71.7),
             '2015_50': (331869.9971753824, 71.7),
             '2015_51': (331845.0, 71.7),
             '2015_52': (331833.9994530156, 71.7),
             '2016_01': (331822.9992706955, 71.7),
             '2016_02': (331811.9994530277, 71.7),
             '2016_03': (331801.0, 71.7),
             '2016_04': (331790.0009116004, 71.7),
             '2016_05': (331758.9920229843, 71.67498691403823),
             '2016_06': (331716.9893644279, 71.64998255408022),
             '2016_07': (331674.9920236576, 71.62498691708184),
             '2016_08': (331633.0, 71.60000000000001),
             '2016_09': (331599.2448467143, 71.6),
             '2016_10': (331565.4931291856, 71.6),
             '2016_11': (331531.744847064, 71.6),
             '2016_12': (331498.00000000006, 71.6),
             '2016_13': (331468.2459943293, 71.6),
             '2016_14': (331438.4946592655, 71.6),
             '2016_15': (331408.745994569, 71.6),
             '2016_16': (331378.99999999994, 71.6),
             '2016_17': (331349.2566753188, 71.6),
             '2016_18': (331377.2499861373, 71.6),
             '2016_19': (331375.49998151645, 71.6),
             '2016_20': (331373.7499861373, 71.6),
             '2016_21': (331372.0, 71.6),
             '2016_22': (331359.7493206633, 71.6),
             '2016_23': (331347.49909422884, 71.6),
             '2016_24': (331335.24932068, 71.6),
             '2016_25': (331322.99999999994, 71.6),
             '2016_26': (331325.2499770809, 71.6),
             '2016_27': (331327.49996944115, 71.6),
             '2016_28': (331329.7499770808, 71.6),
             '2016_29': (331332.00000000006, 71.6),
             '2016_30': (331334.2500381989, 71.6),
             '2016_31': (331304.74663763976, 71.6),
             '2016_32': (331277.4955169759, 71.6),
             '2016_33': (331250.2466378241, 71.6),
             '2016_34': (331223.0, 71.6),
             '2016_35': (331183.49293217424, 71.57498689574683),
             '2016_36': (331143.990576607, 71.54998252969737),
             '2016_37': (331104.49293273623, 71.52498689879896),
             '2016_38': (331065.0, 71.5),
             '2016_39': (331031.2448378709, 71.5),
             '2016_40': (330997.4931173951, 71.5),
             '2016_41': (330963.74483822176, 71.5),
             '2016_42': (330930.0, 71.5),
             '2016_43': (330896.25860237895, 71.5),
             '2016_44': (330925.249897728, 71.5),
             '2016_45': (330920.4998636379, 71.5),
             '2016_46': (330915.7498977289, 71.5),
             '2016_47': (330910.99999999994, 71.5),
             '2016_48': (330885.7471094522, 71.5),
             '2016_49': (330860.49614603433, 71.5),
             '2016_50': (330835.24710959924, 71.5),
             '2016_51': (330809.99999999994, 71.5),
             '2016_52': (330784.75481708936, 71.5),
             '2017_01': (330780.2459859968, 71.47498687740425),
             '2017_02': (330750.49464815616, 71.44998250524628),
             '2017_03': (330720.7459862375, 71.4249868804649),
             '2017_04': (330690.99999999994, 71.39999999999999),
             '2017_05': (330639.2378479874, 71.4),
             '2017_06': (330587.4837981619, 71.4),
             '2017_07': (330535.7378492555, 71.4),
             '2017_08': (330483.99999999994, 71.4),
             '2017_09': (330448.74435885623, 71.4),
             '2017_10': (330413.49247874244, 71.4),
             '2017_11': (330378.24435925746, 71.4),
             '2017_12': (330343.0, 71.4),
             '2017_13': (330291.98818529217, 71.37498685901024),
             '2017_14': (330240.98424786713, 71.34998248072665),
             '2017_15': (330189.9881865085, 71.32498686207947),
             '2017_16': (330139.00000000006, 71.3),
             '2017_17': (330088.01968712575, 71.27502189142056),
             '2017_18': (330098.2424529929, 71.3),
             '2017_19': (330057.489937738, 71.3),
             '2017_20': (330016.7424536141, 71.3),
             '2017_21': (329976.0, 71.3),
             '2017_22': (329943.2451232319, 71.3),
             '2017_23': (329910.49349785765, 71.3),
             '2017_24': (329877.7451235546, 71.3),
             '2017_25': (329844.99999999994, 71.3),
             '2017_26': (329802.74187983957, 71.27498684056458),
             '2017_27': (329760.4891735818, 71.2499824561382),
             '2017_28': (329718.2418805331, 71.22498684364245),
             '2017_29': (329675.99999999994, 71.20000000000002),
             '2017_30': (329633.7635312889, 71.17502192213463),
             '2017_31': (329639.74401958403, 71.2),
             '2017_32': (329603.49202640436, 71.2),
             '2017_33': (329567.2440200225, 71.2),
             '2017_34': (329531.00000000006, 71.2),
             '2017_35': (329513.74864535267, 71.2),
             '2017_36': (329496.4981938351, 71.2),
             '2017_37': (329479.24864539993, 71.2),
             '2017_38': (329461.99999999994, 71.2),
             '2017_39': (329444.7522575878, 71.2),
             '2017_40': (329439.99779606407, 71.2),
             '2017_41': (329417.9970614842, 71.2),
             '2017_42': (329395.99779616226, 71.2),
             '2017_43': (329374.00000000006, 71.2),
             '2017_44': (329339.7446564671, 71.17498682206705),
             '2017_45': (329305.4928755365, 71.14998243148061),
             '2017_46': (329271.2446568376, 71.12498682515358),
             '2017_47': (329237.0, 71.09999999999998),
             '2017_48': (329181.7360871121, 71.1),
             '2017_49': (329126.48145052075, 71.1),
             '2017_50': (329071.23608866904, 71.1),
             '2017_51': (329016.0, 71.1),
             '2017_52': (328960.77318295714, 71.1),
             '2018_01': (328975.2424272259, 71.07498680351748),
             '2018_02': (328934.4899033849, 71.04998240675363),
             '2018_03': (328893.74242785136, 71.0249868066127),
             '2018_04': (328853.00000000006, 71.0),
             '2018_05': (328813.49288122304, 71.0),
             '2018_06': (328773.9905086775, 71.0),
             '2018_07': (328734.4928817932, 71.0),
             '2018_08': (328694.9999999999, 71.0),
             '2018_09': (328691.9999589276, 71.0),
             '2018_10': (328688.999945237, 71.0),
             '2018_11': (328685.99995892786, 71.0),
             '2018_12': (328683.0, 71.0),
             '2018_13': (328680.00006845314, 71.0),
             '2018_14': (328692.49958815676, 71.0),
             '2018_15': (328701.9994508704, 71.0),
             '2018_16': (328711.4995881488, 71.0),
             '2018_17': (328720.99999999994, 71.0),
             '2018_18': (328727.9997764173, 71.0),
             '2018_19': (328734.9997018876, 71.0),
             '2018_20': (328741.9997764142, 71.0),
             '2018_21': (328749.0000000002, 71.0),
             '2018_22': (328738.99954369245, 71.0),
             '2018_23': (328728.9993915961, 71.0),
             '2018_24': (328718.99954370176, 71.0),
             '2018_25': (328709.00000000006, 71.0),
             '2018_26': (328699.00076048175, 71.0),
             '2018_27': (328681.9966727116, 71.0),
             '2018_28': (328654.995563737, 71.0),
             '2018_29': (328627.9966728939, 71.0),
             '2018_30': (328601.0, 71.0),
             '2018_31': (328561.7429656696, 71.0),
             '2018_32': (328522.4906212663, 71.0),
             '2018_33': (328483.24296622985, 71.0),
             '2018_34': (328444.00000000006, 71.0),
             '2018_35': (328415.746354526, 70.97498678491559),
             '2018_36': (328387.4951395074, 70.94998238195694),
             '2018_37': (328359.2463547351, 70.92498678801955),
             '2018_38': (328331.0, 70.9),
             '2018_39': (328302.7560750931, 70.87502201479599),
             '2018_40': (328314.2487180807, 70.9),
             '2018_41': (328297.49829080334, 70.9),
             '2018_42': (328280.7487181243, 70.9),
             '2018_43': (328264.00000000006, 70.9),
             '2018_44': (328189.97496428713, 70.9),
             '2018_45': (328115.96662155894, 70.9),
             '2018_46': (328041.9749680511, 70.9),
             '2018_47': (327967.99999999994, 70.9),
             '2018_48': (327922.99073545943, 70.87498676626119),
             '2018_49': (327877.98764784436, 70.84998235709025),
             '2018_50': (327832.9907363071, 70.82498676937391),
             '2018_51': (327788.0, 70.8),
             '2018_52': (327743.01543807564, 70.77502204585743),
             '2019_01': (327754.49486321484, 70.8),
             '2019_02': (327720.9931511865, 70.8),
             '2019_03': (327687.49486356485, 70.8),
             '2019_04': (327654.00000000006, 70.8),
             '2019_05': (327618.7443101205, 70.8),
             '2019_06': (327583.49241376616, 70.8),
             '2019_07': (327548.2443105287, 70.8),
             '2019_08': (327513.0, 70.8),
             '2019_09': (327471.99229881936, 70.77498674755405),

In [309]:
tmp2 = []
for ct in cty:
    yyyyww_pop_pi = cty_yyyymm_ww_pop_popid[ct]
    for yyyyww in sorted(yyyyww_pop_pi.keys()):
        p, pi = yyyyww_pop_pi[yyyyww]
        tmp = [ct, yyyyww, p, pi]
        tmp2.append(tmp)
        
fin_data = pd.DataFrame(tmp2, columns = ['County', 'YYYYWW', 'Population', 'Pop Density'])
fin_data.head()
fin_data.to_csv('./data/population_tw_weekly.csv')